/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/* Makes bookmarks toolbar appear vertically at the left side of the window */

  :root:not([inDOMFullscreen]){
    --uc-vertical-toolbar-width: 41px;
    --padding-left-tab: calc(var(--uc-vertical-toolbar-width) - 1px) !important;
    --button-bgcolor-personal: color-mix(in srgb, var(--general-color) 12%, transparent) !important;
  }
:root:not([chromehidden~="toolbar"]) #PersonalToolbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    margin-top: calc( -1px - var(--toolbar-height-personal) ) !important;
    width: var(--uc-vertical-toolbar-width,0);
    
    /* These create a empty area to the bottom of the toolbar, which is to mask a fact that we don't know exactly how high the toolbar should be */
    height: 100vh;
    max-height: 100vh !important; 
    padding-bottom: 120px !important;
    padding-top: calc(var(--toolbar-height-personal) + 14px) !important;
    padding-inline: 5px 7px !important;
  }
@media (-moz-platform: linux ){:root:not([chromehidden~="toolbar"])[tabsintitlebar] #PersonalToolbar{
     padding-top: calc(var(--toolbar-height-personal) + 54px) !important;
        }}
#personal-bookmarks{ overflow-y: auto; scrollbar-width: none;}

#PersonalToolbar >  #personal-bookmarks > #PlacesToolbar > hbox{ -moz-box-orient: vertical !important; }
#PersonalToolbar #PlacesToolbarItems{
    display: flex;
    flex-direction: column;
  }
#PersonalToolbar #PlacesToolbarItems > toolbarseparator{
    height: 7px;
    background-color: currentColor;
    background-clip: padding-box;
    border-block: 3px solid transparent !important;
    margin-inline: 7px !important;
    margin-block: 3px !important;
    color: var(--button-active-bgcolor) !important;
  }
#PersonalToolbar .toolbarbutton-1, #OtherBookmarks{ padding-block: 12px !important; }
#PersonalToolbar #PlacesToolbarItems > .bookmark-item,#OtherBookmarks{ padding-block: 12px !important; }
    
:root:not([chromehidden~="toolbar"],[sizemode=fullscreen]) body > #browser,
:root:not([chromehidden~="toolbar"],[sizemode=fullscreen]) body > #browser-bottombox,
:root:not([chromehidden~="toolbar"],[sizemode=fullscreen]) #customization-container{
  margin-left: var(--uc-vertical-toolbar-width,0);
  }
/* Color o imagen de la barra lateral */
:root:not([chromehidden~="toolbar"]) #PersonalToolbar {
    background-color: var(--lwt-frame) !important;
    border-right: 1px solid transparent !important;
    border-image: linear-gradient(to bottom, var(--general-color) 0%, var(--button-active-bgcolor) 32% , var(--lwt-frame) 94%) 1 !important;
    }
:root:not([chromehidden~="toolbar"]):is([lwtheme-image]) #PersonalToolbar,
:root:not([chromehidden~="toolbar"]):is([style*="--lwt-additional-images"]) #PersonalToolbar  {
    --toolbar-bgcolor: transparent !important;
    background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: left top !important;
    background-repeat:  repeat-y !important;
    background-size:  cover !important;
}
/* Nuevos margenes Botón menú */
#back-button{
    margin-left: var(--uc-vertical-toolbar-width,0) !important;
  }
@media (-moz-platform: windows-win7),(-moz-platform: windows-win10),(-moz-platform: linux){
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button > stack{
    max-width: var(--padding-left-tab) !important;
    min-width: var(--padding-left-tab) !important;
        } }
@media (-moz-platform: windows-win7),(-moz-platform: windows-win10),(-moz-platform: linux){
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button > stack::after {
    content: none !important ;
        } }
@media (-moz-platform: windows-win7),(-moz-platform: windows-win10),(-moz-platform: linux) {
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button image{
    min-height: 20px !important;
    min-width:  20px !important;
        } }
@media (-moz-platform: windows-win7),(-moz-platform: windows-win10),(-moz-platform: linux){
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button {
    background-color: transparent !important;
        } }
/* menu :hover */
@media (-moz-platform: windows-win7),(-moz-platform: windows-win10),(-moz-platform: linux) {
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button:not([open]):hover > .toolbarbutton-badge-stack{
    background-color: color-mix(in srgb, var(--general-color) 15%, transparent) !important;
        } }
/* Alinear Items */
#personal-bookmarks .bookmark-item > .toolbarbutton-text {
    display: none !important;
}
#PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon[label]:not([label=""]) {
    margin-inline: 0 0  !important;
}
toolbarbutton.bookmark-item:is(#OtherBookmarks) image{
    margin-right: -1px !important;
}
toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"], [open]),
#PersonalToolbar .toolbarbutton-1:not([disabled="true"], [checked], :active),
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button > stack image{
}
/* Personal toolbar width in customization mode */
:root[customizing] .customization-target:not(#widget-overflow-fixed-list) {
  min-width: initial !important;
}
/* Color items barra de marcadores */
#PersonalToolbar .toolbarbutton-1 , toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"], [open]) {
    color: var(--button-active-bgcolor) !important;  fill: var(--general-color) !important; 
    border-radius: 0 !important; background-color: transparent !important; }

toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"]):hover,
#PersonalToolbar .toolbarbutton-1:hover, toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"], [open]):hover {
  background-color: transparent !important; }

:root:is([lwtheme-image],[style*="--lwt-additional-images"]) #PersonalToolbar .toolbarbutton-1:hover , 
:root:is([lwtheme-image],[style*="--lwt-additional-images"]) toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"], [open]):hover {
    color: var(--general-color) !important;  fill: var(--general-color) !important;
    background-color: transparent !important; }

#PersonalToolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover, 
#PlacesToolbarItems > .bookmark-item:hover > .toolbarbutton-icon[label]:not([label=""]),
toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"], [open]):hover image{
    transform: scale(1.1) !important; background-color: transparent !important; border-radius: 0 !important; }

/* Contador de la extension */
#PersonalToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack .toolbarbutton-badge{
    background-color: var(--button-active-bgcolor) !important;
    color: white !important;
    min-width: auto !important;
    max-width: auto !important;
    min-height: auto !important;
    max-height: auto !important;
    margin-inline-end: -10px !important;
    margin-block-start: 10px !important;
}
/* Twitch Extension */
#_d3d2a327-1ae0-4fd6-b732-0844d0b7fd4c_-browser-action image{ display: none !important; }
#_d3d2a327-1ae0-4fd6-b732-0844d0b7fd4c_-browser-action {
    background-image: url("../images/logo_twitch.svg") !important;
    background-repeat: no-repeat;
    background-size: 18px !important;
    background-position: center !important;
    -moz-box-pack: center !important;
    -moz-box-orient: vertical !important;
}
/* Messenger Extension */
#sbfofm_ff_scripty_via_the_unity_empire-browser-action image{ display: none !important; }
#sbfofm_ff_scripty_via_the_unity_empire-browser-action {
    background-image: url("../images/logo_messenger.svg") !important;
    background-repeat: no-repeat;
    background-size: 18px !important;
    background-position: center !important;
    -moz-box-pack: center !important;
    -moz-box-orient: vertical !important;
}
/* Whatsapp Extension */
#rt42fsdty645jiidd_jetpack-browser-action image{ display: none !important; }
#rt42fsdty645jiidd_jetpack-browser-action {
    background-image: url("../images/logo_whatsapp.svg") !important;
    background-repeat: no-repeat;
    background-size: 19px !important;
    background-position: center !important;
    -moz-box-pack: center !important;
    -moz-box-orient: vertical !important;
}
/* Telegram Extension */
#_7b657ab8-4869-4244-8cb7-e15524a933dd_-browser-action image{ display: none !important; }
#_7b657ab8-4869-4244-8cb7-e15524a933dd_-browser-action {
    background-image: url("../images/logo_telegram.svg") !important;
    background-repeat: no-repeat;
    background-size: 18px !important;
    background-position: center !important;
    -moz-box-pack: center !important;
    -moz-box-orient: vertical !important;
}
/* ublock Extension */
#ublock0_raymondhill_net-browser-action image{ display: none !important; }
#ublock0_raymondhill_net-browser-action {
    background-image: url("../images/logo_ublock.svg") !important;
    background-repeat: no-repeat;
    background-size: 18px !important;
    background-position: center !important;
    -moz-box-pack: center !important;
    -moz-box-orient: vertical !important;
}
/* Group-tabs Extension */
#panorama-tab-groups_example_com-browser-action image{ display: none !important; }
#panorama-tab-groups_example_com-browser-action {
    background-image: url("../images/logo_grouptabs.svg") !important;
    background-repeat: no-repeat;
    background-size: 14px !important;
    background-position: center !important;
    -moz-box-pack: center !important;
    -moz-box-orient: vertical !important;
}
/* Añadir Separador despues de la extensión seleccionada */
#_7b657ab8-4869-4244-8cb7-e15524a933dd_-browser-action .toolbarbutton-badge-stack::after {
    content: "" !important;
    display: block !important;
    padding-top: 31px !important;
    border-block-end: 1px solid !important;
    border-image-source: var(--button-bgcolor) !important;
    border-image-slice: 1 !important;
}
#_7b657ab8-4869-4244-8cb7-e15524a933dd_-browser-action:hover .toolbarbutton-badge-stack::after{
    padding-top: 29px !important;
    margin-inline-start: 1px !important;
    color: var(--button-active-bgcolor) !important;
}
/* Linux default window controls icons - new position */
@media (-moz-platform: linux) { :root:not([sizemode=fullscreen]) .titlebar-buttonbox {
    appearance: none !important;
    position: fixed !important;
    display: flex !important;
    top: calc(var(--tab-height-personal) + 12px) !important;
    left: 0px !important;
    width: calc(var(--uc-vertical-toolbar-width) - 1px) !important;
    flex-direction: column-reverse !important;
    background: transparent !important;
    padding-left: 2px !important;
}
}
@media (-moz-platform: linux){ .titlebar-button image { height: 24px !important; }}
@media (-moz-platform: linux){ .titlebar-restore { margin-left: -3px !important;}}
@media (-moz-platform: linux){ .titlebar-max { margin-left: -3px !important;}}
@media (-moz-platform: linux){ .titlebar-min { margin-left: -6px !important;}}

/* Linux Personalized window control icons ^--- Delete the previous block (205-221) and active this one. */
/*
@media (-moz-platform: linux){.titlebar-button{
  list-style-image: none !important;
  appearance: none !important;
  }}
@media (-moz-platform: linux) { .titlebar-buttonbox {
    appearance: none !important;
    position: fixed !important;
    display: flex !important;
    top: calc(var(--tab-height-personal) + 4px) !important;
    left: 0px !important;
    width: calc(var(--uc-vertical-toolbar-width) - 1px) !important;
    flex-direction: column-reverse !important;
    background: transparent !important;
}
}
@media (-moz-platform: linux){ .titlebar-button{ background: transparent !important; }
@media (-moz-platform: linux){ .titlebar-button image{ height: 26px !important; width: 26px !important; margin-block: -2px !important;}}
    
@media (-moz-platform: linux){ .titlebar-close image { list-style-image: url("../images/closebuttonlinux.svg") !important; } }
@media (-moz-platform: linux){ .titlebar-close:hover image{ list-style-image: url("../images/closebuttonhoverlinux.svg") !important; } }
    
@media (-moz-platform: linux){ .titlebar-min image { list-style-image: url("../images/minbuttonlinux.svg") !important; } }
@media (-moz-platform: linux){ .titlebar-min:hover image{ list-style-image: url("../images/minbuttonhoverlinux.svg") !important; } }
    
@media (-moz-platform: linux){ .titlebar-max image { list-style-image: url("../images/maxbuttonlinux.svg") !important; } }
@media (-moz-platform: linux){ .titlebar-max:hover image{ list-style-image: url("../images/maxbuttonhoverlinux.svg") !important; } }
    
@media (-moz-platform: linux){ .titlebar-restore image { list-style-image: url("../images/maxbuttonlinux.svg") !important; } }
@media (-moz-platform: linux){ .titlebar-restore:hover image{ list-style-image: url("../images/maxbuttonhoverlinux.svg") !important; } }
*/
