/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

@media (prefers-color-scheme: dark){
:root:is([brighttext]):-moz-lwtheme,
:root[lwt-toolbar-field-focus-brighttext],
:root:-moz-lwtheme{
   --toolbar-bgcolor: #0000007d !important;
   --toolbar-field-background-color: transparent !important;                                                    /*"toolbar_field":"#1a1b25"*/
   --toolbar-field-border-color: transparent !important;                                                        /*"toolbar_field_border": "#363540"*/
   --lwt-selected-tab-background-color: #10101900 !important;                                                   /*"tab_selected":"#363540"*/
   --toolbarbutton-hover-personal:  var(--toolbar-bgcolor) !important;
   --lwt-sidebar-background-color: #101019 !important;                                                          /*Sidebar-background*/
   --chrome-content-separator-color: none !important                                                            /*"toolbar_bottom_separator": "#181818"*/
   }}
@media (prefers-color-scheme: light){
:root:-moz-lwtheme{
   --toolbar-bgcolor: #ffffff7d !important;
   --toolbar-field-background-color: transparent !important;                                                    /*"toolbar_field":"#1a1b25"*/
   --toolbar-field-border-color: transparent !important;                                                        /*"toolbar_field_border": "#363540"*/
   --lwt-selected-tab-background-color: #f9f9f900 !important;                                                   /*"tab_selected":"#363540"*/
   --toolbarbutton-hover-personal:  var(--toolbar-bgcolor) !important;
   --lwt-sidebar-background-color: #f9f9f9 !important;                                                          /*Sidebar-background*/
   --chrome-content-separator-color: none !important;                                                           /*"toolbar_bottom_separator": "#181818"*/
   }}
@media (prefers-color-scheme: dark){
:root[lwtheme-image] {
   --toolbar-bgcolor: #0000007d !important;
   --lwt-selected-tab-background-color: transparent !important;
   }}
@media (prefers-color-scheme: light){
   :root[lwtheme-image] {
   --toolbar-bgcolor: #ffffff7d !important;
   --lwt-selected-tab-background-color: transparent !important;
   }}
@media (prefers-color-scheme: dark){
:root[style*="--lwt-additional-images"]  {
   --toolbar-bgcolor: #0000007d !important;
   --lwt-selected-tab-background-color: none !important;
   }}
@media (prefers-color-scheme: light){
   :root[style*="--lwt-additional-images"]  {
   --toolbar-bgcolor: #ffffff7d !important;
   --lwt-selected-tab-background-color: none !important;
   }}
#navigator-toolbox {
   --lwt-header-image: var(--lwt-main-image) !important;
     background-image: var(--lwt-main-image) !important; 
   /*background-size:  cover !important;  */
}
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected="false"],
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"],
#tabbrowser-tabs:is([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]{
   background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent), var(--lwt-selected-tab-background-color, transparent)),
   linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, none) !important;
   background-position: right top !important;
   background-repeat:  no-repeat !important;
   background-size:  auto auto !important;  
}
:root[style*="--lwt-additional-images"] #tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected="false"],
:root[style*="--lwt-additional-images"] #tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"],
:root[style*="--lwt-additional-images"] #tabbrowser-tabs:is([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]{
   background-image: transparent !important;
}
