/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/*###################################### Mantener Window Controls quitando las pestañas ###########################
############################################## Codigo sin editar de MrOtherGuy ####################################*/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/window_control_placeholder_support.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Creates placeholders for window controls */
/* This is a supporting file used by other stylesheets */

/* This stylesheet is pretty much unnecessary if window titlebar is enabled */

/* This file should preferably be imported before other stylesheets */

/* Defaults for window controls on RIGHT side of the window */
/* Modify these values to match your preferences */
:root:is([tabsintitlebar], [sizemode="fullscreen"]) {
  --uc-window-control-width: 138px; /* Space reserved for window controls (Win10) */
  /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
  --uc-window-drag-space-pre: 30px; /* left side*/
  --uc-window-drag-space-post: 30px; /* right side*/
}

:root:is([tabsintitlebar][sizemode="maximized"], [sizemode="fullscreen"]) {
  --uc-window-drag-space-pre: 0px; /* Remove pre space */
}

@media  (-moz-platform: windows){
  :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
    --uc-window-control-width: 105px;
  }
}

@media (-moz-gtk-csd-available) {
  :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
    --uc-window-control-width: 84px;
  }
}

/* macOS settings are further below */
.titlebar-buttonbox, #window-controls{ color: var(--toolbar-color) }
:root[sizemode="fullscreen"] .titlebar-buttonbox-container{ display: none }
:root[sizemode="fullscreen"] #navigator-toolbox { position: relative; }

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[sizemode="fullscreen"] #window-controls{
  position: absolute;
  display: flex;
  top: 0;
  right:0;
  height: 40px;
}

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[uidensity="compact"][sizemode="fullscreen"] #window-controls{ height: 32px }

#nav-bar{
  border-inline: var(--uc-window-drag-space-pre,0px) solid var(--toolbar-bgcolor);
  border-inline-style: solid !important;
  border-right-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px));
}

/* Use this pref to check Mac OS where window controls are on left */
/* This pref defaults to true on Mac and doesn't actually do anything on other platforms. So if your system has window controls on LEFT side you can set the pref to true */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
  :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
    --uc-window-control-width: 72px;
  }
  :root[tabsintitlebar="true"]:not([inFullscreen]) #nav-bar{
    border-inline-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)) var(--uc-window-drag-space-pre,0px)
  }
  :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
  :root[sizemode="fullscreen"] #window-controls{ right: unset }
}

/*########################################## OCULTAR TABS-BAR ##############################################
####################################Codigo sin editar de MrOtherGuy ########################################*/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Hides tabs toolbar */
/* For OSX use hide_tabs_toolbar_osx.css instead */

/* Note, if you have either native titlebar or menubar enabled, then you don't really need this style.
 * In those cases you can just use: #TabsToolbar{ visibility: collapse !important }
 */

/* IMPORTANT */
/*
Get window_control_placeholder_support.css
Window controls will be all wrong without it
*/

:root[tabsintitlebar]{ --uc-toolbar-height: 40px; }
:root[tabsintitlebar][uidensity="compact"]{ --uc-toolbar-height: 32px }

#TabsToolbar{ visibility: collapse !important }

:root[sizemode="fullscreen"] #TabsToolbar > :is(#window-controls,.titlebar-buttonbox-container){
  visibility: visible !important;
  z-index: 2;
}

:root:not([inFullscreen]) #nav-bar{
  margin-top: calc(0px - var(--uc-toolbar-height,0px));
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"]{
  min-height: unset !important;
  height: var(--uc-toolbar-height,0px) !important;
  position: relative;
}

#toolbar-menubar[autohide="false"]{
  margin-bottom: var(--uc-toolbar-height,0px)
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"] #main-menubar{
  -moz-box-flex: 1; /* Fx < 112 compatibility */
  flex-grow: 1;
  -moz-box-align: stretch; /* Fx < 112 compatibility */
  align-items: stretch;
  background-color: var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor);
  background-clip: padding-box;
  border-right: 30px solid transparent;
  border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor) 30px) 20 / 30px
}

#toolbar-menubar:not([inactive]){ z-index: 2 }
#toolbar-menubar[autohide="true"][inactive] > #menubar-items {
  opacity: 0;
  pointer-events: none;
  margin-left: var(--uc-window-drag-space-pre,0px)
}

/* ##################################################### My Code ######################################################
###################################### Adicional <sobre-escribir> Codigo de Arriba ####################################*/

:root{
    --tab-height-personal: var(--toolbar-height-personal) !important;
    --uc-toolbar-height: var(--tab-height-personal) !important;
}
/* Separador <window controls> y demás botones */
#nav-bar-overflow-button::after {
    background: url("../images/urlbar-separator.svg") no-repeat center !important; 
    content: ""; display: block !important;
    background-size: 6px 16px !important;
    height: 16px;
    fill: var(--button-hover-bgcolor) !important;
    -moz-context-properties: fill !important;
    padding-inline: 8px 4px !important;
    margin-left: 2px !important;
    opacity: 0.8;
}
:root:not([chromehidden~="toolbar"])[sizemode="normal"] #nav-bar-overflow-button {
    margin-right: 40px !important;
}

:root:is([tabsintitlebar], [sizemode="fullscreen"]) {
  --uc-window-control-width: 119px; /* Space reserved for window controls (Win10) */
  /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
  --uc-window-drag-space-pre: 0px; /* left side*/
  --uc-window-drag-space-post: 0px; /* right side*/
}
/* Espacio para los window controls in linux */
@media (-moz-gtk-csd-available) {
  :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
    --uc-window-control-width: 98px !important;
  }
/*########################### Window controls on left - LINUX ##############################*/
  
@media (-moz-gtk-csd-reversed-placement){
  :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
    --uc-window-control-width: 0px !important;
    --uc-window-control-width-left: 104px !important;
  }
/* Separador <window controls> y demás botones */
#nav-bar-overflow-button::after {
    background: none !important; 
    padding-inline: 0px 0px !important;
    margin: 0px !important;
}
  /* Separador <window controls> y demás botones */
#back-button::before {
    background: url("../images/urlbar-separator.svg") no-repeat center !important; 
    content: ""; display: block !important;
    background-size: 6px 16px !important;
    height: 16px;
    fill: var(--button-hover-bgcolor) !important;
    -moz-context-properties: fill !important;
    padding-inline: 0px 4px !important;
    margin-right: 6px !important;
    opacity: 0.8;
}
:root:not([chromehidden~="toolbar"])[sizemode="normal"] #nav-bar-overflow-button {
    margin-right: 40px !important;
}

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[sizemode="fullscreen"] #window-controls{
    left: var(--uc-vertical-toolbar-width,0) !important;
    }    
  }
}
/* Sobreescribir variable de tamaño */
:root:not([inFullscreen]) #nav-bar{
    margin-top: calc(0px - var(--uc-toolbar-height,0px)) !important;
}
/* Mis Variables Personales */
:root{
  --windowed-top-padding: 0px !important;
}
@media (prefers-color-scheme: light){
:root:not([lwtheme-brighttext="true"]),
:root:-moz-lwtheme{
    --toolbar-bgcolor: #f9f9f99f !important;
  }}
@media (prefers-color-scheme: dark){
:root:is([lwtheme-image],[style*="--lwt-additional-images"]){
  --toolbar-bgcolor: #1010199f !important;
  }}
:root:not([chromehidden~="toolbar"]) #PersonalToolbar{
  --padding-top-left-sidebar: 68px !important;
  --padding-bottom-left-sidebar: 90px !important;
  --tab-height-personal: calc(-30px - var(--windowed-top-padding, 0px)) !important;
}
/* Quitar imagen de la Side-bar 
:root:not([chromehidden~="toolbar"]):is([lwtheme-image]) #PersonalToolbar,
:root:not([chromehidden~="toolbar"]):is([style*="--lwt-additional-images"]) #PersonalToolbar  {
    --toolbar-bgcolor: var(--lwt-frame) !important;
}*/
/* Background color de botones <Window Controls> */
:root[tabsintitlebar] .titlebar-buttonbox {
    background: var(--toolbar-bgcolor) !important;
}
/* Ocultar encabezado de la sidebar de pestañas */
#sidebar-header {
    display: none;
}
/* Quitar Linea gradiente sobre la nav-bar */
#nav-bar{
    border-top: none !important;
}
/* border-right de la sidebar de pestañas */
#sidebar-splitter{
  border-color: #50505030 !important;
}
@media (-moz-platform: linux) {
  #sidebar-splitter{
    width: 1px !important;
    border-right: none !important;
    background-color: var(--lwt-frame) !important;  
}}
/* Mover botón "atrás" más a la derecha */
:root:not([chromehidden~="toolbar"]) #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child{
    padding-inline-start: 0px !important;
    margin-left: calc(var(--uc-vertical-toolbar-width,0px) + var(--uc-window-control-width-left, 0px) + 6px) !important;
}
:root:not([chromehidden~="toolbar"])[sizemode="normal"] #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child{
    padding-inline-start: 0px !important;
    margin-left: calc(var(--uc-vertical-toolbar-width,0px) + var(--uc-window-control-width-left, 0px) + 40px) !important;
}
/* Borde Bottom toolbar */
#navigator-toolbox { 
    border-bottom: 1px solid var(--lwt-frame) !important;
  /* with main-image config
  border-bottom: 1px solid color-mix(in srgb, var(--lwt-tab-text)10%, transparent) !important; */
}
/* WindowsControls */
@media (-moz-platform: windows){ .titlebar-min{
    padding-top: 2px !important;
    }}
@media (-moz-platform: windows){
    .titlebar-button:hover:not(.titlebar-close){
    background-color: var(--toolbarbutton-hover-background) !important;
    }}
@media (-moz-platform: windows) { 
:root:is([lwtheme-image],[style*="--lwt-additional-images"]) .titlebar-button:hover:not(.titlebar-close){
    background-color: var(--toolbarbutton-hover-background) !important;
    }
}
/*###################################################*/

:root:is([tabsintitlebar][sizemode="maximized"], [sizemode="fullscreen"]) {
  --uc-window-drag-space-pre: 0px !important; /* Remove pre space */
}
:root:is([tabsintitlebar][sizemode="normal"]) {
  --uc-window-drag-space-post: 1px !important; /* Add post space */
}
/* Tamaño vertical de los <window controls> */
:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[sizemode="fullscreen"] #window-controls{
    height: var(--uc-toolbar-height) !important;
}
/* z-index Devuelto a default por no permitir dar clic a ningun elemento de la interfaz en pantalla completa */
:root[sizemode="fullscreen"] 
#TabsToolbar > :is(#window-controls,.titlebar-buttonbox-container){
    z-index: initial !important; 
}
/* Margen Izquierda de la barra de menú al precionr <alt> */
:root[tabsintitlebar] #toolbar-menubar[autohide="true"] #main-menubar{
    margin-left: 1px !important;
    background-color: color-mix(in srgb, var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor)50%, var(--contrast-color)) !important;
    border-left: 2px solid transparent;
    border-image: linear-gradient(to left, 
    transparent, color-mix(in srgb, var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor)50%, var(--contrast-color)) 30px) 20 / 30px !important;
}
/* Alinear ícono bookmark, vista de lectura, etc */
.urlbar-page-action {
  margin-block: 4px 2px !important;
}
/* Alinear verticalmente url */
@media (-moz-platform: windows), (-moz-platform: linux){ 
    #urlbar-input, #urlbar-scheme{
        margin-bottom: -2px !important;
}}

/* ----------------Nuevos margenes Botón menú------------------- */
:root{
    --uc-vertical-toolbar-width: 41px !important;                                                               /* Nuevo tamaño sidebar */
    --padding-left-tab: calc(var(--uc-vertical-toolbar-width) - 1px) !important;                                /* Nuevo tamaño botón "Menú" */
    --margin-left-icons-personal: 11px !important;                                                              /* Nuevo margen left de íconos del menú */
}
/* color botón Menú para hacer coincidir con la barra de pestañas de <tab-center-reborn> en temas claros */
@media (prefers-color-scheme: light){
@media (-moz-platform: windows),(-moz-platform: linux){
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button  {
    --lwt-frame: #e9e6ef !important;
    }}}
/*
@media (prefers-color-scheme: dark){
@media (-moz-platform: windows-win7),(-moz-platform: windows-win10),(-moz-platform: linux){
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button {
    --lwt-frame: #101019 !important;
    }}}
*/
/* Quitar label -Menu- del menú not [open] */
@media (-moz-platform: windows),(-moz-platform: linux){
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button:not([open]) > stack::after {
    content: none !important ;
    }}
@media (-moz-platform: windows),(-moz-platform: linux){
    :root:not([chromehidden~="toolbar"]):is([sizemode="normal"],[sizemode="fullscreen"]) #PanelUI-menu-button:is([open]) > stack::after {
    content: none !important ;
    }}
/* Hacer el botón más ancho en el menú [open] */
@media (-moz-platform: windows),(-moz-platform: linux){
:root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]):is([sizemode="maximized"]) #PanelUI-menu-button[open] > stack{
    --padding-left-tab: 79px !important;
    max-width: var(--padding-left-tab) !important;
    min-width: var(--padding-left-tab) !important;
    }}
@media (-moz-platform: linux){
:root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]):is([sizemode="maximized"]) #PanelUI-menu-button[open] > stack{
    --padding-left-tab: 85px !important;
    }}
@media (-moz-platform: windows),(-moz-platform: linux){
:root:is([sizemode="maximized"]) #appMenu-popup{
    --padding-left-tab: 79px !important;
    }}
@media (-moz-platform: linux){
:root:is([sizemode="maximized"]) #appMenu-popup{
      --padding-left-tab: 85px !important;
    }}
/* tamaño nuevo botón Menú */
:root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]) #PanelUI-menu-button,
:root[sizemode="maximized"] #appMenu-popup{
    --tab-height-personal: var(--toolbar-height-personal) !important;
    }
/* botón Menú [open] no muy grande */
:root:not([chromehidden~="toolbar"])[sizemode="maximized"] #appMenu-popup>panelmultiview>box>box>panelview {
    padding-top: calc(-10px + var(--tab-height-personal)) !important; 
    z-index: 2 !important;
}
:root:not([chromehidden~="toolbar"])[sizemode="maximized"] #appMenu-popup{
    clip-path: polygon(
        calc(var(--padding-left-tab) - 1px) 0%, 
        200% 0%, 0% 900%,
        0% calc(var(--tab-height-personal) - 6px ), 
        calc(var(--padding-left-tab)) calc(var(--tab-height-personal) - 6px )); 
    }
/* Logo más grande */
@media (-moz-platform: windows),(-moz-platform: linux) {
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button image{
    min-height: 20px !important;
    min-width:  20px !important;
        } }
/* menu :hover */
@media (-moz-platform: windows),(-moz-platform: linux) {
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button:not([open]):hover > .toolbarbutton-badge-stack{
    background-color: color-mix(in srgb, var(--general-color) 15%, transparent) !important;
        } }
