/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/*Botones generales*/

/* Information button -ProtecciónAntirastreo- */

.panel-header.panel-header-with-info-button > h1 { margin-inline: var(--arrowpanel-header-info-icon-full-width) !important; }

#protections-popup-info-button{ margin-inline-end: 6px !important; }

/* Radiobutton -ProtecciónAntirastreo- */

.toggle-button{ margin-inline: -6px !important; }

.toggle-button[aria-pressed="false"] { background: initial !important; }

.toggle-button[aria-pressed="false"]:is(:hover) {
    --toggle-dot-background-color: color-mix(in srgb, var(--toogle-border-color), var(--lwt-tab-text)) !important;
    --toogle-border-color: var(--gray) !important;
    background: initial !important;
    border-color: color-mix(in srgb, var(--toogle-border-color), var(--lwt-tab-text)) !important;
}

/*color Rojo de boton "borrar marcador"*/

#editBookmarkPanelRemoveButton label{
    display: none !important;
}

#editBookmarkPanelRemoveButton{
    fill: var(--toolbarbutton-icon-fill) !important;
    -moz-context-properties: fill !important;
    box-shadow: inset 0px 0px 0 1px var(--input-border-color) !important;
    border-radius: 3px !important;
    padding-inline: 16px !important;
}

#editBookmarkPanelRemoveButton:hover {
    background-color: #da3633 !important;
    color: #f0f6fc !important;
    box-shadow: none !important;
    fill: white !important;
}

/*color letras de boton "Guardar" marcador en :hover*/

#editBookmarkPanelBottomButtons>#editBookmarkPanelDoneButton {   
    color: white !important;
    border-radius: 4px !important;
}

/*Color del botón menú deplegable*/

panel menulist, panel menulist:not([open]) {
    background-color: var(--input-border-color) !important;
    box-shadow: inset 0px 0px 0 1px var(--input-border-color) !important;
    border-radius: 3px !important;
}

panel menulist:hover, panel menulist[open] {
    background-color: var(--button-hover-bgcolor) !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
    box-shadow: none !important;
}

/*Color -fondo y borde-(flecha hacia abajo)*/

#editBookmarkPanel .expander-up, #editBookmarkPanel .expander-down {
    background-color: var(--input-border-color) !important;
    box-shadow: inset 0px 0px 0 1px var(--input-border-color) !important;
    border: none !important;
    border-radius: 3px !important
}

#editBookmarkPanel .expander-up:hover, #editBookmarkPanel .expander-down:hover {
    box-shadow: none !important;
    background-color: var(--button-active-bgcolor) !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

/*Color -fondo y "letras" - menu desplegable*/

treechildren::-moz-tree-row(selected) {
    background-color: var(--button-active-bgcolor) !important;
    outline: none !important;
}

treechildren::-moz-tree-image(selected), treechildren::-moz-tree-twisty(selected), treechildren::-moz-tree-cell-text(selected) {
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

#editBMPanel_folderTree treechildren{
    background-color: var(--arrowpanel-background) !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

#editBMPanel_tagsSelector{
    background-color: var(--arrowpanel-background) !important;
    border: 1px solid var(--button-bgcolor) !important;
}

/* Quitar linea gradiente en botones de extensiones puestas en la Barra de herramientas y de pestañas 

:is(#nav-bar,#TabsToolbar, #PersonalToolbar) toolbaritem .toolbarbutton-1 { background-image: none !important; }*/

/* ---------------------------------------------- Nav-bar buttons ---------------------------------------------- */

/* :hover */

:root:not([lwtheme-image],[style*="--lwt-additional-images"]) {
#nav-bar .toolbarbutton-1:is(:hover,[open="true"]):not([disabled="true"]) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:is(:hover,[open="true"]):not([disabled="true"]) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:is(:hover,[open="true"]):not([disabled="true"]) > .toolbarbutton-badge-stack {
    fill: var(--general-color) !important;
}}

/* [open] -Temas con imagenes- */

:root:is([lwtheme-image],[style*="--lwt-additional-images"]) {
#nav-bar .toolbarbutton-1:is([open="true"]):not([disabled="true"]) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:is([open="true"]):not([disabled="true"]) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:is([open="true"]):not([disabled="true"]) > .toolbarbutton-badge-stack {
    fill: var(--general-color) !important;
}}

/* ---------------------------------------------- bookmarks buttons ---------------------------------------------- */

#PersonalToolbar {
    --toolbarbutton-hover-background: var(--toolbarbutton-hover-personal) !important; 
    --toolbarbutton-active-background: var(--contrast-color) !important; 
    --toolbarbutton-icon-fill: var(--toolbar-color) !important;
    text-shadow: none !important;
}

:root:is([lwtheme-image],[style*="--lwt-additional-images"]) #PersonalToolbar {
        --toolbarbutton-hover-background: inherit !important; 
        --toolbarbutton-active-background: var(--contrast-color) !important; 
}

/* icono and label [open], :active  */

#PersonalToolbar .toolbarbutton-1:is([open],:active) ,
#PersonalToolbar toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"]):is([open],:active) {
    color: var(--general-color) !important;
    fill:  var(--general-color) !important;
}

/* ---------------------------------------------- Tabs-bar buttons ---------------------------------------------- */

#TabsToolbar {
    --toolbarbutton-icon-fill: var(--general-color);
}

#TabsToolbar {
    --toolbarbutton-hover-background: var(--toolbarbutton-hover-personal) !important;
}

#TabsToolbar {
    --toolbarbutton-active-background: color-mix(in srgb, var(--toolbarbutton-hover-personal)75%, var(--contrast-color)) !important;
}


/* [open]  -Temas con imagenes- */

:root:is([lwtheme-image],[style*="--lwt-additional-images"]) #TabsToolbar {
    --toolbarbutton-active-background: color-mix(in srgb, transparent 90%, color-mix(in srgb, var(--lwt-tab-text)80%, var(--general-color))) !important;
}


/* :hover en botones de: unified extensions and all-tabs */

/* botón >> Unified extentions */

:root{ --uei-icon-size: 18px !important; }

.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not(.toolbarbutton-1)[disabled] {
    opacity: 1 !important;
}

#unified-extensions-panel .unified-extensions-item{
    padding-block: 0 !important;
    margin-block: 0px !important;
}

.unified-extensions-item-action-button.panel-no-padding.webextension-browser-action.subviewbutton.subviewbutton-iconic{
    padding-block: 2px !important;
    margin-block: 0px !important;
}

.unified-extensions-item-menu-button:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, 
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton):not([disabled]) {
    background: transparent !important;
    padding: 0px 6px !important;
}

.unified-extensions-item-menu-button.subviewbutton.subviewbutton-iconic:hover image {
    background: var(--button-hover-bgcolor) !important;
    border-radius: 3px !important;
}

/* botón >> ALL tabs */

.all-tabs-secondary-button{
    margin-inline-end: 4px !important;
    border-radius: 3px !important;
    border: none !important;
}

#allTabsMenu-allTabsView-tabs > .all-tabs-item > .all-tabs-secondary-button:hover,
.all-tabs-secondary-button.subviewbutton.subviewbutton-iconic:hover,
.all-tabs-close-button.all-tabs-secondary-button.subviewbutton:hover,
.all-tabs-mute-button.all-tabs-secondary-button.subviewbutton:hover{
    background: var(--button-hover-bgcolor) !important;
}

/* Second label del botón de extensiones */

#unified-extensions-area toolbaritem:hover .unified-extensions-item-message-deck label{
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

@media (-moz-platform: linux) {
#unified-extensions-area toolbaritem .unified-extensions-item-message-deck label{
    appearance: none !important;
    font-size: 0.875em !important;
    width: -moz-available !important;
    }
}

/* Arrowpanel de marcador, [open] -Heart icon- */

/*Color de "highlight" input-text*/

richlistitem[selected="true"], #editBMPanel_namePicker::selection , #editBMPanel_tagsField::selection{
    background-color: var(--general-color) !important;
    color: var(--contrast-color) !important;
}

richlistitem, #editBMPanel_namePicker , #editBMPanel_tagsField{
    color: var(--lwt-tab-text) !important;
}

/* Separador linea Vertical para tabs-bar, usando "espacio flexible" */

:is(#TabsToolbar) toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"], :is(#TabsToolbar) toolbarspring {
    max-width: 1px !important;
    min-width: 1px !important;
    min-height: calc(var(--tab-height-personal) + 0px) !important;
    max-height: calc(var(--tab-height-personal) + 0px) !important;
    margin-inline: 3px !important;
    background-image: linear-gradient(transparent 25%, var(--button-active-bgcolor) 25%, var(--button-active-bgcolor) 75%, transparent 75% ) !important;
}

:is(#TabsToolbar) toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"]{
    background: var(--button-active-bgcolor) !important;
    max-width: 3px !important;
    min-width: 3px !important;
    padding-inline: 3px !important; 
}

:is(#TabsToolbar) toolbarpaletteitem[place="toolbar"] > toolbarspring{
    display: none !important;
}

/* Status panel */

#statuspanel label{
    background-color: var(--toolbar-bgcolor) !important;
    border-color: var(--lwt-frame) !important;
    border-radius: 0px !important;
}
