/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/* Find-bar */

findbar {
    background-color: var(--toolbar-bgcolor) !important;
    color: var(--lwt-tab-text) !important;
    border-color: var(--input-border-color) !important;
}

.findbar-textbox:focus {
    color: var(--toolbar-field-focus-color);
    outline-color: var(--general-color) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.23);
}

.findbar-textbox[status="notfound"]{ 
    outline-color: transparent !important;
    border-color: transparent !important;
}

.findbar-find-status[status="notfound"] {
    color: var(--red) !important;
}

/* Correct display of zoom percentage shown in the url bar */

#urlbar-zoom-button {
    padding: 2px !important;
    margin-inline: 3px !important;
}

/* "popup_highlight" ---> 1.- keyboard highlight ;  2.-mouse highlight */

.urlbarView-row[selected], .urlbarView-row[row-selectable]:not([selected]):hover {
    --urlbar-popup-url-color: var(--toolbar-field-focus-color) !important; 
    background-color: var(--autocomplete-popup-hover-background) !important;
    --link-color: var(--lwt-tab-text) !important;
    border-radius: 0px !important;
}

/* Font size */

.urlbarView-title {
    font-size: 1.06em !important;
}

.urlbarView-tags, .urlbarView-url, .urlbarView-title:not(:empty)~.urlbarView-action {
    font-size: 1.05em !important;
    font-weight: 501 !important;
}

/* Width of search container */

.urlbarView-body-inner,
.urlbarView {
  margin-inline: 0px !important;
  width: 100% !important;
  border-inline: 0px solid red !important;
}

.urlbarView-results {
    padding-block: 0px !important;
}

.urlbarView-row {
  border: 0px solid transparent !important;
}

/* Url margin inline */

.urlbar-input-container {
    padding-inline: 11px !important;
}

#urlbar[breakout][breakout-extend] {
  & > .urlbar-input-container {
      padding-inline: 16px !important;
    }
}

/* 'Go' button */

.urlbar-go-button, .search-go-button, .urlbar-revert-button {
    width: calc(var(--toolbar-height-personal) - 14px) !important;
    height: calc(var(--toolbar-height-personal) - 14px) !important;
}

/* favicons */

.urlbarView-row {
  @media (-moz-bool-pref: "browser.urlbar.richSuggestions.featureGate") {
    &:not([rich-suggestion]), &[rich-suggestion][icon-size="16"] {
      --urlbarView-icon-margin-start: 16px !important;
      --urlbarView-icon-margin-end: 12px !important;/**/
      }
  }
}

.urlbarView-favicon {
    min-width: 16px !important;
    max-width: 16px !important;
}

.urlbarView-row:hover .urlbarView-favicon {
    background-color: var(--toolbar-field-focus-background-color) !important;
    outline: 8px solid var(--toolbar-field-focus-background-color) !important;
    clip-path: circle(90%) !important;
}

/* Rich Suggestions */

.urlbarView-row[rich-suggestion] > .urlbarView-row-inner > .urlbarView-favicon {
    max-height: 16px !important;
    max-width: 16px !important;
    margin-inline: 16px 12px !important;
}

/* 'Switch to tab' button */

.urlbarView-row:is([type="switchtab"], [type="remotetab"], [type="clipboard"]) {
    & > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action {
        padding-block: 0px 2px !important;
        margin-block: 0px -2px !important;
    }
}

/* Height if each row of suggestion */

.urlbarView-row {
  &:not([type="tip"], [type="dynamic"]) {
    :root:not([uidensity="compact"]) & {
      min-height: 36px !important;
    }
  }
}

/* 'Switch to tab' button with container line */

.urlbarView-userContext {
  border-top: 0px !important;
  box-shadow: 0 -2px 0 0 var(--identity-tab-color), inset 0 2px 0 0 var(--identity-tab-color) !important;
}

/* Remove container icon when searchbar is smaller */
.urlbarView-userContext-icon {
    display: none !important;
}

/* 'Quick Action' Buttons urlbar 'open' */

.urlbarView-quickaction-button {
    box-shadow: 0px 0px 1px rgba(128, 128, 142, 0.9) !important;
}

.urlbarView-quickaction-button:hover {
    background-color: var(--button-hover-bgcolor) !important;
    box-shadow: 0px 0px 0px 1px var(--button-hover-bgcolor) !important;
}

/* Label 'Firefox Suggestions - Google Suggestions' */

.urlbarView-row[label] {
    margin-block-start: 26px !important;
}

.urlbarView-row[label]::before {
    margin-inline-start: 20px !important;
    font-weight: bold !important;
}

/* Margin left for 'This time Search with' */

#urlbar .search-panel-header{
    padding-inline-start: 14px !important;
}

/* Latest button 'Search configuration' */

#urlbar .search-setting-button {
  margin-inline: 10px !important;
}

/* Does not display search suggestions in double row - smaller firefox window */

@media screen and (min-height: 600px) {
    .urlbarView-results[wrap] > .urlbarView-row {
        &:where(:not([rich-suggestion])) > .urlbarView-row-inner {
            & > .urlbarView-no-wrap {
                flex-basis: 0% !important;
            }
        }
    }

    /* Separator title - url */
    .urlbarView-results[wrap] > .urlbarView-row {
        .urlbarView[action-override] &[has-url]:not([restyled-search]), &[has-url]:not([type$="tab"], [sponsored], [restyled-search]), &[has-url]:is([type="remotetab"], [sponsored]):is(:hover, [selected]), &[type="tabtosearch"] {
            & .urlbarView-title-separator {
                display: flex !important;
            }
        }
    }
    
    /* Unnecessary margin after the separator */
    .urlbarView-results[wrap] > .urlbarView-row {
        &[has-url] > .urlbarView-row-inner > .urlbarView-url {
            &:-moz-locale-dir(ltr) {
                margin-inline-start: 0px !important;
            }
        }

    }
}

/* ____________________________________ Nav-bar height ____________________________________ */

#nav-bar {
    height: var(--toolbar-height-personal) !important;
}

#urlbar-container {
    --urlbar-container-height: var(--toolbar-height-personal) !important;
}

#urlbar, #searchbar {
    --urlbar-height: calc(var(--toolbar-height-personal) - 10px) !important;
    --urlbar-min-height: calc(var(--toolbar-height-personal) - 10px) !important;
}

/* Roundness */
#urlbar, #urlbar-background{
    border-radius: var(--border-radius-urlbar-personal) !important;
}

#urlbar:not([open], [focused]) #urlbar-background {
    transition: ease-in 150ms !important;
    transition-delay: 80ms !important;
}

#urlbar:not([open], [focused]):hover #urlbar-background {
    background-color: color-mix(in srgb, var(--general-color) 25%, transparent) !important;
    border-color: transparent !important;
    transition: linear 150ms !important;
    transition-delay: 100ms !important;
}

:root:is([lwtheme-image],[style*="--lwt-additional-images"]) 
    #urlbar:not([open]):is([focused]) #urlbar-background {
        background-color: color-mix(in srgb, var(--general-color) 25%, transparent) !important;
}

#urlbar[focused] #urlbar-background {
    box-shadow: none !important;
    transition: background-color 0.4s ease !important;
}

#urlbar[open] #urlbar-background {
    background-image: var(--noise-urlbar-personal) !important;
    border-radius: calc(var(--border-radius-urlbar-personal) + 6px) !important;
    border-color: transparent !important;
    margin-block-start: 1px !important;
}

#urlbar-input, #urlbar-scheme {
    padding-left: 6px !important;
    margin-block-start: -2px !important;
}

/* Necessary for many -Hamburger Menu- and -Left Sidebar- scenarios */

#navigator-toolbox {
    z-index: unset !important;
}

/* Brighness when urlbar [open]*/

#urlbar {
    box-shadow: 0 0 0 100vw transparent;
    transition: box-shadow 250ms ease-out !important;
}

#urlbar[open] {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
    transition: box-shadow 250ms ease-out !important;
    border-radius: calc(var(--border-radius-urlbar-personal) + 6px) !important;
    overflow: hidden !important;
}

/* Search Engine button */

@media not (-moz-bool-pref: "browser.urlbar.searchModeSwitcher.featureGate") {
    #urlbar-searchmode-switcher:not(:hover,[open]) {
        background-color: transparent !important;
    }
}

#urlbar-searchmode-switcher {
    appearance: none;
    margin-block: 2px !important;
    border-radius: var(--urlbar-icon-border-radius);
    margin-inline-end: var(--urlbar-icon-padding);
    padding-inline: var(--urlbar-searchmodeswitcher-spacing);
    
    &:hover {
        background-color: var(--urlbar-box-hover-bgcolor) !important;
    }
    &[open] {
        background-color: var(--urlbar-box-active-bgcolor) !important;
    }   
}

#searchmode-switcher-chicklet {
    height: calc(var(--urlbar-min-height) - 6px - 2 * var(--urlbar-container-padding)) !important;
    align-self: center !important;
}

#searchmode-switcher-icon {
    width: 14px !important;
    height: 14px !important;
    padding: 0px !important;
    margin: -3px !important;
}

#searchmode-switcher-dropmarker {
    display: none !important;
}

#urlbar-searchmode-switcher,
#searchmode-switcher-chicklet {
  @media (-moz-bool-pref: "browser.urlbar.searchModeSwitcher.featureGate") or (-moz-bool-pref: "browser.urlbar.scotchBonnet.enableOverride") {
    #urlbar[searchmode] & {
        display: inline-flex;
        background-color: var(--urlbar-box-bgcolor) !important;
    }
  }
}

#urlbar-searchmode-switcher:is(:hover,[open]) {
  @media (-moz-bool-pref: "browser.urlbar.searchModeSwitcher.featureGate") or (-moz-bool-pref: "browser.urlbar.scotchBonnet.enableOverride") {
    #urlbar[searchmode] & {
        display: inline-flex;
        background-color: var(--urlbar-box-hover-bgcolor) !important;
        border-radius: 2px !important;
        padding-inline-end: 5px !important;
        margin-inline-end: 1px !important;
    }
  }
}

/* Search-box - the one next to address-bar */

#searchbar {
    min-height: calc(var(--toolbar-height-personal) - 10px) !important;
    border-radius: 4px !important;
    border: none !important;
}

#searchbar:hover {
    background-color: color-mix(in srgb, var(--general-color) 25%, transparent) !important;
}

#searchbar:focus-within {
    box-shadow: none !important;
    background-color: var(--toolbar-field-focus-background-color) !important;
}

#PopupSearchAutoComplete{
    --uc-slot-radius: 4px;
    --arrowpanel-border-radius: var(--uc-slot-radius) !important;
    --arrowpanel-border-color: none !important;
    margin-top: 0px !important;
    margin-inline-start: -3px !important;
}

#PopupSearchAutoComplete menuseparator{
    margin-inline-end: 12px !important;
}

.search-go-button, #urlbar-go-button {
    width: calc(var(--urlbar-min-height) - 6px - 2 * var(--urlbar-container-padding)) !important;
    height: calc(var(--urlbar-min-height) - 6px - 2 * var(--urlbar-container-padding)) !important;
    margin-inline-end: 4px !important;
    align-self: center !important;
}

/* Extension pages button */

#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button {
    background: transparent !important;
}

#identity-box.extensionPage label {
    display: none !important;
}

/* Firefox secure pages */

/* Label and icon */

#identity-icon-label {
    display: none !important;
}

#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
    width: 14px !important;
    height: 14px !important;
    margin-inline: 3px !important;
}

#identity-box[pageproxystate="valid"].chromeUI .identity-box-button:not(:hover, [open]) #identity-icon {
    fill: var(--general-color) !important;
}

#identity-box[pageproxystate="valid"].notSecureText, #identity-box[pageproxystate="valid"].chromeUI, 
#identity-box[pageproxystate="valid"].extensionPage, #urlbar-label-box {
    margin-inline-end: 2px !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button, #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button, 
#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button, #urlbar-label-box {
    background-color: transparent !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button:hover:not([open]), 
#identity-box[pageproxystate="valid"].chromeUI>.identity-box-button:hover:not([open]) {
    background-color: color-mix(in srgb, var(--button-bgcolor) 86%, white) !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button[open="true"], 
#identity-box[pageproxystate="valid"].chromeUI>.identity-box-button[open="true"] {
    background-color: color-mix(in srgb, var(--button-bgcolor) 72%, white) !important;
}

/* ________________________________________________ Smaller url-bar icons ________________________________________________ */

/* Size */

#tracking-protection-icon, #identity-icon, .sharing-icon, .desktop-notification-icon {
    height: 14px !important;
    width: 14px !important;
    margin-inline: 2px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}

.identity-box-button {
    padding-inline: 0px !important;
}

/* box, icons box */

#identity-icon-box, #identity-permission-box, #notification-popup-box {
    margin-block: 2px 2px !important;
    margin-inline: 2px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}

#permissions-granted-icon, #identity-permission-box[hasPermissions], #blocked-permissions-container>.blocked-permission-icon {
    margin-inline: 2px !important;
    margin-inline-end: 2px !important;
}

#blocked-permissions-container>.blocked-permission-icon {
    padding: 1px !important;
    margin-inline-start: 0px !important;
}

/* Various permission icons */

#notification-popup-box .notification-anchor-icon,
#blocked-permissions-container .blocked-permission-icon{
    padding: 2px !important;
    height: 19px !important;
    width: 19px !important;
}

/* background-color - when 'hover' - 'active' */

#notification-popup-box:hover{ background-color: var(--urlbar-box-hover-bgcolor) !important; }

#notification-popup-box[open] { background-color: var(--urlbar-box-active-bgcolor) !important; }

/* 'Allow Notifications' icon */

.popup-notification-icon[popupid="web-notifications"], .desktop-notification-icon {
    margin-inline: 0px 3px !important;
}

#notification-popup-box {
    width: 20px !important;
    height: 20px !important;
}

/* Tracking Protection icon */

#tracking-protection-icon-container {
    margin-block: 2px !important;
    margin-inline: 3px 0px !important;
    padding: 3px 3px 2px 1px !important;
}

/* Bookmark icon, reading view, etc */

.urlbar-page-action {
    width: 21px !important;
    height: 20px !important;
    margin-inline: 3px 3px !important;
    padding: 3px 3px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}

.urlbar-page-action>.urlbar-icon {
    width: 15px !important;
    height: 15px !important;
}

/* Container icon */
#userContext-icons{
    height: 18px !important;
    width: 18px !important;
}

/* Container label */
#userContext-label {
    display: none !important;
}

/* Translate button */

#translations-button[translationsactive="true"]{
    width: initial !important;
    border-radius: 52px !important;
}

#translations-button[translationsactive="true"] .urlbar-icon{
    display: none !important;
}

#translations-button-locale {
    background-color: var(--button-active-bgcolor) !important;
    color: var(--lwt-tab-text) !important;
    border-radius: 52px !important;
    height: 20px !important;
    padding-top: 1px !important;
    padding-inline-start: 0px !important;
    margin-inline: -3px -3px !important;
    margin-block: -3px !important;
}

#translations-button:is([open], :hover) #translations-button-locale{
    background-color: var(--toolbarbutton-icon-fill) !important;
    color: var(--contrast-color) !important;
}

/* Green color of the secure web description */

description#identity-popup-content-owner-label, description#identity-popup-content-owner, description#identity-popup-content-verifier, 
#identity-popup-securityView-body>button {
    color: #2cf62c !important;
    padding-inline-start: 16px !important;
}

/* Remove pinned site icon from search suggestions */

.urlbarView-type-icon {
    display: none !important;
}
