/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media -moz-pref("firefoxgx.left-sidebar") and -moz-pref("browser.toolbars.bookmarks.visibility", 'always') {

    /* _______________________ Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/vertical_bookmarks_toolbar.css ------------------- */

    /* Makes bookmarks toolbar appear vertically at the left side of the window */

    #navigator-toolbox{ position: relative }
    #PersonalToolbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        inset-inline-start: 0;
        width: var(--my-vertical-toolbar-width,0);
        min-width: unset !important;
        /* These create a empty area to the bottom of the toolbar, which is to mask a fact that we don't know exactly how high the toolbar should be */
        height: calc(100vh - var(--tab-height-personal) - var(--toolbar-height-personal) - var(--menubar-height-personal, 0px));
        max-height: calc(100vh - var(--tab-height-personal) - var(--toolbar-height-personal) - var(--menubar-height-personal, 0px)) !important; 
        /*padding-bottom: 74px !important;/**/
        padding-inline: 0px !important;                                                           /* Mi edit */
        padding-block-end: 4px !important;
        background-position-x: left !important;
    }
    #PersonalToolbar:dir(rtl) {                                                                   /* Mi add for RTL languages */
        background-position-x: right !important;
    }
    #PersonalToolbar .toolbarbutton-1 {
        max-width: calc(var(--my-vertical-toolbar-width) - 1px) !important;                       /* Mi edit - Tamaño horizontal ionos default */
        margin: 0px !important;
    }

    #PersonalToolbar toolbaritem{                                                               /* My new code Tamaño horizontal ionos extensiones y  marcadores */
        max-width: calc(var(--my-vertical-toolbar-width) - 1px) !important;                       
        margin: 0px !important;
    }

    #OtherBookmarks{                                                                            /* My new code - boton OtherBookmarks */
        margin-inline: 0px !important;  
    }

    #PersonalToolbar #PlacesChevron{
        display: none;
    }
    #PersonalToolbar > #personal-bookmarks{
        overflow-y: auto;
        scrollbar-width: none;
        height: 100vh;
    }

    #PlacesToolbar,
    #PlacesToolbarDropIndicatorHolder{
        flex-direction: column;
    }

    #PersonalToolbar #PlacesToolbarItems{
        display: flex !important;
        flex-direction: column;
        overflow-y: auto;
        scrollbar-width: none;
    }
    #PersonalToolbar > toolbaritem{
        justify-content: center;
    }
    #PersonalToolbar #PlacesToolbarItems > toolbarseparator{
        height: 7px;
        max-width: var(--my-vertical-toolbar-width) !important;                                             /* My code */
        margin-inline: 14px !important;                                                                     /* My code */
        background-color: var(--general-color) !important;                                                  /* My edit */
        background-clip: padding-box;
        border-block: 3px solid transparent !important;
    }

    #PersonalToolbar #PlacesToolbarItems > .bookmark-item{
        padding-block: 4px !important;
        margin-inline: 0 !important;
    }

    :root:not([chromehidden~="toolbar"],[inDOMFullscreen],[sizemode="fullscreen"]) {
        &>body>#browser,
        &>body>#browser-bottombox,
        &>body>#customization-container {
            margin-inline-start: var(--my-vertical-toolbar-width, 0px);
        }
    }

    /* You should probably disable this if you have Firefox < 113 */
    #PersonalToolbar #PlacesToolbarItems{
        display: -webkit-box !important;
        -webkit-box-orient: vertical !important;
    }

    /* ______________________________________________________ Keep left-sidebar in 'Fullscreen' ______________________________________________________ */

    /* Bookmarks-bar visible */

    :root[inFullscreen]:not([macOSNativeFullscreen],[inDOMFullscreen]) toolbar:is(#PersonalToolbar):not([fullscreentoolbar="true"]) {
        visibility: visible !important;
    }

    /* Shows #navigator-toolbox when 'hover' on left-sidebar */

    :root[inFullscreen]:not([macOSNativeFullscreen]):has(#PersonalToolbar:hover) #navigator-toolbox {
        margin-top: 0px !important;
    }

    /* Keep left-sidebar visible when some contextual menu appears
    - Keep navigator-toolbox visible when bookmarks-folder are 'open' */

    #main-window[inFullscreen]:has(
    #appMenu-popup:is([panelopen="true"]),                      /* Hamburger menu open */
    panel[type="arrow"]:is([panelopen="true"]),                 /* Arrowpanels open */
    .bookmark-item[open],                                       /* BOokmarks-folder 'open' */
    #customizationui-widget-panel[panelopen="true"],            /* Extensions panels 'open' */
    #tabContextMenu[hasbeenopened]:hover,                       /* Some contextual menus ¯v*/
    #toolbar-context-menu[panelopen="true"]:hover,
    #new-tab-button-popup[hasbeenopened]:hover,
    #toolbar-context-menu[hasbeenopened]:hover,
    #placesContext[hasbeenopened]:hover,
    .tab-group-editor-panel[hasbeenopened]:hover) {
        & #PersonalToolbar {
            width: var(--my-vertical-toolbar-width) !important;
            max-width: var(--my-vertical-toolbar-width) !important;
            opacity: 1 !important;
            --space-before-gradient-line: calc(var(--tab-height-personal) - var(--toolbar-height-personal) - var(--menubar-height-personal, 0px)) !important;
            border-image: linear-gradient(to bottom, transparent var(--space-before-gradient-line), 
                var(--general-color) var(--space-before-gradient-line), 
                var(--button-hover-bgcolor) 52%, transparent 94%) 1 !important;/**/
        }
        & #navigator-toolbox {
            margin-top: 0px !important;
        }
    }

    /* ____________ Web content moved right when toolbars are in 'autohide' */

    @media -moz-pref("browser.fullscreen.autohide") {

        /* Width of left-sidebar when #navigator-toolbox 'hidden' */

        :root[inFullscreen]:not([macOSNativeFullscreen]):has(#navigator-toolbox:not(:hover)) toolbar:is(#PersonalToolbar):not([fullscreentoolbar="true"]) {
            width: 1px !important;
            opacity: 0 !important;
            border-image: linear-gradient(to bottom, transparent, transparent) !important;
            background-image: none !important;
            transition: width 0.2s ease, opacity 0.2s ease !important;
            transition-delay: 100ms !important;
        }

        /* Web content mover right when left-sidebar in visible */

        :root[inFullscreen]:not([macOSNativeFullscreen],[inDOMFullscreen]):has(        
        #navigator-toolbox[style=""],                                 /* tabs-bar and nav-bar hover */
        #PersonalToolbar:hover,                                       /* Bookmarks-bar 'hover' */
        .bookmark-item[open],                                         /* BOokmarks-folder 'open' */
        #customizationui-widget-panel[panelopen="true"],              /* Some contextual menus open */
        #toolbar-context-menu[hasbeenopened="true"]:hover,
        #placesContext[hasbeenopened]:hover,                          /* Bookmarks-folder contextual menu */
        #appMenu-popup[panelopen="true"]                              /* Extensions panels 'open' */
        ){
            #browser,
            #browser-bottombox,
            #customization-container {
                margin-inline-start: var(--my-vertical-toolbar-width,41px) !important;
            }
        }

        /* Allow show Left-sidebar when 'hover' on left of screen */

        :root[inFullscreen]:not([macOSNativeFullscreen],[inDOMFullscreen]) toolbar:is(#PersonalToolbar):not([fullscreentoolbar="true"]):not(:hover) {
            z-index: 3 !important;
        }
    }

    /*____________ Web content moved right when toolbars are 'not in autohide' */

    @media not -moz-pref("browser.fullscreen.autohide") {

        :root:not([chromehidden~="toolbar"],[inDOMFullscreen]) {
            #browser,
            #browser-bottombox,
            #main-window > body::after, /* This selector is for compatibility with tabs_below_content.css */
                #customization-container {
                    margin-inline-start: var(--my-vertical-toolbar-width,0) !important;
            }
        }
    }

    /* ______________________________________________________ My code to adapt to the GX style ______________________________________________________ */

    /* Position and style of the left-bookmarks-sidebar */

    #PersonalToolbar {
        --toolbar-bgcolor: transparent !important;
        --toolbarbutton-hover-background: transparent !important;
        --toolbarbutton-active-background: transparent !important;
        --toolbarbutton-hover-personal: transparent !important;
        --toolbarbutton-icon-fill: color-mix(in srgb, var(--general-color) 90%, transparent) !important;
        --toolbarbutton-border-radius: 0px !important;

        border-inline-end: 1px solid transparent !important;
        border-image: linear-gradient(to bottom, var(--general-color), var(--button-hover-bgcolor) 52%, transparent 94%) 1 !important;
        z-index: 5 !important; /* tested when sidebar-revamp is on too */
    }

    /* Remove items label from sidebar */

    #personal-bookmarks .bookmark-item>.toolbarbutton-text, #PersonalToolbar #import-button label {
        display: none !important;
    }

    /* Also remove the space after the icon - it serves to center */
    #PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon[label]:not([label=""]),                      /* Marcadores */
    #OtherBookmarks.bookmark-item[container] > .toolbarbutton-icon,                                         /* OtrosMarcadores */
    #bookmarks-toolbar-placeholder > .toolbarbutton-icon{                                                   /* MArcadores en customization mode*/
        margin-inline: 0px !important;
    }

    /* Firefox view icon */ 

    toolbar:is(#PersonalToolbar) #firefox-view-button[aria-pressed="true"] .toolbarbutton-icon {
        border-radius: 4px !important;
    }

    #firefox-view-button image {
        list-style-image: url("../icons/firefoxview-close.svg") !important;
    }

    #firefox-view-button[aria-pressed="false"]:active .toolbarbutton-icon{
        list-style-image: url("../icons/firefoxview-close.svg") !important;
        transition-duration: 0ms !important;
    }

    #firefox-view-button[aria-pressed="true"]:not(:active) .toolbarbutton-icon{
        list-style-image: url("../icons/firefoxview-open.svg") !important;
        transition-duration: 0ms !important;
    }

    /* Smooth transition of bookmark items */

    #PersonalToolbar #PlacesToolbarItems>.bookmark-item .toolbarbutton-icon,            /* Marcadores - used in left-sidebar */
    #PersonalToolbar #OtherBookmarks:not(bookmark-item) .toolbarbutton-icon {           /* Other bookmark folder - used in left-sidebar */
        transition: all 0.2s ease !important;
    }    

    /* Zoom on :hover items */

    /* animación */
    @keyframes scalezoom{
        0%{ transform:scale(1.2) }
        50%{ transform:scale(0.7) }
        100%{ transform:scale(1.0) }}

    /* 'hover' Extensions */

    #PersonalToolbar .toolbarbutton-1:is(:hover):not(:active,[open]) .toolbarbutton-icon:not(.toolbarbutton-1>image),   /* Extensiones */
    #PersonalToolbar .toolbarbutton-1:is(:hover):not(:active,[open]) .toolbarbutton-badge-stack image {                 /* account icon, download icon, etc */
        transform: scale(1.2) !important;
        transition-duration: 200ms !important;
    }

    /* Click animation on Extensions */

    #PersonalToolbar .toolbarbutton-1:is(:active,[open]) .toolbarbutton-icon:not(.toolbarbutton-1:is(:active, [open])>.toolbarbutton-icon),
    #PersonalToolbar .toolbarbutton-1:is(:active, [open]) .toolbarbutton-badge-stack image{
        animation: scalezoom linear 250ms !important;
    }

    /* 'hover' other icons */

    #PersonalToolbar {
        & .toolbarbutton-1:is(:hover):not(:active,[open])>image,                                           /* íconos default */
        & #PlacesToolbarItems>.bookmark-item:is(:hover,:active):not([open])>.toolbarbutton-icon,           /* Marcadores */
        & #OtherBookmarks:not(bookmark-item):is(:hover,:active):not([open])>.toolbarbutton-icon{           /* Other bookmarks button */
            transform: scale(1.2) !important;
            transition-duration: 200ms !important;
        }}

    /* Clic default icons */

    #PersonalToolbar {
        & .toolbarbutton-1:is(:active):not([open])>image {                                                 /* íconos default */
            transform: scale(0.8) !important;
            transition-duration: 200ms !important;
        }}

    #PersonalToolbar {
        & .toolbarbutton-1:is([open]):not(:active)>image {                                                 /* íconos default */
            transform: scale(1.0) !important;
            transition-duration: 200ms !important;
        }}

    /* Click animation on bookmarks */

    #PersonalToolbar {
        & #PlacesToolbarItems>.bookmark-item:is([open]):not(:active)>.toolbarbutton-icon,                  /* Marcadores */
        & #OtherBookmarks:not(bookmark-item):is([open]):not(:active)>.toolbarbutton-icon{                  /* Other bookmarks button */
            animation: scalezoom ease-in-out 250ms !important;
            transition:  200ms !important;
        }}

    /* Vertical Size of Sidebar Items */

    #PersonalToolbar .toolbarbutton-1,
    #PersonalToolbar #PlacesToolbarItems>.bookmark-item{
        margin-block: 10px !important;
        /*background-color: blue !important;/**/
    }

    /* Fix bookmarks separator style */

    #PersonalToolbar #PlacesToolbarItems toolbarseparator {
        border-image: none !important;
    }

    /* Separator using 'flexible space' */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"], #PersonalToolbar toolbarspring {
        background: var(--general-color) !important;
        width: calc(var(--my-vertical-toolbar-width) - 29px) !important;
        min-width: 0px !important;
        min-height: 1px !important;
        max-height: 1px !important;
        margin-inline: 14px !important;
        margin-block: 6px !important;
    }

    /* ____________________________________________ items in "customize toolbar" mode ____________________________________________ */

    /* 'Flexible space' separator in customize mode */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"] {
        min-width: calc(var(--my-vertical-toolbar-width) - 20px) !important;
        min-height: 4px !important;
        max-height: 4px !important;
        margin-inline-start: 10px !important;
    }

    /* Removes counter and flexible space bug, in customize mode */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"] > toolbarspring,
    #PersonalToolbar toolbarpaletteitem[place="toolbar"] toolbaritem toolbarbutton .toolbarbutton-badge{
        display: none !important;
    }

    /* Align items in customize mode */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"] {
        justify-content: center !important;
    }

    /* _________________________________________________________ Extensions _________________________________________________________ */

    /* Hide counter when it is "0" */

    toolbaritem toolbarbutton[badge="0"]:not(:hover) .toolbarbutton-badge { opacity: 0 !important; }

    /* Extension counter */

    #PersonalToolbar .toolbarbutton-badge {
        background-color: var(--button-hover-bgcolor) !important;
        color: white !important;
        margin-inline-end: -9px !important;
        margin-block-end: -4px !important;
        min-width: auto !important;
        max-width: auto !important;
        align-self: end !important;
    }

    #PersonalToolbar toolbaritem>toolbarbutton>.toolbarbutton-badge-stack>.toolbarbutton-icon {
        height: 17px !important;
        width: 17px !important;
    }

    /* Gx Theme Styles Extension */
    #PersonalToolbar #gxthemestyles_godie-BAP { list-style-image: url("../icons/logo_gx-theme-styles.svg") !important; }

    /* ChatGPT Extension */
    #PersonalToolbar #_87f371f2-66bd-4535-a920-c696f2669122_-BAP,
    #PersonalToolbar #_63ec59d8-ba50-4d88-917e-fb65af892a39_-BAP { list-style-image: url("../icons/logo_chatgpt.svg") !important; }

    /* Twitch Extension */
    #PersonalToolbar #_d3d2a327-1ae0-4fd6-b732-0844d0b7fd4c_-BAP { list-style-image: url("../icons/logo_twitch.svg") !important; }

    /* Messenger Extension */
    #PersonalToolbar #xrst_vardakis_gmail_com-BAP { list-style-image:url("../icons/logo_messenger.svg") !important; }

    /* Whatsapp Extension */
    #PersonalToolbar #_34a257f3-adfe-460d-b6ca-7dd18d18506b_-BAP,
    #PersonalToolbar #chatwappinsidebar_godie-BAP { list-style-image: url("../icons/logo_whatsapp.svg") !important; }
    moz-button[extensionId="ChatwappInSidebar@Godie"] { --my-custom-image: url("../icons/logo_whatsapp.svg") !important; }

    /* Spotify Extension */
    #PersonalToolbar #sidebarspotyplay_godie-BAP,
    #PersonalToolbar #_1d0f1bc6-5e9c-4450-aef5-75cefb44660f_-BAP { list-style-image: url("../icons/logo_spotify.svg") !important; }

    /* Telegram Extension */
    #PersonalToolbar #_14390478-b41b-4e29-8307-8a3c714f7783_-BAP{ list-style-image: url("../icons/logo_telegram.svg") !important; }

    /* ublock Extension */
    #PersonalToolbar #ublock0_raymondhill_net-BAP{ list-style-image: url("../icons/logo_ublock.svg") !important; }

    /* Tab-group Extension */
    #PersonalToolbar #panorama-tab-groups_example_com-BAP{ list-style-image: url("../icons/logo_grouptabs.svg") !important; }

    /* Discord Extension */
    #PersonalToolbar #_a16c3799-d903-44e3-b044-a032197f5ef8_-BAP{ list-style-image: url("../icons/logo_discord.svg") !important; }

    /* Twitter Extension */
    #PersonalToolbar #_3119ae66-3c2f-47e2-b1b1-1c76cb9c4ec1_-BAP{ list-style-image: url("../icons/logo_twitter.svg") !important; }

    /* Simple Translate extension */
    #PersonalToolbar #simple-translate_sienori-BAP { list-style-image: url("../icons/translations.svg") !important; }

    /* Bitwarden extension */
    #PersonalToolbar #_446900e4-71c2-419f-a6a7-df9c091e268b_-BAP { list-style-image: url(../icons/logo_bitwarden.svg) !important; }

    /* Tree-tabs extension */
    #PersonalToolbar #treestyletab_piro_sakura_ne_jp-BAP,
    #PersonalToolbar #tabcenter-reborn_ariasuni-BAP{ list-style-image: url(../icons/logo_tree-tabs.svg) !important; }

    /* _______________________________________________ Colored folders for bookmarks _______________________________________________ */

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+1) > .toolbarbutton-icon {
        list-style-image: url("../icons/folder1.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+2) > .toolbarbutton-icon {
        list-style-image: url("../icons/folder2.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+3) > .toolbarbutton-icon {
        list-style-image: url("../icons/folder3.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+4) > .toolbarbutton-icon {
        list-style-image: url("../icons/folder4.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+5) > .toolbarbutton-icon {
        list-style-image: url("../icons/folder5.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+6) > .toolbarbutton-icon {
        list-style-image: url("../icons/folder6.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+7) > .toolbarbutton-icon {
        list-style-image: url("../icons/folder7.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+8) > .toolbarbutton-icon {
        list-style-image: url("../icons/folder8.svg") !important;
    }

    #PlacesToolbarItems > .bookmark-item:nth-of-type(9n+9) > .toolbarbutton-icon {
        list-style-image: url("../icons/folder9.svg") !important;
    }

    /* 'Other Bookmarks' folder */

    #OtherBookmarks > .toolbarbutton-icon{
        list-style-image: url("../icons/folder-otherbookmarks.svg") !important;
    }

    /* New position of Open Bookmark Panels in left-sidebar */

    #PlacesToolbarItems > .bookmark-item >  menupopup, 
    #OtherBookmarks #OtherBookmarksPopup {
        margin-inline-start: var(--my-vertical-toolbar-width) !important;
        margin-top: -28px  !important;
    }

    #PersonalToolbar>toolbarbutton>menupopup {
        margin-right: calc(var(--padding-left-tab) - 9px) !important;
        margin-top: -39px  !important;
    }
    
    /* __________________________ 'Left-sidebar' + 'tree-tabs' styles __________________________ */
    
    @media -moz-pref("firefoxgx.tree-tabs"), -moz-pref("sidebar.verticalTabs") {

        /* New 'left-sidebar' height  */
        #PersonalToolbar {
            padding-block: 10px 4px !important;
            height: calc(100vh - var(--toolbar-height-personal) - var(--menubar-height-personal, 0px));
            max-height: calc(100vh - var(--toolbar-height-personal) - var(--menubar-height-personal, 0px)) !important; 
        }
    }
}

/* __________________ Simulate continuous line when using 'Left-sidebar' or 'Sidebar-revamp' on left side __________________
   ------------------------------------------------------------------------------------------------------------------------- */

@media -moz-pref("firefoxgx.left-sidebar"), -moz-pref("sidebar.revamp") and -moz-pref("sidebar.position_start") {
    
    :root {
        --space-before-gradient-line: calc(var(--windowed-top-padding, 0px) + var(--menubar-height-personal,0px) + var(--tab-height-personal)) !important;
    }

    #navigator-toolbox::before {
        content:"";
        position: absolute;
        bottom: 0px;
        width: var(--my-elements-left-margin, 0px);
        height: calc(1px + var(--windowed-top-padding, 0px) + var(--menubar-height-personal, 0px) + 
            var(--tab-height-personal) + var(--toolbar-height-personal) + var(--bookmarksbar-height-personal, 0px));
        border-inline-end: var(--my-border-inline-end);
        border-image: linear-gradient(to bottom, transparent var(--space-before-gradient-line), 
            var(--general-color) var(--space-before-gradient-line)) 1;
        z-index: 3; /* Tested it when using 'left-sidebar' + 'Vertical-tabs' on right */
    }
}

@media -moz-pref("firefoxgx.left-sidebar") and -moz-pref("browser.toolbars.bookmarks.visibility", 'always') {
    :root {
        & #navigator-toolbox::before {
            --my-border-inline-end: 1px solid var(--general-color) !important;
            --bookmarksbar-height-personal: 0px !important;
        }
    }    
}

@media -moz-pref("sidebar.revamp") {
    
    /* Create continuous line just when sidebar is not hidden */
    :root:not([customizing]):not(:has(#sidebar-main[hidden="true"],sidebar-main[hidden])) {
        --my-border-inline-end: 1px solid var(--general-color) !important;
    }
    
    /* Left-sidebar on but hidden + sidebar-revamp showed */
    @media -moz-pref("firefoxgx.left-sidebar") and -moz-pref("browser.toolbars.bookmarks.visibility", 'never') {
        :root:not([customizing]):not(:has(#sidebar-main[hidden="true"],sidebar-main[hidden])) {
        --my-border-inline-end: none !important;
        }
    }
}

/* __________________________________________________ Variables needed in various scenarios __________________________________________________ */

@media -moz-pref("sidebar.revamp")/*, -moz-pref("firefoxgx.left-sidebar")/**/, -moz-pref("firefoxgx.tree-tabs") {

    :root {
        --my-vertical-elements-width: calc(var(--my-vertical-toolbar-width) - 1px);                         /* With of sidebar elements */
        --my-margin-inline-inner-tab: 4px;                                                                  /* Tab margin inline */
        --my-margin-inline-outer-tab: calc(var(--my-margin-inline-inner-tab) + 1px);                        /* Tab margin inline - group tabs */
        --my-separator-border-style: linear-gradient(to right, transparent 4px, var(--general-color) 4px, 
                                     var(--general-color) calc(100% - 4px), transparent calc(100% - 4px));
        --my-separator-border-style1:linear-gradient(to right, transparent 10px, var(--my-content-border-color) 10px,
                                     var(--my-content-border-color) calc(100% - 10px), transparent calc(100% - 10px)) 1;
    }
}

/* ____________________________________________________________ Sidebars on left ______________________________________________________ */


@media -moz-pref("sidebar.revamp") and -moz-pref("sidebar.position_start") {

    /* Keep padding left of tabs when menubar is always visible */

    :root:not([sizemode="fullscreen"]) #toolbar-menubar[autohide="false"]+#TabsToolbar {
        padding-inline-start: var(--padding-left-tab, var(--my-vertical-toolbar-width)) !important;
    }
}

/* Bookmarks-bar further to the right */

@media not -moz-pref("firefoxgx.left-sidebar") {
    :root:not([customizing]) #PersonalToolbar {
        margin-inline-start: var(--my-elements-left-margin, 0px) !important;
    }
}

/* _____________________________________________________ Firefox Sidebar-revamp ______________________________________________________
   ___________________________________________________________________________________________________________________________________ */

@media -moz-pref("sidebar.revamp") {
    
    /* Delete style when 'sidebar' button change to 'active' */
    
    #sidebar-button {
        --toolbarbutton-active-background: transparent !important;
        
        &[checked] {
            list-style-image: url("chrome://browser/skin/sidebar-collapsed.svg") !important;
        }
        
        &:hover .toolbarbutton-icon {
            background-color: var(--toolbarbutton-hover-personal) !important;
        }
    }
    
    /* Remove margins to get the same size as the 'sidebar' width */
    
    .actions-list {
        overflow: hidden !important;
        & > moz-button {
            /*--button-outer-padding-block: 0px !important;/**/    
            --button-outer-padding-block-start: 0px !important;/**/
            --button-outer-padding-block-end: 0px !important;
            --button-outer-padding-inline: 0px !important;
            --button-outer-padding-inline-start: 0px !important;
            --button-outer-padding-inline-end: 0px !important;
        }
    }
    
    /* Size and Vertical space between icons 
       exception style for sound icons */

    .actions-list {
        & > moz-button {
            --my-min-width: var(--my-vertical-elements-width) !important;
            --button-size-icon: 36px !important;
            --button-background-color-ghost-hover: transparent !important;
            --button-background-color-ghost-active: transparent !important;
            --button-background-color-hover: transparent !important;
            --button-background-color-active: transparent !important;
            --toolbarbutton-active-background: transparent !important;
            --button-icon-fill: var(--general-color) !important;
            --button-icon-stroke: var(--general-color) !important;
            --my-transform-hover: scale(1.2) !important;
            --my-transform-active: scale(0.8) !important;
            --button-border-radius: 0px !important;
        }
    }

    .button-background {
        min-width: var(--my-min-width) !important;
    }

    /* Roundness in Sidebar-box */
    
    :root {
        --border-radius-medium: 4px !important;
    }
    
    /* Tool 'open' */
    
    .button-background[type="icon"] {
        img {
            fill: white !important;
            background-color: var(--button-hover-bgcolor) !important;
            box-shadow: 0 0 0 5px var(--button-hover-bgcolor) !important;
            border-radius: 0.1px !important;
        }

        &:hover img {
            background-color: var(--button-bgcolor) !important;
            box-shadow: 0 0 0 5px var(--button-bgcolor) !important;
        }
    }
    
    /* Zoom effect */

    .button-background {
        & img { transition: transform 200ms ease !important; }
        
        &[type="icon ghost"]:hover > img  {
            transform: var(--my-transform-hover) !important;
        }
        
        &[type="icon ghost"]:active > img  {
            transform: var(--my-transform-active) !important;
        }
    }
    
    /* _______________ Styles of Sidebar content [open] _______________ */
    
    .sidebar-panel, 
    #sidebar {
        border-radius: 0px !important;
    }
    
    /* Borders of sidebar */
    #sidebar {
        border: none !important;
    }
    
    /* Margins of sidebar */
    
    #sidebar-box {
        padding-block-end: 0px !important;
        padding-inline: 0px !important;
    }
    
    /* Search-box outline color on focus */
    
    .search-container input:focus-visible {
        outline: 1px solid var(--general-color) !important;
        border-color: var(--general-color) !important;
    }
    
    /* ___________________ Some extensions icons ____________________
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

    /* Whatsapp Extension */
    moz-button[extensionId="ChatwappInSidebar@Godie"] { --my-custom-image: url("../icons/logo_whatsapp.svg") !important; }

    /* Instagram Extension */
    moz-button[extensionId="SidebarInstaChat@Godie"] { --my-custom-image: url("../icons/logo_instagram.svg") !important; }

    /* Spotify Extension */
    moz-button[extensionId="SidebarSpotyplay@Godie"] { --my-custom-image: url("../icons/logo_spotify.svg") !important; }

    /* Telegram Extension */
    moz-button[extensionId="{14390478-b41b-4e29-8307-8a3c714f7783}"] { --my-custom-image: url("../icons/logo_telegram.svg") !important; }

    /* ublock Extension */
    moz-button[extensionId="uBlock0@raymondhill.net"] { --my-custom-image: url("../icons/logo_ublock.svg") !important; }
    
    /* Discord Extension */
    moz-button[extensionId="{a16c3799-d903-44e3-b044-a032197f5ef8}"] { --my-custom-image: url("../icons/logo_discord.svg") !important; }

    /* Twitter Extension */
    moz-button[extensionId="{3119ae66-3c2f-47e2-b1b1-1c76cb9c4ec1}"] { --my-custom-image: url("../icons/logo_twitter.svg") !important; }
    
    /* Bitwarden extension */
    moz-button[extensionId="{446900e4-71c2-419f-a6a7-df9c091e268b}"] { --my-custom-image: url(../icons/logo_bitwarden.svg) !important; }

    /* Tree-tabs extension */
    moz-button[extensionId="treestyletab@piro.sakura.ne.jp"],
    moz-button[extensionId="tabcenter-reborn@ariasuni"] { --my-custom-image: url(../icons/logo_tree-tabs.svg) !important; }

    /* Set extension image */
    
    .button-background > img{
        content: var(--my-custom-image,none);
    }
    
    /* _____________________________ Autohide 'tools-and-extensions' when Vertical tabs are enable ______________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    
    @media -moz-pref("sidebar.verticalTabs") {
        
        .actions-list {
            padding-inline: 0 !important;
        }

        /* Hide tools except for the last one 'configuration' */
        .actions-list[orientation="vertical"]:not(:hover) moz-button[type="icon ghost"]:not(:last-child),
        .actions-list[orientation="horizontal"]:not(:hover) moz-button[type="icon ghost"]:not(:first-child) {
            opacity: 0 !important;
            transform: translateY(10px) !important;
            visibility: collapse !important;
            transition: opacity 0.2s ease-in-out, visibility 0.2s ease, transform 0.4s ease;
        }

        /* Hide tools except for the last one 'configuration' */
        .actions-list[orientation="vertical"]:is(:hover) moz-button[type="icon ghost"]:not(:last-child),
        .actions-list[orientation="horizontal"]:is(:hover) moz-button[type="icon ghost"]:not(:first-child) {
            opacity: 1 !important;
            transform: translateY(0px) !important;
            visibility: visible !important;
            transition: opacity 0.2s ease-in-out, visibility 0.2s ease, transform 0.4s ease;
        }

        /* Transition for 'configuration' button when other tool is open */

        .wrapper:has(.actions-list[orientation="vertical"] moz-button[type="icon"]) .actions-list:not(:hover) moz-button[type="icon ghost"]:is(:last-child),
        .wrapper:has(.actions-list[orientation="horizontal"] moz-button[type="icon"]) .actions-list:not(:hover) moz-button[type="icon ghost"]:is(:first-child){
            opacity: 0 !important;
            visibility: collapse !important;
            transform: translateY(10px) !important;
            transition: opacity 0.2s ease-in-out, visibility 0.2s ease, transform 0.4s ease;
        }

        .wrapper:has(.actions-list[orientation="vertical"] moz-button[type="icon"]) .actions-list:is(:hover) moz-button[type="icon ghost"]:is(:last-child),
        .wrapper:has(.actions-list[orientation="horizontal"] moz-button[type="icon"]) .actions-list:is(:hover) moz-button[type="icon ghost"]:is(:first-child) {
            opacity: 1 !important;
            visibility: visible !important;
            transform: translateY(0px) !important;
            transition: opacity 0.2s ease-in-out, visibility 0.2s ease, transform 0.4s ease;
        }

        /* Active tool always in the last position */

        moz-button[type="icon"] {
            .actions-list[orientation="vertical"] & {
                order: 1 !important;
            }

            .actions-list[orientation="horizontal"] & {
                order: -1 !important;
            }
        }

        /*__________________ 'Tools and extensions' when sidebar is expanded */

        .actions-list[orientation="horizontal"] {
            padding-block-end: 0px !important;
            gap: 0px !important; /* important - Remove unwanted margin, 5+ icons*/
        }
        
        sidebar-main {
            --my-flex-direction: column;
            --my-button-outer-padding-block-end: 0px;
        }
        sidebar-main[expanded] {
            --my-flex-direction: row-reverse;
            --my-button-outer-padding-block-end: 2px;
        }

        .button-background.labelled > label {
            display: none !important;
        }

        /* Makes the vertical tools display horizontal when sidebar is 'expanded' */

        .actions-list[orientation="vertical"] {
            /* Makes icons show horizonal */
            flex-direction: var(--my-flex-direction) !important;
            flex-wrap: wrap;
            justify-content: flex-end !important;

            & > moz-button:not(.tools-overflow) {
                /* Makes icons show horizonal */
                width: unset !important;
                --my-padding-inline: calc((var(--button-size-icon) - var(--icon-size-default)) / 2 - var(--border-width) + 3px);
                --button-outer-padding-block-start: 0px !important;
                --button-outer-padding-block-end: var(--my-button-outer-padding-block-end) !important;
            }
        }

        .expanded-button.tools-overflow {
            --my-padding-inline: calc(var(--my-vertical-elements-width)/2 - 8px);
        }
        
        button > .button-background {
            padding-inline: var(--my-padding-inline, 0px) !important;
            border-inline-width: 0px !important; /* important - Remove unwanted margin, 5- icons */
        }

        /* Transition delay when sidebar has 'Expand-on-hover' feature */

        @media -moz-pref("firefoxgx.verticalTabs-expandOnHover") {

            .actions-list moz-button[type="icon ghost"] {
                transition-delay: var(--uc-tabs-hide-animation-duration) !important;
            }
        }
    }
}

/* _________________________________________________ Sidebar-revamp or Vertical-tabs _________________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@media -moz-pref("sidebar.revamp") {

    #sidebar-main {
        margin-block-start: -1px !important; /* to align separator with content border */
        border-block-start: 1px solid transparent !important;
        border-inline-end: 1px solid var(--my-content-border-color) !important;
        border-image: linear-gradient(calc(99deg * var(--rtl-variable, 1)),
            transparent calc(var(--my-vertical-toolbar-width) - 1px),
            var(--general-color) calc(var(--my-vertical-toolbar-width) - 1px) 70%, transparent) 1 !important;
        
        &[sidebar-launcher-expanded] {
            border-inline-end: 1px solid var(--my-content-border-color) !important;
        }
        
        /* 'Sidebar-revamp' + 'Left-sidebar' */
        @media -moz-pref("firefoxgx.left-sidebar") {
            margin-block-start: 0px !important;
            border-image: none !important;
            background-color: var(--toolbar-bgcolor) !important;
            border-inline-end-color: transparent !important;
            /*box-shadow: 0 -1px var(--my-content-border-color) !important;/**/
        }

        /* On right */
        
        &[sidebar-positionend] {
            background-color: var(--toolbar-bgcolor) !important;
            margin-block-start: 0px !important;
            border-block-start: none !important;
            border-inline-end: none !important;
            border-inline-start: 1px solid transparent !important;
            border-image: none !important;
        }
    }
    
    /* Sidebar-revamp on right - Border When using default 'expand-on-hover' */
    :root[sidebar-expand-on-hover] {
        #sidebar-main[sidebar-positionend][sidebar-launcher-expanded] {
            border-inline-start: 1px solid var(--my-content-border-color) !important;
        }
    }
}

/* Separator below hamburger button */

@media not -moz-pref("firefoxgx.left-sidebar") {

    @media -moz-pref("sidebar.verticalTabs") {
        :root:not([customizing]) {
            & #navigator-toolbox::after {
                content: ''; position: absolute !important;
                bottom: 0px !important;
                width: var(--my-elements-left-margin, 0px) !important;
                z-index: 4 !important; /* works when using default 'expand-on-hover' */
                pointer-events: none !important;
                border-block-end: 1px solid var(--my-content-border-color) !important;
                border-image: linear-gradient(to right, 
                    transparent 10px, var(--my-content-border-color) 10px, 
                    var(--my-content-border-color) calc(100% - 10px), transparent calc(100% - 10px)) 1 !important;
            }
        }
    }
}

/* __________________________________________________________________________________________________________________________________
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯> Firefox Vertical Tabs <¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ 
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯  °°°°°°°°°°°°°°°°°°°°°  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@media -moz-pref("sidebar.verticalTabs") {

    /* Remove unwanted space between tabs tabs */

    #tabbrowser-tabs[orient="vertical"] {
        --tab-height-with-margin-padding: var(--tab-min-height) !important;                     /* Remove unwanted tab extra height for pinned tabs */
        & :is(#vertical-pinned-tabs-container, #pinned-tabs-container) .tabbrowser-tab {        /* Pinned tabs - added nightly change */
            padding-block: 0px !important;
        }

        & .tabbrowser-tab/*:not(:nth-child(1 of :not([hidden], [pinned])))/**/ {      /* Normal tabs */
            padding-block: 1px !important;
        }
    }

    /* Fix separator below hamburger button when using default 'expand-on-hover' */

    :root:not([customizing]) {
        & #navigator-toolbox::before,
        & #navigator-toolbox::after{
            z-index: 5 !important;
        }
    }

    /* overwrite code from ogx_tabs-bar.css */

    /* New selected tab shape */
    .tabbrowser-tab,
    tab-group .tabbrowser-tab {
        --my-tab-background-clip: polygon(6px 0, calc(100% - 6px) 0, 100% 6px, 100% calc(100% - 6px), calc(100% - 6px) 100%, 6px 100%, 0 calc(100% - 6px), 0 6px);
        --my-tab-stack-clip: polygon(4px 0, calc(100% - 4px) 0, 100% 4px, 100% calc(100% - 4px), calc(100% - 4px) 100%, 4px 100%, 0 calc(100% - 4px), 0 4px);
    }
    
    /* Remove clip-path because a bug with group-tabs */
    
    tab-group .tab-background {
        clip-path: none !important;
        border-radius: 7px !important;
    }
    
    /* Add bottom border to complete the tab shape */
    .tab-background {
        border-block-end: 1px solid transparent !important;
    }
    
    /* Align tab-background image */

    .tabbrowser-tab:is([visuallyselected],[multiselected]) .tab-background {
        background-position: top left !important;
        background-repeat: no-repeat !important;
        background-size: auto 100vh !important;
   }
    
    /* _________________________ Pinned tabs ________________________
    ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

    /* Remove unwanted pinned tabs background */

    #vertical-pinned-tabs-container, #pinned-tabs-container {   /* Added nightly change */
        & .tab-background {
            .tabbrowser-tab:not(:hover) > .tab-stack > &:not([selected], [multiselected]) {
                background-color: transparent !important;
            }
        }
    }

    /* Keep the same pinned tab width when sidebar is expanded */

    @media not -moz-pref("sidebar.visibility", "expand-on-hover") { 
        #tabbrowser-tabs[orient="vertical"][expanded] {
            & .tabbrowser-tab[pinned] {
                width: var(--my-vertical-elements-width) !important;
            }
        }
    }

    slot[part="items-wrapper"] {
        padding-inline: 0px !important;
        grid-template-columns: repeat( auto-fit, minmax(var(--my-vertical-elements-width), auto)) !important;
    }

    /* Width and margins of tabs */

    #tabbrowser-tabs[orient="vertical"] {
        
        --tab-collapsed-width: var(--my-vertical-elements-width) !important;    /* For pinned tabs */
        /*width: var(--my-vertical-elements-width) !important;                    /* For normal tabs */
        
        .tab-background {
            margin-inline: var(--my-margin-inline-inner-tab) !important;
        }
        
        tab-group .tab-background {
            margin-inline: var(--my-margin-inline-outer-tab) !important;
        }
        
        /* Less space below group label */
        .tab-group-label-container {
            padding-block-end: var(--space-xxsmall) !important;
        }
        
        /* Collapsed */
        &:not([expanded]) {
            
            & .tabbrowser-tab[visuallyselected] > .tab-stack::before {
                width: calc(var(--my-vertical-elements-width) - 8px) !important; /* fix for expand-on-hover */
                margin-inline: var(--my-margin-inline-inner-tab) !important;
            }

            & tab-group .tabbrowser-tab[visuallyselected] > .tab-stack::before {
                width: calc(var(--my-vertical-elements-width) - 10px) !important; /* fix for expand-on-hover */
                margin-inline: var(--my-margin-inline-outer-tab) !important;
            }
            
            & tab-group .tab-background {
                --tab-collapsed-background-width: calc(var(--my-vertical-elements-width) - var(--my-margin-inline-outer-tab)*2) !important;
            }
        }
        
        /* Expanded */
        &:is([expanded]) {
            
            & .tabbrowser-tab[visuallyselected] > .tab-stack::before {
                margin-inline: var(--my-margin-inline-inner-tab) !important;
            }
            
            & tab-group .tabbrowser-tab[visuallyselected] > .tab-stack::before {
                margin-inline: var(--my-margin-inline-outer-tab) !important;
            }
            
            /* Remove unwanted margin of group tabs when expanded */
            & tab-group > :is(.tabbrowser-tab), &[movingtab][movingtab-addToGroup]:not([movingtab-createGroup], [movingtab-ungroup]) .tabbrowser-tab:is(:active, [multiselected]) {
                margin-inline-start: 0px !important;
                padding-inline-start: 0px !important;
            }
        }
    }

    /* ______________________________ fix glich when using default 'expand-on-hover' ______________________________
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

    :root[sidebar-expand-on-hover] {
        
        #tabbrowser-tabs[orient="vertical"] {
            width: var(--my-vertical-elements-width) !important;                    /* when using grid of pinned-tabs */
        }

        /* Fix bug 'web content move when expand and collapse' */
        & #tabbrowser-tabbox,
        & #sidebar-box {
            --sidebar-launcher-collapsed-width: var(--my-vertical-toolbar-width) !important;
        }

        /* New image cause isn't posible to put an align image */

        & #sidebar-main,
        & #navigator-toolbox::before {
            background-image: var(--lwt-header-image, none), var(--lwt-additional-images,none),
                linear-gradient(var(--lwt-accent-color, Field), var(--lwt-accent-color, Field)) !important;
            background-position: left top !important;
            background-repeat: no-repeat !important;
            background-size: auto 100vh !important;
            background-attachment: fixed !important;
        }
        
        & #sidebar-main,
        & #navigator-toolbox::before {
            background-image: var(--lwt-header-image, none), var(--lwt-additional-images,none),
                linear-gradient(var(--lwt-accent-color, Field), var(--lwt-accent-color, Field)) !important;
            background-position: left top !important;
            background-repeat: no-repeat !important;
            background-size: auto 100vh !important;
            background-attachment: fixed !important;
        }
        
        & #sidebar-main {
            @media -moz-pref("firefoxgx.left-sidebar") {
                background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                    var(--lwt-header-image, none), var(--lwt-additional-images,none),
                linear-gradient(var(--lwt-accent-color, Field), var(--lwt-accent-color, Field)) !important;
            }
        }
        
        & #navigator-toolbox::before {
            @media -moz-pref("firefoxgx.left-sidebar") {
                background-image: none !important;
            }
        }
        
        & #sidebar-main:dir(rtl),
        & #navigator-toolbox:dir(rtl)::before {
            background-position: right top !important;
        }
        
        /* Background image align when sidebar is on right */
        
        & #sidebar-main[sidebar-positionend] {
            background-position: right top !important;
            background-origin: border-box !important;
        }
        
        /* Remove style when using 'Left-sidebar' + 'Vertical-tabs' on right */
        
        @media (not -moz-pref("sidebar.position_start")) and -moz-pref("firefoxgx.left-sidebar") and -moz-pref("browser.toolbars.bookmarks.visibility", 'always') {
            #navigator-toolbox::before {
                background-image: none !important;
            }
        }
    }

    /* _____________________ Various separators _____________________
    ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

    /* Margin top of all tabs */

    #vertical-tabs>#tabbrowser-tabs {
        margin-block-start: 6px !important;/**/
    }

    /* Spliter for pinned tabs */

    #vertical-pinned-tabs-splitter {
        --tab-inner-inline-margin: 0px !important;
        border-image: var(--my-separator-border-style1) !important;

        &:hover {
            --tabstrip-inner-border: var(--general-color) !important;
        }
    }

    /* Separator bottom when tabs scroll appears */
    
    #tabbrowser-tabs[orient="vertical"] {
        &[overflow]::after {
            margin-inline: 0px !important;
            border-image: var(--my-separator-border-style1) !important;
        }
    }

    /* Tabs top separador - 'sidebar-main' on right */
    
    #sidebar-main[sidebar-positionend] {
        /*margin-block-start: -1px !important; /* makes the separator align with web content border, but an unwanted line appears */
        &::before {
            position: absolute; content: '';
            width: -moz-available !important;
            border-block-start: 1px solid var(--my-content-border-color);
            border-image: var(--my-separator-border-style1) !important;
        }
    }
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ Borders around sidebars and web content ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ 
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@media -moz-pref("sidebar.revamp") {
    
    /* web content */
    #tabbrowser-tabbox {
        outline-color: transparent !important;
        box-shadow: none !important;
        border-radius: 0px !important;
    }
    
    /* Sidebar[open] - Important- remove unwanted styles */
    #sidebar {
        outline-color: transparent !important;
        box-shadow: none !important;
    }
    
    #sidebar-box {
        box-shadow: 0 -1px var(--my-content-border-color) !important;
        
        /* Sidebar content 'open' + web content */
        &[checked="true"] ~ #tabbrowser-tabbox {
            box-shadow: 0 0 0 1px var(--my-content-border-color) !important;
        }
        
        /* Sidebar content 'open' on right */
        &[checked="true"][sidebar-positionend] {
            box-shadow: calc(1px * var(--rtl-variable, 1)) -1px 0 0 var(--my-content-border-color) !important;
        }
        
        /* Sidebar content 'open' on right + web content */
        &[checked="true"][sidebar-positionend] ~ #tabbrowser-tabbox {
            box-shadow: 0 0 0 1px var(--my-content-border-color) !important;
        }
    }
    
    /* When sidebar-revamp is on right */
    
    #sidebar-main[sidebar-positionend] {
        
        /* web content */
        & ~ #tabbrowser-tabbox {
            box-shadow: 0 0 0 1px var(--my-content-border-color) !important;
        }
    }
}

/* _____________ Added missing border when sidebar is on left and with 'left-sidebar' config */


@media -moz-pref("sidebar.revamp") and -moz-pref("firefoxgx.left-sidebar") {
    
    /* sidebar content */
    #sidebar-box {
        box-shadow: calc(-1px * var(--rtl-variable, 1)) -1px var(--my-content-border-color) !important;
    }
    
    @media not -moz-pref("firefoxgx.oneline") {
        #tabbrowser-tabbox {
            box-shadow: 0 0 0 1px var(--my-content-border-color) !important;
        }
    }
    
    @media -moz-pref("firefoxgx.oneline") {
        #tabbrowser-tabbox {
            box-shadow: calc(-1px * var(--rtl-variable, 1)) 0 0 0 var(--my-content-border-color) !important;
        }
    }
}

@media -moz-pref("firefoxgx.tree-tabs") and -moz-pref("firefoxgx.verticalTabs-expandOnHover") {
    #sidebar-box:is(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"]) {
        /*box-shadow: 0 -1px var(--my-content-border-color) !important;/**/
        
        /* Sidebar content 'open' + web content 
        &[checked="true"] ~ #tabbrowser-tabbox {
            box-shadow: none !important;
        }/**/
}