/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text.
   https://github.com/Godiesc/firefox-gx */

@-moz-document url(about:newtab), url(about:home), url(about:privatebrowsing) {
    
    body {
        /*--newtab-search-icon: url(chrome://global/skin/icons/search-glass.svg) !important;            /* Image in the newtab searchbox */
        --newtab-background-color-secondary: var(--newtab-pinnedsites-background) !important;           /* Background color of search box, recent activity, news */
        --newtab-background-card: var(--newtab-pinnedsites-background) !important;                      /* Background color of pinned sites */
        --newtab-element-hover-color: var(--button-active-bgcolor) !important;                          /* Background color when clicking on the 3 dot menu icon */

        --newtab-element-secondary-color: color-mix(in srgb, Field 90%, FieldText ) !important;         /* background of buttons */      
        --newtab-element-secondary-hover-color: var(--button-hover-bgcolor) !important;                 /* Background 'hover' on buttons */
        --newtab-element-secondary-active-color: var(--button-bgcolor) !important;                      /* Background 'active' on buttons */

        --newtab-border-color: color-mix(in srgb, Field 86%, var(--newtab-wordmark-color)) !important;  /* 3-point menu and input-box border color when editing a site*/


        --newtab-primary-action-background: var(--button-active-bgcolor) !important;                    /* Colors for 'Save' buttons and radiobuttons */

        --newtab-primary-element-text-color: var(--newtab-text-primary-color) !important;               /* check-box color */
        
        --my-opaque-bgcolor: color-mix(in srgb, var(--contrast-color), transparent);                    /* Opaque background color - personal use */
        --newtab-overlay-color: color-mix(in srgb, Field 30%, var(--my-opaque-bgcolor)) !important;     /* Big background when editing a site, semi-transparent */
        
        --border-radius-medium: 6px !important;                                                         /* Roundness of elements */
        --border-radius-large: 6px !important;                                                          /* Roundness of elements */
    
    }

    @media (prefers-color-scheme: dark){

        body {
            --contrast-color: black;                                                     /* Personal background color for contrast */
            --border-contrast-color: #09080d;                                            /* Personal border color for contrast */
            --arrowpanel-background: #1c1726;                                            /* Background color for 3 dot menu */
            --arrowpanel-border-color: #302b3a;                                          /* border color for 3 dot menu */
        }}

    @media (prefers-color-scheme: light){

        body{
            --contrast-color: white;                                                     /* Personal background color for contrast */
            --border-contrast-color: #acacac50;                                          /* Personal border color for contrast */
            --arrowpanel-background : #f9f9f9;                                           /* Background color for 3 dot menu */
            --arrowpanel-border-color: #302b3a60;                                        /* border color for 3 dot menu */
        }}
    
    /* __________________________________________________________ Wallpapers _________________________________________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    
    @media not -moz-pref("firefoxgx.main-image") {
        
        /* Set default 'photographs' main category preview wallpaper */
        
        #photographs {
            background-image: var(--wallpaper-dark1) !important;
        }
        
        /* Replace 'Photographs' category label */
        
        #photographs ~ label,
        .arrow-button[data-l10n-id="newtab-wallpaper-category-title-photographs"] {
            font-size: 0 !important;

            &::after {
                content: 'Firefox GX';
                font-size: var(--font-size-small);
            }
        }
        
        .arrow-button[data-l10n-id="newtab-wallpaper-category-title-photographs"]::after {
            font-size: var(--font-size-root) !important;
        }
        
        /* Rearrangement of wallpapers + Replace 'Photographs' preview wallpapers with Firefox-GX wallpapers */
        
        #dark-sky {              order: 1 !important;  background-image: var(--wallpaper-dark1) !important;  --general-color: var(--general-color-dark1) !important; }
        #starry-canyon {         order: 2 !important;  background-image: var(--wallpaper-dark2) !important;  --general-color: var(--general-color-dark2) !important; }
        #dark-mountain {         order: 3 !important;  background-image: var(--wallpaper-dark3) !important;  --general-color: var(--general-color-dark3) !important; }
        #dark-panda {            order: 4 !important;  background-image: var(--wallpaper-dark4) !important;  --general-color: var(--general-color-dark4) !important; }
        #dark-fox-anniversary {  order: 5 !important;  background-image: var(--wallpaper-dark5) !important;  --general-color: var(--general-color-dark5) !important; }
        #dark-beach {            order: 6 !important;  background-image: var(--wallpaper-dark6) !important;  --general-color: var(--general-color-dark6) !important; }
        #palm-trees {            order: 7 !important;  background-image: var(--wallpaper-dark7) !important;  --general-color: var(--general-color-dark7) !important; }
        #suspension-bridge {     order: 8 !important;  background-image: var(--wallpaper-dark8) !important;  --general-color: var(--general-color-dark8) !important; }
        #dark-landscape {        order: 9 !important;  background-image: var(--wallpaper-dark9) !important;  --general-color: var(--general-color-dark9) !important; }
        #hot-air-balloons {      order: 10 !important; background-image: var(--wallpaper-light1) !important; --general-color: var(--general-color-light1) !important; }
        #light-panda {           order: 11 !important; background-image: var(--wallpaper-light2) !important; --general-color: var(--general-color-light2) !important; }
        #light-fox-anniversary { order: 12 !important; background-image: var(--wallpaper-light3) !important; --general-color: var(--general-color-light3) !important; }
        #blue-flowers {          order: 13 !important; background-image: var(--wallpaper-light4) !important; --general-color: var(--general-color-light4) !important; }
        #light-landscape {       order: 14 !important; background-image: var(--wallpaper-light5) !important; --general-color: var(--general-color-light5) !important; }
        #sand-dunes {            order: 15 !important; background-image: var(--wallpaper-light6) !important; --general-color: var(--general-color-light6) !important; }
        #light-mountain {        order: 16 !important; background-image: var(--wallpaper-light7) !important; --general-color: var(--general-color-light7) !important; }
        #light-sky {             order: 17 !important; background-image: var(--wallpaper-light8) !important; --general-color: var(--general-color-light8) !important; }
        #light-beach {           order: 18 !important; background-image: var(--wallpaper-light9) !important; --general-color: var(--general-color-light9) !important; }
        
        /* Apply New wallpapers 
           ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
        
        /* Dark 1 - Fuchsia */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'dark-sky') {
            :root { --newtab-text-primary-color: var(--general-color-dark1) !important; }
            body,
            #photographs,
            #dark-sky {
                --newtab-wallpaper: var(--wallpaper-dark1) !important;
                background-image: var(--wallpaper-dark1) !important;
            }
        }
        
        /* Dark 2 - ultraviolet */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'starry-canyon') {
            :root { --newtab-text-primary-color: var(--general-color-dark2) !important; }
            body,#photographs,
            #starry-canyon {
                --newtab-wallpaper: var(--wallpaper-dark2) !important;
                background-image: var(--wallpaper-dark2) !important;
            }
        }
        

        /* Dark 3 - Blue */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'dark-mountain') {
            :root { --newtab-text-primary-color: var(--general-color-dark3) !important; }
            body,
            #photographs,
            #dark-mountain {
                --newtab-wallpaper: var(--wallpaper-dark3) !important;
                background-image: var(--wallpaper-dark3) !important;
            }
        }

        /* Dark 4 - Green */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'dark-panda') {
            :root { --newtab-text-primary-color: var(--general-color-dark4) !important; }
            body,
            #photographs,
            #dark-panda {
                --newtab-wallpaper: var(--wallpaper-dark4) !important;
                background-image: var(--wallpaper-dark4) !important;
            }
        }
        
        /* Dark 5 - Swamp */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'dark-fox-anniversary') {
            :root { --newtab-text-primary-color: var(--general-color-dark5) !important; }
            body,
            #photographs,
            #dark-fox-anniversary {
                --newtab-wallpaper: var(--wallpaper-dark5) !important;
                background-image: var(--wallpaper-dark5) !important;
            }
        }

        /* Dark 6 - Cheaterman */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'dark-beach') {
            :root { --newtab-text-primary-color: var(--general-color-dark6) !important; }
            body,
            #photographs,
            #dark-beach {
                --newtab-wallpaper: var(--wallpaper-dark6) !important;
                background-image: var(--wallpaper-dark6) !important;
            }
        }
        
        /* Dark 7 - Gray */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'palm-trees') {
            :root { --newtab-text-primary-color: var(--general-color-dark7) !important; }
            body,
            #photographs,
            #palm-trees {
                --newtab-wallpaper: var(--wallpaper-dark7) !important;
                background-image: var(--wallpaper-dark7) !important;
            }
        }
        
        /* Dark 8 - Orange */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'suspension-bridge') {
            :root { --newtab-text-primary-color: var(--general-color-dark8) !important; }
            body,
            #photographs,
            #suspension-bridge {
                --newtab-wallpaper: var(--wallpaper-dark8) !important;
                background-image: var(--wallpaper-dark8) !important;
            }
        }
        
        /* Dark 8 - Catppuccino */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'dark-landscape') {
            :root { --newtab-text-primary-color: var(--general-color-dark9) !important; }
            body,
            #photographs,
            #dark-landscape {
                --newtab-wallpaper: var(--wallpaper-dark9) !important;
                background-image: var(--wallpaper-dark9) !important;
            }
        }
        
        /* Light 1 - Fuchsia */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'hot-air-balloons') {
            :root { --newtab-text-primary-color: var(--general-color-light1) !important; }
            body,
            #photographs,
            #hot-air-balloons {
                --newtab-wallpaper: var(--wallpaper-light1) !important;
                background-image: var(--wallpaper-light1) !important;
            }
        }
        
        /* Light 2 - Ultraviolet */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'light-panda') {
            :root { --newtab-text-primary-color: var(--general-color-light2) !important; }
            body,
            #photographs,
            #light-panda {
                --newtab-wallpaper: var(--wallpaper-light2) !important;
                background-image: var(--wallpaper-light2) !important;
            }
        }

        /* Light 3 - BLue */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'light-fox-anniversary') {
            :root { --newtab-text-primary-color: var(--general-color-light3) !important; }
            body,
            #photographs,
            #light-fox-anniversary {
                --newtab-wallpaper: var(--wallpaper-light3) !important;
                background-image: var(--wallpaper-light3) !important;
            }
        }

        /* Light 4 - Rose */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'blue-flowers') {
            :root { --newtab-text-primary-color: var(--general-color-light4) !important; }
            body,
            #photographs,
            #blue-flowers {
                --newtab-wallpaper: var(--wallpaper-light4) !important;
                background-image: var(--wallpaper-light4) !important;
            }
        }

        /* Light 5 - Lightgreen */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'light-landscape') {
            :root { --newtab-text-primary-color: var(--general-color-light5) !important; }
            body,
            #photographs,
            #light-landscape {
                --newtab-wallpaper: var(--wallpaper-light5) !important;
                background-image: var(--wallpaper-light5) !important;
            }
        }
        
        /* Light 6 - Orange */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'sand-dunes') {
            :root { --newtab-text-primary-color: var(--general-color-light6) !important; }
            body,
            #photographs,
            #sand-dunes {
                --newtab-wallpaper: var(--wallpaper-light6) !important;
                background-image: var(--wallpaper-light6) !important;
            }
        }
        
        /* Light 7 - Orange */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'light-mountain') {
            :root { --newtab-text-primary-color: var(--general-color-light7) !important; }
            body,
            #photographs,
            #light-mountain {
                --newtab-wallpaper: var(--wallpaper-light7) !important;
                background-image: var(--wallpaper-light7) !important;
            }
        }
        
        /* Light 8 - Orange */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'light-sky') {
            :root { --newtab-text-primary-color: var(--general-color-light8) !important; }
            body,
            #photographs,
            #light-sky {
                --newtab-wallpaper: var(--wallpaper-light8) !important;
                background-image: var(--wallpaper-light8) !important;
            }
        }
        
        /* Light 9 - Orange */
        @media -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'light-beach') {
            :root { --newtab-text-primary-color: var(--general-color-light9) !important; }
            body,
            #photographs,
            #light-beach {
                --newtab-wallpaper: var(--wallpaper-light9) !important;
                background-image: var(--wallpaper-light9) !important;
            }
        }
    }
    
    /* Accent color indicator over each wallpaper */
    
    .wallpaper-input[aria-checked]::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background-color: var(--general-color);
        border-radius: 50%;
        margin-block: 5px;
        margin-inline: 5px;
        outline: 1px solid #80808080;
        outline-offset: 1px;
    }
    
    /* Border color when 'hover' over wallpapers */

    .wallpaper-list .wallpaper-input:not(:checked):hover {
        outline: 2px solid var(--general-color) !important;
        box-shadow: inset 0 0 0 1px var(--contrast-color) !important;
    }
    
    /* Border color when 'hover' over selected wallpaper */

    .wallpaper-list .wallpaper-input {
        padding: 1px !important;
        box-shadow: inset 0 0 1px 0 var(--border-color) !important;
        
        &:checked {
            filter: none !important;
            box-shadow: inset 0 0 0 2px var(--color-accent-primary) !important;

            &:hover {
                outline-color: var(--general-color) !important;
            }
        }
    }
    
    /* Remove credits from the image used as wallpaper */

    .wallpaper-attribution { display: none !important; }
    
    /* Wallpaper default brightness */

    body::before {
        position: fixed;
        content: "";
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: color-mix(in srgb, var(--newtab-background-color), transparent var(--brightness-wallpaper));
        pointer-events: none;
    }
    
    /* _______________________________________________________ Logo & Wordmark _______________________________________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

    .logo{
        background: url("../icons/foxlogonewtab.svg") no-repeat center !important;
        background-size: 100% 100% !important;
        -moz-context-properties: fill !important;
        fill: var(--newtab-text-primary-color) !important;
    }

    .wordmark {
        fill: var(--newtab-text-primary-color) !important;
    }

    @media (height < 700px) {
        body:not(.inline-onboarding) .fixed-search .search-wrapper .logo-and-wordmark {
            Opacity: var(--logo-wordmark-visibility) !important;
            display: var(--logo-wordmark-display) !important;
            margin-bottom: 10px !important;
        }
    }

    .promo-cta .button {
        color: #cacaca !important; 
    }

    main {
        justify-content: var(--newtab-pinnedsites-position-top, center) !important;
    }

    /* 'Wordmark,logo' and 'search box' side by side */

    @media screen and (min-width: 1000px){

        .logo-and-wordmark { 
            margin-inline: 30px !important;  
        }

        .search-wrapper {
            display: var(--orientation-display) !important;
        }

        .search-inner-wrapper{
            height: 52px !important;
            margin-top: 0px !important;
        }
    }
    
    /* ______________________________________________________ Various Changes ________________________________________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    
    /* Remove scrollbar 

    *{scrollbar-width: none !important }*/

    /* Colors when editing a pinned site or When deleting a pinned site */

    .modal {
        --newtab-border-color: var(--arrowpanel-border-color) !important;
        border: 1px solid transparent !important;
        background: var(--newtab-overlay-color) !important;
        outline: 1px solid var(--contrast-color) !important;
        border-image: var(--panel-separator-zap-gradient2) 1 !important;
        backdrop-filter: var(--personal-blur) !important;
    }

    .modalOverlayOuter, .modal-overlay {
        backdrop-filter: blur(40px); 
    }

    .topsite-form .actions {
        border-image: var(--panel-separator-zap-gradient2) 1 !important;
    }

    input[type="text"], input[type="search"] {
        border-color: var(--border-color) !important;
    }

    input:focus-visible {
        outline: 2px solid var(--general-color) !important;
        outline-offset: -1px !important;
        border-color: var(--general-color) !important;
    }

    /* Styles for the 'Save' button */

    .actions button:not(.cancel), .actions button:focus:not(.cancel) {
        color: var(--newtab-wordmark-color) !important;
        border-color: transparent !important;
    }

    .actions button:hover:not(.dismiss) {
        background-color: var(--button-hover-bgcolor) !important;
        color: var(--newtab-wordmark-color) !important; 
        box-shadow:none !important; 
    }

    /* Styles for the 'Cancel' button */

    .actions button:is(.cancel, [data-l10n-id="newtab-topsites-cancel-button"]){
        background-color: var(--newtab-element-secondary-color) !important; 
        border-color: transparent !important;

        &:hover {
            background-color: #da3633aa !important;
        }
    }

    /* 'Customize' button */
    
    .personalize-button {
        background-color: var(--newtab-pinnedsites-background) !important;
        box-shadow: 0 0 0 1px #50505050, 0 0.25px 0.75px var(--box-shadow-color-lighter-layer-1), 0 2px 6px var(--box-shadow-color-lighter-layer-2) !important;
        
        img {
            content: url("../icons/edit.svg") !important;
        }
        
        &:hover,
        &:focus {
            background-color: var(--newtab-element-secondary-hover-color) !important;
            backdrop-filter: var(--personal-blur) !important;
            box-shadow: 0 0 0 1px var(--button-hover-bgcolor), 0 0.25px 0.75px var(--box-shadow-color-lighter-layer-1), 0 2px 6px var(--box-shadow-color-lighter-layer-2) !important;
        }
    }
    
    /* Keep personalize button collapse after close customize menu (slider) */
    .personalize-button.personalize-animate-enter.personalize-animate-enter-active {
        display: none !important;
    }

    /* Colors of the 'Close' button */
    
    .close-button-wrapper {
        --newtab-background-color-secondary: transparent !important;
        position: static !important; /* Make close button scroll up */
    }
    
    /* Weather */
    
    .weatherInfoLink, .weatherButtonContextMenuWrapper {
        background-color: light-dark(var(--newtab-pinnedsites-background), var(--newtab-pinnedsites-background)) !important;
        background-image: linear-gradient(0deg, color-mix(in srgb, var(--general-color)4%, var(--newtab-pinnedsites-background)) , rgba(0,255,0,0) 64.71%),
                linear-gradient(190deg, var(--newtab-pinnedsites-background), var(--newtab-pinnedsites-background) 99.71%) !important;
    }
    
    .weatherCard {
        backdrop-filter: var(--personal-blur) !important;
        box-shadow: inset 0 0 0 1px #50505040, 0 0.25px 0.75px var(--box-shadow-color-lighter-layer-1), 0 2px 6px var(--box-shadow-color-lighter-layer-2) !important;
    }
    
    .weatherCard :is(.weatherInfoLink, .weatherButtonContextMenuWrapper) {
        outline: 2px solid transparent !important;
        outline-offset: -2px !important;
        transition: outline 0.1s ease !important;
        
        &:hover {
            backdrop-filter: var(--personal-blur) !important;
            outline-color: var(--button-active-bgcolor) !important;
        }
    }
    
    .weatherButtonContextMenuWrapper::after {
        --newtab-button-static-background: #50505040 !important;
    }
    
    .weatherSponsorText { display: none !important; }
    
    /* _________________________________ Colors of the sliding sidebar used to customize the NewTab __________________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    
    /* Shadow 
    
    .customize-menu.customize-animate-enter-done, .customize-menu.customize-animate-enter-active,
    .customize-menu.customize-animate-exit, .customize-menu.customize-animate-exit-done {
        box-shadow: -1px 0 #50505050, 0px 0px 20px rgb(1 1 1 / 16%), 0px 0px 10px rgb(0 0 0 / 93%) !important;
        transition-duration: 200ms !important;
    }*/
    
    .customize-menu-animate-wrapper.customize-animate-enter-done, .customize-menu-animate-wrapper.customize-animate-enter-active {
        box-shadow: -1px 0 #50505050, 0px 0px 20px rgb(1 1 1 / 16%), 0px 0px 10px rgb(0 0 0 / 93%) !important;
        transition-duration: 200ms !important;
    }
    
    /* Background */
    
    .customize-menu {
        background-color: color-mix(in srgb, var(--my-opaque-bgcolor), Field) !important;
        backdrop-filter: var(--personal-blur);
    }
    
    /* Combobox */
    
    .home-section .section .selector {
        background-color: var(--newtab-element-secondary-color) !important;
        border-radius: 4px !important;
        box-shadow: none !important;
        
        &:hover {
            background-color: var(--button-bgcolor) !important;
            border-color: var(--button-bgcolor) !important;
        }
        
        &:focus {
            background-color: var(--button-hover-bgcolor) !important;
            border-color: var(--button-bgcolor) !important;
        }
    }
    
    /* Checkbox color for 'sponsored sites' */

    .sponsored-checkbox:is(:checked):hover, .sponsored-checkbox:not(:checked):hover{ 
        background-color: var(--button-hover-bgcolor) !important;
    }

    /* Radiobutton color into "Customize" */

    .toggle-button[aria-pressed="true"] {
        background: var(--button-active-bgcolor) !important;
    }
    
    .toggle-button[aria-pressed="false"] {
        opacity: 0.7 !important;
    }

    .toggle-button[aria-pressed="true"]:enabled:hover {
        background: var(--button-hover-bgcolor) !important;
    }

    .toggle-button:enabled:hover {
        opacity: 1 !important;
    }
    
    /* Separador*/
    
    .home-section .divider { 
        border-image: var(--panel-separator-zap-gradient2) 1 !important;
    }
    
    /* Background blur when open a wallpaper category */
    
    .wallpaper-list.category {
        --newtab-background-color-secondary: transparent !important;
    }
    
    .customize-menu:has(.category.wallpaper-list) {
        & .wallpapers-section ~ *,
        & .wallpapers-section .category-header,
        & .wallpapers-section .category-list,
        & .close-button-wrapper {
            opacity: 0  !important;
            transition: opacity 0.2s ease;
        }
    }

    .customize-menu:not(:has(.category.wallpaper-list)) {
        & .wallpapers-section ~ *,
        & .wallpapers-section .category-header,
        & .wallpapers-section .category-list,
        & .close-button-wrapper{
            opacity: 1 !important;
            transition: opacity 0.3s ease;
        }
    }
    
    /* __________________________________________________________ Search box _________________________________________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

    /* Remove arrow */
    .search-wrapper .search-button { display: none !important; }

    /* General background */
    
    .has-recommended-stories .outer-wrapper:not(.fixed-search) .search-wrapper {
        margin-block-start: var(--space-small) !important;
    }

    .search-wrapper {
        --newtab-background-color-secondary: transparent !important;
        border-radius: 0px !important;
        outline-color: transparent !important;
        box-shadow: none !important;
    }

    .search-inner-wrapper {
        box-shadow: inset 0 -2px var(--button-bgcolor) !important;
    }
    
    /* Remove unwanted borders */
    
    .search-handoff-button { 
        box-shadow: none !important;
        border-radius: 0px !important;
        border-inline-color: transparent !important;
        border-block-start-color: transparent !important;
        border-block-end-width: 2px !important;
        --content-search-handoff-ui-fakefocus-border-color: var(--general-color) !important;
    }
        
    /* Logo and Search when it get sticky position */
    
    @media (height > 700px) {
        body:not(.inline-onboarding) .fixed-search .search-wrapper {
            --my-image-background-blur: color-mix(in srgb, var(--contrast-color), transparent) !important;
            --my-solid-background-blur: color-mix(in srgb, var(--newtab-background-color), transparent) !important;
            background-image: linear-gradient(
                var(--my-image-background-blur), var(--my-image-background-blur)),
                var(--newtab-wallpaper, none),
                linear-gradient(var(--my-solid-background-blur, transparent), var(--my-solid-background-blur, transparent))!important;
            background-size: cover;
            /*background-position: center;/**/
            background-attachment: fixed;
            backdrop-filter: var(--personal-blur) !important;
            border-color: Field !important;
            box-shadow: 0 2px 6px 0 black !important;
        }
    }
    
    /* _____________________________________________________ Pinned sites ________________________________________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    
    .top-sites-list {
         margin-block: 40px !important;
        
        /* Pinned Site Colors (Small Background) */
        .top-site-outer .tile {
            border-radius: var(--border-radius-medium) !important;
            width: 100px !important;
            height: 100px !important;
            align-items: start !important;
            padding-block-start: 12px !important;
            margin-inline: 0px !important;
            box-shadow: 0 0 0 1px #50505050, 0 0.25px 0.75px var(--box-shadow-color-lighter-layer-1), 0 2px 6px var(--box-shadow-color-lighter-layer-2) !important;
            outline-color: transparent !important; /* Used for smooth transition */
            background-image: linear-gradient(0deg, color-mix(in srgb, var(--general-color)4%, var(--newtab-pinnedsites-background)) , rgba(0,255,0,0) 64.71%),
                linear-gradient(190deg, var(--newtab-pinnedsites-background), var(--newtab-pinnedsites-background) 99.71%) !important;
            backdrop-filter: var(--personal-blur) !important;
            transition: background-image ease 100ms, box-shadow ease 100ms;
            
            & .icon-wrapper {
                --size-item-large: 48px !important;
                width: var(--size-item-large) !important;
                height: var(--size-item-large) !important;
            }
        }
        
        /* Favicon size when their size is smaller */
        & .default-icon {
            background-size: var(--size-item-large) !important;
            width: var(--size-item-large) !important;
            height: var(--size-item-large) !important;
        }

        /* Pin icon removed */
        .top-site-outer .icon.icon-pin-small { 
            display: none !important;
        }
        
        /* Label - pinned site */
        .title {
            padding-block: 0px !important;
        }
        
        .title-label  {
            padding-inline: 8px !important;
            font-size: 14px !important;
            min-height: 1lh !important;
            margin-block-start: -28px !important;
            align-content: center !important;
        }

        /* Title label just in one line */
        
        .top-site-outer .title:not(.sponsored) .title-label {
            -webkit-line-clamp: unset !important;
        }
        
        .top-site-outer span[dir="auto"] {
            text-wrap-mode: nowrap !important;
        }
        
        /* Remove style when on 'hover' over pinned sites (larger background) */

        /* remove unwanted padding of elements */
        .top-site-outer .top-site-inner > a {
            padding: 0 !important;
        }

        /* size and background color */
        .top-site-outer {
            border-radius: 0px !important;
            background-color: transparent !important;
            margin-block-end: 12px !important;
            
            .top-site-icon {
                background-color: transparent !important;
            }
        }

        /* Styes when on 'hover' over 'Pinned sites' and 'Recent Activity' */
        .top-site-outer:hover {
            .tile {
                box-shadow: 0 0 0 2px var(--button-active-bgcolor), 0 0.25px 0.75px var(--box-shadow-color-lighter-layer-1), 0 2px 6px var(--box-shadow-color-lighter-layer-2) !important;
            }
        }
    }
    
    /* ____________________________________________________ Recent Activity ______________________________________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    
    .card-outer .card {
        background-image: linear-gradient(0deg, color-mix(in srgb, var(--general-color)4%, var(--newtab-pinnedsites-background)) , rgba(0,255,0,0) 64.71%),
                linear-gradient(190deg, var(--newtab-pinnedsites-background), var(--newtab-pinnedsites-background) 99.71%) !important;
        backdrop-filter: var(--personal-blur) !important;
        border-radius: var(--border-radius-medium) !important;
        outline-color: transparent !important;
        outline-offset: -1px !important;
        box-shadow: 0 0 0 1px #50505050, 0 0.25px 0.75px var(--box-shadow-color-lighter-layer-1), 0 2px 6px var(--box-shadow-color-lighter-layer-2) !important;
        transition: background ease 100ms, box-shadow ease 100ms;
        
        &:hover {
            box-shadow: 0 0 0 2px var(--button-active-bgcolor), 0 0.25px 0.75px var(--box-shadow-color-lighter-layer-1), 0 2px 6px var(--box-shadow-color-lighter-layer-2) !important;
        }
        
        /* Site preview image roundness */
        & .card-preview-image-outer { 
            border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0 !important;
        }
        
        & .card-title {
            /*text-decoration: transparent underline !important;/**/
            transition: text-decoration ease 100ms !important;
            text-underline-offset: 2px !important;
        }
    }

    /* Underline on 'hover' */
    .card-outer:is(:hover, :focus, :active, :focus-within, .active):not(.placeholder) .card-title {
        --newtab-primary-action-background: var(--newtab-text-primary-color) !important;
        text-decoration: underline !important;
    }
    
    .compact-cards .card-outer .card-context {
        backdrop-filter: var(--personal-blur) !important;
        background-color: color-mix(in srgb, var(--newtab-pinnedsites-background)94%, var(--contrast-color)) !important;
        
        &> .card-context-icon {
            fill: var(--newtab-text-primary-color) !important;
            background-color: var(--newtab-pinnedsites-background) !important;
        }
    }
    
    /* Styles when clicking on a pinned site and moving the mouse away */
    .top-site-outer:is(:focus-within) .tile, 
    .card-outer:is(.active,:focus-within) .card {
        box-shadow: 0 0 0 2px var(--button-active-bgcolor), 0 0.25px 0.75px var(--box-shadow-color-lighter-layer-1), 0 2px 6px var(--box-shadow-color-lighter-layer-2) !important;
    }
    
    /* ______________________________________________________ News Section _______________________________________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    
    .section-context-wrapper {
        margin-inline-end: 4px !important;
    }
    
    .ds-card {
        background-color: var(--newtab-pinnedsites-background) !important;
        background-image: linear-gradient(0deg, color-mix(in srgb, var(--general-color)4%, var(--newtab-pinnedsites-background)) , rgba(0,255,0,0) 64.71%),
                linear-gradient(190deg, var(--newtab-pinnedsites-background), var(--newtab-pinnedsites-background) 99.71%) !important;
        box-shadow: 0 0 0 1px #50505050, 0 0.25px 0.75px var(--box-shadow-color-lighter-layer-1), 0 2px 6px var(--box-shadow-color-lighter-layer-2) !important;
        border-radius: var(--border-radius-medium) !important;
        transition: box-shadow 0.1s ease;
        
        &:hover {
            box-shadow: 0 0 0 2px var(--button-active-bgcolor), 0 0.25px 0.75px var(--box-shadow-color-lighter-layer-1), 0 2px 6px var(--box-shadow-color-lighter-layer-2) !important;
        }
        
        .ds-card-link {
            backdrop-filter: var(--personal-blur) !important;
            clip-path: xywh(0 0 100% 100% round var(--border-radius-medium));
        }
    }
    
    /* _________________________________________________ 3 dot contextual menu ___________________________________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    
    /* 3 dot icon pinned sites */
    
    .top-site-outer .context-menu-button {
        background-image: url("../icons/more.svg") !important;
        background-color: transparent !important;
        border-radius: calc(var(--border-radius-medium) - 1px) !important;
        border-start-start-radius: 0px !important;
        border-end-end-radius: 0px !important;
        inset-block-start: 0px !important;
        inset-inline-end: 10px !important;
        transition: opacity 100ms;
        
        &:hover {
            background-color: var(--button-active-bgcolor) !important;
        }
    }
    
    /* 3 dot icon recent activity */
    
    .card-outer .context-menu-button {
        border-radius: 5px !important;
        inset-inline-end: 1px !important;
        inset-block-start: 1px !important;
        transition-duration: 150ms !important;
        transition-delay: 0ms !important;
        
        &:hover {
            background-color: var(--general-color) !important;
        }
    }
    
    /* 3 dot contextual menu */

    .context-menu {
        background-color: var(--arrowpanel-background) !important; 
        border-radius: 4px !important;
        top: 0px !important;
        box-shadow: 0px 0px 0 1px var(--contrast-color) !important;
        border: 1px solid var(--arrowpanel-border-color) !important;
        

        & .separator {
            margin-inline: 6px !important;
            width: -moz-available !important;
            border-image: var(--panel-separator-zap-gradient2) 1 !important;
        }

        /* 'hover' on items */
        & > ul > li > a:is(:focus, :hover), & > ul > li > button:is(:focus, :hover) {
            background: linear-gradient(to right, var(--button-bgcolor) 49%, transparent) !important;
        }
    }
    
    /* ________________________ Font color when using a light wallpaper ________________________ */

    .lightWallpaper .top-site-outer{
        --contrast-color: white !important;
    }
    
    .darkWallpaper .top-site-outer{
        --contrast-color: black !important;
    }

    /* Recent Activity text shadow */
    .ds-highlights .section .section-list .card-outer .card-host-name,
    .card-outer:not(.placeholder) .card-title {
        text-shadow: 0px 0px 4px var(--contrast-color) !important;
    }
    
    .lightWallpaper :is(
    .card-host-name, .card-outer:not(.placeholder) .card-title, .card-outer .icon,    /* 'Pinned' label */
    .top-site-outer:is(:hover, :active, .active) .title span,                         /* 'Activity' label */
     .ds-card .meta .clamp ) {                                                        /* 'News' */             
        color: black !important;
        --contrast-color: white !important;
    }
    
    .darkWallpaper :is(
    .card-host-name, .card-outer:not(.placeholder) .card-title, .card-outer .icon,    /* 'Pinned' label */
    .top-site-outer:is(:hover, :active, .active) .title span,                         /* 'Activity' label */
     .ds-card .meta .clamp ) {                                                        /* 'News' */
        color: white !important;
        --contrast-color: black !important;
    }
    
    /* Scheme light */                    
    .lightWallpaper :is(
    .weatherCard, .personalize-button,                                                /* weather - personalize-button */
    .search-inner-wrapper, #newtab-search-text[Keepfocus="true"] ) {                  /* Search-box */
        color-scheme: light !important;
        --contrast-color: white !important;
    }
    
    /* scheme dark */
    .darkWallpaper :is(
    .weatherCard, .personalize-button,                                                /* weather - personalize-button */
    .search-inner-wrapper, #newtab-search-text[Keepfocus="true"] ) {                  /* Search-box */
        color-scheme: dark !important;
        --contrast-color: black !important;
    }
    
    /* ___________________________________________________ Newtab Fonts color ____________________________________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    
    .search-wrapper input,                                                      /* Search box text */
    .title,                                                                     /* Pinned site text */
    .card-outer .card-host-name,                                                /* Recent activity line 1 */
    .card-context,                                                              /* Recent activity icon */
    .selector,                                                                  /* Icon of combobox */
    .top-site-icon.search-topsite,                                              /* Search icon in pinned sites */
    .ds-layout .section-title span {
        --newtab-text-primary-color: FieldText !important;
        --newtab-text-secondary-color: FIeldText !important;
        --newtab-contextual-text-primary-color: FieldText !important;
        --newtab-primary-element-text-color: FieldText !important;
    }
    
    .card-outer > a,                                                            /* Recent activity line 2 */
    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title,      /* Recent activity line 2 'hover' */
    .context-menu > ul > li > a, .context-menu > ul > li > button,              /* Pined site 3 dot menu */
    .form-input-container,                                                      /* Edit pinned site */
    button:not(.external-link,.wallpapers-reset),                               /* Buttons */
    .modal,                                                                     /* popup message when trying to delete a pinned site */
    .customize-menu {                                                           /* Sliding sidebar used to customize the NewTab */
        color: FieldText !important;
    }
    
    /* ______________________________________________ For Main-image configuration _______________________________________________ 
       ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    
    @media -moz-pref("firefoxgx.main-image") {
        
        body {
            background-image: none !important;
            background-color: transparent !important;

            /*Remove unwanted brightness */
            &::before {
                display: none !important;
            }
        }
        
        .customize-menu {
            background-image: url("../icons/urlbar-noise-dark.png") !important;
        }
        
        /* When editing a pinned site */
        
        .modalOverlayOuter {
            --newtab-button-static-hover-background: light-dark(#E0E0E6, #101019e0) !important;
            background-image: url("../icons/urlbar-noise-dark.png") !important;
            background-color: var(--newtab-button-static-hover-background) !important;
        }
        
        /* General -Recent activity- */

        .card .card-details {
            position: relative !important;
            z-index: 1 !important;
        }

        .card .card-context {
            position: fixed !important;
        }
    }
    
    /* Theme image go below in newtab page */

    @media -moz-pref("browser.tabs.allow_transparent_browser") {    
        body {
            background-color: transparent !important;
        }
        
        /* Slider background */
        .customize-menu-animate-wrapper {
            background-image: url("../icons/urlbar-noise-light.png") !important;
            background-color: var(--newtab-background-color) !important;
        }

        .customize-menu {
            backdrop-filter: none !important;
            background-color: transparent !important;
        }

        /* When editing a pinned site */

        .modalOverlayOuter {
            --newtab-button-static-hover-background: light-dark(#E0E0E6, #101019e0) !important;
            background-image: url("../icons/urlbar-noise-dark.png") !important;
            background-color: var(--newtab-button-static-hover-background) !important;
        }

        /* General -Recent activity- */

        .card .card-details {
            position: relative !important;
            z-index: 1 !important;
        }

        .card .card-context {
            position: fixed !important;
        }
    }
}

/* _____________ Background and font color when selecting text on websites _____________ 
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

::selection {
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background: var(--selected-text-background) !important;
}

/* _____________________________________________________ Private Newtab page _____________________________________________________ 
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@-moz-document url(about:privatebrowsing) {
    
    :root{ 
        --general-color: var(--purple) !important; 
    }
    
    body {
        --newtab-search-icon: url("chrome://global/skin/icons/indicator-private-browsing.svg") !important;
        background: var(--lwt-private-image) no-repeat right top fixed !important;
        background-size: cover !important;
        backdrop-filter: var(--brightness-wallpaper) !important;
    }

    .promo.below-search, .info {
        background-color: var(--newtab-pinnedsites-background) !important;
        backdrop-filter: var(--personal-blur) !important;
        outline: 1px solid #50505030 !important;
    }

    .search-handoff-button {
        background-color: transparent !important;
        border: transparent !important;
        box-shadow: none !important;
    }

    .fake-textbox, .fake-editable {
        color: var(--newtab-wordmark-color) !important;
    }

    .fake-caret { 
        background-color: var(--in-content-icon-color) !important;
    }

    .search-inner-wrapper:not(:focus) {
        backdrop-filter: var(--personal-blur) !important;
    }

    .logo {
        background: url("chrome://global/skin/icons/indicator-private-browsing.svg") no-repeat !important;
        background-size: cover !important;
        height: 80px !important;
        width: 80px !important;
        Opacity: var(--logo-wordmark-visibility) !important;
        display: var(--logo-wordmark-display) !important;
    }

    .wordmark {
        background: url("../icons/firefox-wordmark-private.svg") no-repeat center center !important;
        Opacity: var(--logo-wordmark-visibility) !important;
        display: var(--logo-wordmark-display) !important;
    }
}

/* ________________________________________________________ Firefox View _________________________________________________________ 
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@-moz-document regexp("^about:firefoxview.*") {
    
    :root {
        --newtab-text-primary-color: unset !important;
        --fxview-primary-action-background: transparent !important;                     /* background color of the selected category */
        --fxview-element-background-hover: var(--button-hover-bgcolor) !important;      /* Context menu: color on 'hover' over items */
        --fxview-element-background-active: var(--button-active-bgcolor) !important;    /* Context menu: color on 'clic' over items */
        --fxview-border: var(--fxview-primary-action-background) !important;
        --fxview-background-color: transparent !important;
        --opaque: color-mix(in srgb, var(--in-content-page-background) 50%, transparent) !important;
    }
    
    @media (prefers-color-scheme: dark) {
        :host, :root {
            --border-contrast-color: black;
            --newtab-background-color: #14141d !important;
            --newtab-background-color-secondary: rgba(52, 55, 69, 0.7) !important;
            --newtab-primary-action-background: var(--general-color) !important;
            --in-content-primary-button-text-color: white !important;
            --in-content-primary-button-background: var(--general-color) !important;
            --in-content-primary-button-background-hover: var(--button-hover-bgcolor) !important;
            --in-content-primary-button-background-active: var(--button-active-bgcolor) !important;
        }
    }
    
    @media (prefers-color-scheme: light){
        :root{
            --border-contrast-color: white;
            --newtab-background-color: #efeff5 !important;
            --newtab-primary-action-background: var(--general-color) !important;
            --in-content-primary-button-text-color: white !important;
            --in-content-primary-button-background: var(--general-color) !important;
            --in-content-primary-button-background-hover: var(--button-hover-bgcolor) !important;
            --in-content-primary-button-background-active: var(--button-active-bgcolor) !important;
        }
    }
    
    .sticky-container{
        margin-block-end: 10px !important;
        box-shadow: 6px 4px 6px var(--in-content-page-background) !important;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% + 10px), 0 calc(100% + 10px));
    }
    
    button[selected] {
        transition-duration: 0ms !important;
    }
    
    .search-container input:is(:focus, :focus-visible) {
        &:focus-visible {
            border-color: transparent !important;
            box-shadow: 0 0 0 2px var(--general-color) !important;
            outline: none !important;
        }
    }
    
    /* New style of elements */
    
    body {
        background: transparent !important;
        overflow-y: hidden !important;
    }

    .main-container {
        width: 100% !important;
    }

    #pages {
        padding: 0px !important;
    }

    named-deck>view-recentbrowsing>div {

        min-width: 100% !important;
        display: grid;
    }

    named-deck {
        width: 100% !important;
        display: grid;
    }

    .cards-container {
        height: 66vh !important;
        overflow: auto;
        scrollbar-gutter: stable !important;
        padding-inline: 42px 52px !important;
    }

    .sticky-container {
        margin-inline: 0px !important;
        padding-inline: 42px 52px !important;
    }
    
    /* Search-box */
    #input {
        &[type="search"] {
            border-color: color-mix(in srgb, var(--in-content-box-border-color) 80%, var(--in-content-text-color)) !important; 
            border-radius: 16px !important;

            &:hover {
                border-color: var(--general-color) !important;
                outline: 0px solid var(--general-color) !important;
            }
            
            &:focus-visible {
                border-color: var(--general-color) !important;
                outline: 1px solid var(--general-color) !important;
            }
        }
    }
}