/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text.
   https://github.com/Godiesc/opera-gx */

/*"Botón de cerrar pestaña"*/
.tab-close-button {    
    width: 18px !important;
    height: 18px !important;
    padding: 4px !important;   
    border-radius: 0px !important;
    margin-top: -2px !important;
}
.tab-close-button:hover {
    background-color: var(--lwt-frame, var(--lwt-accent-color)) !important;
    color: var(--identity-tab-color, var(--general-color)) !important;      
    padding: 3px !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: -moz-box !important
}
