/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/*Linea gradiente en los menús principales*/
.PanelUI-subView > toolbarseparator {border-image: var(--panel-separator-zap-gradient1) 1 !important;}
.PanelUI-subView menuseparator, #PlacesToolbar menupopup[placespopup="true"] toolbarseparator, #widget-overflow-mainView > toolbarseparator,
#widget-overflow-mainView > .panel-subview-body > toolbarseparator, .PanelUI-subView toolbarseparator, #permission-popup-mainView > toolbarseparator,
#protections-popup-multiView toolbarseparator, #identity-popup-mainView toolbarseparator, #identity-popup-securityView > toolbarseparator, 
#editBookmarkPanel toolbarseparator, #downloadsFooterButtons > toolbarseparator {    
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
}
/*Color label deshabilitado y elementos de: "protección contra rastreo"*/
.protections-popup-category.notFound {color: #777 !important;}
.panel-info-button{width: 10px !important;}
.panel-info-button:not([disabled]):is([checked],:hover, :active) {background-color: var(--button-hover-bgcolor) !important;}
.panel-info-button:not([disabled]):is(:hover) {background-color: var(--button-active-bgcolor) !important;
}
/*Margenes protección antirastreo*/
#protections-popup-blocking-section-header, #protections-popup-not-blocking-section-header, #protections-popup-not-found-section-header, #protections-popup-tp-switch-section, .protections-popup-category, .protections-popup-footer-button {
padding-left: 16px !important; padding-right: 16px !important;}

/*Color Sidebar*/
#sidebar-box{
 --sidebar-background-color: var(--toolbar-bgcolor) !important;
}
#sidebar-switcher-target:is(:hover, [open]) {    
    color: var(--general-color) !important;
    outline: 1px solid var(--button-hover-bgcolor) !important;
}
#PlacesToolbar menuitem, #PlacesToolbar menu, .subview-subheader, panelview .toolbarbutton-1,
.subviewbutton, .widget-overflow-list .toolbarbutton-1{
   padding-inline-start:  8px !important;  
}
/*Separador de items menú desplegable marcadores*/
#BMB_bookmarksPopup .subviewbutton, #appMenu_historyMenu .subviewbutton, 
#appMenu-library-recentlyClosedTabs .subviewbutton, #PlacesToolbar menupopup[placespopup="true"] .bookmark-item{
    padding-inline-start: 8px !important;
}
#PlacesToolbar menupopup[placespopup="true"] menuseparator{
   margin-left: 4px !important;  margin-right: 0px !important;
}
#PlacesToolbar menupopup[placespopup="true"] menuseparator::before {
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
}
/*Botón flecha atrás*/
.subviewbutton-back{ 
    padding-inline-start: 6px !important;
    border-radius: 2px !important;
}