/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/* Bookmark popup dropdown colors */

panel menulist {
    &:hover, 
    &[open] {
        background-color: var(--button-hover-bgcolor) !important;
        color: var(--arrowpanel-color, var(--tab-selected-textcolor)) !important;
        box-shadow: none !important;
    }
}

/* Border color (down arrow) */

.hideable {
    --button-background-color-hover: var(--button-hover-bgcolor) !important;
}

#editBookmarkPanel .expander-up, #editBookmarkPanel .expander-down {
    border-color: transparent !important;
}

/* 'Save' & 'Remove' buttons */

#editBookmarkPanelDoneButton {   
    color: white !important;
}

#editBookmarkPanelRemoveButton {
    --button-background-color-hover: #da3633bb !important;
    -moz-context-properties: fill !important;
    fill: var(--toolbarbutton-icon-fill) !important;
    
    & label {
        display: none !important;
    }
}

/* Background and Border Color in items (Dropdown Menu) */

treechildren::-moz-tree-row(selected) {
    outline-color: transparent !important;
}

#editBMPanel_folderTreeRow treechildren::-moz-tree-row(selected) {
    background-color: var(--button-active-bgcolor) !important;
}

treechildren::-moz-tree-image(selected), treechildren::-moz-tree-twisty(selected), treechildren::-moz-tree-cell-text(selected) {
    color: currentColor !important;
}

#editBMPanel_folderTree,
#editBMPanel_tagsSelector {
    background-color: var(--input-bgcolor, Field) !important;
    border-color: var(--input-border-color, Field) !important;
}

/* Bookmark dropdown menu when 'open' -Heart icon- */

/* 'highlight' color of input-box */

richlistitem[selected="true"], 
#editBMPanel_namePicker,
#editBMPanel_locationField,
#editBMPanel_tagsField {
    &::selection {
        color: var(--contrast-color) !important;
    }
}

/* Show keyword box when bookmark a website */

.editBMPanel_locationRow, .editBMPanel_keywordRow{
    visibility: visible !important;
    display: block !important;
}

/* Gradient in button'Firefox Profiler' > 'info' button */

#PanelUI-profiler-header {
    &[isinfocollapsed="false"] {
        background: radial-gradient(circle farthest-side at top right, var(--button-smaller-bgcolor), var(--button-hover-bgcolor)) !important;
        border-radius: calc(var(--arrowpanel-border-radius) - 2px) !important;
    }
}

button {
    border-color: transparent !important;
}

/* ___________________________________________ Tabs-bar buttons __________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

#TabsToolbar {
    --toolbarbutton-hover-background: var(--toolbarbutton-hover-personal) !important;
    --toolbarbutton-active-background: var(--button-bgcolor) !important;
    --toolbarbutton-icon-fill: var(--general-color) !important;
    --toolbarbutton-inner-padding: calc((var(--tab-min-height) - 24px) / 2) !important;
    --tab-border-radius: var(--toolbarbutton-border-radius) !important; /* Used for tabsbar buttons */
}

#TabsToolbar .toolbarbutton-1:is([open="true"]):not([disabled="true"]) {
    --toolbarbutton-icon-fill: var(--toolbar-color) !important;
}

/* Tabs-bar buttons Vertical alignment */

#TabsToolbar {
    .toolbarbutton-1,   /* Default buttons */
    toolbaritem {       /* Extensions buttons */
        height: calc(var(--tab-height-personal) - 2px) !important;
    }
}

/* ___________________________________________ Nav-bar buttons ___________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

/* 'hover' and 'open' button styles */

:root:not([lwtheme-image],[style*="--lwt-additional-images"]) {
    #nav-bar .toolbarbutton-1:is(:hover,[open="true"]):not([disabled="true"]) {
        --toolbarbutton-icon-fill: var(--general-color) !important;
    }
}

/* Buttons in themes with images when 'open' */

:root:is([lwtheme-image],[style*="--lwt-additional-images"]) {
    #nav-bar .toolbarbutton-1:is([open="true"]):not([disabled="true"]) {
        --toolbarbutton-icon-fill: var(--general-color) !important;
    }
}

/* ________________________________________ bookmarks-bar buttons ________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

#PersonalToolbar {
    --toolbarbutton-hover-background: var(--toolbarbutton-hover-personal) !important; 
    --toolbarbutton-icon-fill: var(--toolbar-color) !important;
    text-shadow: none !important;
}

:root:is([lwtheme-image],[style*="--lwt-additional-images"]) #PersonalToolbar {
        /*--toolbarbutton-hover-background: inherit !important; 
        --toolbarbutton-active-background: var(--contrast-color) !important; /**/
}

/* icon and label when 'open' - 'active' */

#PersonalToolbar .toolbarbutton-1:is([open],:active) ,
#PersonalToolbar toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"]):is([open],:active) {
    color: var(--general-color) !important;
    --toolbarbutton-icon-fill:  var(--general-color) !important;
}

/* ___________________ ALL tabs button ___________________ 
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

.all-tabs-item {
    margin-inline: 0px !important;
}

.all-tabs-secondary-button{
    margin-inline-end: 4px !important;
    border-radius: 3px !important;
    border: none !important;
}

#allTabsMenu-allTabsView-tabs > .all-tabs-item > .all-tabs-secondary-button:hover,
.all-tabs-secondary-button.subviewbutton.subviewbutton-iconic:hover,
.all-tabs-close-button.all-tabs-secondary-button.subviewbutton:hover,
.all-tabs-mute-button.all-tabs-secondary-button.subviewbutton:hover{
    background: var(--button-hover-bgcolor) !important;
}

/* Groups icon color in 'List all tabs' button */

.subviewbutton-iconic.tab-group-icon-closed>image {
  color: light-dark(var(--tab-group-color), var(--tab-group-color)) !important;
}

/* ______________ Unified extentions button ______________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

:root{ --uei-icon-size: 18px !important; }

#unified-extensions-manage-extensions .toolbarbutton-icon{
    margin-inline: 2px 4px !important;
}

.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not(.toolbarbutton-1)[disabled] {
    opacity: 1 !important;
}

#unified-extensions-panel .unified-extensions-item{
    padding-block: 0 !important;
    margin-block: 0px !important;
}

.unified-extensions-item-action-button.panel-no-padding.webextension-browser-action.subviewbutton.subviewbutton-iconic{
    padding-block: 2px !important;
    margin-block: 0px !important;
}

.unified-extensions-item-menu-button:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, 
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton):not([disabled]) {
    background: transparent !important;
    padding: 0px 6px !important;
}

.unified-extensions-item-menu-button.subviewbutton.subviewbutton-iconic:hover image {
    background: var(--button-hover-bgcolor) !important;
    border-radius: 3px !important;
}

/* Second label del botón de extensiones */

#unified-extensions-area toolbaritem:hover .unified-extensions-item-message-deck label{
    color: var(--arrowpanel-color, var(--tab-selected-textcolor)) !important;
}

@media (-moz-platform: linux) {
#unified-extensions-area toolbaritem .unified-extensions-item-message-deck label{
    appearance: none !important;
    font-size: 0.875em !important;
    width: -moz-available !important;
    }
}

/* _______________ Downloads popup menu _______________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

#downloadsPanel-blockedSubview, #downloadsPanel-mainView {
    padding-inline: 0px !important;
}

#downloadsListBox > richlistitem[state="1"][exists].hoveringMainArea {
    border-radius: 0px !important;
}

.downloadButton {
    margin-inline-end: 2px !important;
    &:hover:not(:active) {
        background-color: var(--button-hover-bgcolor) !important;
    }
}

#downloadsFooterButtons .button-icon{ 
    margin-inline: 6px 7px !important;
}

/* ______________  Vertical line separator for tabs-bar using 'flexible space' _____________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

/* Vertical line separator for tabs-bar using 'flexible space' */

:is(#TabsToolbar) toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"], :is(#TabsToolbar) toolbarspring {
    max-width: 1px !important;
    min-width: 1px !important;
    min-height: calc(var(--tab-height-personal) + 0px) !important;
    max-height: calc(var(--tab-height-personal) + 0px) !important;
    margin-inline: 3px !important;
    background-image: linear-gradient(transparent 25%, var(--button-active-bgcolor) 25%, var(--button-active-bgcolor) 75%, transparent 75% ) !important;
}

:is(#TabsToolbar) toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"]{
    background: var(--button-active-bgcolor) !important;
    max-width: 3px !important;
    min-width: 3px !important;
    padding-inline: 3px !important; 
}

:is(#TabsToolbar) toolbarpaletteitem[place="toolbar"] > toolbarspring{
    display: none !important;
}

/* Status panel */

#statuspanel label{
    background-color: var(--lwt-accent-color) !important;
    color: currentColor !important;
    border-color: var(--toolbarbutton-hover-personal) !important;
    border-radius: 0px !important;
}

/* ---------------------------------------------- Used for various smooth transition ---------------------------------------------- */

panel :is(menulist, button, toolbarbutton:not([.subviewbutton])):not([open]),       /* buttons inside dropdown menus */
.titlebar-button,                                                                   /* Window controls */
.toolbarbutton-1::after,                                                            /* Line under navbar buttons */
.toolbarbutton-1:not(#tabs-newtab-button) .toolbarbutton-icon,                      /* Default buttons */
.toolbarbutton-1 .toolbarbutton-badge-stack,                                        /* Extensions buttons */
#PersonalToolbar #PlacesToolbarItems>.bookmark-item {                               /* Marcadores */
    transition: all 0.2s ease !important;
}

/* Transition of the secure page button, bookmark and Tracking Protection of the url */

#identity-box[pageproxystate="valid"].chromeUI #identity-icon,
#pageAction-panel-bookmark[starred], #star-button[starred],
#tracking-protection-icon{ 
    transition: fill 0.2s ease !important;
}

/* Transition for the other buttons in the url */

#urlbar box, #page-action-buttons hbox { 
    transition: background-color 0.2s ease !important;
}
