/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media (-moz-bool-pref:"firefoxgx.main-image") {

@media (prefers-color-scheme: dark){
   :root[brighttext]:-moz-lwtheme,
   :root[lwt-toolbar-field-focus-brighttext],
   :root:-moz-lwtheme{
      --toolbar-bgcolor: #0000007d !important;
      --toolbar-field-background-color: transparent !important;                                                    /* toolbar_field */
      --toolbar-field-border-color: transparent !important;                                                        /* toolbar_field_border */
      --lwt-selected-tab-background-color: #10101900 !important;                                                   /* tab_selected */
      --toolbarbutton-hover-background:  color-mix(in srgb, 
        transparent 90%, color-mix(in srgb, var(--lwt-tab-text)50%, var(--general-color))) !important;             /* button_background_hover */
      --toolbarbutton-hover-personal:  var(--toolbarbutton-hover-background) !important;                           /* Button :hover color personal */
      --lwt-sidebar-background-color: #101019 !important;                                                          /* Sidebar-background */
      --chrome-content-separator-color: none !important                                                            /* toolbar_bottom_separator */
      }}
   
@media (prefers-color-scheme: light){
   :root:-moz-lwtheme{
      --toolbar-bgcolor: #ffffff7d !important;
      --toolbar-field-background-color: transparent !important;                                                    /*"toolbar_field":"#1a1b25"*/
      --toolbar-field-border-color: transparent !important;                                                        /*"toolbar_field_border": "#363540"*/
      --lwt-selected-tab-background-color: #f9f9f900 !important;                                                   /*"tab_selected":"#363540"*/
      --toolbarbutton-hover-background:  color-mix(in srgb, 
        transparent 90%, color-mix(in srgb, var(--lwt-tab-text)50%, var(--general-color))) !important;             /* button_background_hover */
      --toolbarbutton-hover-personal:  var(--toolbarbutton-hover-background) !important;                           /* Button :hover color personal */
      --lwt-sidebar-background-color: #f9f9f9 !important;                                                          /*Sidebar-background*/
      --chrome-content-separator-color: none !important;                                                           /*"toolbar_bottom_separator": "#181818"*/
      }}
   
@media (prefers-color-scheme: dark){
   :root:is([lwtheme-image],[style*="--lwt-additional-images"]) {
      --toolbar-bgcolor: #0000007d !important;
      --lwt-selected-tab-background-color: transparent !important;
      }}
   
@media (prefers-color-scheme: light){
   :root:is([lwtheme-image],[style*="--lwt-additional-images"]) {
      --toolbar-bgcolor: #ffffff7d !important;
      --lwt-selected-tab-background-color: transparent !important;
      }}
   
/* Nueva imagen */
   
:root:not([privatebrowsingmode="temporary"]) {
      --lwt-header-image: var(--lwt-main-image) !important;
      --lwt-additional-images: var(--lwt-main-image) !important;
      }

/* Tamaño de la nueva imagen */
   
:root:not([privatebrowsingmode="temporary"]) #navigator-toolbox {
      background-image: var(--lwt-header-image) !important;
      background-size: cover !important;
      }
   
/* Alineamos la imagen de fondo con la pestaña seleccionada */

.tab-background:is([selected]){
    background-size: cover !important;
      }
   
/* Mejora del fondo al mover la pestaña */
   
 #tabbrowser-tabs:is([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack  > .tab-background{
      background-size: 100vw 100vh !important;
   }
   
/* Sobreescribo url-bar focus from ogx_urlbar-searchbar.css */
   
#urlbar:not([open]):is([focused]) #urlbar-background {
      background-color: color-mix(in srgb, var(--general-color) 20%, transparent) !important;
}
   
/* background-color para botones [open] en temas solidos - sirve para igualar los colores en temas solidos y con imágenes */
   
#TabsToolbar, #nav-bar {   
    --toolbarbutton-active-background: color-mix(in srgb, transparent 90%, color-mix(in srgb, var(--lwt-tab-text)80%, var(--general-color))) !important;
}
   
/* Compatibilidad con Left-sidebar */
   
@media (-moz-bool-pref:"firefoxgx.left-sidebar") {

:root:not([privatebrowsingmode="temporary"]) #PersonalToolbar,
:root:not([privatebrowsingmode="temporary"]):is([lwtheme-image]) #PersonalToolbar, 
:root:not([privatebrowsingmode="temporary"]):is([style*="--lwt-additional-images"]) #PersonalToolbar {
   background-position: 0 calc(var(--tab-height-personal) + 0px) !important;
   background-size: 100vw !important;
   }}
   
/* Compatibilidad con tab-shapes */

.tab-background:is([selected]),
.tabbrowser-tab:is([visuallyselected]) .tab-background::before,
.tabbrowser-tab:is([visuallyselected]) .tab-background::after,
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
    background-size: cover !important;
  }
   
/* Compatibilidad con Left-sidebar + oneline  */
   
@media (-moz-bool-pref:"firefoxgx.left-sidebar") and 
       (-moz-bool-pref:"firefoxgx.oneline"){

   :root:not([privatebrowsingmode="temporary"]) #PersonalToolbar,
   :root:not([privatebrowsingmode="temporary"]):is([lwtheme-image]) #PersonalToolbar, 
   :root:not([privatebrowsingmode="temporary"]):is([style*="--lwt-additional-images"]) #PersonalToolbar {
      background-position: 0 calc(var(--tab-height-personal) * 2) !important;
      background-size: 100vw !important;
   }}
   
/* Compatibilidad con -oneline- config */

@media (-moz-bool-pref:"firefoxgx.oneline") {
          
   @media (prefers-color-scheme: dark){
      :root, :root:-moz-lwtheme, :root:not(:-moz-lwtheme){
         --lwt-selected-tab-background-color: #0000007d !important;
   }}
  
   @media (prefers-color-scheme: light){
      :root, :root:-moz-lwtheme, :root:not(:-moz-lwtheme){
         --lwt-selected-tab-background-color: #ffffff7d !important;
   }}
   
   @media screen and (min-width: 1000px){
      #nav-bar{
          background-color: transparent !important;
            }}}
   
/* Compatibilidad con tree-tabs config without left-sidebar */
   
@media (-moz-bool-pref:"firefoxgx.tree-tabs") and (-moz-bool-pref:"firefoxgx.autohide-bookmarks-bar"){   
   #PersonalToolbar:not([customizing]),
   :root:not([chromehidden~="toolbar"]):is([lwtheme-image],[style*="--lwt-additional-images"]) #PersonalToolbar{
       background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
                         var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
       background-repeat: repeat !important;
       background-size: cover !important;
       background-position-y: calc(0px - var(--toolbar-height-personal)) !important;
         }}
}
