/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media -moz-pref("firefoxgx.oneline") and ((not -moz-pref("sidebar.verticalTabs")) and (not -moz-pref("firefoxgx.tree-tabs"))) {

/* ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ IMPORTANT: To only apply one-line config to screen bigger than some px !!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (min-width: 1000px) {
  
  /* New :root preferences to adapt oneline style \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */  
  :root:not([chromehidden*="menubar"]) {
    --toolbar-height-personal: calc(
      var(--tab-height-personal) - 1px + var(--my-tab-margin-top, 0px)) !important;           /* Toolbar height */
    --navbarWidth: 32vw;                                                                      /* Set width of navbar. Use px for a fixed width or vw for a percentage of your window.*/
    --toolbarbutton-background-color-hover: var(--toolbarbutton-hover-personal) !important;   /* button_background_hover */
    --toolbarbutton-padding-inner: 3.5px !important;                                          /* Smaller navbar button size to match tabsbar buttons */
  }
  
  /* New variables */

  :root:not([chromehidden*="menubar"]) {
    /*--uc-vertical-toolbar-width: calc(var(--my-vertical-toolbar-width) - 1px);                /* Variable used in menubar? */
    /*--padding-left-tab: var(--uc-vertical-toolbar-width) !important;                          /* New size for hamburguer button */
    --min-width-url: 24.2vw !important;                                                       /* Urlbar Width */

    @media -moz-pref("sidebar.revamp") {
      --min-width-url: 22.1vw !important;                                                     /* Smaller urlbar Width cause sidebar button */
    }
  }
  
  /* Position private icon */
  .private-browsing-indicator-with-label {
    margin-inline-start: 11px !important;
    margin-inline-end: -28px !important;
  }
  
  /* Display but invisible navbar 'window controls' to keep the same space in various escenarios \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  :root:is([tabsintitlebar],[customtitlebar]):not([chromehidden*="menubar"]) #nav-bar {
    > .titlebar-buttonbox-container {
      display: flex !important;
      pointer-events: none !important;
      opacity: 0 !important;
    }
  }
  
  /* __________________________________
  /* Space reserved for window controls \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */  
  /* On linux set width based on number of caption buttons |
  -  One button - Two buttons - Three buttons              |
  -> Code added in 'ogx_windows_controls.css' __________ */

  /* (Win10) 
  -> Code added in 'ogx_windows_controls.css' __________ */
  
  /* (MacOS) */
  @media (-moz-platform: macos) {
    :root:is([customtitlebar],[sizemode="fullscreen"]) {
      --uc-window-control-width: 72px;
    }
  }
  
  /* Space (to reduce) when overflow is empty \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  :root:not([customizing]) #navigator-toolbox:has(#nav-bar:not([nonemptyoverflow])) {
    --uc-space-to-reduce: 26px;
  }
  
  /* ______________________________________________
  /* Titlebar spacer used for unmovible icons space \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  .titlebar-spacer[type="post-tabs"] {
    /*display: initial !important;  /* Don't apply here cause bug in 'customize mode' */
    width: calc(56px - var(--uc-space-to-reduce, 0px)) !important;
  }
  
  /* Display spacer in fullscreen */
  .toolbar-items ~ .titlebar-spacer[type="post-tabs"] {
    :root[inFullscreen] &, 
    :root:not([customtitlebar]) & {
      display: initial !important;
    }
  }
  
  /* Display spacer when menubar is always active */
  :root:not([chromehidden~="menubar"], [inFullscreen]) #toolbar-menubar:not([autohide], [collapsed]) ~ #TabsToolbar > .titlebar-spacer[type="post-tabs"] {
    width: calc(56px - var(--uc-space-to-reduce, 0px)) !important;
    display: initial !important;/**/
  }
  
  /* Display 'window controls' when menu bar is always active - include in fullscreen */  
  :root:not([chromehidden~="menubar"]) #toolbar-menubar:not([autohide],[collapsed]) ~ :is(#TabsToolbar, #nav-bar) > .titlebar-buttonbox-container {
    display: flex !important;
    margin-inline-start: 42px !important;
  }
  
  /* Oneline style: move up navbar to align with tabsbar \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  :root:not([chromehidden*="menubar"]) #nav-bar {
    --toolbar-background-color: transparent !important;
    margin-inline-start: var(--padding-left-tab) !important;
    margin-top: calc(-1* var(--toolbar-height-personal) - 1px) !important;
  }
  
  /* Margins left of tabsbar toolbar - makes space for urlbar and some navbar buttons \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  .toolbar-items {
    margin-inline-start: calc(var(--navbarWidth));
  }
  
  /* Visually smaller bookmarksbar elements */
  #PersonalToolbar {
    padding-block: 2px !important;
  } 
  
  /* Makes tabsbar items clicleable \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */  
  :is(#TabsToolbar, #nav-bar) > .toolbar-items {
    z-index: 3; /*same index of tabs gradient line */
  }
  
  /* Immovable icons over all - test with menubar always active */
  #unified-extensions-button,
  #nav-bar-overflow-button {
    z-index: 1 !important;
  }
 
  /* Unified extension button on right - Immovable \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  :root:not([chromehidden*="menubar"]) #unified-extensions-button {
    position: absolute;
    display: flex;
    top: 0 !important;
    height:  calc(var(--toolbar-height-personal) - 1px); /* Test with bigger '--my-tab-margin-top' */
    inset-inline-end: calc(var(--uc-window-control-width, 28px) + 70px - var(--uc-space-to-reduce, 0px));
  }

  /* _____________________________________________________________ Url-bar _____________________________________________________________ 
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
/* Smaller urlbar */ 
  #urlbar-container, 
  #search-container {
    --urlbar-container-height: var(--toolbar-height-personal) !important;
    --urlbar-container-height: calc(var(--toolbar-height-personal) - var(--my-tab-margin-top, 0px) - 2px) !important;
    padding-block: calc(3px + var(--my-tab-margin-top, 0px)) 4px !important;
    margin-block: 1px 2px !important;
  }

  :is(#urlbar, #searchbar-new) {
    --urlbar-height: calc(var(--toolbar-height-personal) - var(--my-tab-margin-top, 0px) - 7px) !important;
    --urlbar-min-height: calc(var(--toolbar-height-personal) - var(--my-tab-margin-top, 0px) - 7px) !important;
  }
  
  #urlbar[open] .urlbar-input-container {
    margin-block-start: calc(var(--my-tab-margin-top, 0px) - 1px) !important;
  }
  
  /* Align url separators */
  .urlbar-background {
    &::before {
      inset-block-start: calc(0px - var(--my-tab-margin-top, 0px));
      padding-block-start: var(--my-tab-margin-top, 0px) !important;
    }
  }

  .urlbar-background {
    &::after {
      top: calc(10px - var(--toolbar-height-personal) - var(--my-tab-margin-top, 0px)*1.5);
    }
  }

  /* Blur at the end of "Search with..." */
  #urlbar[pageproxystate="invalid"]:not([usertyping],[searchmode],[open]) #urlbar-input {
    mask-image: linear-gradient(to right, black calc(var(--min-width-url) - 60px), transparent calc(var(--min-width-url) - 36px)) !important;
  }

  #urlbar:not([open],:hover, [focused]) #urlbar-input {
    mask-image: linear-gradient(to right, /*transparent 0%,/**/ #fff 10% 80%, transparent 100%) !important;
  }
  
  /* urlbar when 'focus' and 'open' */
  #urlbar-container, #urlbar-container:not([open],:focus, :focus-within ){
    max-width: var(--min-width-url) !important; 
  }
  
  #urlbar:focus-within, 
  #urlbar[focused],
  #urlbar[open] { 
    min-width: calc(var(--min-width-url) + 340px) !important;
    clip-path: polygon(0px 0%, var(--min-width-url) 0%, 0% 999999vw, 0% 0px) !important;
    
    &:dir(rtl) {
      clip-path: polygon(calc(100% - var(--min-width-url)) 0, 100% 0%, 100% 100%, calc(100% - var(--min-width-url)) 100%) !important;
    }
  }

  #urlbar[open]{
    clip-path: none !important;
    
    &:dir(rtl) {
      clip-path: none !important;
    }
  }
  
  /* Allows you to make space to move icons in 'customization mode' */
  :root:is([customizing]) {
    #urlbar {
      max-width: calc(3.5vw) !important; 
    }

    #wrapper-urlbar-container {
      max-width: calc(var(--min-width-url) - 6vw) !important; 
    }
  }

  /* Urlbar text centered */

  #urlbar:not([focused]) .urlbar-input{ text-align: center !important; }

  /* Modified "show more bookmarks" icon */

  #PlacesChevron>image {
    transform: rotate(90deg);
  }
  
  /* __________ Urlbar icons - show on 'hover' __________
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  #page-action-buttons>:is(hbox, toolbarbutton):not(#star-button-box, #taskbar-tabs-button) {
    visibility: collapse !important;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease, transform 0.4s ease;
  }

  #urlbar:is([open],:hover,[focused]) :is(
  #page-action-buttons>:is(hbox, toolbarbutton) 
  ) {
    visibility: visible !important;
  }
  
  /* Urlbar icon button 'opacity' transition */
  .urlbar-input-container box:not([open])>image,
  #page-action-buttons>hbox>image {
    opacity: 0 !important;
    transition: opacity 0.4s ease-in-out, visibility 0.2s ease, transform 0.2s ease, fill 0.2s ease;
  }
  
  .urlbar-input-container box:not([open])>image {
    transform: translateX(-10px) !important;
  }

  #page-action-buttons>hbox>image {
    transform: translateX(10px) !important;
  }

  #urlbar:is([open],:hover,[focused]) :is(
  .urlbar-input-container box>image,
  #page-action-buttons>hbox>image 
  ) {
    opacity: 1 !important;
    transform: translateX(0px) !important;
  }
  
  /* Align nav-bar buttons with tabs-bar buttons \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  #nav-bar {
    .toolbarbutton-1 {
      padding-block-start: calc(var(--toolbarbutton-padding-outer) + var(--my-tab-margin-top, 0px) - 2px) !important; /* 3px cause vertical align too? */
    }
  }
  
  /* Remove Container label */
  #userContext-label { display: none !important; }
  
  /* _______________________________________________________ Icons - background, colors _______________________________________________________ 
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */  
  /* Icons color */
  #TabsToolbar .toolbarbutton-1:not(#tabs-newtab-button,#new-tab-button), 
  #nav-bar {
    --toolbarbutton-background-color-hover: var(--toolbarbutton-hover-personal) !important;
    --toolbarbutton-background-color-active: var(--color-accent-primary-small) !important;
    --toolbarbutton-icon-fill: var(--toolbar-text-color) !important;
  }
  
  /* Icons when 'hover' */
  #TabsToolbar .toolbarbutton-1:not(#tabs-newtab-button,[open],:active):hover, 
  #nav-bar .toolbarbutton-1:not([open],:active):hover {
    --toolbarbutton-icon-fill: var(--general-color) !important;
  }
  
  /* Navbar icons when 'hover' & 'open' */
  :root:not([lwtheme-image],[style*="--lwt-additional-images"]) {
    #nav-bar .toolbarbutton-1:is(:hover):not([open],[disabled]) {
      --toolbarbutton-icon-fill: var(--general-color) !important;
    }
  }

  /* Navbar icons in/not themes with images when 'open' */
  :root:is([lwtheme-image],[style*="--lwt-additional-images"]),
  :root:not([lwtheme-image],[style*="--lwt-additional-images"]) {
    #nav-bar .toolbarbutton-1:is([open]):not([disabled]) {
      --toolbarbutton-icon-fill: var(--toolbar-text-color) !important;
    }
  }

  /* _______________________________________________________________ Menu-bar  _______________________________________________________________ 
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  /* New Position */
  #toolbar-menubar {
    position: fixed;
    display: flex;
    top: 0px;
    width: 100vw;
    z-index: 1;
  }
  
  /* Toolbar menubar size the same as other toolbars */
  :root:not([chromehidden*="menubar"]) #toolbar-menubar:is([autohide],[collapsed]):not([inactive]),
  :root:not([chromehidden*="menubar"]) #toolbar-menubar:not([autohide],[collapsed]) {
    min-height: calc(var(--toolbar-height-personal) + var(--windowed-top-padding, 0px) + 0px) !important;
  }
  
  /* Style for solid & themes with images */
  #main-menubar {
    min-height: calc(var(--toolbar-height-personal)  + 0px) !important;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--toolbar-background-color), var(--toolbar-background-color)),
      var(--toolbox-background-image),
      linear-gradient(var(--lwt-accent-color,Field), var(--lwt-accent-color,Field)) !important;
    background-position: 0 0, 0 0, var(--lwt-background-alignment) !important;
    background-position-y: top !important;
    background-repeat: no-repeat, no-repeat, var(--lwt-background-tiling) !important;
    background-size: var(--my-background-size, var(--lwt-background-size)) !important;
    background-attachment: fixed, fixed, fixed !important;
    color: var(--panel-text-color) !important;
    z-index: 0 !important;
    
    @media -moz-pref("firefoxgx.main-image") { 
      --toolbar-background-color: color-mix(in srgb,
            var(--my-scheme-color), transparent var(--brightness-wallpaper)) !important;                               /* Toolbar background */
    }
    
    /* Bug fix background color in solid themes */
    @media not -moz-pref("firefoxgx.main-image") {      
      :root:not([lwtheme-image],[style*="--lwt-additional-images"]) & {
        --toolbar-background-color: var(--lwt-accent-color) !important;
      }
    }
    
    /* Menubar elements */
    menu {
      padding-block-start: var(--my-tab-margin-top, 0px) !important;
      
      /* When you hover over the elements, the size decreases as the top margin increases */
      &::before {
        height: calc(100% - var(--my-tab-margin-top, 0px) - 10px) !important;
        z-index: -1 !important;
        border-radius: var(--border-radius-small);
      }
    }
  }

  /* Bug fix: Trick to hide urlbar when menu appears \
  ´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´ */
  /* 'Alt key' */
  #toolbar-menubar:is([autohide],[collapsed]) ~ #nav-bar #urlbar {
    opacity: 0 !important;
    pointer-events: none !important;
  }

  #toolbar-menubar:is([autohide][inactive],[collapsed]) ~ #nav-bar #urlbar {
    opacity: 1 !important;
    pointer-events: all !important;
  }

  /* Menu 'Always active' */
  :root:not([sizemode="fullscreen"]):has(#toolbar-menubar:not([autohide],[collapsed])) #urlbar:not([open],[focused]) {
    opacity: 0 !important;
    pointer-events: none !important;
  }

  :root:not([sizemode="fullscreen"]):has(#toolbar-menubar:is([autohide][inactive],[collapsed])) {
    & #urlbar {
      opacity: 1 !important;
    }
  }

  
/* _______________________________________ Compatibility when <window controls> are on the left, on Linux _______________________________________ */

  @media (-moz-gtk-csd-reversed-placement){
    
    /* Eliminar window controls when menubar 'Alt' is press */
    #toolbar-menubar:is([autohide],[collapsed]):not([inactive]) > .titlebar-buttonbox-container{ display: none }/**/

    /* Hide private indicator */    
    :root:is([privatebrowsingmode="temporary"]) .private-browsing-indicator-with-label {
      opacity: 0 !important;
    }

    /* Separator near the window controls 
    :root:not([chromehidden~="toolbar"]) .titlebar-buttonbox:before{
      inset-inline-start: calc(var(--uc-window-control-width) - 22px) !important;
    }
    */
    
    /* New position for 'Unified extensions' button */
    #unified-extensions-button {
      inset-inline-end: 28px !important;
    }
    
    /* Rightmost <back> button 

    :root:not([chromehidden~="toolbar"]) #nav-bar {
      padding-inline-start: calc(var(--uc-window-control-width) - 14px) !important;
    }*/
    
    /* move the tabs-bar further to the right because of the <window controls> */

    .toolbar-items{
      /*margin-inline-start: calc(var(--navbarWidth) + var(--uc-window-control-width) - 104px) !important;
      margin-inline-end: calc(var(--uc-window-control-width, 22px) - var(--uc-buttons-width) + 24px) !important;/**/
    }

    /* Menu bar */

    :root:not([chromehidden~="toolbar"]) #toolbar-menubar{
      /*padding-inline-start: var(--uc-vertical-toolbar-width,0px) !important;/**/
    }
    
    /* Remove left margin of menu bar when is always active 
    :root:not([chromehidden~="toolbar"]) #toolbar-menubar:not([autohide],[collapsed]) {
      padding-inline-start: 0px !important;
    }
    
    :root:not([chromehidden~="toolbar"]) #toolbar-menubar:not([autohide],[collapsed])+#TabsToolbar {
      padding-inline-start: var(--uc-vertical-toolbar-width,0px) !important;
    }*/
    
    /* Remove spaces when menu bar is always active 
    
    :root:not([chromehidden~="menubar"], [inFullscreen]) #toolbar-menubar:not([autohide],[collapsed]) + #TabsToolbar > :is(.titlebar-buttonbox-container, .titlebar-spacer) {
      display: none !important;
    }*/

    /* Move overflow menu to the right */
    
    #nav-bar{ 
      /*padding-inline-end: 6px !important;/**/
    }
    
    #TabsToolbar {
      padding-inline-end: calc(56px - var(--uc-space-to-reduce, 0px)) !important;/**/
    }
    
    .titlebar-spacer {
      @media (-moz-gtk-csd-reversed-placement) {
        :root:not([sizemode="normal"]) &[type="post-tabs"], :root[gtktiledwindow] &[type="post-tabs"] {
          /*display: flex !important;
          /*width: calc(56px - var(--uc-space-to-reduce, 0px))/**/
        }
      }
    }
    
    /* Make overflow menu buttons clickable 

    #nav-bar-overflow-button{
      margin: 0px !important;
      border: 0px !important;
      position: relative;
      z-index: 3;
    }*/
  }

  /* _______________________________________________ Compatibility for 'left-sidebar' configuration _______________________________________________ */

  /* ______________ 'Left-sidebar' */

  @media -moz-pref("firefoxgx.left-sidebar") and -moz-pref("browser.toolbars.bookmarks.visibility", 'always') and ((not -moz-pref("sidebar.verticalTabs")) or (-moz-pref("sidebar.revamp"))) {

    /* New height  */
    #PersonalToolbar {
      padding-block: 20px 4px !important;
      top: calc(100% + 2px) !important; /* 2px maybe cause navbar is smaller than tabsbar? */
      height: calc(100vh - var(--tab-height-personal)) !important;
      max-height: calc(100vh - var(--tab-height-personal)) !important;
    }
  }

  /* ______________ 'Firefox Revamp'*/

  @media ((-moz-pref("sidebar.revamp") and (not -moz-pref("sidebar.verticalTabs"))) and -moz-pref("sidebar.position_start")) and (not -moz-pref("firefoxgx.left-sidebar")) {

    :root:not([customizing]) {
      & #sidebar-container {
        padding-block-start: calc(0px - var(--bookmarksbar-height-personal, -28px)) !important;
        margin-block-start: 0px !important;
      }
    }
  }
  }
}