/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/*-"Radiobutton"-ProtecciónAntirastreo*/
.protections-popup-tp-switch:not([enabled]){background-color: color-mix(in srgb, var(--arrowpanel-background) 88%, var(--lwt-tab-text)) !important;}
.protections-popup-tp-switch:not([enabled]):hover{background-color: var(--button-bgcolor) !important;}
.protections-popup-tp-switch[enabled]:hover {
    background-color: var(--general-color) !important;
    border-color: transparent !important;
}
.protections-popup-tp-switch[enabled] {
    background-color: color-mix(in srgb, var(--general-color) 70%, transparent) !important;
    border-color: transparent !important;
}
/*color Rojo de boton "borrar marcador"*/
#editBookmarkPanelBottomButtons>#editBookmarkPanelRemoveButton {
    background-color: transparent !important;
    color: #ff3f43 !important;
    box-shadow: inset 0px 0px 0 1px #ff263f !important;
    border-radius: 0px !important;
}
#editBookmarkPanelBottomButtons>#editBookmarkPanelRemoveButton:hover {
    background-color: #ff2626 !important;
    color: #f0f6fc !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
/*color letras de boton "Guardar" marcador en :hover*/
#editBookmarkPanelBottomButtons>#editBookmarkPanelDoneButton {
    color: #eaeaea !important;
    border-radius: 0px !important;
}
/*Color del botón menú deplegable*/
panel menulist, panel menulist:not([open]) {
    box-shadow: inset 0 0 0 1px var(--button-hover-bgcolor) !important;
    border-radius: 0px !important;
}
panel menulist:hover, panel menulist[open] {
    background-color: var(--button-active-bgcolor) !important;
    color: #eaeaea !important;
    box-shadow: none !important;
}
/*Color -fondo y borde-(flecha hacia abajo)*/
#editBookmarkPanel .expander-up, #editBookmarkPanel .expander-down {
    border-color: var(--button-hover-bgcolor) !important;
    border-radius: 0px !important
}
#editBookmarkPanel .expander-up:hover, #editBookmarkPanel .expander-down:hover {
    border-color: var(--button-active-bgcolor) !important;
    background-color: var(--button-active-bgcolor) !important;
    color: #eaeaea !important;
}
/*Color -fondo y "letras" - menu desplegable*/
treechildren::-moz-tree-row(selected) {
    background-color: var(--button-active-bgcolor) !important;
}
treechildren::-moz-tree-image(selected), treechildren::-moz-tree-twisty(selected), treechildren::-moz-tree-cell-text(selected) {
    color: white !important;
}
/*--------------------------Marcadores----------------------------------*/

/*Color de "highlight" inputtext*/
richlistitem[selected="true"], #editBMPanel_namePicker::selection , #editBMPanel_tagsField::selection{
    background-color: var(--button-active-bgcolor) !important;
    color: white !important;
}
/*Imagen grande Marcador*/
#editBookmarkPanelImage{
    box-shadow: inset 0px 0px 0 1px var(--button-bgcolor) !important;
}
/*Favicon Marcador*/
#editBookmarkPanelFavicon[src] {
  background-color: color-mix(in srgb, var(--arrowpanel-background) 90%, transparent) !important;
  box-shadow: inset 0px 0px 0 1px var(--button-bgcolor) !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 0px !important;
  margin-top: 4px !important;
  margin-inline-start: 4px !important;
}
/*Color de iconos de la toolbar cuando están activos(dado clic)*/
#nav-bar .toolbarbutton-1:active:not([disabled="true"]) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:active:not([disabled="true"]) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:active:not([disabled="true"]) > .toolbarbutton-badge-stack,
#nav-bar .toolbarbutton-1[open="true"] > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[open="true"] > .toolbarbutton-text,
#nav-bar .toolbarbutton-1[open="true"] > .toolbarbutton-badge-stack {
    fill: var(--general-color)
}
