/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media (-moz-bool-pref:"firefoxgx.oneline") and (not (-moz-bool-pref:"sidebar.verticalTabs")) {

/* ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ IMPORTANT: To only apply one-line config to screen bigger than some px !!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (min-width: 1000px){

/* ####################################### Window controls from MrOtherGuy ############################################ */

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/window_control_placeholder_support.css */

/* Defaults for window controls on RIGHT side of the window */
/* Modify these values to match your preferences */
:root:is([tabsintitlebar], [sizemode="fullscreen"]) {
  /*--uc-window-control-width: 138px; /* Space reserved for window controls (Win10) */
  /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
  /*--uc-window-drag-space-pre: 30px; /* left side*/
  --uc-window-drag-space-post: 30px; /* right side*/
}

:root:is([tabsintitlebar][sizemode="maximized"], [sizemode="fullscreen"]) {
  --uc-window-drag-space-pre: 0px; /* Remove pre space */
}

@media  (-moz-platform: windows){
  :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
    --uc-window-control-width: 105px;
  }
}

@media (-moz-gtk-csd-available) {
  :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
    --uc-window-control-width: 84px;
  }
}
@media (-moz-platform: macos){
  :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
    --uc-window-control-width: 72px;
  }
}

.titlebar-buttonbox, #window-controls{ color: var(--toolbar-color) }
:root[sizemode="fullscreen"] .titlebar-buttonbox-container{ display: none }
:root[sizemode="fullscreen"] #navigator-toolbox { position: relative; }

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[sizemode="fullscreen"] #window-controls{
  position: absolute;
  display: flex;
  top: 0;
  right:0;
  height: 40px;
}
/*
:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[uidensity="compact"][sizemode="fullscreen"] #window-controls{ height: 32px }
*/
/*
#nav-bar{
  border-inline: var(--uc-window-drag-space-pre,0px) solid transparent;
  border-inline-style: solid !important;
  border-right-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px));
  background-clip: border-box !important;
}
  */

/* Rules for window controls on left layout 
@media (-moz-gtk-csd-reversed-placement),
       (-moz-platform: macos){
  :root[tabsintitlebar="true"] #nav-bar{
    border-inline-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)) var(--uc-window-drag-space-pre,0px)
  }
  :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
  :root[sizemode="fullscreen"] #window-controls{ right: unset }
}
*/
/* This pref can be used to force window controls on left even if that is not normal behavior on your OS 
@supports -moz-bool-pref("userchrome.force-window-controls-on-left.enabled"){
  :root[tabsintitlebar="true"] #nav-bar{
    border-inline-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)) var(--uc-window-drag-space-pre,0px)
  }
  :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
  :root[sizemode="fullscreen"] #window-controls{ right: unset; }
  .titlebar-buttonbox-container{
    order: -1 !important;
  }
  .titlebar-buttonbox{
    flex-direction: row-reverse;
  }
}*/
  
/* #################################################### One-Line from MrOtherGuy ############################################## */

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/navbar_tabs_oneliner_menu_buttons_on_right.css */

/*
:root[uidensity="compact"]{
  --tab-block-margin: 2px !important;
}*/

/* Modify these to change relative widths or default height 
#navigator-toolbox{
  --uc-navigationbar-width: 50vw;
  --uc-toolbar-height: 40px;
}*/

  /*
#scrollbutton-up,
#scrollbutton-down{ border-block-width: 2px !important; }
*/
/* reserved space for overflow + menu buttons */
#navigator-toolbox{
  --uc-buttons-width: calc(96px + 5 * var(--toolbarbutton-outer-padding) + var(--uc-menubutton-padding,6px))
}
#nav-bar:not([nonemptyoverflow]) > #nav-bar-customization-target{
  --uc-buttons-width: calc(64px + 4 * var(--toolbarbutton-outer-padding) + 6px)
}
/* Override for other densities 
:root[uidensity="compact"] #navigator-toolbox{
  --uc-toolbar-height: 34px;
  --uc-menubutton-padding: 0px;
}
:root[uidensity="touch"] #navigator-toolbox{
  --uc-toolbar-height: 44px;
}

:root[uidensity="compact"] #urlbar-container{
  --urlbar-container-height: var(--uc-toolbar-height) !important;
  padding-block: 0 !important;
}
:root[uidensity="compact"] #urlbar{
  --urlbar-toolbar-height: var(--uc-toolbar-height) !important;
}
*/
/* prevent urlbar overflow on narrow windows */
/* Dependent on how many items are in navigation toolbar ADJUST AS NEEDED */
@media screen and (max-width: 1000px){
  #urlbar-container{
    min-width: 300px !important;
    flex-shrink: 1 !important;
  }
}

#TabsToolbar{
  margin-left: var(--uc-navigationbar-width);
  --tabs-navbar-shadow-size: 0px !important;
  /*color: var(--toolbar-color);*/
}

#tabbrowser-tabs{
  --tab-min-height: calc(var(--uc-toolbar-height) - 2 * var(--tab-block-margin,0px)) !important;
}*/

/* Need to set background color for selected tab so it can be distinguished from background 
#TabsToolbar .tab-background[selected]{
  background: var(--lwt-selected-tab-background-color,rgba(0,0,0,0.2)) !important;
}

#TabsToolbar[brighttext] .tab-background[selected]{
  background: var(--lwt-selected-tab-background-color,rgba(255,255,255,0.2)) !important;
}*/

/* This isn't useful when tabs start in the middle of the window */
/*.titlebar-spacer[type="pre-tabs"]{ width:8px !important}
#nav-bar{ margin-top: calc(0px - var(--uc-toolbar-height)); }*/

#nav-bar-customization-target{ padding-right: calc(100vw - (var(--uc-navigationbar-width)) - var(--uc-window-control-width) - var(--uc-buttons-width) - var(--uc-window-drag-space-post)); }

@media (-moz-bool-pref:"layout.css.osx-font-smoothing.enabled"){
  .titlebar-buttonbox-container{ position: fixed; display: blocK; left: 0px; z-index: 3; }
  #nav-bar-customization-target{ padding-right: calc(100vw - (var(--uc-navigationbar-width)) - var(--uc-buttons-width) - var(--uc-window-drag-space-pre)) }
}

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container,
#TabsToolbar > .toolbar-items{
  position: relative !important;
  z-index: 2
}

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-spacer[type="post-tabs"]{
  display: flex !important;
}

.titlebar-spacer[type="post-tabs"]{
  width: calc(var(--uc-buttons-width) + var(--uc-window-drag-space-post)) !important;
}
:root[privatebrowsingmode="temporary"] .titlebar-spacer[type="post-tabs"]{
  width: var(--uc-buttons-width) !important
}

#PanelUI-button,#nav-bar-overflow-button{
  margin: 0px !important;
  border: 0px !important;
  position: relative;
  z-index: 3;
}
/* 1px margin on touch density causes tabs to be too high */
.tab-close-button{ margin-top: 0 !important }

/* Hide dropdown placeholder */
#urlbar-container:not(:hover) .urlbar-history-dropmarker{ margin-inline-start: -28px; }
  

/* ______________________________________________________________ My Code ______________________________________________________________ 
   _____________________________________________ In addition to overwriting the code above _____________________________________________ */

/* overwriting: Modify these values to match your preferences */
  
:root:is([tabsintitlebar], [sizemode="fullscreen"]) {
  --uc-window-control-width: 144px;                   /* Space reserved for window controls (Win10) */
  --uc-window-drag-space-pre: 0px;                    /* left side*/
  --uc-window-drag-space-post: 0px;                   /* right side*/
}

/* overwriting: <window controls> width in linux */
  
@media (-moz-gtk-csd-available) {
  :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
    --uc-window-control-width: 108px;
  }
}

/* New :root preferences to adapt oneline style */
  
:root,
:root[lwtheme],
:root:not([lwtheme]){
    --toolbar-bgcolor: transparent !important;                                            /* toolbar */
    --lwt-sidebar-background-color: #101019 !important;                                   /* Necessary to fix bug in ogx_library.css */
    --tab-height-personal: 32px !important;                                               /* Minimum Height 32px for the right function of the theme */
    --toolbar-height-personal: var(--tab-height-personal) !important;                     /* Toolbar height */
    --navbarWidth:32vw;                                                                   /* Set width of navbar. Use px for a fixed width or vw for a percentage of your window.*/
    --toolbarbutton-hover-background: var(--toolbarbutton-hover-personal) !important;     /* button_background_hover */
    --toolbarbutton-inner-padding: 8px !important;                                        /* Smaller Toolbar buttons */
    --toolbarbutton-outer-padding: 4px !important;                                        /* More spaced toolbar buttons */
    --toolbarbutton-border-radius: 2px !important;                                        /* roundness of buttons */
    --chrome-content-separator-color: none !important;                                    /* toolbar_bottom_separator */
  }

  
@media (prefers-color-scheme: dark){
  :root:is([lwtheme-image],[style*="--lwt-additional-images"]){
      --lwt-selected-tab-background-color: #101019bf !important;                          /* tab_selected */
  }}
  
@media (prefers-color-scheme: light){
  :root:is([lwtheme-image],[style*="--lwt-additional-images"]){
      --lwt-selected-tab-background-color: #f9f9f9bf !important;                          /* tab_selected */
  }}
  
/* _____________________________________________________________ Private Mode _____________________________________________________________ */
  
:root:is([privatebrowsingmode="temporary"], 
         [privatebrowsingmode="temporary"][style*="--lwt-additional-images"],
         [privatebrowsingmode="temporary"][lwtheme-image]){
  
          --toolbar-bgcolor: transparent !important;
          --toolbarbutton-hover-background: color-mix(in srgb, var(--arrowpanel-background) 94%, var(--lwt-tab-text)) !important;
          --toolbarbutton-active-background: var(--arrowpanel-background) !important;
  }
  
:root:is([privatebrowsingmode="temporary"][sizemode="maximized"], 
         [privatebrowsingmode="temporary"][style*="--lwt-additional-images"][sizemode="maximized"],
         [privatebrowsingmode="temporary"][lwtheme-image][sizemode="maximized"],
         [privatebrowsingmode="temporary"][sizemode="fullscreen"], 
         [privatebrowsingmode="temporary"][style*="--lwt-additional-images"][sizemode="fullscreen"],
         [privatebrowsingmode="temporary"][lwtheme-image][sizemode="fullscreen"]){
  
          --toolbar-bgcolor: transparent !important;
          --uc-window-control-width: 150px !important;
  }
  
:root:is([privatebrowsingmode="temporary"], 
         [privatebrowsingmode="temporary"][style*="--lwt-additional-images"],
         [privatebrowsingmode="temporary"][lwtheme-image])  #navigator-toolbox{
           
          --uc-buttons-width: calc(43px + 4 * var(--toolbarbutton-outer-padding) + var(--uc-menubutton-padding,6px)) !important;
}
  
:root:is([privatebrowsingmode="temporary"][sizemode="normal"], 
         [privatebrowsingmode="temporary"][sizemode="normal"][style*="--lwt-additional-images"],
         [privatebrowsingmode="temporary"][sizemode="normal"][lwtheme-image])  #navigator-toolbox{
           
          --uc-window-control-width: 150px !important; 
          --uc-buttons-width: calc(42px + 4 * var(--toolbarbutton-outer-padding) + var(--uc-menubutton-padding,6px)) !important;
}

@media (-moz-platform: linux) {
  :root:is([privatebrowsingmode="temporary"], 
           [privatebrowsingmode="temporary"][style*="--lwt-additional-images"],
           [privatebrowsingmode="temporary"][lwtheme-image])  #navigator-toolbox{
           
         --uc-window-control-width: 114px !important; 
         --uc-buttons-width: calc(42px + 4 * var(--toolbarbutton-outer-padding) + var(--uc-menubutton-padding,6px)) !important;
}
  :root:is([privatebrowsingmode="temporary"][sizemode="normal"], 
           [privatebrowsingmode="temporary"][sizemode="normal"][style*="--lwt-additional-images"],
           [privatebrowsingmode="temporary"][sizemode="normal"][lwtheme-image])  #navigator-toolbox{
           
         --uc-window-control-width: 167px !important; 
         --uc-buttons-width: calc(95px + 4 * var(--toolbarbutton-outer-padding) + var(--uc-menubutton-padding,6px)) !important;
}

/* Background color when moving a tab */
  
:root:is([privatebrowsingmode="temporary"], 
         [privatebrowsingmode="temporary"][style*="--lwt-additional-images"],
         [privatebrowsingmode="temporary"][lwtheme-image]) 
         #tabbrowser-tabs:is([movingtab]) > #tabbrowser-arrowscrollbox > 
         .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]{
            
        background: var(--lwt-selected-tab-background-color) !important;
  }

/* Smaller url-bar in private windows */
  
:root:is([privatebrowsingmode="temporary"]) #urlbar-container:not([open],:focus, :focus-within ){
    max-width: calc(var(--min-width-url) - 1vw) !important;
}

@media (-moz-gtk-csd-reversed-placement){
  :root:is([privatebrowsingmode="temporary"]) #nav-bar-customization-target {
    padding-right: 0px !important;
}
  }
  
}
  
/* ________________________________________________________________________________________________________________________________________ */
   
/* overwriting: ogx_tabs-bar */
  
.tab-background:is([selected]){
    background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent), var(--lwt-selected-tab-background-color, transparent)), 
                      var(--lwt-additional-images,none), var(--lwt-header-image, none) !important;
  }
  
/* overwriting: window controls */
  
@media (-moz-platform: windows) { :root:is([sizemode="fullscreen"],[sizemode="maximized"]) .titlebar-min{
    padding-top: initial !important;
    padding-bottom: 0px !important;
    }}
  
/* fix for status panel */

#statuspanel label{
    background-color: var(--lwt-frame, var(--contrast-color)) !important;
    border-color: #80808050 !important;
}
  
/* Separator between <window controls> and other buttons */
    
:root:not([chromehidden~="toolbar"]):is([sizemode="fullscreen"],[sizemode="maximized"]) .titlebar-buttonbox::before{
    content: ""; position: absolute !important; align-self: center !important;
    background: url("../icons/urlbar-separator.svg") no-repeat left !important; 
    background-size: 6px 16px !important;
    width: 6px !important;
    height: 16px !important;
    fill: var(--toolbarbutton-icon-fill) !important;
    -moz-context-properties: fill !important;
    opacity: 0.2 !important;
    fill-opacity: 1 !important;
    margin-left: -16px !important;
    }
 
/* Unified extension button on right - Immovable */
  
#unified-extensions-button{
    position: fixed;
    display: flex;
    left: calc(100vw - var(--uc-window-control-width) - 64px) !important;
    top: var(--windowed-top-padding, 0px);
    padding-block: 4px !important;
    z-index: 3 !important;
}
  
/* overwriting: Prevent the scroll buttons from sticking out vertically */
  
#scrollbutton-up, #scrollbutton-down{ border-block-width: 1px !important; }
  
/* overwriting: reserved space for overflow + menu buttons */
  
#navigator-toolbox{
  --uc-buttons-width: calc(67px + 4 * var(--toolbarbutton-outer-padding) + var(--uc-menubutton-padding,6px)) !important;
}
  
/* overwriting: reserved space for overflow + menu buttons on LINUX */
  
@media (-moz-platform: linux) {
#navigator-toolbox{
  --uc-buttons-width: calc(66px + 4 * var(--toolbarbutton-outer-padding) + var(--uc-menubutton-padding,6px)) !important;
  }}
  
/* ___________________________ Adds more space to use as drag space in non-maximized window ___________________________ */
  
/* Dragspace after tabs on non-maximized windows */
  
:root:is([sizemode="normal"]) #navigator-toolbox{
  --uc-buttons-width: calc(94px + 4 * var(--toolbarbutton-outer-padding) + var(--uc-menubutton-padding,6px)) !important;
}
@media (-moz-platform: linux) {
:root:is([sizemode="normal"]) #navigator-toolbox{
  --uc-buttons-width: calc(107px + 4 * var(--toolbarbutton-outer-padding) + var(--uc-menubutton-padding,6px)) !important;
  }}
  
:root:is([tabsintitlebar][sizemode="normal"]) {
    --uc-window-control-width: 172px;
}
  
@media (-moz-gtk-csd-available) {
:root:is([tabsintitlebar][sizemode="normal"]) {
    --uc-window-control-width: 149px;
  }}
  
/* Move nav-bar to the right */

:root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]) #nav-bar {
  padding-inline-start: var(--my-vertical-toolbar-width,0) !important;
}

/* Modify these to change relative widths or default height */
  
#navigator-toolbox{
  --uc-navigationbar-width: var(--navbarWidth);
  --uc-toolbar-height: var(--tab-height-personal) !important;
}
  
/* New variables for new <menu> button size and url size */
  
:root{
    --my-vertical-toolbar-width: 35px ;/**/
    --uc-vertical-toolbar-width: calc(var(--my-vertical-toolbar-width) - 1px);
    --padding-left-tab: var(--uc-vertical-toolbar-width) !important;
    --button-bgcolor-personal: color-mix(in srgb, var(--general-color) 12%, transparent) !important;
    --min-width-url: 23.6vw !important;
}
  
/* _____________________________________________________________ Url-bar _____________________________________________________________ */

/* Smaller urlbar */
  
#urlbar:not([open]){
    min-height: 26px !important;
    max-height: 26px !important;
    -moz-box-pack: center !important;
    -moz-box-orient: vertical !important;
}
  
/* box, urlbar icon box*/
  
#identity-icon-box, #tracking-protection-icon-container, #identity-permission-box, #notification-popup-box {   
    margin-block: 2px !important;
}

#notification-popup-box{
    width: 18px !important;
    height: 18px !important;
}
  
/* Blur at the end of "Search with..." */
  
#urlbar[pageproxystate="invalid"]:not([usertyping],[searchmode],[open]) #urlbar-input{
  mask-image: linear-gradient(to right, black calc(var(--min-width-url) - 60px), transparent calc(var(--min-width-url) - 36px)) !important;
}

#urlbar:not([open],:hover, [focused]) #urlbar-input {
    mask-image: linear-gradient(to right,  transparent 0%, #fff 10% 80%, transparent 90%) !important;
}
  
/* urlbar when 'focus' and 'open' */
  
#urlbar-container, #urlbar-container:not([open],:focus, :focus-within ){
    max-width: var(--min-width-url) !important; 
}
  
#urlbar:focus-within, #urlbar[focused="true"] { 
    min-width: calc(var(--min-width-url) + 30vw) !important;
    clip-path: polygon(0px 0%, calc(var(--min-width-url) ) 0%, 0% 999999vw, 0% 0px) !important;
}
  
#urlbar[open]{ 
    width: calc(var(--min-width-url) + 30vw) !important; 
    clip-path: none !important;
}
  
/* Allows you to make space to move icons in 'customization mode' */
  
:root:is([customizing])  #urlbar{
    max-width: calc(var(--min-width-url) - 3vw) !important; 
}
  
:root:is([customizing])  #wrapper-urlbar-container{
    max-width: calc(var(--min-width-url) - 2vw) !important; 
}

/* Urlbar text centered */
  
#urlbar:not([focused]) #urlbar-input, /* ID for Firefox 70 */
#urlbar:not([focused]) .urlbar-input{ text-align: center !important; }
  
/* Modified "show more bookmarks" icon */
  
#PlacesChevron>image {
    transform: rotate(90deg);
}
  
/* <left> - <right> url separator */
  
#urlbar-background::before{
  margin-block-start: 2px !important;
}
  
#urlbar-background::after{
    margin-block-start: calc(5px - var(--toolbar-height-personal)) !important;
}
  
/* Microphone icon */
  
#notification-popup-box[open]  .microphone-icon  {
  margin-left: -3px !important;
  }
  
/* Urlbar icons - show on 'hover' */
  
.urlbar-page-action, #identity-box, #urlbar-zoom-button{
    opacity: 0;
    transition: opacity 300ms ease-in-out !important;
    transition-delay: 0ms !important;
}

#urlbar:is([open],:hover, [focused]) .urlbar-page-action, 
#urlbar:is([open],:hover, [focused]) #urlbar-zoom-button,
#urlbar:is([open],:hover, [focused]) #identity-box,
.urlbar-page-action[open],
.urlbar-page-action[open] ~ .urlbar-page-action,
#identity-box:has(#identity-icon-box[open], #identity-permission-box[open], #notification-popup-box[open]){
    opacity: 1;
    transition: opacity 300ms ease-in-out !important;
    transition-delay: 100ms !important;
}
  
/* Align the navbar gradient line with selected tab, and trick to vertically center all elements */ 
  
#nav-bar{    
    padding-top: none !important;
    border-top: none !important;
    padding-bottom: none !important;
    padding-inline-end: var(--uc-window-control-width) !important;
    margin-top: calc(0px - var(--tab-height-personal) - 3px) !important;
    height: calc(var(--tab-height-personal) + 3px) !important;
}
  
#PersonalToolbar {
    padding-block: 1px !important;
    background-color: var(--lwt-selected-tab-background-color) !important;
}
  
/* Match nav-bar and tabs-bar button styles */
  
/* Size and roundness */
toolbar .toolbarbutton-1:not(#firefox-view-button), 
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack, 
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon{
    --toolbarbutton-inner-padding: 4px !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
}
  
toolbar:is(#nav-bar) .toolbarbutton-1{
    margin-bottom: -1px !important;
    --toolbarbutton-inner-padding: 4px !important;
}

/* _______________________________________________________ Icons - background, colors _______________________________________________________ */
  
/* icons color */
  
#TabsToolbar, #nav-bar {
    --toolbarbutton-icon-fill: var(--toolbar-color) !important;
}  
  
/* :hover icons - #nav-bar */

#nav-bar .toolbarbutton-1:is(:hover):not([disabled="true"],[open],#PanelUI-menu-button) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:is(:hover):not([disabled="true"],[open],#PanelUI-menu-button) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:is(:hover):not([disabled="true"],[open],#PanelUI-menu-button) > .toolbarbutton-badge-stack {
    fill: var(--toolbar-color) !important;
}
  
/* 'active' - 'open' icons in #nav-bar and Tabs-bar */
  
:is(#TabsToolbar,#nav-bar) .toolbarbutton-1:is([open="true"],:active) :is(.toolbarbutton-icon, .toolbarbutton-badge-stack){
    fill: var(--general-color) !important;
}

/* Button background colors */
  
#nav-bar{
    --toolbarbutton-active-background: color-mix(in srgb, var(--toolbarbutton-hover-personal)75%, var(--contrast-color)) !important;
} 

:root:is([lwtheme-image],[style*="--lwt-additional-images"]) #nav-bar {
    --toolbarbutton-active-background: color-mix(in srgb, transparent 90%, color-mix(in srgb, var(--lwt-tab-text)80%, var(--general-color))) !important;
}
  
:root:is([lwtheme-image],[style*="--lwt-additional-images"]) #PersonalToolbar {
    --toolbarbutton-hover-background: color-mix( in srgb, var(--toolbarbutton-hover-personal) 60%, transparent) !important; 
}

/* Trick to make extension buttons clickable from the top edge of the window */
  
#TabsToolbar .toolbarbutton-1 .toolbarbutton-badge-stack{
  margin-block: 4px 4px !important;
}
  
/* H I D I N G   E L E M E N T S */

/* "Shield" icon */
  
#tracking-protection-icon-container { display: none !important }
  
/* Container icon */
  
#userContext-indicator { display: none !important; }


/* _________________________________________________________ New 'Menu' Button margins _________________________________________________________ */

/* Remove 'menu' label when menu is not 'open' */
  
@media (-moz-platform: windows),(-moz-platform: linux){
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button:not([open]) > stack::after,
    :root:not([chromehidden~="toolbar"]):is([sizemode="normal"],[sizemode="fullscreen"]) #PanelUI-menu-button:is([open]) > stack::after {
    content: none !important ;
    }
  
/* Make button wider when menu is 'open' */
  
:root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]):is([sizemode="maximized"]) #PanelUI-menu-button[open] > stack{
  --padding-left-tab: 80px !important;
    }
  
:root:is([sizemode="maximized"]) #appMenu-popup{
      --padding-left-tab: 80px !important;
    }
  
/* Bigger logo */
  
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button image{
    min-height: 20px !important;
    min-width:  20px !important;
        }
  
/* menu when 'hover' */
  
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button{
    border-radius: 0px !important;
        }
  
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button:not([open]):hover > .toolbarbutton-badge-stack{
    background-color: color-mix(in srgb, var(--general-color) 15%, transparent) !important;
        }
  }
  

/* _______________________________________________________________ Menu-bar  _______________________________________________________________ */
  
  /* margin to the left of the tabs */
  :root:not([chromehidden~="toolbar"]) #toolbar-menubar, :root:not([chromehidden~="toolbar"]) #toolbar-menubar[autohide="true"]+#TabsToolbar{
    padding-left: calc(var(--padding-left-tab) - 1px) !important;
  }
  
  /* Keep space on the right when menu bar is always active */
  :root:not([chromehidden~="menubar"], [inFullscreen]) #toolbar-menubar[autohide="false"] + #TabsToolbar > :is(.titlebar-buttonbox-container, .titlebar-spacer) {
    display: flex !important;
  }
  
  :root:not([chromehidden~="menubar"], [inFullscreen]) #toolbar-menubar[autohide="false"] + #TabsToolbar > :is(.titlebar-spacer[type="pre-tabs"]){
    width: 33px !important;
  }

  #toolbar-menubar{
    position: fixed;
    display: flex;
    top: 0px;
    width: 100vw;
    height: initial !important;
    z-index: 1;
  }

  #toolbar-menubar[autohide="true"][inactive="true"]{ height: 0px !important; }

  #toolbar-menubar > spacer{ flex-grow: 1 }
  #toolbar-menubar[inactive] > .titlebar-buttonbox-container{ display: none }

  #main-menubar{
    height: calc(var(--tab-height-personal) +  2 * var(--tab-block-margin,0px) + var(--windowed-top-padding, 0px) - 1px);
    background-color: var(--lwt-frame) !important;
    color: var(--arrowpanel-color) !important;
  }

  /* Height menubar in Linux*/
  @media (-moz-platform: linux) { 
    #main-menubar{
    height: calc(var(--tab-height-personal) +  2 * var(--tab-block-margin,0px) + var(--windowed-top-padding, 0px) - 2px);
    }}

  #menubar-items{
    -moz-box-orient: horizontal !important; /* Fx <112 compatibility */
    flex-direction: row !important;
  }
  #menubar-items::after{
    content: "";
    display: flex;
    width: 50px;
    height: calc(var(--tab-min-height) +  2 * var(--tab-block-margin,0px) + var(--windowed-top-padding, 0px) - 1px );
    background-image: linear-gradient(to right, var(--lwt-frame) 30%, transparent);
  }

  @media (-moz-platform: linux) {
    #menubar-items::after{
    height: calc(var(--tab-min-height) +  2 * var(--tab-block-margin,0px) + var(--windowed-top-padding, 0px) - 2px );
    }}

  #main-menubar>menu {  
    border-radius: 0px !important;
  }

  @media (-moz-gtk-csd-reversed-placement){
    #toolbar-menubar[autohide="true"]:not([inactive]) > .titlebar-buttonbox-container{ display: none }  
  }
  
/* _______________________________________ Compatibility when <window controls> are on the left, on Linux _______________________________________ */

@media (-moz-gtk-csd-reversed-placement){
  
/* Separator near the window controls */
  
:root:not([chromehidden~="toolbar"]):is([sizemode="fullscreen"],[sizemode="maximized"]) .titlebar-buttonbox:before{
    margin-left: calc(var(--uc-window-control-width) - 18px) !important;
    }
  
/* Drag space to right when window is <not maximized> */

:root[tabsintitlebar][sizemode="normal"]:not([sizemode="maximized"]) #navigator-toolbox{
  --uc-buttons-width: calc(72px + 4 * var(--toolbarbutton-outer-padding) + var(--uc-menubutton-padding,6px)) !important; 
}
  
:root[tabsintitlebar][sizemode="normal"]:not([sizemode="maximized"]) #nav-bar { 
  padding-inline-end: 62px !important; 
}
/* */
:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-spacer[type="post-tabs"]{
  width: 65px !important;
}
 
:root:is([tabsintitlebar][sizemode="maximized"]) #TabsToolbar-customization-target{
    border-right: 64px solid transparent !important;
}
 
/* Drag space <before> and <after> in private windows */
  
:root:is([privatebrowsingmode="temporary"][sizemode="normal"]):not([privatebrowsingmode="temporary"][sizemode="maximized"]) #navigator-toolbox{
  --uc-window-control-width: inherit !important; 
  --uc-buttons-width: calc(56px + 4 * var(--toolbarbutton-outer-padding) + var(--uc-menubutton-padding,6px)) !important; 
}
:root:is([privatebrowsingmode="temporary"][sizemode="normal"],
         [privatebrowsingmode="temporary"][sizemode="maximized"],
         [privatebrowsingmode="temporary"][sizemode="fullscreen"]) #navigator-toolbox{
  --uc-window-control-width: 108px !important; 
}
  
:root:is([privatebrowsingmode="temporary"][sizemode="maximized"],[privatebrowsingmode="temporary"][sizemode="fullscreen"]) #nav-bar{
    margin-inline-end: 60px  !important;
}

:root:is([privatebrowsingmode="temporary"][sizemode="fullscreen"]) #navigator-toolbox{
  --uc-buttons-width: calc(56px + 4 * var(--toolbarbutton-outer-padding) + var(--uc-menubutton-padding,6px)) !important; 
}
  
/* Make extensions and overflow menu buttons clickable */
  
#nav-bar-overflow-button{
  margin: 0px !important;
  border: 0px !important;
  position: relative;
  z-index: 3;
}
  
/* Unified extension button on right - Immovable */
  
#unified-extensions-button{
    position: fixed;
    display: flex;
    left: initial !important;
    right: 33px !important;
    top: calc(var(--windowed-top-padding, 0px) + 0px);
    z-index: 3 !important;
}
  
/* Reorder <window controls> */
  
.titlebar-buttonbox {
  appearance: none !important;
  position: fixed !important;
  display: flex !important;
  height: var(--tab-height-personal) !important;
  top: var(--windowed-top-padding, 0px) !important;
  left: var(--uc-vertical-toolbar-width,0) !important;
  background: transparent !important;
  padding-left: 2px !important;
  z-index: 2 !important;
}
/* Rightmost <back> button */
  
:root:not([chromehidden~="toolbar"]) #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child{
  margin-left: calc(var(--uc-vertical-toolbar-width,0) + var(--uc-window-control-width)) !important;
  padding-inline-start: 2px !important;
}
  
/* move the tabs-bar further to the right because of the <window controls> */
  
#TabsToolbar{
  margin-left: calc(var(--uc-navigationbar-width) + var(--uc-window-control-width));
  --tabs-navbar-shadow-size: 0px !important;
}
  
/* Menu bar */
  
:root:not([chromehidden~="toolbar"]) #toolbar-menubar{
  padding-left: calc(var(--uc-vertical-toolbar-width,0) + var(--uc-window-control-width)) !important;
}
  
:root:not([chromehidden~="toolbar"]) #toolbar-menubar[autohide="false"] + #TabsToolbar{
  padding-left: calc(var(--uc-vertical-toolbar-width,0) - 9px) !important;
  }
/* Keep space on the right when menu bar is always active */
  :root:not([chromehidden~="menubar"], [inFullscreen]) #toolbar-menubar[autohide="false"] + #TabsToolbar > :is(.titlebar-buttonbox-container, .titlebar-spacer) {
    display: none !important;
  }
/* Make space on the left when menu bar is always active */
  :root:not([chromehidden~="toolbar"]) #toolbar-menubar, :root:not([chromehidden~="toolbar"]) #toolbar-menubar[autohide="false"]{
    padding-left: calc(var(--padding-left-tab) + var(--uc-window-control-width)) !important;
  }
  :root:not([chromehidden~="toolbar"]) #toolbar-menubar[autohide="false"]+#TabsToolbar{
    padding-left: var(--uc-window-control-width) !important;
  }

/* Move overflow menu to the right */
  #nav-bar{ padding-inline-end: 2px !important; }

}
  
/* _______________________________________________ Compatibility for 'left-sidebar' configuration _______________________________________________ */
  
@media (-moz-bool-pref:"firefoxgx.left-sidebar") or ((-moz-bool-pref:"sidebar.revamp") and (not (-moz-bool-pref:"sidebar.verticalTabs"))){
  
  :root{ 
    --my-vertical-toolbar-width: 41px !important;
    --padding-left-tab: calc(var(--my-vertical-toolbar-width) - 1px) !important;
  }
  
  @media (-moz-platform: windows),(-moz-platform: linux) {
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button{
        --toolbarbutton-inner-padding: 6px !important;                                        
        --toolbarbutton-outer-padding: 2px !important;                                       
        }}
  

  :root:not([chromehidden~="toolbar"]) #PersonalToolbar,
  :root[uidensity="touch"]:not([chromehidden~="toolbar"]) #PersonalToolbar{
      --padding-top-left-sidebar: 130px !important;
      --padding-bottom-left-sidebar: 70px !important;

      border-image: linear-gradient(to bottom, transparent calc(var(--tab-height-personal)*2 + var(--windowed-top-padding, 0px) + 33px),
                    var(--general-color) calc(var(--tab-height-personal)*2 + var(--windowed-top-padding, 0px) + 33px),
                    var(--button-active-bgcolor) 42% , var(--lwt-frame) 94%) 1 !important;
  }

/* overwriting: ogx_left-sidebar : Margin to the left of tabs when menu-bar is displayed */

    #toolbar-menubar, #toolbar-menubar[autohide="true"]+#TabsToolbar {
        padding-left: 0px !important;
    }
  
/* overwriting: rule from above: Keep space on the right when menu bar is always active */
  
  :root:not([chromehidden~="menubar"], [inFullscreen]) #toolbar-menubar[autohide="false"] + #TabsToolbar > :is(.titlebar-spacer[type="pre-tabs"]){
    width: 0px !important;
  }}
  
/* ____________________________________________________________________________________________________________________________________________ */
  
  @media (not (-moz-bool-pref:"firefoxgx.left-sidebar")) and (-moz-bool-pref:"sidebar.revamp") and (not (-moz-bool-pref:"sidebar.verticalTabs")) and (-moz-bool-pref:"sidebar.position_start") {
    
    :root:not([sizemode="fullscreen"]):has(sidebar-main:not([expanded])) {

        & #sidebar-main {
      --padding-top-left-sidebar: 50px !important;
      --padding-bottom-left-sidebar: 84px !important;
      margin-top: calc( -1px - var(--toolbar-height-personal) - var(--windowed-top-padding, 0px)) !important;
      border-image: linear-gradient(to bottom, transparent calc(var(--tab-height-personal) * 1 + var(--windowed-top-padding, 0px) + 1px), 
                      var(--general-color) calc(var(--tab-height-personal) * 1 + var(--windowed-top-padding, 0px) + 1px), 
                      var(--button-hover-bgcolor) 52%, transparent 94%) 1 !important;
      }}
    
    :root:has(#PersonalToolbar[collapsed="false"]) #sidebar-main {
      margin-top: calc( -29px - var(--toolbar-height-personal) - var(--windowed-top-padding, 0px)) !important;
    }
  }
  
  }
}