/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

menupopup {
    --panel-padding: 4px 0px !important;
}

/* Menú contextual */

menupopup > menuitem, menupopup > menu {
    appearance: none !important;
    padding-block: 4px !important;
    border-radius: 0px !important;
}

/* Combo-box - Select Box more compact */

#ContentSelectDropdown > menupopup > menuitem {
    padding: 0 6px !important;
}

/* context menu top buttons radius */

menugroup > menuitem > hbox > image {
    appearance: none !important;
    border-radius: 2px !important;
}

/* separador de items */

#context-sep-navigation { padding-inline: 12px !important; }

menuseparator::before {
    appearance: none !important;
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
    margin-inline: -6px !important;
}

@media (-moz-platform: linux) {
    menuseparator::before {
    appearance: none !important;
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
    margin-inline: 6px !important;
    }
}

/* Márgenes menú y menú desplegable del menú */

menupopup:not(#PlacesToolbar) menupopup {
    appearance: none !important;
    margin-block-start: -9px !important;
    margin-inline-start: -10px !important;
}

#permission-popup menupopup {
    appearance: none !important;
    margin-block-start: -3px !important;
}

#PlacesToolbar menupopup menupopup {
    appearance: none !important;
    margin-block-start: -9px !important;
    margin-inline-start: -8px !important;
}

/* Colores generales */

.menupopup-arrowscrollbox {
    appearance: none !important;
    background-image: linear-gradient(var(--arrowpanel-background), var(--arrowpanel-background)),
                      linear-gradient(transparent, transparent),
                      var(--noise-urlbar-personal, var(--noise-urlbar-personal, none)) !important;
    background-color: var(--arrowpanel-background, Menu) !important; 
    box-shadow: 0px 0px 0 1px var(--border-contrast-color, #09080d) !important;
    color: var(--arrowpanel-color, #ffffff) !important;
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
    border-radius: 0px !important;
}

/* Font color in Contextual menus */

menupopup > menuitem:not([disabled="true"]), menupopup > menu {
    appearance: none !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

/* Gradient color to :hover items */

menupopup > menuitem:not([disabled="true"]):hover, menupopup > menu:hover {
    appearance: none !important;
    background: linear-gradient(to right, var(--button-bgcolor) 49%, transparent) !important;
    color: var(--arrowpanel-color, #ffffff) !important;
}

menupopup > menuitem:is([disabled="true"]):hover {
    appearance: none !important;
    background: transparent !important;
}

/* Necesario para quitar glitch indeseado al mover el mouse rapidamente sobre items de menús */

menupopup > menuitem:not([selected="true"]),
#context-navigation > menuitem:not([selected="true"]),
menupopup > menu {
    appearance: none !important;
    background-color: transparent !important;
}

menupopup > menu[open="true"] {
    appearance: none !important;
    background: linear-gradient(to right, var(--button-bgcolor) 49%, transparent) !important;
    color: var(--arrowpanel-color) !important;
}

/* Mostrar background-color en el item seleccionado */

menupopup > menuitem:is([selected="true"]):not([disabled="false"]) {
    appearance: none !important;
    background-color: var(--button-hover-bgcolor) !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

menupopup > menuitem:is([selected="true"]):hover:not([disabled="false"]) {
    appearance: none !important;
    background-color: var(--button-active-bgcolor) !important;
}

/* Makes context navigation buttons appears as normal textual menuitems */

#context-navigation { flex-direction: column !important; }

@media (-moz-bool-pref: "firefoxgx.icon.disabled") {
    
    #context-navigation > menuitem > .menu-iconic-left { display: none !important; }
    
    #context-navigation > menuitem {
        appearance: none !important;
        padding-block: 0.4em !important;
        padding-inline-start: 1em !important;
        justify-content: flex-start !important;
        -moz-box-pack: start !important;
        width: auto !important;
        border-radius: 0px !important;
    }
}

@media not (-moz-bool-pref: "firefoxgx.icon.disabled") {
    
    #context-navigation > menuitem > .menu-iconic-left .menu-iconic-icon {
        appearance: none !important;
        width: 30px !important;
        height: 26px !important;
        padding-block: 0px !important;
        margin-block: 0px !important;
        }

    #context-navigation > menuitem {
        appearance: none !important;
        padding-block: 0.0em !important;
        padding-inline-start: 6px !important;
        justify-content: flex-start !important;
        -moz-box-pack: start !important;
        width: auto !important;
        border-radius: 0px !important;
    }
}

#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]) {
    background: linear-gradient(to right, var(--button-bgcolor) 49%, transparent) !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

#context-navigation > menuitem::after {
    content: attr(aria-label);
}

/* #################################### LINUX ####################################### */

/* Flecha menú contextual desplegable Linux */

@media (-moz-platform: linux) {
    
    @media not (-moz-bool-pref: "firefoxgx.icon.disabled") {
    
    /* Quita margen indeseado que interfiere con el margen de los íconos */

    .menu-text{ margin-inline-start: 0px !important; }

    /* Quitamos doble icono en ciertos items de menu */

    :is(#toggle_toolbar-menubar:not([checked="true"]), 
        #show-other-bookmarks_PersonalToolbar:not([checked="true"]),
        #spell-check-enabled:not([checked="true"]),
        #goOfflineMenuitem,
        #fullScreenItem,
        #menu_devToolbox,
        #menu_responsiveUI,
        #menu_eyedropper,
        #main-menubar #toggle_toolbar-menubar,
        #main-menubar :is(#toggle_PersonalToolbar, #pageStyleMenu) menuitem,
        #menu_bookmarksSidebar,
        #menu_historySidebar,
        #menu_tabsSidebar,
        #toggle_zoom,
        .unified-extensions-context-menu-pin-to-toolbar) .menu-iconic-left{
            display: none !important;
    }

    /* Alinear iconos de extensiones */    

    .menuitem-iconic:not(#context-navigation>.menuitem-iconic), .menu-iconic:not(#PlacesToolbar){
        padding-inline-start: 12px !important;
    }

    /* Margen derecha iconos marcadores de la barra de menú */

    .menu-iconic-left:not(#context-navigation>.menuitem-iconic>.menu-iconic-left) {
        padding-inline-end: 5px !important;
    }
}
    
/* Alinear items cuando se deshabilita los íconos */
    
    @media (-moz-bool-pref: "firefoxgx.icon.disabled") {
        #context-navigation > menuitem {
            padding-inline-start: 28px !important;
            padding-block: 4px !important;
        }
    }
    
/* Borde items */
    
menupopup {
    --panel-padding: 4px 0px !important;
}
    
menu, menuitem, menucaption {
    border-radius: 0px !important;
}
    
/* Flecha derecha */
    
.menu-right {
        margin-inline-end: 10px !important;
}}
