/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/*"tab_line": "#126e82"*/
#tabbrowser-tabs { --lwt-tab-line-color: transparent !important; }

/*--------------Pestaña activa---------------*/
.tabbrowser-tab {padding-inline: 0px 1px !important; }
.tab-background {clip-path: polygon(5px 0%, 200% 0%, 0% 200%, 0% 5px); }

.tab-stack{ clip-path: polygon(5px 0%, 200% 0%, 0% 200%, 0% 5px); border-radius: 0px 2px 0 0 !important;}
:root[style*="--lwt-additional-images"] .tab-stack{ clip-path: none !important; border-radius: 0px 2px 0 0 !important;}

.tabbrowser-tab[selected="true"] .tab-stack { background: var(--gradient) !important; }
.tab-stack { margin-top: var(--tab-block-margin) !important; }

.tab-background{ height: var(--tab-min-height) !important; margin-left: 1px !important; margin-right: 1px !important; margin-top: 1px !important; }

:root[style*="--lwt-additional-images"] .tab-background:is([selected]){ --lwt-tab-line-color: var(--general-color) !important; clip-path: none !important; }
:root[style*="--lwt-additional-images"] .tabbrowser-tab[selected="true"] .tab-stack { background: transparent !important; clip-path: none !important;}
:root[style*="--lwt-additional-images"] #tabbrowser-tabs .tab-background[selected="true"]{ height: calc(var(--tab-min-height) + 1px) !important;
    margin-left: 0px !important; margin-right: 0px !important; margin-top: 0px !important; border-radius: 5px 2px 0 0 !important;
    background: var(--toolbar-bgcolor) !important; clip-path: none !important; border-bottom: 1px solid var(--toolbar-bgcolor) !important;
}
:root[style*="--lwt-additional-images"][tabsintitlebar][sizemode="normal"] #tabbrowser-tabs .tab-background[selected="true"]{ 
    height: calc(var(--tab-min-height) + 0px) !important;
}
/* Indispenable para mantener alineado pestañas hover y pestaña activa*/
.tab-content { height: var(--tab-min-height) !important;}
:root[tabsintitlebar][sizemode="normal"] .tab-content {padding-bottom:  var(--tab-block-margin) !important; }

/*Color :hover de las pestañas no seleccionadas*/
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"], [multiselected]) {
  background-color: color-mix(in srgb, var(--general-color) 25%, transparent)  !important; border-radius: 0px !important;
  clip-path: polygon(5px 0%, 200% 0%, 0% 200%, 0% 5px); margin-block: 0px !important;
}
:root[lwtheme-image] .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"], [multiselected]) {
  background-color:color-mix(in srgb, var(--general-color) 35%, transparent) !important;
}
:root[style*="--lwt-additional-images"] .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"], [multiselected]) {
    border-radius: 4px 0px 0 0 !important; clip-path: none !important;
}
/*Regla para visualizar mejor el seleccionar varias pestañas*/
.tabbrowser-tab[multiselected]{    
    --lwt-tab-line-color: transparent !important; color: var(--lwt-tab-text) !important;
}
.tab-background[multiselected]:not([selected="true"]), tab-content:is([multiselected]):not([selected="true"]) .tab-stack {
    background: var(--button-hover-bgcolor) !important;    --lwt-tab-line-color: transparent !important; outline: none !important;  margin-block: 0px !important;
}
.tab-background[multiselected]:is([selected="true"]) {
    background: transparent !important; outline: none !important;
}
/*"toolbar_top_separator": "#17161c"*/
#navigator-toolbox{--tabs-border-color: transparent !important; --lwt-tabs-border-color: transparent !important;}
#nav-bar{    
    border-top: 1px solid var(--toolbar-bgcolor) !important;    
    border-image: var(--panel-separator-zap-gradient2) 1 !important; 
    margin-top: -1px !important;
    padding-top:1px !important;
    padding-bottom:1px !important;
}
/*Color bolita de cargando página*/
#tabbrowser-tabs{ 
    --tab-loading-fill: var(--general-color) !important;
}
/*Centrar botón "Open Newtab"*/
#TabsToolbar .toolbarbutton-1 {       
    fill: var(--general-color) !important;
    padding-left: 3px !important;
    max-height: var(--tab-min-height) !important;
    min-height: var(--tab-min-height) !important;    
}
#tabs-newtab-button image{
    padding: 3px !important; height: 22px !important; width: 22px !important; border-radius: 2px !important;
}
#tabs-newtab-button:hover .toolbarbutton-icon {
    background: color-mix(in srgb, var(--general-color) 25%, transparent)  !important;
}
/*favicon de pagina newtab*/
.tab-icon-image[src="chrome://branding/content/icon32.png"] {
  content: url("../images/foxlogofavicon.svg");
  fill: var(--identity-icon-color, var(--general-color)) !important;
}
/*"Medidas menores para scroll de pestañas"*/
#tabbrowser-tabs{ --uc-tabs-scrollbutton-border: 0px !important; }
#scrollbutton-up, #scrollbutton-down{ border-block-width: var(--uc-tabs-scrollbutton-border,0px) !important; 
}
/* Eliminar botón >> ALL tabs */
/* #alltabs-button { display: none !important; } */

/* Tamaño horizontal pestañas */
.tabbrowser-tab[fadein]:not([style^="max-width"]){ max-width: 200px !important 
}
/* Reduce spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0px !important;
}
/* Eliminar espacio de arrastre - izquierda*/
.titlebar-spacer[type="pre-tabs"]{
    display: none !important
}
/* Sombra-shadow > label de pestañas */
.tab-label{ text-shadow: none !important; 
}
/* Color y posición "dot" de pestaña que necesita atención */
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  background-image: radial-gradient(circle, var(--general-color), var(--general-color) 2px, transparent 2px) !important;
  background-position: center top calc(0px + var(--tabs-navbar-shadow-size)) !important;
}
/* Mantener una imagen al mover pestaña en temas con imagenes - still needs fix */
:root[lwtheme-image] #tabbrowser-tabs:is([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]:-moz-lwtheme{
   background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent), var(--lwt-selected-tab-background-color, transparent)),
   linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, none) !important;
   background-position: right top !important;
   background-repeat:  no-repeat !important;
   background-size:  inherit !important;  
}
