/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/*---------------------------Página -> "Personalizar Toolbar---------------------------*/

/*"Color de fondo e íconos en "Perzonalizar barra de herramientas"*/
#customization-container {color: var(--lwt-text-color) !important; background-color: var(--toolbar-bgcolor) !important;} 

.customizationmode-button {
    appearance: none !important;
    background-color: var(--Button-background-personal) !important;
    border-color: var(--input-border-color) !important;
    color: var(--lwt-tab-text) !important;
    border-radius: 3px !important;
}
.customizationmode-button:is(:active, :hover):not([disabled]), .customizationmode-button[open], .customizationmode-button[checked] {
    appearance: none !important;
    background-color: var(--button-primary-hover-bgcolor) !important;
    border-color: var(--button-primary-hover-bgcolor) !important;
    color: var(--lwt-tab-text) !important;
}
#customization-done-button {
    appearance: none !important;
    color: #fff !important;
    border-color: var(--general-color) !important;
    background-color: var(--general-color) !important;
}
#customization-done-button:is(:active, :hover):not([disabled]) {
    appearance: none !important;
    color: var(--lwt-tab-text) !important;
    background-color: var(--button-active-bgcolor) !important;
    border-color: var(--button-active-bgcolor) !important;
}
/* Menú de desbordamiento*/
.panel-arrowcontent { border-radius: 0px !important; margin-right: 0px !important; padding-right: 0px !important; }
#customization-panel-container{  padding-right: 2px !important; }
#customization-panelWrapper > .panel-arrowbox > .panel-arrow[side="top"] {
    margin-inline-end: calc(var(--panel-arrow-offset) - var(--customization-panel-padding) + 6px) !important; 
}
