/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media -moz-pref("sidebar.visibility", "expand-on-hover") {

  :root {
    --uc-sidebar-hover-width: 3 ;     /* Number of pinned columns */
  }

  /* The selected pinned tab is visible when the sidebar is collapsed - limited to 5 rows and multiples of the columns number */

  #sidebar-main:not(:hover) #vertical-pinned-tabs-container .tabbrowser-tab[selected="true"] {
    &:nth-child(n+1):nth-child(-n+3) {
      grid-row-start: 1 !important;
      grid-column-start: 1 !important;
    }

    &:nth-child(n+4):nth-child(-n+6) {
      grid-row-start: 2 !important;
      grid-column-start: 1 !important;
    }

    &:nth-child(n+7):nth-child(-n+9) {
      grid-row-start: 3 !important;
      grid-column-start: 1 !important;
    }

    &:nth-child(n+10):nth-child(-n+12) {
      grid-row-start: 4 !important;
      grid-column-start: 1 !important;
    }

    &:nth-child(n+13):nth-child(-n+15) {
      grid-row-start: 5 !important;
      grid-column-start: 1 !important;
    }
  }

  /* Smaller pinned tab width when sidebar is expanded */

  @media -moz-pref("sidebar.visibility", "expand-on-hover") { 
    #tabbrowser-tabs[orient="vertical"][expanded] {
      & .tabbrowser-tab[pinned] {
        width: calc(var(--my-vertical-elements-width) - 0px) !important;

        /* Remove tab label */
        .tab-label-container {
          display: none !important;
        }
        
        /* Remove unwanted close button */
        .tab-close-button {
          display: none !important;
        }  
      }
    }
  }

  #vertical-pinned-tabs-container {
    --my-flex-direction: row;
    --my-display: grid;
  }

  slot[part="items-wrapper"] {
    display: var(--my-display, initial) !important;
  }

  #vertical-pinned-tabs-container {
    --my-flex-wrap: wrap;
    min-width: calc(var(--uc-sidebar-hover-width) * var(--my-vertical-elements-width)) !important;
  }
}

.tab-throbber, .tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay, .tab-icon-overlay {
  @media -moz-pref("sidebar.visibility", "expand-on-hover") {
    #tabbrowser-tabs[orient="vertical"][expanded] .tabbrowser-tab:is([pinned]) & {
      margin-inline-end: 0px !important;
    }
  }
}