/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/* Gradient border for dropdown menus */

slot {
    --panel-shadow-margin: var(--removed-panel-shadow-margin, inherit) !important;
    /* External border color */
    border-color: var(--border-contrast-color) !important;
    /* Borde para anuncios emergentes, por ejemplo al instalar un complemento */
    box-shadow: inset 0px 0 0 1px var(--button-active-bgcolor) !important;
}

/* Remove unwanted styles applied to the tab bar _^ */

:is(scrollbox[part="scrollbox"]) slot{
    box-shadow: none !important;
}

/* Gradient border around arrowpanels */

panelmultiview {
    background-image: var(--noise-urlbar-personal) !important;
    border: 1px solid #0c0a10 !important;
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
}

/* Remove unwanted shadow of some dropdown menus [Open] */

.panel-no-padding[type="arrow"] {
    margin-inline: -5px !important;
}

/* Gradient background color when :hover over different items in the main menus */

.protections-popup-category:not(#appMenu-popup toolbarbutton,[disabled]):hover, .protections-popup-footer-button:not(#appMenu-popup toolbarbutton):hover, 
#protections-popup-show-report-stack:not(#appMenu-popup toolbarbutton):hover > .protections-popup-footer-button:not(#appMenu-popup toolbarbutton), 
panelview .toolbarbutton-1:not([disabled], [open]:not(#appMenu-popup toolbarbutton)):is(:hover), toolbarbutton.subviewbutton:not([disabled], [open], 
.subviewbutton-back):is(:hover), .navigable.subviewbutton:not([disabled], [open]):is(:hover), menu.subviewbutton:not([disabled])[_moz-menuhover], 
menuitem.subviewbutton:not([disabled])[_moz-menuhover], .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):is(:hover), 
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled], [open]):is(:hover) {
    background: linear-gradient(to right, var(--button-bgcolor) 49%, transparent) !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

/* Background color when clicking on different items in the main menus */

.protections-popup-category:active:not([disabled]), .protections-popup-footer-button:active, #protections-popup-show-report-stack:active > .protections-popup-footer-button, 
panelview .toolbarbutton-1:not([disabled]):is(:active, [open]), toolbarbutton.subviewbutton:not([disabled], .subviewbutton-back):is(:active, [open]), 
.navigable.subviewbutton:not([disabled]):is(:active, [open]), menu.subviewbutton:not([disabled])[_moz-menuactive], .panel-banner-item:hover, 
menuitem.subviewbutton:not([disabled])[_moz-menuactive], .widget-overflow-list .toolbarbutton-1:not([disabled]):is(:active, [open]), 
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled]):is(:active, [open]) {
    background: linear-gradient(to right, var(--button-hover-bgcolor) 80%, transparent) !important;
}

/* Colors on disabled items */

.subviewbutton:is([disabled]), .subviewbutton:where([disabled="true"]):hover {       
    -moz-context-properties: fill;
    color: color-mix(in srgb, var(--arrowpanel-color)30%, transparent) !important;
    fill:  color-mix(in srgb, var(--arrowpanel-color)30%, transparent) !important;
    }

/* Gradient line - separators */

toolbarseparator {
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
    margin-inline: 6px !important;
}

#PlacesToolbar menupopup[placespopup] menuseparator {
    margin-inline: 4px !important;
}

/* Label color  'learn more about' */

toolbar .text-link:hover, panel .text-link:hover {
    color: var(--general-color) !important;
}

/* Downloads dropdown menu */

#downloadsListBox > richlistitem {
    border-radius: 0px !important;
    background-image: none !important;
    background-color: transparent !important;
    padding-inline: 4px 14px !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

#downloadsListBox > richlistitem:is(:hover) {
    background: linear-gradient(to right, var(--button-bgcolor) 70%, transparent) !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

#downloadsPanel-blockedSubview, #downloadsPanel-mainView {
    padding: 0.62em 0.0em 0.62em 0em !important;
}

.downloadButton:hover{
    background: var(--button-hover-bgcolor) !important;
    border-color: transparent !important;
    border-radius: 4px !important;
}

#downloadsFooterButtons .button-icon{ 
    margin-inline: 10px 6px !important;
}

/* Sidebar colors */

#sidebar-header {
    background-color: var(--lwt-sidebar-background-color) !important;
    border-top: 1px dotted var(--sidebar-border-color) !important;
    padding: 4px 6px !important;
}

#sidebar-header toolbarbutton:is(:hover, [open]) {
    background-color: var(--toolbarbutton-hover-personal) !important;
    color: var(--general-color) !important;
}

/* Spliter style on Linux */

@media (not (-moz-bool-pref:"sidebar.revamp")) and (-moz-platform: linux) {
    .sidebar-splitter {
        background-color: var(--sidebar-border-color) !important;
        width: 2px !important;
        border-color: var(--sidebar-border-color) !important;
    }
}

/* Remove limit when resizing 'Firefox sidebar' */

#sidebar-box {
    max-width: none !important;
    min-width: 1px !important;
}

/* Separator line into Firefox Sidebar items */

treechildren::-moz-tree-separator {
    border-bottom: none !important;
    border-image: linear-gradient(to right, transparent, var(--general-color)) 1 !important;
    margin-inline-end: 6px !important;
}

/* 'Monitor' and 'Relay' items from account dropdown menu */

#PanelUI-fxa-cta-menu .fxa-cta-button {
    margin: var(--space-xsmall) 0px var(--space-xsmall) 0px !important;
    padding-inline-start: 4px !important;
}

/* 'back' button */

.panel-header > .subviewbutton-back {
    border-radius: 3px !important;
}

.panel-header > .subviewbutton-back image {
    margin-inline-start: -2px !important;
}

.panel-header > .subviewbutton-back:hover {
    background: var(--button-hover-bgcolor) !important;
}

.panel-header > .subviewbutton-back:active {
    background: var(--button-active-bgcolor) !important;
}

/* bug fix for Background-color when :hover on zoom buttons */

.PanelUI-subView .toolbaritem-combined-buttons > .subviewbutton:is(:hover, :hover:active) {
    background: transparent !important;
}