/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/* ___________________________________________________                                        ___________________________________________________
   ___________________________________________________ 'Tree-tabs' sidebar, expand on 'hover' ___________________________________________________
   ___________________________________________________                                        ___________________________________________________ */

@media -moz-pref("firefoxgx.verticalTabs-expandOnHover") and (-moz-pref("firefoxgx.tree-tabs") or -moz-pref("sidebar.verticalTabs")) {

    @media -moz-pref("firefoxgx.tree-tabs") and ((not -moz-pref("firefoxgx.left-sidebar")) or (not -moz-pref("sidebar.verticalTabs"))) {

        /* Hide the sidebar header when using vertical tab extensions */

        #sidebar-box:is(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"]) {
            --my-vertical-elements-width: calc(var(--my-vertical-toolbar-width) - 1px) !important;
            /*--uc-sidebar-hover-width: 250px;/**/
            --uc-autohide-sidebar-delay: 50ms; /* Wait 0.6s before hiding sidebar - !Neccesary to avoid bug when bookmarksbar is enable */
            --uc-autohide-transition-duration: 200ms;
            --uc-autohide-transition-type: linear;
            --browser-area-z-index-sidebar: 4;
            background-color: var(--lwt-accent-color) !important;
            position: relative;
            min-width: var(--my-vertical-toolbar-width) !important;
            width: var(--my-vertical-toolbar-width) !important;
            max-width: var(--my-vertical-toolbar-width) !important;
            z-index: var(--browser-area-z-index-sidebar,3) !important;
            
            /* This directionality flipper is played so that sidebar "grows" into the right direction */
            direction: ltr;
            &:is([positionend],[sidebar-positionend]):not(:-moz-locale-dir(rtl)){
                direction: rtl;
            }

            & #sidebar-header {
                visibility: collapse;
                display: none;
            }
        }

        #main-window[sizemode="fullscreen"] #sidebar-box{ --my-vertical-toolbar-width: 1px; }

        :root:has(#sidebar-box:is(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"])) #sidebar-splitter{ display: none }
       
        #sidebar-header{
            overflow: hidden;
            color: var(--chrome-color, inherit) !important;
            padding-inline: 0 !important;
        }

        #sidebar-header::before,
        #sidebar-header::after{
            content: "";
            display: flex;
            padding-left: 8px;
        }
        
        /* Remove extension header when using sidebar-revamp */
        sidebar-panel-header {
            visibility: collapse;
            display: none;
        }

        #sidebar-header,
        #sidebar,
        #sidebar-box> .sidebar-browser-stack > #sidebar{
            transition: min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
            min-width: var(--my-vertical-toolbar-width) !important;
            will-change: min-width;
        }
        #sidebar-box:hover > #sidebar-header,
        #sidebar-box:hover > #sidebar,
        #sidebar-box:hover > .sidebar-browser-stack > #sidebar {
            /*z-index: 10000 !important;/**/
            min-width: calc(var(--uc-sidebar-hover-width) * var(--my-vertical-elements-width) - 6px) !important;
            transition-delay: 0ms !important;
        }
        
        .sidebar-panel{
            background-color: transparent !important;
            color: var(--newtab-text-primary-color) !important;
        }

        .sidebar-panel #search-box{
            appearance: none !important;
            background-color: rgba(249,249,250,0.1) !important; 
            color: inherit !important;
        }

        /* Add sidebar divider and give it background */

        #sidebar-box:not([sidebar-positionend]) > :-moz-locale-dir(rtl),
        #sidebar-box[sidebar-positionend] > *{
            border-inline-width: 1px 0px;
        }

        /* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

        #sidebar-box:not([sidebar-positionend]):hover ~ #tabbrowser-tabbox #statuspanel{
            inset-inline: auto 0px !important;
        }
        #sidebar-box:not([sidebar-positionend]):hover ~ #tabbrowser-tabbox #statuspanel-label{
            margin-inline: 0px !important;
            border-left-style: solid !important; 
        }
    }

    /* Sidebar-box style when other sidebars aren't enable */

    @media -moz-pref("firefoxgx.tree-tabs") and (not -moz-pref("sidebar.revamp")) and (not -moz-pref("firefoxgx.left-sidebar"))/**/ {

        :root:has(#sidebar-box:is(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"])) {
            
            /* Border inline when sidebar is not 'hover' */
            #sidebar-box {
                border-inline-end: 1px solid var(--my-content-border-color) !important;
                border-image: linear-gradient(to bottom, var(--general-color), transparent 96%) 1 !important;
                
                &[sidebar-positionend] {
                    border-image: none !important;
                }
            }
            
            /* Border inline  */

            & #sidebar {
                margin-block-start: calc(-2px - var(--bookmarksbar-height-personal, 0px)) !important;/**/
                border-inline: 0px solid rgb(80,80,80);
                border-block-start: 1px solid transparent !important;/**/
                border-inline-width: 0px 1px;
                border-inline-end: 1px solid var(--my-content-border-color);
                border-image: linear-gradient(to right,
                    transparent var(--my-vertical-toolbar-width),
                    var(--general-color) var(--my-vertical-toolbar-width),
                    var(--general-color)) 1 !important;
            }
            
            & #sidebar-box[sidebar-positionend] {
                #sidebar {
                    margin-block-start: 0 !important;
                    border-block-start: none !important;
                    border-image: none !important;
                }
            }

            /* Separator top tabs */
            
            & #sidebar-box::before {
                position: relative; content: '';
                width: calc(var(--my-vertical-toolbar-width) - 0px) !important;
                top: calc(-1px - var(--bookmarksbar-height-personal, 0px)) !important;
                background-color: var(--lwt-accent-color) !important;
                border-block-start: 1px solid transparent !important;/**/
                border-image: linear-gradient(to right,
                    transparent 6px , var(--my-content-border-color) 6px,
                    var(--my-content-border-color) calc(var(--my-vertical-elements-width) - 6px), transparent calc(var(--my-vertical-elements-width) - 6px),
                    transparent calc(var(--my-vertical-elements-width) - 1px), var(--general-color) calc(var(--my-vertical-toolbar-width) - 2px)) 1 !important;
            }
            
            & #sidebar-box[sidebar-positionend]::before {
                border-block-start: none !important;
                border-image: none !important;
            }
        }
    }
    
    /* Simulate continuous line before 'nav-bar and bookmarks-bar' */

    @media  (not -moz-pref("firefoxgx.left-sidebar")) and (not -moz-pref("sidebar.revamp")) {

        :root:not([customizing],[sizemode="fullscreen"]):has(#sidebar-box[checked]:not([sidebar-positionend]):is(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"])) {
            --my-elements-left-margin: calc(var(--my-vertical-toolbar-width) - 1px) !important;
            --space-before-gradient-line: var(--menubar-height-personal, 0px) !important;

            & #navigator-toolbox::before {
                content:"";
                position: absolute !important;
                bottom: 0px !important;
                background-color: var(--lwt-accent-color) !important;
                width: var(--my-elements-left-margin, 0px) !important;
                height: calc(1px + var(--menubar-height-personal, 0px) + 
                    var(--toolbar-height-personal) + var(--bookmarksbar-height-personal, 0px)) !important;
                border-inline-end: 1px solid var(--general-color) !important;
                border-image: linear-gradient(to bottom, transparent var(--space-before-gradient-line), 
                    var(--general-color) var(--space-before-gradient-line)) 1 !important;
                z-index: 4 !important; /* Tested it when using 'left-sidebar' + 'Vertical-tabs' on right */
            }

            /* For RTL languages */
            #navigator-toolbox:dir(rtl)::before {
                background-position-x: right !important;
            }
        }
    }

    /* Sidebar-box style when 'left-sidebar' or 'Sidebar-revamp' are enabled */

    @media -moz-pref("firefoxgx.tree-tabs") and -moz-pref("sidebar.revamp") {

        :root:not([customizing]):has(#sidebar-box[checked]:is(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"]))/**/ {
            
                #sidebar {
                /*box-shadow: 0 -1px var(--my-content-border-color) !important;/**/
                border-inline-end: 1px solid var(--my-content-border-color) !important;
                }
        }
    }
        
    @media -moz-pref("firefoxgx.tree-tabs") and -moz-pref("firefoxgx.left-sidebar") {
        
        /* Sidebar style when 'left-sidebar' enabled but hidden */
        
        :root:has(#sidebar-box:is(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"])):has(#PersonalToolbar[collapsed="false"]) {
            & #sidebar {
                background-color: var(--lwt-accent-color) !important;
                margin-block-start: 0px;
                border-inline: 0px solid var(--my-content-border-color);
                box-shadow: 0 -1px var(--my-content-border-color) !important;/**/
                border-inline-width: 0px 1px;
            }
            
            & #tabbrowser-tabbox {
                box-shadow: 0 0 0 1px var(--my-content-border-color) !important;
            }
        }
    }

    /* ________________________________________________ Firefox Vertical tabs, expand on hover _________________________________________________ 
       _________________________________________________________________________________________________________________________________________ */

    @media -moz-pref("sidebar.verticalTabs") {

        :root {
            --my-expand-sidebar-width: calc(var(--uc-sidebar-hover-width) * var(--my-vertical-elements-width));
            --my-vertical-elements-width: calc(var(--my-vertical-toolbar-width) - 1px) !important;
        }

        /* Keep sidebar expanded when some contextual menus are open */

        #main-window:has(sidebar-main:is([expanded])):has(
        #tabContextMenu[hasbeenopened]:hover,
        #new-tab-button-popup[hasbeenopened]:hover,
        .tab-group-editor-panel[hasbeenopened]:hover) sidebar-main { 
            min-width: var(--my-expand-sidebar-width) !important;
        }

        /* Requires Firefox 133 */

        :root{
            --uc-tabs-hide-animation-duration: 200ms;
            --uc-tabs-hide-animation-delay: 200ms;
        }
        
        /* Code required to make the tab smaller in width */
        
         #tabbrowser-tabs[orient="vertical"] {
             width: var(--my-vertical-elements-width) !important;
        }
        
        /* Continuous line */
        
        :root:has(sidebar-main:is([expanded])) #navigator-toolbox::before {
            background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                var(--lwt-header-image, none), var(--lwt-additional-images,none),
                linear-gradient(var(--lwt-accent-color, Field), var(--lwt-accent-color, Field)) !important;
            background-position: left top !important;
            background-repeat: no-repeat !important;
            background-size: auto 100vh !important;
            background-attachment: fixed !important;
        }

        :root:has(sidebar-main:is([expanded])) {
            #sidebar-main{
                overflow: visible !important;
                max-width: var(--my-vertical-toolbar-width) !important;
                z-index: var(--browser-area-z-index-toolbox-while-animating);
                transition: z-index 0s linear var(--uc-tabs-hide-duration);
                box-shadow: none !important;
                background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                    var(--lwt-header-image, none), var(--lwt-additional-images,none),
                    linear-gradient(var(--lwt-accent-color, Field), var(--lwt-accent-color, Field)) !important;
                background-size: auto 100vh !important;
                background-position-y: bottom !important;
            }
            sidebar-main{
                background: inherit;
                overflow: hidden;
                min-width: var(--my-vertical-elements-width);
                transition: min-width var(--uc-tabs-hide-animation-duration) ease-in-out var(--uc-tabs-hide-animation-delay);
                border-inline: 0.01px solid var(--my-content-border-color);
                border-inline-width: 0 0.01px;

                &[sidebar-positionend]{
                    transition-property: min-width, transform;
                    border-inline-width: 0.01px 0;
                }
            }
            sidebar-main:hover{
                min-width: var(--my-expand-sidebar-width);
                transition-delay: 0ms !important;
                &[sidebar-positionend]{
                    transform: translateX(calc(var(--my-vertical-elements-width) - 100%));
                }
            }
        }

        /* _______________ Pinned tabs _______________ */

        /* Size and width */
        
        :root:has(sidebar-main:is([expanded])) #tabbrowser-tabs[orient="vertical"] #pinned-tabs-container {
            min-width: var(--my-expand-sidebar-width) !important;
        }
        
        :root:not([sidebar-expand-on-hover]) #tabbrowser-tabs[orient="vertical"] {
            &[expanded] {
                & .tabbrowser-tab[pinned] {
                    width: var(--my-vertical-elements-width) !important;
                }
            }
        }

        /* The selected pinned tab is visible when the sidebar is collapsed - limited to 3 rows */

        :root:has(sidebar-main:is([expanded])) #sidebar-main:not(:hover) #pinned-tabs-container .tabbrowser-tab[selected="true"] {

            &:nth-child(-n+15){
                grid-row-start: 3 !important;
                grid-column-start:1 !important;
            }

            &:nth-child(-n+10){
                grid-row-start: 2 !important;
                grid-column-start:1 !important;
            }

            &:nth-child(-n+5){
                grid-row-start: 1 !important;
                grid-column-start: 1 !important;
            }
        }

        /* Bug fix - Hide close button when not needed */

        :root:has(sidebar-main:is([expanded])) #sidebar-main:not(:hover) {
            & .close-icon,
            & #tabs-newtab-button .toolbarbutton-text,
            & #vertical-tabs-newtab-button .toolbarbutton-text {
                opacity: 0 !important;
                transition: visibility 0ms ease 0.2s !important;
            }
        }
        
        /* _____________________________ Sidebar on left _____________________________ */

        @media (not -moz-pref("firefoxgx.left-sidebar")) and -moz-pref("sidebar.position_start") {
            
            :root:not([inDOMFullscreen]):has(sidebar-main:is([expanded])) {
                sidebar-main {
                    border-image: linear-gradient(to bottom, var(--general-color) , transparent) 1 !important;
                }
            }
            
            #sidebar-main::before{
                position: fixed; content: '';
                inset-block-start: -1px !important;
                border-block-start: 1px solid var(--general-color) !important;
                border-image: linear-gradient(to right, transparent var(--my-vertical-toolbar-width),
                    var(--general-color) var(--my-vertical-toolbar-width),
                    var(--general-color) 100%) 1 !important;
            }
            
            #sidebar-main:not(:hover)::before{
                width: var(--my-vertical-toolbar-width) !important;
                transition: width var(--uc-tabs-hide-animation-duration) ease-out var(--uc-tabs-hide-animation-delay);
            }
            
            #sidebar-main:hover::before {
                width: calc(var(--my-expand-sidebar-width) + 1px) !important;
                transition: width var(--uc-tabs-hide-animation-duration) ease-out 0ms;
            }
        }
        
        /* _____________________________ Sidebar on right _____________________________ */

        @media -moz-pref("sidebar.verticalTabs") and (not -moz-pref("sidebar.position_start")) {

            :root:not([inDOMFullscreen]):has(sidebar-main:is([expanded])) {
                & sidebar-main {
                    border-image: none !important;
                    border-color: var(--my-content-border-color) !important;
                }

                #sidebar-main::before {
                    position: fixed; content: '';
                    inset-block-start: -1px !important;
                    width: var(--my-expand-sidebar-width) !important;
                    border-block-start: 1px solid var(--my-content-border-color) !important;
                    border-image: none !important;
                    z-index: 1 !important;
                }
            }            
        }
        
        /* Fix 'tools' transition to remove unwanted display when not need it */
        
        .actions-list[orientation="horizontal"]:is(:hover) moz-button[type="icon ghost"]:not(:first-child) {
            transition-delay: 0.2s !important;
        }
    }
}