/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

panel#feature-callout {
  /*--panel-color: var(--fc-color);
  --panel-shadow: none;
  --panel-shadow-margin: 2px !important;
  --panel-arrow-space: calc(var(--panel-shadow-margin) + var(--arrow-visible-height) - 13.5px) !important;/**/
  margin-inline-end: -30px !important;
}

panel#feature-callout[arrow-position="top-end"] {
margin-inline: -35px !important;
  }

#feature-callout .arrow-box {
  /*display: none !important;
  inset-block-start: none !important; /**/
  
  transform-style: unset !important; /* Make arrow more define */
  transform: unset !important;
  
  width: 34px; height: 9px;
    background-size: 34px 9px;
    background-image: url("../icons/panelarrow-menu.svg");
    -moz-context-properties: fill, stroke;
    fill: var(--arrowpanel-background);
    stroke: var(--arrowpanel-border-color);
    filter: drop-shadow(0px -1px 0px var(--contrast-color));
    z-index: 1;
}

#feature-callout .shadow-arrow {
  outline: none !important;
}

#feature-callout {
  --arrow-offset: -9px !important;
}


#feature-callout .arrow {
  width: unset !important;
  height: unset !important;
}