/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media (-moz-bool-pref:"firefoxgx.tab-shapes") and (not (-moz-bool-pref:"sidebar.verticalTabs")) {

  /* ___________________________________ Remove style from: 'ogx_tab-bar.css' ____________________________________ */

  /* Selected tab - ogx-tabs-bar.css */

  .tab-background {
    clip-path: none !important;
    border-inline: none !important;
    border-radius: 0 !important;
  }

  .tabbrowser-tab[visuallyselected] > .tab-stack::before{
    display: none !important;
  }
  
  @media not (-moz-bool-pref: "sidebar.verticalTabs") {

    #tabbrowser-arrowscrollbox[orient="horizontal"] {
        
        /* Margin between tabs */
        &>.tabbrowser-tab {
            padding-inline: 0 !important;
        }
    }
  }

  /* _____________ Group name style _____________ */
  
  /* Bug-fix: Collapsed group tabs invisible to solve it */

  tab-group:is([collapsed]) .tabbrowser-tab {
    opacity: 0 !important;
  }

  /* Smaller size of tab shape */
  
  tab-group>.tabbrowser-tab {
    & .tab-background::before,
    & .tab-background::after {
      /*Smaller tab size*/
      height: calc(var(--tab-height-personal) - 4px) !important;
      width: calc(var(--uc-tab-corner-size) - 4px) !important;
      top: 0 !important;
    }
  }
  
/* ________________________________________________ various styles ________________________________________________ */

  @media (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.wave") or
         (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.australis") or
         (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.chrome") {

          :root,
          :root[lwtheme],
          :root:not([lwtheme]){
            --border-radius-urlbar-personal: 14px !important;
            --urlbar-icon-border-radius: 4px !important;
          }

          .tab-close-button {
            clip-path: circle(50%) !important; 
            padding: 5px !important;
            border-radius: 0px !important;
          }

          #TabsToolbar #tabs-newtab-button image:not(.menu-iconic-icon), #TabsToolbar #new-tab-button image:not(.menu-iconic-icon){
            border-radius: 50% !important;
          }
  }

  /* Newtab button */
  
  #tabs-newtab-button {
    padding-inline-start: calc(var(--tab-height-personal) - 34px + var(--uc-margin-left-newtab)) !important; 
  }

/* Trick to maintain margin on the <left> and <right> of the tabs */
  
  .tabbrowser-tab:not(#tabbrowser-tabs[haspinnedtabs]:is([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab):nth-child(1 of :not([hidden])){
    margin-inline-start: calc( 0px - var(--uc-margin-left-right, 0px) + var(--uc-tab-corner-half-size, 4px)) !important; 
  }

  /* Margin to the left of the tabs-bar when overflow */

  #tabbrowser-tabs[haspinnedtabs]:is([positionpinnedtabs]){
    margin-inline-start: calc( 4px - var(--uc-margin-left-right, 0px) + var(--uc-tab-corner-half-size, 0px)) !important;
  }

  #tabbrowser-tabs[haspinnedtabs]> #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    margin-inline-start: var(--uc-tab-corner-half-size) !important;
  }

/* _________________________________________________ Multi Selected Color _________________________________________________ */

  #TabsToolbar {
    --uc-multiselected-tab-bgcolor: color-mix(in srgb, var(--contrast-color) 46%, var(--general-color, transparent));
  }

  #tabbrowser-tabs:not([movingtab])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab
    > .tab-stack
    > .tab-background[multiselected]:not([selected],[visuallyselected]){
    background-attachment: scroll, fixed !important;
    background-color: transparent !important;
    background-image: linear-gradient(var(--uc-multiselected-tab-bgcolor), var(--uc-multiselected-tab-bgcolor)),
                                      var(--lwt-header-image, none) !important;
    background-position: 0 0, right top !important;
    background-repeat: repeat-x, no-repeat !important;
    background-size: auto auto, auto auto !important;
    border-radius: 0px !important;
  }
  .tab-background[multiselected]{
      outline-color: transparent !important;
  }
  
  /* Background when multiselecting */
  
  .tabbrowser-tab[multiselected] .tab-background {
    &::before,
    &::after {
      background: light-dark(var(--tab-group-color-invert, var(--button-bgcolor)), var(--tab-group-color, var(--uc-multiselected-tab-bgcolor)));
      fill: light-dark(var(--tab-group-color-invert, var(--button-bgcolor)), var(--tab-group-color, var(--uc-multiselected-tab-bgcolor)));
      transition: none !important;
    }
  }
    
  /* backgrounds when moving a group of tabs */
  
  #tabbrowser-tabs[movingtab] .tabbrowser-tab:is([multiselected]):not([visuallyselected]) .tab-background {
    background: color-mix(in srgb, var(--contrast-color) 46%, var(--general-color, transparent)) !important;
  }

/* _________________________________________ Selected Tab - Box Shadow _________________________________________ */

  #TabsToolbar {
    --uc-tab-shadow-color: var( --general-color, var(--lwt-tab-line-color, var(--tabs-border-color, rgba(128, 128, 142, 0.9)))  );
    --uc-tab-shadow-color-bundle: var(--general-color, var(--lwt-tab-line-color, rgba(128, 128, 142, 0.9)));
  }
  .tabbrowser-tab:is([selected],[multiselected]) .tab-background {
    box-shadow: none !important;
    filter: drop-shadow(-1px -0.5px 0px var(--general-color, transparent))
      drop-shadow(1px -0.5px 0px var(--general-color, transparent));
    /* This next rule set is needed for Fx 120, otherwise themes with translucent tabs would seem to have extra border separating them from toolbar below. */
    background-attachment: scroll, fixed, fixed !important;
    background-color: transparent !important;
    background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)), 
                    var(--lwt-additional-images,none), var(--lwt-header-image, none) !important;
    background-position: 0 0, var(--lwt-background-alignment), right top !important;
    background-repeat: repeat-x, var(--lwt-background-tiling), no-repeat !important;
    background-size: auto 100%, var(--lwt-background-size, auto auto), auto auto !important;
    transition: filter 0s ease !important;
    transition-delay: 10ms !important;
  }
  
  .tabbrowser-tab:not([visuallyselected],[multiselected]) .tab-background {
    filter: drop-shadow(-1px -0.5px 0px transparent)
      drop-shadow(1px -0.5px 0px transparent);
    transition: filter 0s ease !important;
    transition-delay: 10ms !important;
  }
    
/* Background when multiselecting tabs */
  .tabbrowser-tab:is([multiselected]) .tab-background {
    --toolbar-bgcolor: light-dark(var(--tab-group-color-invert, var(--button-bgcolor)), var(--tab-group-color, var(--general-color))) !important;
  }
  
  .tabbrowser-tab:is([multiselected]):not([selected]) .tab-background {
    border-block-start-color: light-dark(var(--tab-group-color-invert, var(--button-bgcolor)), var(--tab-group-color, var(--general-color))) !important;
    filter: drop-shadow(-1px -0.5px 0px light-dark(var(--tab-group-color-invert, var(--button-bgcolor)), var(--tab-group-color, var(--general-color))))
      drop-shadow(1px -0.5px 0px light-dark(var(--tab-group-color-invert, var(--button-bgcolor)), var(--tab-group-color, var(--general-color))));
  }
  
/*____ Used when no shape is selected */
/*= Selected Tab - Bottom Rounded Corner =====================================*/
  @media not (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.wave") {
    @media not (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.australis") {
      @media not (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.chrome") {
        @media not (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.chrome_legacy") {
          @media not (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.edge") {
            #TabsToolbar {
               --uc-tab-corner-rounding: 3px; /* 10px looks about like chromium - 17px looks close to Australis tabs */
              --uc-tab-corner-padding: 0px;
              --uc-tab-corner-position: calc(var(--uc-tab-corner-padding) - var(--uc-tab-corner-rounding));
              --uc-tab-corner-left-side-svg: url("../icons/tab-bottom-corner-left.svg");
              --uc-tab-corner-right-side-svg: url("../icons/tab-bottom-corner-right.svg");
              --uc-margin-left-newtab: 7px;
            }
            
            .tab-background { border-radius: 5px 5px 0 0 !important; }       /* My edit */

            .tab-background {
              .tabbrowser-tab > .tab-stack > &:not([selected],[multiselected],[visuallyselected]) {
                border-radius: 5px 5px 0 0 !important;
              }
            }
            
            .tabbrowser-tab .tab-background::before,
            .tabbrowser-tab .tab-background::after {
              /* Box */
              content: "";
              display: block;
              position: absolute;
              z-index: -1;
              bottom: 0;
              /* Shape */
              width: var(--uc-tab-corner-rounding) !important;
              height: 100%;
              /* Color */
              fill: transparent;
              stroke: transparent;
              -moz-context-properties: fill, stroke;
              /* Image */
              background-size: var(--uc-tab-corner-rounding);
              background-repeat: no-repeat;
              background-position-y: bottom;
            }
            
            .tabbrowser-tab .tab-background {
              &::before {
                left: var(--uc-tab-corner-position);
                background-image: var(--uc-tab-corner-left-side-svg);
              }
              
              &::after {
                right: var(--uc-tab-corner-position);
                background-image: var(--uc-tab-corner-right-side-svg);
              }
            }
            
            .tabbrowser-tab[visuallyselected] .tab-background::before,
            .tabbrowser-tab[visuallyselected] .tab-background::after {
              fill: var(--uc-tab-corner-bgimage, var(--toolbar-bgcolor));
              /*stroke: var(--tab-line-color, var(--tabs-border-color, rgba(128, 128, 142, 0.9)));/**/
            }
            .tabbrowser-tab[multiselected] .tab-background::before,
            .tabbrowser-tab[multiselected] .tab-background::after {
              fill: var(--uc-tab-corner-bgimage, var(--toolbar-bgcolor));
            }
            
            /* Gives space for 'left' & 'right' image */
            .tabbrowser-tab {
              overflow-clip-margin: var(--uc-tab-corner-rounding) !important;
            }
          }
        }
      }
    }
  }
  @media 
    (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.wave") or 
    (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.australis") or 
    (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.chrome_legacy") or 
    (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.chrome") or 
    (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.edge") {
    #TabsToolbar {
      --uc-tab-corner-height: calc(var(--tab-min-height) - 1px);
      --uc-tab-corner-size: calc(var(--uc-tab-corner-height) - 1px);
      --uc-tab-corner-half-size: calc(var(--uc-tab-corner-size) / 2);
      --uc-tab-corner-half-size-reverse: calc(var(--uc-tab-corner-half-size) * -1);
      --uc-tab-corner-bgimage: none;
    }
    @media (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.wave") {
      #TabsToolbar {
        --uc-tab-corner-left-side-svg: url("../icons/tab-bottom-corner-left-wave1.svg");
        --uc-tab-corner-left-side-clipPath: url("../icons/tab-bottom-corner-left-wave1.svg#svgClipPath");
        --uc-tab-corner-right-side-svg: url("../icons/tab-bottom-corner-right-wave1.svg");
        --uc-tab-corner-right-side-clipPath: url("../icons/tab-bottom-corner-right-wave1.svg#svgClipPath");
        --uc-tab-corner-left-side-svg-clipped: url("../icons/tab-bottom-corner-left-wave-clipped.svg");
        --uc-tab-corner-right-side-svg-clipped: url("../icons/tab-bottom-corner-right-wave-clipped.svg");
        
        --uc-margin-left-right: 4px;
        --uc-margin-left-newtab: 7px;
      }
    }
    @media (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.australis") {
      #TabsToolbar {
        --uc-tab-corner-left-side-svg: url("../icons/tab-bottom-corner-left-australis1.svg");
        --uc-tab-corner-left-side-clipPath: url("../icons/tab-bottom-corner-left-australis1.svg#svgClipPath");
        --uc-tab-corner-right-side-svg: url("../icons/tab-bottom-corner-right-australis1.svg");
        --uc-tab-corner-right-side-clipPath: url("../icons/tab-bottom-corner-right-australis1.svg#svgClipPath");
        --uc-tab-corner-left-side-svg-clipped: url("../icons/tab-bottom-corner-left-australis-clipped.svg");
        --uc-tab-corner-right-side-svg-clipped: url("../icons/tab-bottom-corner-right-australis-clipped.svg");
        
        --uc-margin-left-right: 1px;
        --uc-margin-left-newtab: 8px;
      }
    }
    @media (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.chrome") {
      #TabsToolbar {
        --uc-tab-corner-left-side-svg: url("../icons/tab-bottom-corner-left-chrome1.svg");
        --uc-tab-corner-left-side-clipPath: url("../icons/tab-bottom-corner-left-chrome1.svg#svgClipPath");
        --uc-tab-corner-right-side-svg: url("../icons/tab-bottom-corner-right-chrome1.svg");
        --uc-tab-corner-right-side-clipPath: url("../icons/tab-bottom-corner-right-chrome1.svg#svgClipPath");
        --uc-tab-corner-left-side-svg-clipped: url("../icons/tab-bottom-corner-left-chrome-clipped.svg");
        --uc-tab-corner-right-side-svg-clipped: url("../icons/tab-bottom-corner-right-chrome-clipped.svg");
        --uc-tab-corner-size: 12px;
        
        --uc-margin-left-right: -1px;
        --uc-margin-left-newtab: 7px;
      }
    }
    @media (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.chrome_legacy") {
      #TabsToolbar {
        --uc-tab-corner-left-side-svg: url("../icons/tab-bottom-corner-left-chromeLegacy1.svg");
        --uc-tab-corner-left-side-clipPath: url("../icons/tab-bottom-corner-left-chromeLegacy1.svg#svgClipPath");
        --uc-tab-corner-right-side-svg: url("../icons/tab-bottom-corner-right-chromeLegacy1.svg");
        --uc-tab-corner-right-side-clipPath: url("../icons/tab-bottom-corner-right-chromeLegacy1.svg#svgClipPath");
        --uc-tab-corner-left-side-svg-clipped: url("../icons/tab-bottom-corner-left-chromeLegacy-clipped.svg");
        --uc-tab-corner-right-side-svg-clipped: url("../icons/tab-bottom-corner-right-chromeLegacy-clipped.svg");
        
        --uc-margin-left-right: 6px;
        --uc-margin-left-newtab: 12px;
      }
    }
    @media (-moz-bool-pref:"userChrome.tab.bottom_rounded_corner.edge") {
      #TabsToolbar {
        --uc-tab-corner-left-side-svg: url("../icons/tab-bottom-corner-left-edge.svg");
        --uc-tab-corner-left-side-clipPath: url("../icons/tab-bottom-corner-left-edge.svg#svgClipPath");
        --uc-tab-corner-right-side-svg: url("../icons/tab-bottom-corner-right-edge.svg");
        --uc-tab-corner-right-side-clipPath: url("../icons/tab-bottom-corner-right-edge.svg#svgClipPath");
        --uc-tab-corner-left-side-svg-clipped: url("../icons/tab-bottom-corner-left-edge-clipped.svg");
        --uc-tab-corner-right-side-svg-clipped: url("../icons/tab-bottom-corner-right-edge-clipped.svg");
        --uc-tab-corner-size: 12px;
        
        --uc-margin-left-right: 2px;
        --uc-margin-left-newtab: 8px;
      }
    }
      .tabbrowser-tab {
        overflow-clip-margin: var(--uc-tab-corner-half-size) !important;
      }
      .tabbrowser-tab .tab-background {
        margin-inline:  var(--uc-tab-corner-half-size) !important;
        position: relative;
      }

    .tabbrowser-tab .tab-background::before,
    .tabbrowser-tab .tab-background::after {
      /* Box */
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 0px;
      /* Shape */
      width: var(--uc-tab-corner-size);
      height: var(--uc-tab-corner-height);
      /* Color */
      fill: transparent;
      -moz-context-properties: fill;
      /* Image */
      background-size: cover, auto auto;
      background-repeat: repeat;
      background-position: top, right top;
      background-attachment: scroll, fixed;
      transition-duration: 0ms !important;
    }
    .tabbrowser-tab .tab-background::before {
      right: 100%;
      background-image: var(--uc-tab-corner-left-side-svg), var(--uc-tab-corner-bgimage);
      clip-path: var(--uc-tab-corner-left-side-clipPath);
    }
    .tabbrowser-tab .tab-background::after {
      left: 100%;
      background-image: var(--uc-tab-corner-right-side-svg), var(--uc-tab-corner-bgimage);
      clip-path: var(--uc-tab-corner-right-side-clipPath);
    }
      
      /* Tab selected background image - themes with more than one image */
      
      .tabbrowser-tab:is([visuallyselected]) {
        & .tab-background::before,
        & .tab-background::after {
          background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)), 
            var(--lwt-additional-images,none), var(--lwt-header-image, none) !important;
          background-position: 0 0, var(--lwt-background-alignment), right top !important;
          background-repeat: repeat-x, var(--lwt-background-tiling), no-repeat !important;
          background-size: auto 100%, var(--lwt-background-size, auto auto), auto auto !important;
          background-attachment: scroll, fixed, fixed !important;
        }
      }
  }
  
  .tabbrowser-tab:is([visuallyselected],[multiselected]) .tab-background {
    --uc-tab-corner-bgimage: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)), 
      linear-gradient(transparent, transparent), 
      var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
  }
  
  /* used for smooth transition 'hover' on tab */

  .tabbrowser-tab:not([visuallyselected],[multiselected],[selected]) {
    &:not(:hover),
    &:hover {
      & .tab-background::before,
      & .tab-background::after {
        top: -1px !important;
        transition: fill 0.2s ease !important;
      }
    }
  }
  
  .tabbrowser-tab:not([visuallyselected],[multiselected],[selected]):hover {
    & .tab-background::before,
    & .tab-background::after {
      fill: color-mix(in srgb, var(--general-color) 25%, transparent) !important; /* My edit */
    }
  }
  
  @media (-moz-gtk-csd-available) {
    /* Fill color for GTK */
    @media (-moz-bool-pref:"firefoxgx.tab-shapes") {
      :root:not([lwtheme="true"]) .tabbrowser-tab {
        --uc-tab-shadow-color: rgba(0, 0, 0, 0.4);
      }
    }
    :root:not([lwtheme="true"]) .tabbrowser-tab[visuallyselected] .tab-background {
      background-clip: content-box;
    }
    :root:not([lwtheme="true"]) .tabbrowser-tab[visuallyselected] .tab-background::before,
    :root:not([lwtheme="true"]) .tabbrowser-tab[visuallyselected] .tab-background::after {
      /* As GTK Toolbar's background-color + background-image
      * --toolbar-non-lwt-bgcolor: -moz-dialog;
      --toolbar-non-lwt-bgimage: linear-gradient(rgba(255,255,255,.15), rgba(255,255,255,.15));
      */
      --uc-tab-corner-bgimage: linear-gradient(var(--toolbar-non-lwt-bgcolor), var(--toolbar-non-lwt-bgcolor));
      fill: rgba(255, 255, 255, 0.075);
    }
  }
  
/* ___________________________________________________ Compatibility with "one-line" config ___________________________________________________ */
  
  @media (-moz-bool-pref:"firefoxgx.oneline") {

    @media screen and (min-width: 1000px) {
      /* ___________________________________ Missed Selected tab background _______________________ */

      .tabbrowser-tab:is([selected]) {
        & .tab-background,
        & .tab-background::before,
        & .tab-background::after {      
          background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent), var(--lwt-selected-tab-background-color, transparent)), 
            var(--lwt-additional-images,none), var(--lwt-header-image, none) !important;
        }
      }
    }
  }
}
