/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/* _____________________________________________ Notifs - warnings - and browser dialogs ______________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

/* Position */

#window-modal-dialog {
    --chrome-offset: 78px !important;
}

/* Background color for dark themes */

@media (prefers-color-scheme: dark) {
    :root[dialogroot], 
    :host(dialog) {
        --arrowpanel-background: #12121b !important;
        --in-content-page-background: var(--arrowpanel-background) !important;
        --background-color-canvas: var(--arrowpanel-background) !important;     /* Background color e.g. Magnet link to open in other aplication */
    }
}

/* Background color behind notification \
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
browser[primary="true"][tabDialogShowing="true"], 
.dialogOverlay[topmost="true"],
#window-modal-dialog::backdrop {
    background-image: linear-gradient(var(--arrowpanel-background, transparent), transparent), 
                      linear-gradient(transparent, var(--arrowpanel-background, transparent)), 
                      var(--noise-urlbar-personal, var(--noise-urlbar-personal, none)) !important;
}

/* Border \
¯¯¯¯¯¯¯¯¯¯ */
.dialogBox:not(.spotlightBox), 
#commonDialog, 
.dialogFrame {
    border-radius: var(--border-radius-large) !important;
}

.dialogBox:not(.spotlightBox) {
    border-radius: var(--border-radius-large) !important;
    overflow-x: unset !important;
    outline: 1px solid var(--general-color) !important;
    outline-offset: -1px !important;
    box-shadow: 0 0px 0px 1px var(--my-scheme-color) !important;
}

/* Remove background color behind notification en "about:" pages \
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
#window-modal-dialog > .dialogOverlay[topmost="true"] {
    background: transparent !important;
}

/* Buttons - checkbox - etc colors */

@media not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.user.enabled") {

    @media not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", "dark-sky"), not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", "starry-canyon"),
        not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", "dark-mountain"), not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", "dark-panda"),
        not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", "dark-fox-anniversary"), not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", "dark-beach"),
        not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", "palm-trees"), not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", "suspension-bridge"),
        not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", "dark-landscape"),
        not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'hot-air-balloons'), not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'light-panda'),
        not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'light-fox-anniversary'), not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'blue-flowers'),
        not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'light-landscape'), not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'sand-dunes'),
        not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'light-mountain'), not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'light-sky'),
        not -moz-pref("browser.newtabpage.activity-stream.newtabWallpapers.wallpaper", 'light-beach') {

            @-moz-document url(chrome://global/content/commonDialog.xhtml),
                url("chrome://mozapps/content/handling/permissionDialog.xhtml"),
                url("chrome://mozapps/content/handling/appChooser.xhtml")
                {
                    :root {
                        --toolbarbutton-icon-fill-attention: unset !important;
                        --color-accent-primary-hover: color-mix(in srgb, black 24%, var(--color-accent-primary)) !important;   /* Button background color when 'hover' */
                        --color-accent-primary-active: color-mix(in srgb, black 40%, var(--color-accent-primary)) !important;  /* Button background color when 'active' */
                    }    
            }
    }
}

/* ____________________________________________________ HTML5 dark mode web notifs ____________________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
@-moz-document url("chrome://global/content/alerts/alert.xhtml") {
    @media (prefers-color-scheme: dark){
    #alertBox {
        border-color: rgb(48, 48, 48, .4) !important;
        border-radius: 4px !important;
        background-color: #101010 !important;
        color: rgba(255, 255, 255, 0.800000011920929) !important;
    }
    #alertSourceLabel {
        color: #9400ff !important;
        /*proton color: rgb(5,209,241)*/
    }
    #alertSettings {
        -moz-context-properties: fill, fill-opacity !important;
        padding: 3px !important;
        margin: 0px 2px -3px 0px !important;
        color: inherit !important;
        border-radius: 4px !important;
        transform: scale(0.91, 0.91) !important;
    }
    #alertSettings:hover, #alertSettings[open] {
        background-color: #313131 !important;
    }
    menupopup {
        --panel-text-color: rgba(255, 255, 255, 0.800000011920929) !important;
        --panel-border-color: rgb(48, 48, 48) !important;
        --panel-background-color: #101010 !important;
        --menuitem-hover-background-color: #313131 !important;
        --menuitem-disabled-hover-background-color: #1f1f1f !important;
        --menu-color: rgba(255, 255, 255, 0.8) !important;
        --menu-disabled-color: color-mix(in srgb, #101010 65%, rgb(255, 255, 255))!important;
        --menu-border-color: var(--panel-separator-color, Field) !important;
    }
    #alertImage {
        border-radius: 4px !important;
    }
    }
}

/* ____________________________________________ Information - Warnings above the web page _____________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@media -moz-pref("firefoxgx.left-sidebar") and (not -moz-pref("browser.toolbars.bookmarks.visibility", 'always')) and (not -moz-pref("firefoxgx.oneline")),
    -moz-pref("firefoxgx.oneline") and (-moz-pref("firefoxgx.tree-tabs") or -moz-pref("sidebar.verticalTabs")),
-moz-pref("firefoxgx.verticalTabs-expandOnHover") and -moz-pref("sidebar.visibility", 'expand-on-hover') {
    
    /* animación */

    @keyframes messageappeardisappear{
        0%{ opacity: 1 }
        80%{ opacity: 1 }
        100%{ opacity: 0 }}

    /* Warning when using Left-sidebar style without the bookmarks toolbar set to 'Always show' */

    :root:not([chromehidden~="toolbar"],[inFullscreen]) {
        #tabbrowser-tabbox:before {
            display: flex;
            position: absolute;
            content: 'Use this shortcut: < Ctrl + Shift + B > to show/hide the "Left Sidebar"';
            width: contain;
            opacity: 0;
            padding-block: 2px;
            padding-inline: 5px;
            align-self: center !important;
            justify-content: center;
            text-align: center;
            text-shadow: none;
            font-size: 1.05em;
            font-weight: 501;
            background-color: var(--general-color);
            color: var(--my-scheme-color);
            box-shadow: inset 0 0 0 1px var(--my-font-color), inset 0 0 0 2px var(--my-scheme-color);
            z-index: 3;
            animation: messageappeardisappear linear 5s;
        }
    }
     
     /* Warning when using 'Oneline' configuration and 'Vertical-tabs' */
    
     @media -moz-pref("firefoxgx.oneline") and (-moz-pref("firefoxgx.tree-tabs") or -moz-pref("sidebar.verticalTabs")) {
         :root:not([chromehidden~="toolbar"],[inFullscreen]) {
             #tabbrowser-tabbox:before {
                 background-color: var(--red) !important;
                 content: '❌ "One-line" configuration is not compatible with "Vertical-tabs", so just keep one enabled.';
             }
         }
     }
    
    /* Warning when using the both features 'expand-on-hover' */
    
    @media -moz-pref("firefoxgx.verticalTabs-expandOnHover") and -moz-pref("sidebar.visibility", 'expand-on-hover') {
         :root:not([chromehidden~="toolbar"],[inFullscreen]) {
             #tabbrowser-tabbox:before {
                 background-color: var(--red) !important;
                 content: '❌ "Please keep only one "expand on hover" feature enabled, do not use both at the same time. ';
             }
         }
     }
}

/* Infobar displayed under navbar */

#notifications-toolbar  {
    position: fixed !important;
    top: calc(1px + var(--tab-height-personal) + var(--toolbar-height-personal) + 
        var(--bookmarksbar-height-personal, 0px) + var(--menubar-height-personal, 0px)) !important;
    border-radius: 6px !important;
    z-index: 3 !important;
    align-self: center !important;
    
    @media -moz-pref("firefoxgx.oneline"), -moz-pref("firefoxgx.tree-tabs"), -moz-pref("sidebar.verticalTabs") {
        top: calc(1px + var(--toolbar-height-personal) + var(--bookmarksbar-height-personal, 0px)) !important;
    }
    
    &  .infobar.animated {
        background-color: var(--arrowpanel-background) !important;
        border-color: var(--color-accent-primary-small) !important;
        outline: 1px solid var(--general-color) !important;
        outline-offset: 1px;
        border-radius: 2px !important;
    }
}
