/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/* --------------- Íconos -------------------*/
@-moz-document url(chrome://browser/content/browser.xhtml){
    
/* back button aplicado solo a la UI principal del navegador */
#back-button { 
    padding-inline-start: 5px !important; 
}
#back-button image {
    margin-left: 0px !important;
    list-style-image: url("../images/back.svg") !important;
    }
/* forward - go button */
#forward-button image {
    list-style-image: url("../images/forward.svg") !important;
}}
/* Reload button */
#reload-button {
    list-style-image: url("../images/reload.svg") !important;
    animation: none !important;
}
#stop-button{
    list-style-image: url("../images/stop.svg") !important;
    animation: none !important;
}
/* Eliminar animación boton stop-reload */
#stop-button .toolbarbutton-animatable-image, #reload-button .toolbarbutton-animatable-image{
animation-duration: 0ms !important;
}
/* home button*/
#home-button image{
    list-style-image: url("../images/home.svg") !important;
}
/* Ícono bookmark */
#pageAction-panel-bookmark[starred], #star-button[starred] {
    list-style-image: url("../images/bookmark.svg") !important; }
#pageAction-panel-bookmark[starred], #star-button-box:is(:hover, [open]) #star-button[starred] {
    fill: var(--toolbarbutton-icon-fill) !important;}

#pageAction-panel-bookmark, #star-button {
    list-style-image: url("../images/bookmark-empty.svg") !important;
}
/* Ícono protección contra rastreo */
#tracking-protection-icon-container{
  -moz-box-ordinal-group: 2 !important;
}
#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box > #tracking-protection-icon {
    list-style-image: var(--shield-icon-personal) !important;
    fill: var(--general-color) !important;
    opacity: 1 !important;
}
#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container:hover > #tracking-protection-icon-box > #tracking-protection-icon,
#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container[open="true"] > #tracking-protection-icon-box > #tracking-protection-icon{
    fill: var(--toolbarbutton-icon-fill) !important;
}
#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box[hasException] > #tracking-protection-icon {
    list-style-image: url(chrome://browser/skin/tracking-protection-disabled.svg) !important;
    fill: var(--buttons-destructive-bgcolor) !important;
}
/* ícono candado */
#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon, #identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
    list-style-image: url("../images/security.svg") !important;
}
/* Ícono permisos adicionales */
#permissions-granted-icon {
    list-style-image: url("../images/permissions.svg") !important;
}
.desktop-notification-icon{
    list-style-image: url("../images/notification.svg") !important;
}
/* reader mode */
#reader-mode-button > .urlbar-icon {
    list-style-image: url("../images/read-mode.svg") !important;
}
/* ícono de olvidar, clean history on left-sidebar*/
#PersonalToolbar #panic-button image{
  list-style-image: url("../images/cleaner.svg") !important;
    padding: 1px !important;
}
/* separador izquierda y derecha urlbar */
#urlbar:not([open=true],[focused=true], :hover) #urlbar-background::before{
    background: url("../images/urlbar-separator.svg") no-repeat left; content: ""; display: block;
    background-size: 16px 16px !important;
    padding-top: calc(var(--urlbar-height) - 1px) !important;
    margin-left: -7px !important;
    -moz-context-properties: fill !important;
    fill: var(--toolbarbutton-icon-fill) !important;
    opacity: 0.2 !important;
}
#urlbar:not([open=true],[focused=true], :hover) #urlbar-background::after{
    background: url("../images/urlbar-separator.svg") no-repeat right; content: ""; display: block; 
    background-size: 16px 16px !important;
    height: 16px;
    margin-top: calc( 0px - var(--urlbar-height) + 7px) !important;
    margin-right: -7px !important;
    fill: var(--toolbarbutton-icon-fill) !important;
    -moz-context-properties: fill !important;
    opacity: 0.2 !important;
}
