/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media (-moz-bool-pref:"firefoxgx.autohide-bookmarks-bar") and (not (-moz-bool-pref:"firefoxgx.left-sidebar")) and (-moz-bool-pref:"firefoxgx.tree-tabs") {

  /* ---------------- New margins of Menu button ------------------- */

  @media (not (-moz-bool-pref:"firefoxgx.menu.disabled")) and (-moz-bool-pref:"sidebar.position_start") {

    :root{
      --uc-vertical-toolbar-width: 49px !important;                                                               /* Nuevo tamaño sidebar */
      --my-vertical-toolbar-width: var(--uc-vertical-toolbar-width) !important;                                   /* Nuevo tamaño sidebar */
      --padding-left-tab: calc(var(--uc-vertical-toolbar-width) - 1px) !important;                                /* Nuevo tamaño botón "Menú" */
      --margin-left-icons-personal: calc(var(--my-vertical-toolbar-width) / 2 - 12px) !important;                 /* New margin-left for menu items */
    }

    /* Align 'menu and logo' */

    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button .toolbarbutton-badge-stack {
      padding-left: calc(var(--margin-left-icons-personal) + 2px) !important;
    }

    /* 'Menu' button color to match <tab-center-reborn> tab-bar in light themes */

    @media (prefers-color-scheme: light){
      @media (-moz-platform: windows),(-moz-platform: linux){
        :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button  {
          --lwt-frame: #e9e6ef !important;
        }}}

    /* New menu size */

    @media (-moz-platform: windows),(-moz-platform: linux) {

      :root:not([chromehidden~="toolbar"]) {
        
        /* New menu button height */

        & #PanelUI-menu-button,
        & #appMenu-popup{
          --tab-height-personal: calc(var(--toolbar-height-personal) + 1px) !important;
        }

        /* Larger logo size */

        & #PanelUI-menu-button>.toolbarbutton-badge-stack>.toolbarbutton-icon{
          transform: scale(1.4) !important;
        }

        /* Menu when 'hover' */

        & #PanelUI-menu-button:not([open]):hover > .toolbarbutton-badge-stack{
          background-color: color-mix(in srgb, var(--general-color) 15%, transparent) !important;
        }

        /* New Menu color */

        &:not([sizemode="fullscreen"],[customizing]):has(#sidebar-box:is( /* ':has' used for apply style only when tree-tabs sidebar is showed */
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"])) #PanelUI-menu-button:not([open]){
          background-color: var(--lwt-frame) !important; 
          border-right: 1px solid var(--general-color) !important;
        }
        
        /* Menu button over tree-tabs sidebar */
        
        & #PanelUI-button {
          z-index: 4 !important;
        }
      }
    }
    
    /* Only Windows */
    
    @media (-moz-platform: windows) {
      
      :root:not([chromehidden~="toolbar"]) {

        /* Remove 'menu' label when is not 'open' */

        & #PanelUI-menu-button:not([open]) .toolbarbutton-badge-stack::after,
        &:not([sizemode="maximized"]) #PanelUI-menu-button:is([open]) .toolbarbutton-badge-stack::after {
          content: none !important;
        }

        /* Keep space for Menu label when menu is open */
        &:is([sizemode="maximized"]) :is(#appMenu-popup, #PanelUI-menu-button:is([open])) {
          --padding-left-tab: 85px !important;
        }
      }
    }
    
    /* Only Linux */
    
    @media (-moz-platform: linux) {

      :root:not([chromehidden~="toolbar"]) {

        /* Remove 'menu' label */

        & #PanelUI-menu-button .toolbarbutton-badge-stack::after{
          content: none !important;
        }
      }
    }
  }

  :root:not([customizing]):has(#sidebar-box:is(
        [sidebarcommand*="tabcenter"],
        [sidebarcommand*="treestyletab"],
        [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"])) #PersonalToolbar {
    margin-inline-start: var(--padding-left-tab) !important;
  }

}
