/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/* Remove navigator-toolbox image */

:root:not([privatebrowsingmode="temporary"]) #navigator-toolbox {
    background-image: none !important;
    background-color: transparent !important;
}

/* Set the image to all body */

#main-window {
    --my-background-image: var(--lwt-additional-images), var(--lwt-header-image, none),
        linear-gradient(var(--lwt-accent-color, Field), var(--lwt-accent-color, Field)) !important;
    --my-background-position-y: top;
    background-image: var(--my-background-image);
    background-repeat: var(--lwt-background-tiling);
    background-position: var(--lwt-background-alignment);
    background-position-y: var(--my-background-position-y) !important;
    background-color: var(--lwt-accent-color, Field) !important;
    background-size:var(--my-background-size, auto) !important;
}

/* blur effect to the bottom */

body:not([xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"])::before {
    content: ''; display: flex; position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: var(--my-backdrop-filter, blur(40px));
    mask: var(--my-mask, linear-gradient(to bottom, transparent, black calc(var(--tab-height-personal) + var(--toolbar-height-personal) + 130px)));
    z-index: -1 !important; /* Revamp + 'Sidebar history' in sidebar was behind this trick */
}

/* Remove unnecessary background to show the theme image */

#browser {
    background-color: transparent !important;
}

/* Sidebar-box background the same as the web content  */

#tabbrowser-tabpanels {
    background-color: var(--toolbar-bgcolor) !important;
}

/* Remove unwanted background to all browser background */

#browser:not(.browser-toolbox-background):not(#tabbrowser-tabpanels) {
    :root[lwtheme] & {
        background-image: none !important;
    }
}

/* Wallpaper for some 'about:' pages */

@media -moz-pref("browser.tabs.allow_transparent_browser") {

    :root:not([lwtheme-image],[style*="--lwt-additional-images"],[privatebrowsingmode="temporary"]):has(
    .tabbrowser-tab[selected] :is(
    .tab-icon-image[src="chrome://mozapps/skin/extensions/extension.svg"],
    .tab-icon-image[src="chrome://global/skin/icons/settings.svg"],
    .tab-icon-image[src="chrome://global/skin/icons/developer.svg"],
    .tab-icon-image[src="chrome://global/skin/icons/performance.svg"])) {
        
        --my-accent-color: color-mix(in srgb, var(--arrowpanel-background) 50%, var(--contrast-color)) !important;
        --toolbar-bgcolor: color-mix(in srgb, var(--contrast-color), transparent var(--brightness-wallpaper)) !important;
        
        --my-backdrop-filter: blur(0px);                                            /* Remove blur-mask effect */
        --lwt-header-image: var(--lwt-main-image) !important;                       /* Image into selected-tab  */
        --my-background-size: 100vw 100vh !important;                               
        --lwt-background-tiling: no-repeat !important;
        --lwt-background-alignment: right top !important;
        --my-background-color: red !important;
    }
}

/* ___________________________________________________________ Selected tab ___________________________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

/* Necessary so that the first 'selected' tab does not remain under 'left-sidebar' */

.tabbrowser-tab[selected] { z-index: 5 !important; }  /* over 'left-sidebar' */

#TabsToolbar { will-change: unset !important; }

/* Tab shape */

.tabbrowser-tab {
    --my-tab-background-clip: polygon(7px 0, 100% 0, 100% 100%, 0 100%, 0 7px);
    --my-tab-stack-clip: polygon(5px 0, 102% 0, 102% 100%, 0 100%, 0 5px);

    tab-group & {
        /*--my-tab-background-clip: polygon(7px 0, calc(101% - 8px) 0, 101% 8px, 100% 100%, 0 100%, 0 7px);
        --my-tab-stack-clip: polygon(5px 0, calc(101% - 6px) 0, 103% 10px, 101% 101%, 0 100%, 0 5px);/**/
        --my-tab-group-background: color-mix(in srgb, var(--tab-group-color) 10%, var(--toolbar-bgcolor));
    }
}

.tab-background {
    margin-block-start: var(--my-tab-margin-top) !important;
    border-block-start: 1px solid transparent !important; 
    border-inline: 1px solid transparent !important;
    border-radius: 0px 3px 0px 0px !important;
    clip-path: var(--my-tab-background-clip);
}

.tabbrowser-tab[visuallyselected] .tab-background {
    --my-background-color: transparent;
    background-image: linear-gradient(var(--my-tab-group-background,var(--toolbar-bgcolor)), var(--my-tab-group-background,var(--toolbar-bgcolor))),
                      var(--lwt-header-image, none), var(--lwt-additional-images,none),
                      linear-gradient(var(--lwt-accent-color,Field), var(--lwt-accent-color,Field)) !important;
    background-position: 0 0, right top , var(--lwt-background-alignment) !important;
    background-position-y: top !important;
    background-repeat: repeat-x, no-repeat, var(--lwt-background-tiling) !important;
    background-size: var(--my-background-size, auto 100%, var(--lwt-background-size)) !important;
    background-attachment: fixed, fixed, fixed !important;
    box-shadow: none !important;
    background-clip: padding-box;
}

.tabbrowser-tab[visuallyselected] > .tab-stack::before{
    content: "";
    display: flex;
    min-height: inherit;
    grid-area: 1/1;
    margin-block-start: var(--my-tab-margin-top) !important;
    border-radius: 0px 2px 0px 0px !important;
    clip-path: var(--my-tab-stack-clip);
    background: light-dark(var(--tab-group-color, var(--general-color)), var(--tab-group-color-invert, var(--general-color))) !important;
}

/* ___________ General tab-groups variables */

tab-group {
    --tab-group-line-thickness: var(--my-group-line-thickness) !important;                                  /* Tab-group line width */
    --general-color: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;          /* Tab accent color the same of group */
    --my-hover-dark-group-color: color-mix(in srgb, var(--tab-group-color) 80%, var(--tab-selected-textcolor));       /* 'hover' on group label - dark */
    --my-hover-light-group-color: color-mix(in srgb, var(--tab-group-color-invert), transparent);           /* 'hover' on group label - light */
}

/* Horizontal Tab into a group */

#tabbrowser-arrowscrollbox[orient="horizontal"] {

    & tab-group {
        
        & .tabbrowser-tab {
            background-color: color-mix(in srgb, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 5%, transparent) !important;/**/
            height: calc(var(--tab-height-personal) - 3px) !important;
        }

        & .tab-background {
            min-height: calc(var(--tab-height-personal) - 3px) !important;
        }

        & .tab-content {
            margin-block-end: -3px !important;
        }
    }
}

/* Vertical Tab into a group */

#tabbrowser-arrowscrollbox[orient="vertical"] {

    tab-group {
        
        /* Tab accent color the same of group */
        & .tabbrowser-tab {
            background-color: color-mix(in srgb, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 5%, transparent) !important;/**/
            --general-color: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
        }
    }
}

/* ___________________________________________ Group styles just for horizontal tabs __________________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@media not -moz-pref("sidebar.verticalTabs") {

    #tabbrowser-arrowscrollbox[orient="horizontal"] {
        
        /* Margin between tabs */
        &>.tabbrowser-tab {
            padding-inline: 0 2px !important;
        }

        /* Margin between tabs inside a group */
        &>tab-group:not([collapsed])>.tabbrowser-tab:not(:last-child) {
            padding-inline: 0 2px !important;   
        }
        
        /* Margin last tab of group */
        &>tab-group:not([collapsed])>.tabbrowser-tab:is(:last-child) {
            padding-inline: 0 !important;
            margin-inline-end: 2px !important;
        }
        
        /* _____________________ Group name _____________________ */
        
        .tab-group-label {
            line-height: calc(var(--tab-group-label-height) - 2px) !important;
            /*min-height: calc(var(--tab-group-label-height) - 0px) !important;/**/
            border-radius: calc(var(--border-radius-urlbar-personal) - 3px) !important;
            
            &:not([aria-expanded="true"]):hover {
                background-color: light-dark(var(--my-hover-light-group-color), var(--my-hover-dark-group-color)) !important;
            }
            
            /* Trick to clic on border */
            
            &::after {
                -moz-window-dragging: no-drag;
                content: "";
                position: absolute;
                inset-block-start: 0px;
                inset-inline-start: 0px;
                width: calc(100% - 3px);
                height: 8px;
            }
        }
        
        /* _____________________________________________________________ */
        
        /* Horizontal tab size for ungrouped tabs */
        
        &>.tabbrowser-tab[fadein]:not([style^="max-width"]) {
            max-width: 200px !important;
        }
        
        /* Horizontal tab size for grouped tabs */
        
        &>tab-group:not([collapsed]) .tabbrowser-tab[fadein]:not([style^="max-width"]) {
            max-width: 200px !important;
        }

        & .tab-content {
            margin-block-end: calc(1px - var(--my-tab-margin-top)) !important;
        }

        /* ____________________________ Styles when creating a group by dragging a tab ____________________________ */
        
        & .tabbrowser-tab[selected]:has(+ .tabbrowser-tab[dragover-createGroup]) {     /* 'Moving tab' + 'Tabforgroup' */
            & .tab-background  {
                border-inline-end-width: 0px !important;
            }
        }
        
        & .tabbrowser-tab[dragover-createGroup] + .tabbrowser-tab[selected] {          /* 'tabforgroup' + 'Moving tab' */
            & .tab-background  {
                border-inline-start-width: 0px !important;
            }
        }

        & .tabbrowser-tab[selected]:has(+ .tabbrowser-tab[dragover-createGroup]),      /* 'Moving tab' + 'Tabforgroup' */
        & .tabbrowser-tab[dragover-createGroup] + .tabbrowser-tab[selected] {          /* 'tabforgroup' + 'Moving tab' */

            & .tab-background {
                background-image: none !important;
                background-color: light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color)) !important;
                outline-color: var(--dragover-tab-group-color-pale) !important;
                outline-width: 1px !important;
                outline-offset: -4px !important;
                border-radius: 0px !important;
                clip-path: none !important;
                box-shadow: inset 0 -1px 0 0 light-dark(var(--dragover-tab-group-color-pale), var(--dragover-tab-group-color-pale)),
                    0 -1px 0 0 light-dark(var(--dragover-tab-group-color-pale), var(--dragover-tab-group-color-pale)) !important;
                filter: none !important;            /* Used for 'tab-shapes' config */
                margin-inline: 0px !important;
            }
            
            /* For 'Tab-shapes' - remove form */
            & .tab-background::before,
            & .tab-background::after {
                display: none !important;
            }

            & .tab-stack::before {
                clip-path: none !important;
                border-radius: 0px !important;
                --general-color: light-dark(var(--dragover-tab-group-color-pale), var(--dragover-tab-group-color-pale)) !important;
            }
        }

        & .tabbrowser-tab[dragover-createGroup] {
            & .tab-background{
                outline-width: 1px !important;
                clip-path: none !important;
            }
        }
    }

    /* __________________________________ Tab group line __________________________________*/
    
    /* Line under tab  */

    .tab-group-line {
        display: none !important;
    }
    
    /* Line below group label */

    .tab-group-label-container {
        tab-group:not([collapsed]) > &::after {
            inset: auto 0px 3px !important;
        }
    }

    tab-group .tabbrowser-tab:not([multiselected]) {
        box-shadow: inset 0 calc(0px - var(--tab-group-line-thickness)) 0px 0px light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
    }

    /* 'Tabs with group' background color when moving a tab */

    :root:has(#tabbrowser-tabs[movingtab]) {
        tab-group .tabbrowser-tab:not([selected]) {
            --moving-tab-background: color-mix(in srgb, var(--tab-group-color-invert) 16%, transparent);
            /*clip-path: var(--my-tab-stack-clip);/**/
            background-image: none !important;
            background-color: light-dark(var(--tab-group-color), var(--moving-tab-background)) !important;
        }
    }
}

/* ____________________________________________ Group styles just for Vertical tabs ___________________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@media -moz-pref("sidebar.verticalTabs") {
    
    /* Group line in label - sidebar collapsed */
    
    .tab-group-label-container {
        #tabbrowser-tabs[orient="vertical"] tab-group:not([collapsed]) > &::after {
            inset-inline: 1px !important;
        }
    }
    
    /* Line before each tab - sidebar collapsed */

    .tab-group-line {
        #tabbrowser-tabs[orient="vertical"] & {
            inset-inline-start: 1px !important;
        }
    }
    
    /* Group label when disabled default 'expand-on-hover' */
    
    .tab-group-label {

        #tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
            line-height: calc(var(--tab-group-label-height) - 4px) !important; /* makes the height the same when expand*/
            margin-inline: calc(var(--tab-collapsed-background-width) /2 - 8px) !important;
            min-height: 24px !important;
        }

        #tabbrowser-tabs[orient="vertical"][expanded] & {
            padding-block: 0px !important;
            min-height: 24px !important;
            min-width: calc(24px - 8px) !important;
            align-content: center !important;
            text-overflow: '' !important;
        }
    }
    
    /* Group label when using default 'expand-on-hover' */

    @media -moz-pref("sidebar.visibility", "expand-on-hover") {

        /* Used for alignt label when expand-collapse sidebar */
        .tab-group-label {            
             #tabbrowser-tabs[orient="vertical"]:is([expanded]) & {
                 padding-inline: calc(var(--my-vertical-elements-width)/2 - 12px) !important;
            }
        }
    }

    .tab-group-label-container {
        margin-inline-start: 0px !important;
    }

    .tab-group-label {
        
        /* 'hover' label background */
        &:not([aria-expanded="true"]):hover {
            background-color: light-dark(transparent,color-mix(in srgb, var(--tab-group-color) 80%, var(--tab-selected-textcolor))) !important;
        }
        
        /* First letter always capitalized */
        &::first-letter {
           text-transform: capitalize !important; 
        }

        /* Trick to clic on border */
        &::after {
            -moz-window-dragging: no-drag;
            content: "";
            position: absolute;
            inset-block-start: 0px;
            inset-inline-start: 0px;
            width: 100%;
            height: calc(var(--tab-height-personal) - 7px);
            z-index: 1 !important;
        }
    }

    /* Align */
    .tab-group-label {
        #tabbrowser-tabs[orient="vertical"][expanded] & {
            margin-inline: 8px !important;
        }
    }

    /* Continuous group line when group & sidebar are expanded */

    .tab-group-label-container:has(.tab-group-label[aria-expanded="true"]) {
        #tabbrowser-tabs[orient="vertical"][expanded] & {
            &::before {
                -moz-window-dragging: no-drag;
                content: "";
                position: absolute;
                inset-block-start: 0px;
                inset-inline-start: 1px;
                width: 100%;
                height: 100%;
                border-inline-start: var(--my-group-line-thickness) solid light-dark(var(--tab-group-color, initial), var(--tab-group-color-invert, initial));
            }
        }
    }
}

/* ___________________________________________________________ Various Styles ___________________________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

/* Remove unwanted extra tab width */

#tabbrowser-arrowscrollbox[orient="horizontal"] {

    &>tab-group {
        &:not([collapsed]) > .tabbrowser-tab {
            &:is([muted], [soundplaying], [activemedia-blocked]) {
                #tabbrowser-tabs[orient="horizontal"] &:not([pinned]) {
                    min-width: max(var(--tab-min-width-pref, var(--tab-min-width))) !important;
                }
            }
        }
    }
    
    &>.tabbrowser-tab {
        &:is([muted], [soundplaying], [activemedia-blocked]) {
            #tabbrowser-tabs[orient="horizontal"] &:not([pinned]) {
                min-width: max(var(--tab-min-width-pref, var(--tab-min-width))) !important;
            }
        }
    }
}

#tabbrowser-tabs {
    &[orient="horizontal"] {
        :root[uidensity="touch"] & .tabbrowser-tab:not([pinned]) {
             min-width: max(var(--tab-min-width-pref, var(--tab-min-width)), var(--tab-width-personal)) !important;
        }
    }
}

/* Smaller tab width */

.tabbrowser-tab {
    
    &:not([pinned])[fadein] {
        #tabbrowser-tabs[orient="horizontal"] & {
            container-name: smaller-tab;  /* used too in ogx_sound.css */
            container-type: inline-size;
            --tab-min-width-pref: calc(var(--tab-min-width-personal) + 8px + var(--uc-tab-corner-size, 0px)/4) !important;
        }
    }
}

@media not -moz-pref("sidebar.verticalTabs") {

    @container smaller-tab (width < 48px) {
        .tabbrowser-tab {
            &:not([pinned])[fadein] {
                #tabbrowser-tabs[orient="horizontal"] & {
                    
                    .tab-close-button,
                    .tab-label-container {
                        display: none !important;
                    }
                    
                    .tab-content {
                        --tab-inline-padding: 0px !important;
                        --tab-icon-end-margin: 0px !important;
                    }

                    .tab-icon-stack {
                        margin-inline: auto !important;
                    }
                }
            }
        }
    }
}

/* ________________ Tab 'hover' background-color ________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

/* 'hover' tab background +  smooth transition */

.tab-background {
    .tabbrowser-tab > .tab-stack > &:not([selected],[multiselected],[visuallyselected]) {
        clip-path: var(--my-tab-stack-clip);
        
        @media not -moz-pref("firefoxgx.tab-shapes") {
            transition: background-color 0.2s ease !important;
        }
    }

    .tabbrowser-tab:hover > .tab-stack > &:not([selected],[multiselected],[visuallyselected]) {
        /* don't use '--button-smaller-bgcolor' cause group tabs */
        background-color: color-mix(in srgb, var(--general-color) 25%, transparent) !important;
    }
}

/* ______ Rules for better 'multiselected' visualization ________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

.tabbrowser-tab[multiselected] {

    /* Selected tab */
    &:is([selected]) .tab-background,
    &:is([selected]) .tab-background::before,   /* 'before' & 'after' for tab-shapes config*/
    &:is([selected]) .tab-background::after{    /* 'before' & 'after' for tab-shapes config*/
        background: light-dark(var(--tab-group-color-invert, var(--button-bgcolor)), var(--tab-group-color-invert, var(--general-color))) !important;
        outline-color: transparent !important;
        outline-offset: -1px !important;
    }

    /* non-Selected tab */
    &:not([selected]) .tab-background {
        background-color: light-dark(var(--tab-group-color-invert, var(--button-bgcolor)), var(--tab-group-color, var(--button-hover-bgcolor))) !important;
        clip-path: var(--my-tab-stack-clip);
        outline-color: transparent !important;
        transition: background 0.2s ease !important;
    }
}

/* ___________ Top space in non-maximized window */

:root:is([customtitlebar][sizemode="normal"])    {
    --windowed-top-padding: 8px;
}

:root:is([customtitlebar][sizemode="normal"]) #toolbar-menubar[autohide="true"] ~ #TabsToolbar {
    padding-block-start: var(--windowed-top-padding, 0px) !important;
}

/* ___________ Tabs-bar reach lower height that 30px */

.titlebar-buttonbox-container, .tab-close-button, .tab-label-container{
  max-height: calc(var(--tab-height-personal) - 1px + var(--windowed-top-padding, 0px)) !important;
}

/* ___________ Bug fix: Unwanted larger tab-label-container - tested with 'oneline' in non-maximized window */

.tab-label-container {
    #tabbrowser-tabs:not([secondarytext-unsupported], [orient="vertical"]) & {
        height: fit-content !important;
    }
}

/* ___________ Remove tab-label in pinned tabs - bug fix for big tabs */

#tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab[pinned] .tab-label-container {
    display: none !important;
}

/* ___________ Tab-label color the same as the group */

tab-group>.tabbrowser-tab:not([multiselected])>.tab-stack>.tab-content .tab-label   {
    color: light-dark(var(--tab-group-color, initial), var(--tab-group-color-invert, initial)) !important;
}

/* ___________ Remove shadow from tab label */

.tab-label { text-shadow: none !important; }

/* ___________ Gradient under tabs-bar */

#nav-bar { border-top: none !important; }

#TabsToolbar::before {
    content: "" !important; position: absolute !important; align-self: end !important;
    inset-inline-start: var(--my-elements-left-margin, 0px) !important;
    width: 100% !important;
    border-block-end: 1px solid var(--general-color) !important;
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
    z-index: 3 !important;  /*same index of oneline: 'Makes tabsbar items clicleable' - fix when 'left-sidebar' + 'Firefox-revamp' on right*/
}

/* ___________ Smaller size of 'tabs scroll' */

#tabbrowser-tabs { --uc-tabs-scrollbutton-border: 0px !important; }

#scrollbutton-up, #scrollbutton-down {
    border-block-width: var(--uc-tabs-scrollbutton-border, 0px) !important;
    margin-bottom: 1px !important;
    border-radius: 0px !important;
}

/* ___________ Remove "Private navigation" label */

.private-browsing-indicator-label {
    display: none !important;
}

/* ___________ Reduce spacing between pinned and regular tabs */

#tabbrowser-tabs[haspinnedtabs]:not([orient="vertical"],[positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])),
#pinned-tabs-container[orient="horizontal"] {
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

/* ___________ Remove left empty space on tabs when window is not maximized */

@media not (-moz-gtk-csd-reversed-placement) {
    .titlebar-spacer[type="pre-tabs"] {
        display: none !important
    }
}

/* ___________ Size and color of the 'dot' when a tab needs attention */

.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
    background-image: radial-gradient(circle, var(--attention-dot-color), var(--attention-dot-color) 2px, transparent 2px) !important;
    background-position: center bottom !important;
    background-size: 8px 8px !important;
}

#tabbrowser-tabs[orient="vertical"] .tabbrowser-tab:not([pinned]) > .tab-stack > .tab-content[titlechanged]:not([selected]) {
    background-position-y: bottom 2px !important;
    background-position-x: calc(var(--my-vertical-elements-width)/2 - 2px) !important;
}

/* _______________________ New Tab button _______________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
#tabbrowser-tabs {
    #tabs-newtab-button, 
    #new-tab-button,
    #vertical-tabs-newtab-button {
        --toolbarbutton-hover-background: transparent !important;
        --toolbarbutton-active-background: transparent !important;
        --toolbarbutton-inner-padding: calc((var(--tab-min-height) - 18px) / 2) !important;
        padding-inline: var(--uc-margin-left-newtab, 0px) !important;
        
        &::before {
            content: ''; position: absolute; 
            min-height: calc(var(--tab-height-personal) - 8px);
            width: calc(var(--tab-height-personal) - 8px);
            border-radius: 3px;
        }
        
        &:hover::before {
            background-color: var(--button-smaller-bgcolor) !important;
        }
    }
}

/* Width when sidebar isn't expanded */    
#tabbrowser-tabs[orient="vertical"]:not([expanded]) {
    & #tabs-newtab-button,
    & #vertical-tabs-newtab-button{
        &:not([expanded]) {
            width: var(--my-vertical-elements-width) !important;
        }
    }
}

#tabbrowser-tabs[orient="vertical"] {
    #tabs-newtab-button,
    #vertical-tabs-newtab-button {
        --tab-hover-background-color: transparent !important;
        margin-inline: 0px !important;
        fill: var(--general-color) !important;

        &::before {
            min-height: calc(var(--tab-collapsed-background-width) - 8px);
            width: calc(var(--tab-collapsed-background-width) - 0px);
        }
    }
}

/* When Sidebar is expanded */
sidebar-main:is([expanded]) {
    #tabbrowser-tabs[orient="vertical"] {
        & #tabs-newtab-button,
        & #vertical-tabs-newtab-button {
            --tab-icon-end-margin: 5.5px !important;
            padding-inline-start: calc(var(--my-vertical-elements-width)/2 - 8px) !important;
            border-radius: 0px !important;

            &::before {
                inset-inline-start: 4px !important;
                width: calc(100% - 8px) !important;
            }

            & .toolbarbutton-text {
                mask: linear-gradient(to right, #e66465 calc(100% -  26px), #00000000 calc(100% - var(--my-vertical-elements-width)/2 + 8px)) !important;
            }
        }
    }
}

/* __________________________ Menu-bar __________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

#toolbar-menubar, #menubar-items, #main-menubar {
    min-height: var(--menubar-height-personal) !important;
}

#main-menubar>menu{
    border-radius: 0px !important;
    background-color: transparent !important;
}

@media (-moz-platform: windows) {
    menubar > menu {
        padding: 0px 2px 2px !important;
    }
}

#main-menubar>menu>.menu-text{
    padding: 2px 4px !important;
    margin-inline: 0px !important;
}

#main-menubar>menu:is(:hover,[open])>.menu-text {
    background-color: var(--button-active-bgcolor) !important;
    color: white !important;
    border-radius: 2px !important;
    width: -moz-available !important;
}

/* ________________________ Firefox-view ________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

#tabbrowser-tabs {
    border-inline-start-width: 0px !important;
}

#TabsToolbar {
    
    & #firefox-view-button {
        padding-inline: 4px !important;
    }

    & #firefox-view-button:hover .toolbarbutton-icon {
        background-color: var(--toolbarbutton-hover-personal) !important;
        fill: var(--general-color) !important;
        transition: none !important;
    }
}

toolbar:is(#TabsToolbar, #nav-bar, #PersonalToolbar) #firefox-view-button[aria-pressed="true"] .toolbarbutton-icon {
        background: var(--button-bgcolor) !important;
        fill: var(--arrowpanel-color, var(--tab-selected-textcolor)) !important;
        transition: none !important;
}

/* ________________________ Tab Preview _________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

.tab-preview-thumbnail-container {    
    border-top-color: var(--arrowpanel-border-color) !important;
}

#tab-preview-panel {
    margin-block-start: 2px !important;
    border-radius: var(--arrowpanel-border-radius) !important;
    box-shadow: inset 0 0 0 1px var(--contrast-color) !important;
}

@media -moz-pref("sidebar.verticalTabs") {
    #tab-preview-panel {
        margin-block-start: -4px !important;
        margin-inline: 1px !important;
    }
}

/* _____________________________________________________ Configuration for Linux ______________________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@media (-moz-platform: linux) {
    
    /* Remove unnecessary padding from menu-bar */
    toolbar { &[type="menubar"] { padding: 0px !important; }}

    /* less spaced menu items */
    #main-menubar>menu>.menu-text{
        margin-inline: -5px !important;
    }
}

/* _____________________________________________________ Configuration for MacOS ______________________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@media (-moz-platform: macos) {
    
    #TabsToolbar {
        padding-block-start: 6px !important;
    }
    :root:not([sizemode="fullscreen"]) .titlebar-buttonbox-container {
        margin-inline: 6px 10px !important;
    }
}