/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/* Menú contextual */
menupopup>menuitem, menupopup>menu {
    padding-block: 5px !important; 
}
/* Borde izquierda y derecha del menú contextual */
menugroup>menuitem:first-child { padding-left:  4px !important; }
menugroup>menuitem:last-child  { padding-right: 4px !important; }

/* context menu top buttons radius */
menugroup>menuitem>hbox>image { border-radius: 2px !important; }

/* separador de items */
menuseparator {
    margin-inline: 6px !important;
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
}
@media (-moz-platform: linux) { menuseparator {
    appearance: none !important;
    border-top: 1px solid transparent !important;
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
    padding-top: 2px !important;
    margin-top: 2px !important;
    }
}
/* Márgenes menú y menú desplegable del menú */
menupopup{ margin: 0px !important;  border-radius: 0px !important; }
menupopup:not(#PlacesToolbar) menupopup { 
    margin-top: -6px !important; 
    margin-left: -10px !important; 
}
#PlacesToolbar menupopup { margin-block: 0px !important; margin-inline-end: -6px !important; }
#PlacesToolbar menupopup menupopup{ margin-top: -6px !important; margin-left: -10px !important; }

/* Colores generales */
.menupopup-arrowscrollbox{
    box-shadow: 0px 0px 0 1px var(--lwt-frame) !important;
    background: var(--arrowpanel-background, #50505090) !important;
    color: var(--arrowpanel-color, #ffffff) !important;
    border: 1px solid transparent !important;
    border-color:  color-mix(in srgb, var(--arrowpanel-border-color, #50505090) 35%, black) !important;
    border-image: var(--panel-separator-zap-gradient4) 1 !important;
    border-radius: 0px !important;
    margin: 1px !important;
    margin-inline-end: 8px !important;
}
/* Íconos superiores del menú contextual */
#context-navigation {
    background-color: var(--arrowpanel-background) !important;
    color: var(--arrowpanel-color) !important;
    margin-left: 2px !important;
    margin-right: 2px !important; }
#context-navigation > .menuitem-iconic:hover:not([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon{
    appearance: none !important;
    background-color: var(--button-hover-bgcolor) !important; }
    /* Color íconos deshabilitados */
#context-navigation > .menuitem-iconic:hover:is([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon {
    appearance: none !important;
    color: inherit !important;
    background: transparent !important;
}
/* Font color in Contextual menus */
menupopup>menuitem:not([disabled="true"]), menupopup>menu {
    appearance: none !important;
    color: var(--lwt-tab-text) !important;
}
/* Gradient color to :hover items */
menupopup>menuitem:not([disabled="true"]):hover, menupopup>menu:hover {
    appearance: none !important;
    background: linear-gradient(to right, var(--button-hover-bgcolor) 49%, transparent) !important; color: var(--arrowpanel-color, #ffffff) !important;
}
menupopup>menuitem:is([disabled="true"]):hover {
    appearance: none !important;
    background: transparent !important;
}
/* Necesario para quitar glitch indeseado al mover el mouse rapidamente sobre items de menús */
menupopup>menuitem:not([selected="true"]), menupopup>menu {
    appearance: none !important;
    background-color: transparent !important; }
menupopup>menu[open="true"]{
    appearance: none !important;
    background: linear-gradient(to right, var(--button-hover-bgcolor) 49%, transparent) !important; 
    color: var(--arrowpanel-color) !important;
}
/* Mostrar background-color en el item seleccionado */
menupopup>menuitem:is([selected="true"]):not([disabled="false"]){
    appearance: none !important;
    background-color: var(--button-active-bgcolor) !important;
    color: white !important;}
menupopup>menuitem:is([selected="true"]):hover:not([disabled="false"]){
    appearance: none !important;
    background-color: var(--general-color) !important; 
}
/* Flecha menú contextual desplegable */
@media (-moz-platform: linux) {.menu-right {
    -moz-appearance: none !important;
    list-style-image: url(chrome://global/skin/icons/arrow-right.svg )!important;    
 	height: initial !important;
    -moz-context-properties: fill !important;
    fill: currentColor !important;
    opacity: 0.7 !important;
    }}
