/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

:root,
:root:-moz-lwtheme,
:root:not(:-moz-lwtheme){
  
  /*--lwt-accent-color: #09080d !important;                                             /* frame */
  --lwt-frame: var(--lwt-accent-color, #09080d) !important;                             /* frame */
  /*--lwt-text-color: inherit !important;                                               /* tab_background_text */
  --lwt-accent-color-inactive: var(--lwt-accent-color, Field) !important;               /* frame_inactive */
  
  --lwt-selected-tab-background-color: var(--tab-selected-bgcolor) !important;          /* tab_selected */
  
  --toolbar-bgcolor: var(--lwt-selected-tab-background-color) !important;               /* toolbar */
  
  /*--toolbar-color: #8e8085 !important;                                                /* ColorLabelMarcadores */
  
  /*--arrowpanel-background: #1c1726 !important;                                        /* popup */
  /*--arrowpanel-color: var(--lwt-tab-text) !important;                                 /* popup_text */  
  --arrowpanel-border-color: transparent !important;                                    /* popup_border */    
  /*--autocomplete-popup-highlight-background: var(--button-hover-bgcolor);             /* popup_highlight */
  
  --panel-description-color: var(--general-color) !important;                           /* Color de letras de: correo de la cuenta, y dispositivos conectados"*/
  --toolbar-field-background-color: transparent !important;                             /* toolbar_field */
  --toolbar-field-color: var(--lwt-tab-text) !important;                                /* toolbar_field_text */
  --toolbar-field-border-color: transparent !important;                                 /* toolbar_field_border */
  
  /*--toolbar-field-focus-background-color: color-mix(in srgb, 
  var(--general-color) 4%, #2e273ffb) !important;                                       /* toolbar_field_focus */
  --toolbar-field-focus-color: var(--lwt-tab-text) !important;                          /* toolbar_field_text_focus */
  --toolbar-field-focus-border-color: transparent !important;                           /* toolbar_field_border_focus */
  --lwt-toolbar-field-highlight: var(--general-color) !important;                       /* toolbar_field_highlight */
  --lwt-toolbar-field-highlight-text: var(--contrast-color) !important;                 /* toolbar_field_highlight_text */
  
  --urlbar-box-hover-bgcolor: color-mix(in srgb,                                        /* Fondo :hover de íconos de la urlbar */
    var(--button-bgcolor) 90%, white) !important;
  --urlbar-box-active-bgcolor: color-mix(in srgb,                                       /* Fondo :active de íconos de la urlbar */
    var(--button-bgcolor) 82%, white) !important;
  --urlbar-icon-border-radius: 2px !important;                                          /* forma iconos urlbar */

  /*--toolbarbutton-icon-fill: #b6b6d2 !important;                                      /* icons */
  /*--lwt-toolbarbutton-icon-fill-attention: var(--general-color) !important;           /* icons_attention */    
  
  --lwt-sidebar-background-color: var(--toolbar-bgcolor) !important;                    /* Sidebar-background */
  
  --toolbarbutton-inner-padding: 6px !important;                                        /* Toolbar buttons más pequeños */
  --toolbarbutton-outer-padding: 2px !important;                                        /* Toolbar buttons más espaciados */
  --toolbarbutton-border-radius: 2px !important;                                        /* forma de los buttons */
  
  --toolbarseparator-color: color-mix(in srgb,                                          /* Separador en la barra de marcadores */
    var(--toolbar-bgcolor)84%, var(--lwt-tab-text)) !important;
  
  --tab-block-margin: 0px !important;                                                   /* margenes pestañas - change this will break the theme */
  --margin-top-personal: 0px !important;                                                /* margen top pestañas - variable personal */
  
  --tab-min-height: var(--tab-height-personal) !important;                              /* tamaño pestañas */
  --tabs-shadow-size: 0px !important;                                                   /* sombras de pestaña */
  --tab-border-radius: 0px !important;                                                  /* forma de la pestaña */
  
  --arrowpanel-menuitem-padding: 8px !important;                                        /* menu mas pequeño */
  --arrowpanel-border-radius: 0px !important;                                           /* forma de los menús */
  --panel-subview-body-padding: 4px 0px !important;                                     /* Padding menús */
  --arrowpanel-padding: 1.3em !important;                                               /* Otro padding de menús */
  --arrowpanel-menuitem-margin: 0 0px !important;                                       /* margenes de menús */
  --menu-panel-width-wide: 32em !important;
  
  --arrowpanel-menuitem-border-radius: 0px !important;                                  /* forma de menuitems :hover */
  --panel-separator-margin-vertical: 3px !important;                                    /* margen vertical entre los separadores */
  --panel-separator-margin-horizontal: 8px !important;                                  /* Margen horizontal de los separadores */
  
  --panel-separator-margin: var(--panel-separator-margin-vertical) var(--panel-separator-margin-horizontal) !important;
  
  --urlbar-icon-padding: 4px !important;                                                /* padding de los iconos de la urlbar */
  --panel-separator-color: var(--general-color) !important;                             /* separadores de menu desplegable de marcadores */
  
  --urlbar-popup-url-color: var(--general-color) !important;                            /* Color urls de sujerencias de búsqueda */
  --autocomplete-popup-hover-background: var(--button-bgcolor) !important;              /* Color hover de sujerencias de búsqueda */
  --urlbarView-separator-color: transparent !important;                                 /* color separador urlbar y sugerencias de búsqueda */
  
  --border-radius-urlbar-personal: 4px;                                                 /* Variable personal para cambiar forma en tab-shapes config */

  --link-color: var(--general-color) !important;
  --link-color-hover: var(--blue) !important;
  --link-color-active: var(--purple);
  --link-color-visited: var(--purple);
  
    accent-color: var(--general-color) !important;
  
  --color-accent-primary: var(--button-active-bgcolor) !important;                      /* Radiobutton */
  --color-accent-primary-hover: var(--button-hover-bgcolor) !important;                 /* Radiobutton :hover */
  --color-accent-primary-active: var(--general-color) !important;                       /* Radiobutton :active */
}

/* Dark theme */

@media (prefers-color-scheme: dark){
:root[brighttext]:-moz-lwtheme,
:root[lwt-toolbar-field-focus-brighttext],
:root:-moz-lwtheme{
  
  --contrast-color: #000000 !important;
  --border-contrast-color: color-mix(in srgb, var(--arrowpanel-background) 40%, var(--contrast-color)) !important; 

  --lwt-tab-text: #ffffff !important;                                                                                   /* tab_text */
  
  --chrome-content-separator-color: var(--toolbar-bgcolor) !important;                                                  /* toolbar_bottom_separator */

  --toolbarbutton-hover-background: color-mix(in srgb, var(--toolbar-bgcolor) 80%, black) !important;                   /* button_background_hover */
  --toolbarbutton-active-background: color-mix(in srgb, var(--toolbar-bgcolor) 50%, black) !important;                  /* button_background_active */
  --toolbarbutton-hover-personal: var(--toolbar-field-focus-background-color) !important;                               /* Button :hover color personal */
  
  scrollbar-color: #38375580 #18173530 !important;                                                                      /* Colores - Barra de deplazamiento */
  --shield-icon-personal: url("../icons/shield-dark.svg") !important;                                                   /* Ícono protección contra rastreo */
  --noise-urlbar-personal: url("../icons/urlbar-noise-light.png") !important;                                           /* imagen de desenfoque urlbar open */
  
  --button-primary-bgcolor: var(--button-active-bgcolor) !important;                                                    /* ColorBotónGuardar */   
  --button-primary-color: #eaeaea !important;                                                                           /* ColorLetrasBotónGuardar */
   
  --button-primary-hover-bgcolor: var(--button-hover-bgcolor) !important;                                               /* ColorBotónGuardar :Hover */
  --button-primary-active-bgcolor: var(--button-active-bgcolor) !important;                                             /* ColorBotónGuardar :clic */

  --input-bgcolor: color-mix(in srgb, var(--arrowpanel-background)50%, var(--border-contrast-color)) !important;        /* Color input background en Marcadores */
  --focus-outline-color: var(--general-color) !important;                                                               /* Color borde en InputText Focus */
  --input-border-color: color-mix(in srgb, var(--arrowpanel-background) 88%, var(--lwt-tab-text)) !important;           /* Color borde en InputText */
  --Button-background-personal: color-mix(in srgb, var(--arrowpanel-background) 82%, var(--general-color)) !important;  /* Background of buttons - variable personal */

}}

/* White Theme */

@media (prefers-color-scheme: light){
:root:not([lwtheme-brighttext="true"]),
:root:not([lwt-toolbar-field-focus-brighttext]),
:root:-moz-lwtheme{
  
  --contrast-color: #f9f9f9 !important;
  --border-contrast-color: #acacac50 !important; 
  
  --lwt-tab-text: #101019 !important;                                                                                   /* tab_text */

  --chrome-content-separator-color: #ddd9e8 !important;                                                                 /* toolbar_bottom_separator */
  
  --toolbarbutton-hover-background: color-mix(in srgb, var(--toolbar-bgcolor) 92%, black) !important;                   /* button_background_hover */
  --toolbarbutton-active-background: color-mix(in srgb, var(--toolbar-bgcolor) 84%, black) !important;                  /* button_background_active */
  --toolbarbutton-hover-personal: color-mix(in srgb, var(--toolbar-bgcolor) 88%, black) !important;                     /* Button :hover color personal */

  scrollbar-color: #d8d9da var(--toolbar-bgcolor) !important;                                                           /* Colores - Barra de deplazamiento */
  --shield-icon-personal: url("../icons/shield-light.svg") !important;                                                  /* Ícono protección contra rastreo */
  --noise-urlbar-personal: url("../icons/urlbar-noise-light.png") !important;                                           /* imagen de desenfoque urlbar open */

  --button-primary-bgcolor: var(--general-color) !important;                                                            /* ColorBotónGuardar */   
  --button-primary-color: #eaeaea !important;                                                                           /* ColorLetrasBotónGuardar */
   
  --button-primary-hover-bgcolor: var(--button-active-bgcolor) !important;                                              /* ColorBotónGuardar :Hover */
  --button-primary-active-bgcolor: var(--button-primary-bgcolor) !important;                                            /* ColorBotónGuardar :clic */

  --input-bgcolor: color-mix(in srgb, var(--arrowpanel-background) 86%, black) !important;                              /* Color input background en Marcadores */
  --focus-outline-color: var(--general-color) !important;                                                               /* Color borde en InputText Focus */
  --input-border-color: color-mix(in srgb, var(--arrowpanel-background) 66%, black) !important;                         /* Color borde en InputText */
  --Button-background-personal: color-mix(in srgb, var(--arrowpanel-background) 82%, var(--general-color)) !important;  /* Background of buttons - variable personal */

}}

/* Compatibilidad Parcial para temas que usan "Imagenes" */

@media (prefers-color-scheme: dark){
  :root:is([lwtheme-image],[style*="--lwt-additional-images"]){
  --toolbar-bgcolor: #101019cf !important;                                                                       /* toolbar */
  --toolbar-field-background-color: transparent !important;                                                      /* toolbar_field */
  --toolbar-field-border-color: transparent !important;                                                          /* toolbar_field_border */
  --lwt-selected-tab-background-color: transparent !important;                                                   /* tab_selected */
  --toolbar-field-focus-background-color: color-mix(in srgb, var(--general-color) 4%, #2e273ffb) !important;     /* toolbar_field_focus */
  --toolbarbutton-hover-background: color-mix(in srgb, 
    var(--toolbar-field-focus-background-color) 50%, transparent) !important;                                    /* button_background_hover */
  --toolbarbutton-active-background: var(--contrast-color) !important;                                           /* button_background_active */
  --toolbarbutton-hover-personal: color-mix(in srgb, 
    transparent 85%, color-mix(in srgb, var(--lwt-tab-text)80%, var(--general-color))) !important;               /* Button :hover color personal */
  --lwt-background-alignment: right top, left top, right top !important;
  --chrome-content-separator-color: color-mix(in srgb, 
    var(--toolbar-bgcolor) 84%, var(--contrast-color)) !important;                                               /* toolbar_bottom_separator */
  }}

@media (prefers-color-scheme: light){
  :root:is([lwtheme-image],[style*="--lwt-additional-images"]){
  --toolbar-bgcolor: #f9f9f9cf !important;                                                                       /* toolbar */
  --toolbar-field-background-color: transparent !important;                                                      /* toolbar_field */
  --toolbar-field-border-color: transparent !important;                                                          /* toolbar_field_border */
  --lwt-selected-tab-background-color: transparent !important;                                                   /* tab_selected */
  --toolbar-field-focus-background-color: color-mix(in srgb, var(--general-color) 14%, #f9f9f9fb) !important;    /* toolbar_field_focus */
  --toolbarbutton-hover-background: color-mix(in srgb, 
    var(--toolbar-field-focus-background-color) 100%, transparent) !important;                                   /* button_background_hover */
  --toolbarbutton-active-background: color-mix(in srgb, 
    var(--toolbar-field-focus-background-color) 94%, var(--lwt-tab-text)) !important;                            /* button_background_active */
  --toolbarbutton-hover-personal: color-mix(in srgb, 
    transparent 85%, color-mix(in srgb, var(--lwt-tab-text)80%, var(--general-color))) !important;               /* Button :hover color personal */
  --lwt-background-alignment: right top, left top, right top !important;
  --chrome-content-separator-color: color-mix(in srgb, 
    var(--toolbar-bgcolor) 90%, var(--lwt-tab-text)) !important;                                                 /* toolbar_bottom_separator */
  }}

/* Private Browsing Mode */

@media (prefers-color-scheme: dark){
  
:root:is([privatebrowsingmode="temporary"], 
         [privatebrowsingmode="temporary"][style*="--lwt-additional-images"],
         [privatebrowsingmode="temporary"][lwtheme-image]){
  
  --lwt-header-image: none !important; 
  --lwt-additional-images: none !important;
  --lwt-accent-color: #0d0c15 !important;                                                                        /* frame */
  --arrowpanel-background: #1c1726 !important;                                                                   /* popup */
  --toolbar-field-focus-background-color: #2e273ffb !important;                                                  /* toolbar_field_focus */    
  --lwt-selected-tab-background-color: #070712 !important;                                                       /* tab_selected */
  --toolbar-bgcolor: var(--lwt-selected-tab-background-color) !important;
  --toolbarbutton-icon-fill: #b6b6d2 !important;                                                                 /* icons */
  --lwt-toolbarbutton-icon-fill-attention: var(--general-color) !important;                                      /* icons_attention */
  
  --toolbarbutton-hover-background: color-mix(in srgb, var(--toolbar-bgcolor) 60%, black) !important;            /* button_background_hover */
  --toolbarbutton-active-background: color-mix(in srgb, var(--toolbar-bgcolor) 20%, black) !important;           /* button_background_active */

  }}

@media (prefers-color-scheme: light){
  
:root:is([privatebrowsingmode="temporary"], 
         [privatebrowsingmode="temporary"][style*="--lwt-additional-images"],
         [privatebrowsingmode="temporary"][lwtheme-image]){
  
  --lwt-header-image: none !important; 
  --lwt-additional-images: none !important;  
  --lwt-accent-color: #e0dfec !important;                                                                        /* frame */
  --arrowpanel-background: #f0eff6 !important;                                                                   /* popup */
  --toolbar-field-focus-background-color: #e0dfecfb !important;                                                  /* toolbar_field_focus */
  --lwt-selected-tab-background-color: #f0eff6 !important;                                                       /* tab_selected */
  --toolbar-bgcolor: var(--lwt-selected-tab-background-color) !important;
  --toolbarbutton-icon-fill: #505050 !important;                                                                 /* icons */
  --lwt-toolbarbutton-icon-fill-attention: var(--general-color) !important;                                      /* icons_attention */
  
  --toolbarbutton-hover-background: color-mix(in srgb, var(--toolbar-bgcolor) 50%, white) !important;            /* button_background_hover */
  --toolbarbutton-active-background: color-mix(in srgb, var(--toolbar-bgcolor) 20%, white) !important;           /* button_background_active */

  }}

/* Other height for tabs in touch density */

:root[uidensity="compact"] {
    --tab-height-personal: 26px !important;
    --my-vertical-toolbar-width: 35px !important;
    --toolbar-height-personal: 32px !important;
}

:root[uidensity="touch"] {
    --tab-height-personal: 36px !important;
    --my-vertical-toolbar-width: 47px !important;
    --toolbar-height-personal: 42px !important;
}
