/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

:root{  /* _____________________________________ Color variables, you can put your custom color and use it _____________________________________ */

  --fuchsia: #fa1e4e;  --blue: #4c4cff;    --aqua: #00bfff;        --cyan: #00ffff;        --lightblue: #45a1ff;   --pink: #FF0F7E;        --catppuccino: #f38ba8;
  --purple: #8d35e2;   --green: #05b694;   --aquamarine: #00ffa2;  --lightgreen: #36ff4e;  --yellowbrown: #febd60; --swampautumn: #fdf008;
  --gray: #bfb6d2;     --orange: #ff6c22;  --yellow: #ffe20f;      --red: #ff3230;         --navyblue: #0050cE;    --poison: #cb17cf; 
  
/*  Accent color -----> UI del navegador.  -----|                       |---- userContent <------------ Accent color
                                                |                       |     (Add-ons, preferences and newTab pages.)
                                                v                       v                                                                        */
  --general-color: var(--lwt-toolbarbutton-icon-fill-attention, var(--fuchsia));

/* __________________________________________________________  Various customizations __________________________________________________________ */
                  /* Dark wallpapers */                                               /* Accentcolor for each wallpaper */
  --wallpaper-dark1: url("../newtab/wallpaper-dark1.png") !important;           --general-color-dark1: var(--fuchsia) !important;
  --wallpaper-dark2: url("../newtab/wallpaper-dark2.png") !important;           --general-color-dark2: var(--purple) !important;
  --wallpaper-dark3: url("../newtab/wallpaper-dark3.png") !important;           --general-color-dark3: var(--blue) !important;
  --wallpaper-dark4: url("../newtab/wallpaper-dark4.png") !important;           --general-color-dark4: var(--swampautumn) !important;
  --wallpaper-dark5: url("../newtab/wallpaper-dark5.png") !important;           --general-color-dark5: var(--lightgreen) !important;
  --wallpaper-dark6: url("../newtab/wallpaper-dark6.png") !important;           --general-color-dark6: var(--gray) !important;
  
                  /* Light wallpapers */                                             /* Accentcolor for each wallpaper */
  --wallpaper-light1: url("../newtab/wallpaper-light1.png") !important;         --general-color-light1: var(--fuchsia) !important;
  --wallpaper-light2: url("../newtab/wallpaper-light2.png") !important;         --general-color-light2: var(--purple) !important;
  --wallpaper-light3: url("../newtab/wallpaper-light3.png") !important;         --general-color-light3: var(--blue) !important;
  --wallpaper-light4: url("../newtab/wallpaper-light4.png") !important;         --general-color-light4: var(--fuchsia) !important;
  --wallpaper-light5: url("../newtab/wallpaper-light5.png") !important;         --general-color-light5: var(--lightgreen) !important;
  --wallpaper-light6: url("../newtab/wallpaper-light6.png") !important;         --general-color-light6: var(--lightblue) !important;
    }

@media (prefers-color-scheme: dark){ :root{
  --lwt-main-image:  url("../newtab/wallpaper-dark1.png") !important;                           /* 'about:' pages wallpaper - dark theme */
  --lwt-private-image:  url("../newtab/private-dark.png") !important;                           /* new-tab private-page image - dark theme */
  --brightness-wallpaper: brightness(99%);                                                      /* 99% -> default ; 51% -> to <<main-image>> config */ }}
  
@media (prefers-color-scheme: light){ :root{
  --lwt-main-image:  url("../newtab/wallpaper-light1.png") !important;                          /* 'about:' pages wallpaper - white theme*/
  --lwt-private-image:  url("../newtab/private-light.png") !important;                          /* new-tab private-page image - white theme*/
  --brightness-wallpaper: brightness(99%);                                                      /* 99% -> default and Main-image config */ }}

:root[privatebrowsingmode="temporary"]{ --general-color: var(--purple) !important; }            /* Accent color private mode */
  
:root{
  
  --tab-height-personal: 30px ;                                                                 /* Tab height */
  --toolbar-height-personal: 38px ;                                                             /* Toolbar height */
  
  --menu-label: "Menu" ;                                                                        /* Hamburger menu label */
  --padding-left-tab: 74px ;                                                                    /* Horizontal size of the hamburger menu button */
  
  --logo-wordmark-visibility: 1 ;                                                               /* :1 visible, :0 invisible ; Logo-wordmark*/
  --logo-wordmark-display: flex ;                                                               /* :none ->remove , :flex ->show;  Logo-wordmark*/
  --searchbar-on-off: 1 ;                                                                       /* :1 visible, :0 invisible ; searchbar*/
  --searchbar-display: flex ;                                                                   /* :none ->remove , :flex ->show; searchbar*/
  --orientation-display: block ;                                                                /* :block -> vertical , :flex -> horizontal ; Logo-wordmark y searchbar*/
  
  --newtab-pinnedsites-background: color-mix(in srgb, white 1%, transparent) ;                  /* Background color of pinned sites and search bar*/
  --newtab-pinnedsites-position-top: start ;                                                    /* Pinned sites position -> :start ; :center ; :end */
  
  --selected-text-background: var(--general-color);                                             /* Selected text background */
   
  --personal-blur: blur(16px) ;                                                                 /* Blur on new tab page elements */

}

@media (-moz-bool-pref:"firefoxgx.left-sidebar") {
  :root{
  --my-vertical-toolbar-width: 41px ;                                                           /* 'left-sidebar' width */
  }}

/* ------------------------------------------------------------ Main Image config ------------------------------------------------------------ */

@media (-moz-bool-pref:"firefoxgx.main-image") {
  
  @media (prefers-color-scheme: dark){ :root{
    --lwt-main-image:  url("../newtab/main-image-dark.png") !important;                         /* new-tab page image - dark team */
    --brightness-wallpaper: brightness(51%);                                                    /* 100% -> default ; 51% -> to <<main-image>> config */ }}
  
  @media (prefers-color-scheme: light){ :root{
    --lwt-main-image:  url("../newtab/main-image-light.png") !important;                        /* new-tab page image - light theme*/
    --brightness-wallpaper: brightness(100%);                                                   /* 100% -> default and Main-image config */ }}
  
  :root{  
  --wallpaper-size: auto auto;                                                                  /* cover-> default ; auto auto -> to <<main-image>> config */
    
  --background-align-y: -69px ;                                                                 /* Alinear new-tab wallpaper to <<main-image>> config 
                                                                                                  -69px normal window; 
                                                                                                  -97px with bookmarks-bar;
                                                                                                  -99px with manu-bar;
                                                                                                  -127px with bookmarks-bar and menu-bar  */
  }
}

/* ------------------------------------------------------ Main Image + One line config ------------------------------------------------------- */

@media (-moz-bool-pref:"firefoxgx.main-image") and (-moz-bool-pref:"firefoxgx.oneline") {  
    :root{
      --background-align-y: -33px ;                                                             /* Aligning the new tab wallpaper with the 'main-image' config
                                                                                                   -33px normal window
                                                                                                   -64px with bookmarks-bar  */
    }}

/* ------------------------------------------------------ Main Image + tree-tabs config ------------------------------------------------------- */

@media (-moz-bool-pref:"firefoxgx.main-image") and (-moz-bool-pref:"firefoxgx.tree-tabs"){  
    :root{
      --extension-width: 48px ;
      --background-align-y: -39px ;                                                             /* Aligning the new tab wallpaper with the 'main-image' config
                                                                                                   -40px normal window
                                                                                                   -66px with bookmarks-bar  */
    }}

:root{
  /*-----------------------------------Gradientes------------------------------------*/
  --gradient: var(--general-color) !important;                                     
  --panel-separator-zap-gradient1: linear-gradient(to left, var(--general-color) , var(--arrowpanel-background)) !important;
  --panel-separator-zap-gradient2: linear-gradient(to right,var(--general-color) 82% , transparent 96%) !important;
  --panel-separator-zap-gradient3: linear-gradient(to left, var(--general-color) 90.7%, transparent 90.7%) !important;

  /*------------------------------Botones hover, clic--------------------------------*/
  --button-bgcolor: color-mix(in srgb, var(--general-color) 40%, transparent) !important;             /* Button background color */
  --button-hover-bgcolor: color-mix(in srgb, var(--general-color) 55%, transparent) !important;       /* Button background color when 'hover' */
  --button-active-bgcolor: color-mix(in srgb, var(--general-color) 75%, transparent) !important;      /* Button background color when 'active' */
  }

@media (-moz-platform: linux ){:root{
  --panel-separator-zap-gradient2: linear-gradient(to right, color-mix(in srgb, var(--general-color) 80%, var(--toolbar-bgcolor, Field)) 92% , transparent 100%) !important;
  }}
