/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media (-moz-bool-pref:"firefoxgx.autohide-bookmarks-bar") and (not (-moz-bool-pref:"firefoxgx.left-sidebar")) {

/* ----------------Nuevos margenes Botón menú------------------- */
    
@media not (-moz-bool-pref:"firefoxgx.menu.disabled") {
    
:root{
    --uc-vertical-toolbar-width: 48px !important;                                                               /* Nuevo tamaño sidebar */
    --padding-left-tab: calc(var(--uc-vertical-toolbar-width) - 1px) !important;                                /* Nuevo tamaño botón "Menú" */
    --margin-left-icons-personal: 8px !important;                                                               /* Nuevo margen left de íconos del menú */
}

/* Centrar menu-logo */

:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button .toolbarbutton-badge-stack {
    padding-left: calc(var(--margin-left-icons-personal) + 2px) !important;
}

/* color botón Menú para hacer coincidir con la barra de pestañas de <tab-center-reborn> en temas claros */

@media (prefers-color-scheme: light){
@media (-moz-platform: windows),(-moz-platform: linux){
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button  {
    --lwt-frame: #e9e6ef !important;
    }}}

/* Quitar label -Menu- not [open] */

@media (-moz-platform: windows),(-moz-platform: linux){
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button:not([open]) > stack::after {
    content: none !important ;
    }

    :root:not([chromehidden~="toolbar"]):is([sizemode="normal"],[sizemode="fullscreen"]) #PanelUI-menu-button:is([open]) > stack::after {
    content: none !important ;
    }

/* Hacer el botón más ancho en el menú [open] */

:root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]):is([sizemode="maximized"]) #PanelUI-menu-button[open] > stack{
    --padding-left-tab: 87px !important;
    max-width: var(--padding-left-tab) !important;
    min-width: var(--padding-left-tab) !important;
    }}

@media (-moz-platform: linux){
:root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]):is([sizemode="maximized"]) #PanelUI-menu-button[open] > stack{
    --padding-left-tab: 93px !important;
    }}

@media (-moz-platform: windows),(-moz-platform: linux){
:root:is([sizemode="maximized"]) #appMenu-popup{
    --padding-left-tab: 85px !important;
    }}

@media (-moz-platform: linux){
:root:is([sizemode="maximized"]) #appMenu-popup{
      --padding-left-tab: 93px !important;
    }}

/* tamaño nuevo botón Menú */

@media (-moz-platform: windows),(-moz-platform: linux){
    :root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]) #PanelUI-menu-button,
    :root[sizemode="maximized"] #appMenu-popup{
        --tab-height-personal: calc(var(--toolbar-height-personal) + 1px) !important;
    }

/* botón Menú [open] no muy grande */

:root:not([chromehidden~="toolbar"])[sizemode="maximized"] #appMenu-popup>panelmultiview>box>box>panelview {
    padding-top: calc(-10px + var(--tab-height-personal)) !important; 
    z-index: 2 !important;
}

/* Logo más grande */

    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button image{
    min-height: 20px !important;
    min-width:  20px !important;
        }

/* menu :hover */

    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button:not([open]):hover > .toolbarbutton-badge-stack{
    background-color: color-mix(in srgb, var(--general-color) 15%, transparent) !important;
        }

/* nuevo color botón Menú */

:root:not([chromehidden~="toolbar"],[sizemode="fullscreen"])[tabsintitlebar] #PanelUI-menu-button{
    background-color: var(--lwt-frame) !important; 
    border-right: 1px solid var(--general-color) !important;  
    }}
}
    
/*##################################### Auto hide bookmark-bar ######################################################*/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_bookmarks_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

#PersonalToolbar{
  --uc-bm-height: 19px; /* Might need to adjust if the toolbar has other buttons */
  --uc-bm-padding: 4px; /* Vertical padding to be applied to bookmarks */
  --uc-autohide-toolbar-delay: 0ms; /* The toolbar is hidden after 0.6s */
  
  /* 0deg = "show" ; 90deg = "hide" ;  Set the following to control when bookmarks are shown */
  --uc-autohide-toolbar-focus-rotation: 90deg; /* urlbar is focused */
  --uc-autohide-toolbar-hover-rotation: 0deg; /* cursor is over the toolbar area */
}

@media (-moz-platform: linux) {
#PersonalToolbar{
  --uc-bm-height: 21px; /* Might need to adjust if the toolbar has other buttons */
  --uc-bm-padding: 4px; /* Vertical padding to be applied to bookmarks */
  --uc-autohide-toolbar-delay: 0ms; /* The toolbar is hidden after 0.6s */
    }}

#PersonalToolbar:not([customizing]){
  position: relative;
  margin-bottom: calc(-1px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
  transform: rotateX(90deg);  /* (90deg) to show on hover -- (0deg) to show with ctl+shif+B */
  transform-origin: top;
  transition: transform 135ms linear var(--uc-autohide-toolbar-delay) !important;
  z-index: 1;
  /* The following properties should allow the themes with trasparent toolbars to work */
  background-repeat: no-repeat,no-repeat,var(--lwt-background-tiling);
  --uc-bg-y: calc(-2 * (var(--tab-block-margin) + var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding)) - var(--tab-min-height) - 16px - var(--bookmark-block-padding));
  background-position: top left,top left,var(--lwt-background-alignment,top left);
  background-position-y:top,top,var(--uc-bg-y),var(--uc-bg-y),var(--uc-bg-y);
  background-image: var(--toolbar-bgimage), linear-gradient(var(--toolbar-bgcolor),var(--toolbar-bgcolor)),var(--lwt-header-image,var(--lwt-additional-images)) !important;
  padding-inline-start: calc(var(--padding-left-tab) + 4px) !important;
  box-shadow: 0 1px 0 0 var(--lwt-frame)/*, 0 -1px 0 0 var(--lwt-frame) */ !important;
}

#PlacesToolbarItems > .bookmark-item,
#OtherBookmarks,
#PersonalToolbar > #import-button{
  padding-block: var(--uc-bm-padding) !important;
}

#nav-bar:focus-within + #PersonalToolbar{
  transition-delay: 100ms !important;
  transform: rotateX(var(--uc-autohide-toolbar-focus-rotation,0));
}

#navigator-toolbox:hover > #PersonalToolbar{
  transition-delay: 100ms !important;
  transform: rotateX(var(--uc-autohide-toolbar-hover-rotation,0));
}

#navigator-toolbox:hover > #nav-bar:focus-within + #PersonalToolbar {  
  transform: rotateX(0);
}

/* imagen en la barra lateral en tema con imágenes */
@media (prefers-color-scheme: dark){
    :root:not([chromehidden~="toolbar"]):is([lwtheme-image], [style*="--lwt-additional-images"]) #PersonalToolbar{
        --toolbar-bgcolor: #10101960 !important;
    }
}
@media (prefers-color-scheme: light){
    :root:not([chromehidden~="toolbar"]):is([lwtheme-image], [style*="--lwt-additional-images"]) #PersonalToolbar{
        --toolbar-bgcolor: #f9f9f965 !important;
    }
}
:root:not([chromehidden~="toolbar"]):is([lwtheme-image],[style*="--lwt-additional-images"]) #PersonalToolbar{
    background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: initial, initial, left top, right top, right top !important;
    background-repeat: repeat, repeat, var(--lwt-background-tiling) !important;
    background-size: var(--display-theme-with-images) !important; 
    background-position-y: calc(0px - var(--toolbar-height-personal)) !important;
}
    
}
