/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media (-moz-bool-pref:"firefoxgx.left-sidebar") {

    /* _______________________ Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/vertical_bookmarks_toolbar.css ------------------- */

    /* Makes bookmarks toolbar appear vertically at the left side of the window */

    #navigator-toolbox{ position: relative }
    #PersonalToolbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        inset-inline-start: 0;
        width: var(--my-vertical-toolbar-width,0);
        min-width: unset !important;
        /* These create a empty area to the bottom of the toolbar, which is to mask a fact that we don't know exactly how high the toolbar should be */
        height: 100vh;
        max-height: 100vh !important; 
        padding-bottom: 120px !important;
        padding-inline: 0px !important;                                                           /* Mi edit */
        background-position-x: left !important;
    }
    #PersonalToolbar:dir(rtl) {                                                                   /* Mi add for RTL languages */
        background-position-x: right !important;
    }
    #PersonalToolbar .toolbarbutton-1 {
        max-width: calc(var(--my-vertical-toolbar-width) - 1px) !important;                       /* Mi edit - Tamaño horizontal ionos default */
        /*--toolbarbutton-inner-padding: 8px !important;                                          /* Mi edit */
        margin: 0px !important;
    }

    #PersonalToolbar toolbaritem{                                                               /* My new code Tamaño horizontal ionos extensiones y  marcadores */
        max-width: calc(var(--my-vertical-toolbar-width) - 1px) !important;                       
        margin: 0px !important;
    }

    #OtherBookmarks{                                                                            /* My new code - boton OtherBookmarks */
        margin-inline: 0px !important;  
    }

    #PersonalToolbar #PlacesChevron{
        display: none;
    }
    #PersonalToolbar > #personal-bookmarks{
        overflow-y: auto;
        scrollbar-width: none;
        height: 100vh;
    }

    #PlacesToolbar,
    #PlacesToolbarDropIndicatorHolder{
        flex-direction: column;
    }

    #PersonalToolbar #PlacesToolbarItems{
        display: flex !important;
        flex-direction: column;
        overflow-y: auto;
        scrollbar-width: none;
    }
    #PersonalToolbar > toolbaritem{
        justify-content: center;
    }
    #PersonalToolbar #PlacesToolbarItems > toolbarseparator{
        height: 7px;
        max-width: var(--my-vertical-toolbar-width) !important;                                             /* My code */
        margin-inline: 14px !important;                                                                     /* My code */
        background-color: var(--general-color) !important;                                                  /* My edit */
        background-clip: padding-box;
        border-block: 3px solid transparent !important;
    }

    #PersonalToolbar #PlacesToolbarItems > .bookmark-item{
        padding-block: 4px !important;
        margin-inline: 0 !important;
    }

    :root:not([chromehidden~="toolbar"],[inDOMFullscreen],[sizemode="fullscreen"]):has(#PersonalToolbar[collapsed="false"]) {
        &>body>#browser,
        &>body>#browser-bottombox,
        &>body>#customization-container {
            margin-inline-start: var(--my-vertical-toolbar-width, 0px);
        }
    }

    /* You should probably disable this if you have Firefox < 113 */
    #PersonalToolbar #PlacesToolbarItems{
        display: -webkit-box !important;
        -webkit-box-orient: vertical !important;
    }
    
/* ______________________________________________________ Keep left-sidebar in 'Fullscreen' ______________________________________________________ */
    
    /* Bookmarks-bar visible */
    
    :root[inFullscreen]:not([macOSNativeFullscreen]):not(:has(#PersonalToolbar[collapsed="true"])) toolbar:is(#PersonalToolbar):not([fullscreentoolbar="true"]) {
        visibility: visible !important;
    }
    
    /* Shows #navigator-toolbox when 'hover' on left-sidebar */
    
    :root[inFullscreen]:not([macOSNativeFullscreen]):has(#PersonalToolbar:hover) #navigator-toolbox {
        margin-top: 0px !important;
    }
    
    /* Keep left-sidebar visible when some contextual menu appears
       - Keep navigator-toolbox visible when bookmarks-folder are 'open' */
    
     #main-window:has(
        #appMenu-popup:is([panelopen="true"]),                      /* Hamburger menu open */
        panel[type="arrow"]:is([panelopen="true"]),                 /* Arrowpanels open */
        .bookmark-item[open],                                       /* BOokmarks-folder 'open' */
        #customizationui-widget-panel[panelopen="true"],            /* Extensions panels 'open' */
        #tabContextMenu[hasbeenopened]:hover,                       /* Some contextual menus ¯v*/
        #new-tab-button-popup[hasbeenopened]:hover,
        #toolbar-context-menu[hasbeenopened]:hover,
        .tab-group-editor-panel[hasbeenopened]:hover) {
            & #PersonalToolbar {
                width: var(--my-vertical-toolbar-width) !important;
                max-width: var(--my-vertical-toolbar-width) !important;
                opacity: 1 !important;
                border-image: linear-gradient(to bottom, transparent var(--space-before-gradient-line), 
                                            var(--general-color) var(--space-before-gradient-line), 
                                            var(--button-hover-bgcolor) 52%, transparent 94%) 1 !important;
            }
            & #navigator-toolbox {
                margin-top: 0px !important;
            }
    }
    
    /* ____________ Web content moved right when toolbars are in 'autohide' */

    @media (-moz-bool-pref:"browser.fullscreen.autohide") {
        
        /* Width of left-sidebar when #navigator-toolbox 'hidden' */

        :root[inFullscreen]:not([macOSNativeFullscreen]):has(#navigator-toolbox:not(:hover)) toolbar:is(#PersonalToolbar):not([fullscreentoolbar="true"]) {
            width: 1px !important;
            opacity: 0 !important;
            border-image: linear-gradient(to bottom, transparent, transparent) !important;
            background-image: none !important;
            transition: width 0.2s ease, opacity 0.2s ease !important;
            transition-delay: 100ms !important;
        }

        /* Web content mover right when left-sidebar in visible */

        :root[inFullscreen]:not([macOSNativeFullscreen],[inDOMFullscreen]):has(#PersonalToolbar[collapsed="false"]):has(        
        #navigator-toolbox[style=""],                                 /* tabs-bar and nav-bar hover */
        #PersonalToolbar:hover,                                       /* Bookmarks-bar 'hover' */
        .bookmark-item[open],                                         /* BOokmarks-folder 'open' */
        #customizationui-widget-panel[panelopen="true"],              /* Some contextual menus open */
        #appMenu-popup[panelopen="true"]                              /* Extensions panels 'open' */
        ){
            #browser,
            #browser-bottombox,
            #main-window > body::after, /* This selector is for compatibility with tabs_below_content.css */
                #customization-container{
                    margin-inline-start: var(--my-vertical-toolbar-width,41px) !important;
            }
        }
        
        /* Allow show Left-sidebar when 'hover' on left of screen */

        :root[inFullscreen]:not([macOSNativeFullscreen],[inDOMFullscreen]) toolbar:is(#PersonalToolbar):not([fullscreentoolbar="true"]):not(:hover) {
            z-index: 3 !important;
        }
    }
    
    /*____________ Web content moved right when toolbars are 'not in autohide' */
    
    @media not (-moz-bool-pref:"browser.fullscreen.autohide") {
        
        :root:not([chromehidden~="toolbar"],[inDOMFullscreen]):has(#PersonalToolbar[collapsed="false"]),
        :root:not([chromehidden~="toolbar"],[inDOMFullscreen]):not(:has(#sidebar-main[hidden="true"],sidebar-main[hidden]))/**/{
            #browser,
            #browser-bottombox,
            #main-window > body::after, /* This selector is for compatibility with tabs_below_content.css */
                #customization-container{
                    margin-inline-start: var(--my-vertical-toolbar-width,0) !important;
            }
        }
    }
    
/* _______________________ Warning when using this style without the bookmarks toolbar set to 'Always show' _______________________ */
    
    /* Message */
    
    /* animación */
    @keyframes messageappeardisappear{
        0%{ opacity: 1 }
        80%{ opacity: 1 }
        100%{ opacity: 0 }}
    
    :root:has(#PersonalToolbar[collapsed="true"]):not([chromehidden~="toolbar"],[inFullscreen]) {
        #tabbrowser-tabbox:before {
            display: flex;
            position: absolute;
            content: 'To show the "Left Sidebar" you need to set your Bookmarks toolbar to: "Always Show" - you can use this shortcut: "Ctrl + Shift + B"';
            width: 100%;
            opacity: 0;
            padding-block: 2px;
            top: 1px;
            justify-content: center !important;
            text-align: center !important;
            background-color: var(--general-color);
            color: var(--contrast-color);
            z-index: 3;
            animation: messageappeardisappear linear 9s !important;
        }
    }

/* ______________________________________________________ My code to adapt to the GX style ______________________________________________________ */

    /* Reset size variable when left-sidebar is ON but hidden */
    
    :root:has(#PersonalToolbar[collapsed="true"]) {
        
        #TabsToolbar::before/*,
        #PanelUI-button/**/ {
            --my-vertical-toolbar-width: 0px !important;
            --vertical-elements-width: 0px !important;
        }
    }
    
    /* Position and style of the left-bookmarks-sidebar */

    :root:not([chromehidden~="toolbar"]) #PersonalToolbar {
        --toolbar-bgcolor: transparent !important;
        --toolbarbutton-hover-background: transparent !important;
        --toolbarbutton-active-background: transparent !important;
        --toolbarbutton-hover-personal: transparent !important;
        --toolbarbutton-icon-fill: color-mix(in srgb, var(--general-color) 90%, transparent) !important;
        --toolbarbutton-border-radius: 0px !important;
        
        --height-left-sidebar: calc(100vh + var(--space-before-gradient-line)) !important;

        --space-before-gradient-line: calc(var(--windowed-top-padding, 0px) + var(--menubar-height-personal,0px) + var(--tab-height-personal)) !important;
        
        --padding-top-left-sidebar: calc(var(--space-before-gradient-line) + var(--toolbar-height-personal) - var(--menubar-height-personal, 0px) - 10px) !important;
        --padding-bottom-left-sidebar: calc(var(--space-before-gradient-line) + 10px) !important;
    
        height: var(--height-left-sidebar) !important;
        max-height: var(--height-left-sidebar) !important;
        background-color: var(--lwt-frame) !important;
        background-image: inherit !important;
        background-size: cover !important;

        /* Top-bottom margins */
        padding-top: var(--padding-top-left-sidebar) !important;
        padding-bottom: var(--padding-bottom-left-sidebar) !important;

        /* Gradient line */
        margin-top: calc(0px - var(--space-before-gradient-line) - var(--toolbar-height-personal)) !important;
        border-inline-end: 1px solid transparent !important;
        border-image: linear-gradient(to bottom, transparent var(--space-before-gradient-line), 
                                            var(--general-color) var(--space-before-gradient-line), 
                                            var(--button-hover-bgcolor) 52%, transparent 94%) 1 !important;
    }
    
/* Remove items label from sidebar */

    #personal-bookmarks .bookmark-item>.toolbarbutton-text, #PersonalToolbar #import-button label {
        display: none !important;
    }
    
    /* Also remove the space after the icon - it serves to center */
    #PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon[label]:not([label=""]),                      /* Marcadores */
    #OtherBookmarks.bookmark-item[container] > .toolbarbutton-icon,                                         /* OtrosMarcadores */
    #bookmarks-toolbar-placeholder > .toolbarbutton-icon{                                                   /* MArcadores en customization mode*/
        margin-inline: 0px !important;
    }
    
/* Firefox view icon */ 
    
    toolbar:is(#PersonalToolbar) #firefox-view-button[aria-pressed="true"] .toolbarbutton-icon {
        border-radius: 4px !important;
    }
    
    #firefox-view-button image {
        list-style-image: url("../icons/firefoxview-close.svg") !important;
    }

    #firefox-view-button[aria-pressed="false"]:active .toolbarbutton-icon{
        list-style-image: url("../icons/firefoxview-close.svg") !important;
        transition-duration: 0ms !important;
    }
    
    #firefox-view-button[aria-pressed="true"]:not(:active) .toolbarbutton-icon{
        list-style-image: url("../icons/firefoxview-open.svg") !important;
        transition-duration: 0ms !important;
    }
    
/* Smooth transition of bookmark items */
    
    #PersonalToolbar #PlacesToolbarItems>.bookmark-item .toolbarbutton-icon,            /* Marcadores - used in left-sidebar */
    #PersonalToolbar #OtherBookmarks:not(bookmark-item) .toolbarbutton-icon {           /* Other bookmark folder - used in left-sidebar */
        transition: all 0.2s ease !important;
    }    
    
/* Zoom on :hover items */
    
    /* animación */
    @keyframes scalezoom{
        0%{ transform:scale(1.2) }
        50%{ transform:scale(0.7) }
        100%{ transform:scale(1.0) }}
    
   /* 'hover' Extensions */
    
    #PersonalToolbar .toolbarbutton-1:is(:hover):not(:active,[open]) .toolbarbutton-icon:not(.toolbarbutton-1>image),   /* Extensiones */
    #PersonalToolbar .toolbarbutton-1:is(:hover):not(:active,[open]) .toolbarbutton-badge-stack image {                 /* account icon, download icon, etc */
        transform: scale(1.2) !important;
        transition-duration: 200ms !important;
    }
    
    /* Click animation on Extensions */
    
    #PersonalToolbar .toolbarbutton-1:is(:active,[open]) .toolbarbutton-icon:not(.toolbarbutton-1:is(:active, [open])>.toolbarbutton-icon),
    #PersonalToolbar .toolbarbutton-1:is(:active, [open]) .toolbarbutton-badge-stack image{
        animation: scalezoom linear 250ms !important;
    }
    
    /* 'hover' other icons */
    
    #PersonalToolbar {
        & .toolbarbutton-1:is(:hover):not(:active,[open])>image,                                           /* íconos default */
        & #PlacesToolbarItems>.bookmark-item:is(:hover,:active):not([open])>.toolbarbutton-icon,           /* Marcadores */
        & #OtherBookmarks:not(bookmark-item):is(:hover,:active):not([open])>.toolbarbutton-icon{           /* Other bookmarks button */
            transform: scale(1.2) !important;
            transition-duration: 200ms !important;
        }}
    
    /* Clic default icons */
    
    #PersonalToolbar {
        & .toolbarbutton-1:is(:active):not([open])>image {                                                 /* íconos default */
            transform: scale(0.8) !important;
            transition-duration: 200ms !important;
        }}
    
    #PersonalToolbar {
        & .toolbarbutton-1:is([open]):not(:active)>image {                                                 /* íconos default */
            transform: scale(1.0) !important;
            transition-duration: 200ms !important;
        }}
    
    /* Click animation on bookmarks */
    
    #PersonalToolbar {
        & #PlacesToolbarItems>.bookmark-item:is([open]):not(:active)>.toolbarbutton-icon,                  /* Marcadores */
        & #OtherBookmarks:not(bookmark-item):is([open]):not(:active)>.toolbarbutton-icon{                  /* Other bookmarks button */
            animation: scalezoom ease-in-out 250ms !important;
            transition:  200ms !important;
        }}
    
/* Vertical Size of Sidebar Items */
    
    #PersonalToolbar .toolbarbutton-1,
    #PersonalToolbar #PlacesToolbarItems>.bookmark-item{
        margin-block: 10px !important;
        /*background-color: blue !important;/**/
    }
    
/* Default buttons click effect and extensions 
    
    @keyframes scale-up-center{
        0%{ background-color: color-mix(in srgb, transparent 82%, var(--lwt-tab-text));
            border-radius: 50%;
            width: 22px;
            height: 22px;} 
       60%{ background-color: color-mix(in srgb, transparent 90%, var(--lwt-tab-text));
            border-radius: 10%;
            width: calc(var(--my-vertical-toolbar-width) + 0px);
            height: 32px;}
      100%{ background-color: transparent;
            border-radius: 0%;
            width: calc(var(--my-vertical-toolbar-width) + 20px);}}
    
    #PersonalToolbar .toolbarbutton-1:is([open])::after{
        content: "";  display: -moz-box;  position: absolute !important;
        align-self: center !important;
        background-color: transparent;
        border-radius: 0px;
        animation: scale-up-center 700ms !important;
    }*/
    
/* Fix bookmarks separator style */
    
#PersonalToolbar #PlacesToolbarItems toolbarseparator {
    border-image: none !important;
}
    
/* Separator using 'flexible space' */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"], #PersonalToolbar toolbarspring {
        background: var(--general-color) !important;
        width: calc(var(--my-vertical-toolbar-width) - 29px) !important;
        min-width: 0px !important;
        min-height: 1px !important;
        max-height: 1px !important;
        margin-inline: 14px !important;
        margin-block: 6px !important;
    }
    
/* ____________________________________________ items in "customize toolbar" mode ____________________________________________ */

/* 'Flexible space' separator in customize mode */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"] {
        min-width: calc(var(--my-vertical-toolbar-width) - 20px) !important;
        min-height: 4px !important;
        max-height: 4px !important;
        margin-inline-start: 10px !important;
    }

/* Removes counter and flexible space bug, in customize mode */
    
    #PersonalToolbar toolbarpaletteitem[place="toolbar"] > toolbarspring,
    #PersonalToolbar toolbarpaletteitem[place="toolbar"] toolbaritem toolbarbutton .toolbarbutton-badge{
        display: none !important;
    }

/* Align items in customize mode */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"] {
        justify-content: center !important;
    }
    
/* _________________________________________________________ Extensions _________________________________________________________ */

/* Hide counter when it is "0" */

toolbaritem toolbarbutton[badge="0"]:not(:hover) .toolbarbutton-badge { opacity: 0 !important; }

/* Extension counter */

#PersonalToolbar .toolbarbutton-badge {
    background-color: var(--button-hover-bgcolor) !important;
    color: white !important;
    margin-inline-end: -9px !important;
    margin-block-end: -4px !important;
    min-width: auto !important;
    max-width: auto !important;
    align-self: end !important;
}
    
#PersonalToolbar toolbaritem>toolbarbutton>.toolbarbutton-badge-stack>.toolbarbutton-icon {
    height: 17px !important;
    width: 17px !important;
}
    
/* Gx Theme Styles Extension */
#PersonalToolbar #gxthemestyles_godie-BAP { list-style-image: url("../icons/logo_gx-theme-styles.svg") !important; }
    
/* ChatGPT Extension */
#PersonalToolbar #_87f371f2-66bd-4535-a920-c696f2669122_-BAP,
#PersonalToolbar #_63ec59d8-ba50-4d88-917e-fb65af892a39_-BAP { list-style-image: url("../icons/logo_chatgpt.svg") !important; }

/* Twitch Extension */
#PersonalToolbar #_d3d2a327-1ae0-4fd6-b732-0844d0b7fd4c_-BAP { list-style-image: url("../icons/logo_twitch.svg") !important; }

/* Messenger Extension */
#PersonalToolbar #xrst_vardakis_gmail_com-BAP { list-style-image:url("../icons/logo_messenger.svg") !important; }

/* Whatsapp Extension */
#PersonalToolbar #_34a257f3-adfe-460d-b6ca-7dd18d18506b_-BAP,
#PersonalToolbar #chatwappinsidebar_godie-BAP{ list-style-image: url("../icons/logo_whatsapp.svg") !important; }
    
/* Spotify Extension */
#PersonalToolbar #sidebarspotyplay_godie-BAP,
#PersonalToolbar #_1d0f1bc6-5e9c-4450-aef5-75cefb44660f_-BAP { list-style-image: url("../icons/logo_spotify.svg") !important; }

/* Telegram Extension */
#PersonalToolbar #_14390478-b41b-4e29-8307-8a3c714f7783_-BAP{ list-style-image: url("../icons/logo_telegram.svg") !important; }

/* ublock Extension */
#PersonalToolbar #ublock0_raymondhill_net-BAP{ list-style-image: url("../icons/logo_ublock.svg") !important; }

/* Tab-group Extension */
#PersonalToolbar #panorama-tab-groups_example_com-BAP{ list-style-image: url("../icons/logo_grouptabs.svg") !important; }

/* Discord Extension */
#PersonalToolbar #_a16c3799-d903-44e3-b044-a032197f5ef8_-BAP{ list-style-image: url("../icons/logo_discord.svg") !important; }

/* Twitter Extension */
#PersonalToolbar #_3119ae66-3c2f-47e2-b1b1-1c76cb9c4ec1_-BAP{ list-style-image: url("../icons/logo_twitter.svg") !important; }
    
/* Simple Translate extension */
#PersonalToolbar #simple-translate_sienori-BAP { list-style-image: url("../icons/translations.svg") !important; }
    
/* Bitwarden extension */
#PersonalToolbar #_446900e4-71c2-419f-a6a7-df9c091e268b_-BAP { list-style-image: url(../icons/logo_bitwarden.svg) !important; }
    
/* Tree-tabs extension */
#PersonalToolbar #treestyletab_piro_sakura_ne_jp-BAP,
#PersonalToolbar #tabcenter-reborn_ariasuni-BAP{ list-style-image: url(../icons/logo_tree-tabs.svg) !important; }

/* _______________________________________________ Colored folders for bookmarks _______________________________________________ */

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n+1) > .toolbarbutton-icon {
    list-style-image: url("../icons/folder1.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n+2) > .toolbarbutton-icon {
    list-style-image: url("../icons/folder2.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n+3) > .toolbarbutton-icon {
    list-style-image: url("../icons/folder3.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n+4) > .toolbarbutton-icon {
    list-style-image: url("../icons/folder4.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n+5) > .toolbarbutton-icon {
    list-style-image: url("../icons/folder5.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n+6) > .toolbarbutton-icon {
    list-style-image: url("../icons/folder6.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n+7) > .toolbarbutton-icon {
    list-style-image: url("../icons/folder7.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n+8) > .toolbarbutton-icon {
    list-style-image: url("../icons/folder8.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n+9) > .toolbarbutton-icon {
    list-style-image: url("../icons/folder9.svg") !important;
}

/* 'Other Bookmarks' folder */

#OtherBookmarks > .toolbarbutton-icon{
    list-style-image: url("../icons/folder-otherbookmarks.svg") !important;
}

/* 'tab center reborn' extension compatibility */

#sidebar {
    border-inline-end: 1px solid var(--my-content-border-color) !important;
    box-shadow: none !important;
    border-image: none !important;
}
    
/* New position of Open Bookmark Panels in left-sidebar */
    
    #PlacesToolbarItems > .bookmark-item >  menupopup, #OtherBookmarks #OtherBookmarksPopup {
        margin-inline-start: calc(var(--padding-left-tab) - 2px) !important;
        margin-top: -56px  !important;
    }

    #PersonalToolbar>toolbarbutton>menupopup {
        margin-right: calc(var(--padding-left-tab) - 9px) !important;
        margin-top: -39px  !important;
    }
/* New position of Paneles when 'open' from left-sidebar 
    #customizationui-widget-panel {
        margin-right: calc(var(--padding-left-tab) - 9px) !important;
        margin-top: -39px  !important;
    }
*/
    /* Bug fix for MacOS: completely remove left sidebar in full screen 
    @media (-moz-platform: macos) {
        :root:is([sizemode="fullscreen"]) #PersonalToolbar{
            display: none !important;
        }
    }*/

    /* ______________ Hamburguer Menu button when 'left-sidebar' + 'Firefox Sidebar' are [hidden] with "Ctrl + Shift + B" */

    :root:not([chromehidden~="toolbar"]):has(#PersonalToolbar[collapsed="true"]):not(:has(#sidebar-main[hidden="true"],sidebar-main[hidden])) {
        & :not(#PanelUI-button, #PanelUI-menu-button .toolbarbutton-badge-stack) {
            --my-menu-button-height: calc(var(--tab-height-personal) - 1px) !important;
            --my-vertical-toolbar-width: 0px !important;  /* Hide 'Firefox Sidebar' too */
        }
    }
    
    /* Remove unwanted 'left-sidebar' space when it is hidden */
    
    :root:not([chromehidden~="toolbar"]):has(#PersonalToolbar[collapsed="true"]) {
        & #PersonalToolbar {
            --my-vertical-toolbar-width: 0px !important;
            --padding-left-tab: 0px !important; 
            height: 0px !important;
        }
    }
}

/* __________________________________________________ Variables needed in various scenarios __________________________________________________ */

@media (-moz-bool-pref: "sidebar.revamp") or (-moz-bool-pref:"firefoxgx.left-sidebar") or (-moz-bool-pref:"firefoxgx.tree-tabs") {

    :root {
        --my-content-border-color: var(--toolbarbutton-hover-personal);                         /* Border around web content */
        --vertical-elements-width: calc(var(--my-vertical-toolbar-width) - 1px) !important;     /* With of sidebar elements */
        
        --my-margin-inline-outer-tab: 3px;                                                      /* Tab margin inline */
        --my-margin-inline-inner-tab: calc(var(--my-margin-inline-outer-tab) + 1px);            /* Tab margin inline */
    }
}

@media ((-moz-bool-pref:"sidebar.revamp") and (not (-moz-bool-pref:"sidebar.verticalTabs"))) and (-moz-bool-pref:"sidebar.position_start")
    and (not (-moz-bool-pref:"firefoxgx.left-sidebar")) {
    
        :root {
            --space-before-gradient-line: calc(var(--windowed-top-padding, 0px) + var(--menubar-height-personal, 0px) + var(--tab-height-personal)) !important;
            --padding-top-left-sidebar: calc(var(--space-before-gradient-line) + var(--toolbar-height-personal) - var(--menubar-height-personal, 0px) - var(--button-outer-padding-block-start, 10px)) !important;
        }
}

@media (-moz-bool-pref:"sidebar.verticalTabs") and (not ( -moz-bool-pref:"firefoxgx.oneline")) {
    
    :root {
        /* Overwrite this variables to align background-image without the height of '--tab-height-personal' */        
        --space-before-gradient-line: 0px !important;
        --padding-top-left-sidebar: calc(var(--space-before-gradient-line) + var(--toolbar-height-personal) + 1px) !important;
        
        /* Other personal variables - Separator styles */
        --my-separator-border-style: linear-gradient(to right, transparent 4px, var(--general-color) 4px, 
                                     var(--general-color) calc(100% - 4px), transparent calc(100% - 4px));
        --my-separator-border-style1:linear-gradient(to right, transparent 6px, var(--my-content-border-color) 6px,
                                     var(--my-content-border-color) calc(100% - 6px), transparent calc(100% - 6px)) 1;
    }
}

/* ____________________________________________________________ Sidebars on left ______________________________________________________ */

@media (-moz-bool-pref:"firefoxgx.left-sidebar") {

    /* Keep padding left of tabs when menubar is always visible */

    #toolbar-menubar[autohide="false"]+#TabsToolbar {
        padding-inline-start: var(--padding-left-tab, var(--my-vertical-toolbar-width)) !important;
    }

    /* Keep padding left of tabs when menubar is always visible */

    :root:has(#PersonalToolbar[collapsed="true"]) #toolbar-menubar[autohide="false"]+#TabsToolbar {
        padding-inline-start: 0px !important;
    }
}

@media (-moz-bool-pref: "sidebar.revamp") and (-moz-bool-pref:"sidebar.position_start") {

    /* Keep padding left of tabs when menubar is always visible */

    :root:not([sizemode="fullscreen"]) #toolbar-menubar[autohide="false"]+#TabsToolbar {
        padding-inline-start: var(--padding-left-tab, var(--my-vertical-toolbar-width)) !important;
    }
}

/* _______________________________________________________ Firefox New Sidebar _______________________________________________________
   ___________________________________________________________________________________________________________________________________ */

@media (-moz-bool-pref:"sidebar.revamp") {
    
    /* _______________ Style of the Sidebar when isn't expanded _______________ */
    
    :root:has(sidebar-main:not([expanded])) {

        /* Width of the Sidebar elements when isn't expanded */

        /* External container */
        & #sidebar-main {
            width: var(--my-vertical-toolbar-width) !important;
        }

        /* Internal container */
        & .wrapper, 
        & sidebar-main  {
            min-width: var(--vertical-elements-width) !important;
        }

        /* Tools-and-extensions */
        & .actions-list {
            max-width: var(--vertical-elements-width) !important;
        }
    }
    
    .wrapper {
        background-color: transparent !important;
        min-width: var(--vertical-elements-width) !important;
        margin-inline: 0px !important;
        padding: 0px !important;
    }
    
    .actions-list{
        appearance: none !important;
        min-width: var(--vertical-elements-width) !important;
        padding-inline: 0px !important;
    }

    /* _______________ Buttons size the same as the Sidebar to trick 'click on border' _______________ */
    
    /* Remove all padding */
    .actions-list {
        & > moz-button {
                --button-outer-padding-inline: 0px !important;
                /*--button-outer-padding-block: 0px !important;/**/
                --button-outer-padding-inline-start: 0px !important;
                --button-outer-padding-inline-end: 0px !important;
                /*--button-outer-padding-block-start: 0px !important;/**/
                --button-outer-padding-block-end: 0px !important;
        }
    }
    
    /* Size and Vertical space between icons */    
    .button-background {
        &[type~="icon"]:not(.labelled), &:not(.labelled):has(img) {
            background-color: transparent !important;
            min-width: var(--vertical-elements-width) !important;
            padding-block: 18px !important;
        }
    }
    
    /* Zoom on hover */
    .button-background img, .button-background:before { transition-duration: 200ms !important; }
    .button-background[type="icon ghost"]:hover img, .button-background[type="icon ghost"]:hover:before {
        transform: scale(1.2) !important;
    }
    
    /* clic */
    .button-background img, .button-background:before { transition-duration: 200ms !important; }
    .button-background[type="icon ghost"]:active img, .button-background[type="icon ghost"]:active:before {
        transform: scale(0.8) !important;
    }
    
    /* Style icon [open] */
    
    /* This code evit glitch when clic */
    .button-background[type="icon ghost"] img{
        padding: 5px !important;
        border-radius: 4px !important;
    }
    
    .button-background[type="icon"] img{
        fill: white !important;
        background-color: var(--button-hover-bgcolor) !important;/**/
        padding: 5px !important;
        border-radius: 4px !important;
    }
    
    /* Roundness of items when Sidebar is expanded */
    
    .button-background {
        &[type~="icon"], &[type~="ghost"] {
            border-radius: 0px !important;
        }
    }
    
    /* _______________ Styles of Sidebar content [open] _______________ */
    
    .sidebar-panel, 
    #sidebar {
        border-radius: 0px !important;
    }
    
    /* Borders of sidebar */
    #sidebar {
        border: none !important;
    }
    
    /* Margins of sidebar */
    
    #sidebar-box {
        padding-block-end: 0px !important;
        padding-inline: 0px !important;
    }
    
    /* Search-box outline color on focus */
    
    .search-container input:focus-visible {
        outline: 1px solid var(--general-color) !important;
        border-color: var(--general-color) !important;
    }
}

/* ___________________ Sidebar on left side ____________________ */
    
@media (-moz-bool-pref:"sidebar.revamp") and (-moz-bool-pref:"sidebar.position_start") {
    
}

/* ___________________ Sidebar on right side ___________________ */

@media (-moz-bool-pref:"sidebar.revamp") and (not (-moz-bool-pref:"sidebar.position_start")) {
    
    /* Color and background image of sidebar */
    
    #sidebar-main {
        background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)), 
                                          var(--lwt-additional-images,none), var(--lwt-header-image, none) !important;
        background-position: right calc(-88px) !important;
        background-size: auto calc(100% + 88px) !important;
        background-attachment: fixed !important;
    }
}

/* ___________________________ Style for 'Sidebar' or 'Vertical Tabs' in left side - without 'left-sidebar' ___________________________ 
   ____________________________________________________________________________________________________________________________________ */

@media (((-moz-bool-pref:"sidebar.revamp") or (-moz-bool-pref:"sidebar.verticalTabs")) and (-moz-bool-pref:"sidebar.position_start")) and (not (-moz-bool-pref:"firefoxgx.left-sidebar")) {
    
    /* Bookmarks-bar further to the right */
    
    :root:not([chromehidden~="toolbar"],[customizing]) #PersonalToolbar {
        margin-inline-start: calc(var(--padding-left-tab, 0) + 0px) !important;
    }

    /* _____________ Color and background image of 'Sidebar' _____________ */
    
    #sidebar-main {
        background-image: linear-gradient(var(--lwt-frame, transparent), var(--lwt-frame, transparent)), 
                                          var(--lwt-additional-images,none), var(--lwt-header-image, none) !important;
        background-position: left calc(0px - var(--menubar-height-personal, 0px)) !important;
        background-repeat: no-repeat !important;
        background-size: auto calc(100% + var(--menubar-height-personal, 0px)) !important;
        background-attachment: scroll, fixed, fixed !important;
    }
    /* For RTL languages */
    #sidebar-main:dir(rtl) {
        background-position: right top !important;
    }

    :root:has(sidebar-main:is([expanded])) {
        & #sidebar-main {
            background-image: linear-gradient(var(--lwt-frame, transparent), var(--lwt-frame, transparent)), 
                var(--lwt-additional-images,none), var(--lwt-header-image, none) !important;
            background-position: left calc(-11px - var(--padding-top-left-sidebar,0px) - var(--bookmarksbar-height-personal, 0px) - var(--menubar-height-personal, 0px)) !important;
            background-size: auto calc(100% + 11px + var(--padding-top-left-sidebar) + var(--bookmarksbar-height-personal, 0px) + var(--menubar-height-personal, 0px)) !important;
            background-attachment: scroll, fixed, fixed !important;
            background-color: transparent !important;
        }
        /* For RTL languages */
        & #sidebar-main:dir(rtl) {
            background-position: right calc(-11px - var(--padding-top-left-sidebar,0px) - var(--bookmarksbar-height-personal, 0px)) !important;
        }
    }
    
    /* transparency for Sidebar in themes with images */
    
    :root:is([lwtheme-image],[style*="--lwt-additional-images"]) {

        & #sidebar-main,
        & #navigator-toolbox::before,
        & #PersonalToolbar::before,
        & #nav-bar::before{
            --lwt-frame: transparent !important;
        }
    }
    
    /* Simulate continuous line before 'nav-bar and bookmarks-bar' when Sidebar is 'expanded' */
    
    :root:not([customizing]):has(sidebar-main:is([expanded])) {
        & #navigator-toolbox::before {
            content:"";
            position: absolute !important; 
            inset-inline-start: 0 !important;
            top: -1px !important;
            background-image: linear-gradient(var(--lwt-frame, transparent), var(--lwt-frame, transparent)), 
                var(--lwt-additional-images,none), var(--lwt-header-image, none) !important;
            background-size: auto 100% !important;
            background-attachment: fixed !important;
            width: var(--vertical-elements-width) !important;
            height: calc(2px + var(--menubar-height-personal, 0px) + var(--tab-height-personal) + var(--toolbar-height-personal) + var(--bookmarksbar-height-personal, 0px)) !important;
            border-inline-end: 1px solid var(--general-color) !important;
            border-image: linear-gradient(to bottom, transparent var(--space-before-gradient-line), 
                                            var(--general-color) var(--space-before-gradient-line)) 1 !important;
            z-index: 1 !important;
        }
        
        /* For RTL languages */
        & :has(#PersonalToolbar[collapsed="false"]) #PersonalToolbar:dir(rtl)::before,
        & #nav-bar:dir(rtl)::before {
            background-position: right top !important;
        }
    }
    
    /* Sidebar style when isn't expanded */
    
    :root:has(sidebar-main:not([expanded])) {
        & #sidebar-main {           
                /* Bakground-color necessary for gradient line color */
            background-color: var(--lwt-frame) !important;
                /* Top-bottom margins */
            padding-top: var(--padding-top-left-sidebar) !important;
                /* Gradient line */
            margin-top: calc( -1px - var(--bookmarksbar-height-personal, 0px) - var(--toolbar-height-personal) - 
                             var(--space-before-gradient-line)) !important;
            border-inline-end: 1px solid red !important;
            border-image: linear-gradient(to bottom, transparent var(--space-before-gradient-line), 
                                            var(--general-color) var(--space-before-gradient-line), 
                                            var(--button-hover-bgcolor) 52%, transparent 94%) 1 !important;
        }
    }
    
    :root:has(sidebar-main:is([expanded])) {
        & #sidebar-main {
            /* Bakground-color necessary for gradient line color */
            background-color: var(--lwt-frame) !important;
            border-inline-end: 1px solid transparent !important;
            border-image: linear-gradient(to bottom,
                                            var(--general-color), 
                                            var(--button-hover-bgcolor) 52%, transparent 94%) 1 !important;
        }
    }
    
    /* Separator and Expand Gradient line when Sidebar is 'expanded' */

    :root:has(sidebar-main:is([expanded])) {
        & #sidebar-main::before {
            position: absolute; content: '';
            width: -moz-available !important;
            /* Bakground-color necessary for gradient line color 
            background-color: var(--lwt-frame) !important;*/
            border-block-start: 1px solid red !important;
            /*border-inline-end: 1px solid red !important;/**/
            border-image: linear-gradient(to right, transparent 6px, var(--my-content-border-color) 6px,
                var(--my-content-border-color) calc(var(--my-vertical-toolbar-width) - 6px), transparent calc(var(--my-vertical-toolbar-width) - 6px),
                transparent var(--my-vertical-toolbar-width),
                var(--general-color) var(--my-vertical-toolbar-width),
                /* Final gradient */
                var(--general-color)) 1 !important;
        }
        & #sidebar-main:dir(rtl)::before {
            border-image: linear-gradient(to left, transparent 6px, var(--my-content-border-color) 6px,
                var(--my-content-border-color) calc(var(--my-vertical-toolbar-width) - 6px), transparent calc(var(--my-vertical-toolbar-width) - 6px),
                transparent var(--my-vertical-toolbar-width),
                var(--general-color) var(--my-vertical-toolbar-width),
                /* Final gradient */
                var(--general-color)) 1 !important;
        }
    }
}

/* _______________________________________________________ Firefox Vertical Tabs _______________________________________________________ 
   _____________________________________________________________________________________________________________________________________ */

@media (-moz-bool-pref:"sidebar.verticalTabs")  and (not ( -moz-bool-pref:"firefoxgx.oneline")) {
    
    /* Darker sidebar when using vertical tabs */

    :root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]):is([lwtheme-image],[style*="--lwt-additional-images"]) {
        & #sidebar-main,
        &:has(sidebar-main:is([expanded])) #navigator-toolbox::before {
            --lwt-frame: color-mix(in srgb, var(--toolbar-bgcolor) 25%, transparent) !important;
        }
    }
    
    /* New height of tab */
    #tabbrowser-tabs[orient="vertical"] {
        & .tabbrowser-tab {
            padding-block-end: 1px !important; /* Space between tabs */
        }
    }
    
    /* overwrite code from ogx_tabs-bar.css */
    
    /* New selected tab shape */
    
    .tab-background {
        border-block-end: 1px solid transparent !important;
        border-radius: 0 !important;
        clip-path: polygon(6px 0, calc(100% - 6px) 0, 100% 6px, 100% calc(100% - 6px), calc(100% - 6px) 100%, 6px 100%, 0 calc(100% - 6px), 0 6px);
    }

    .tab-stack::before {
        border-radius: 0 !important;
        clip-path: polygon(4px 0, calc(100% - 4px) 0, 100% 4px, 100% calc(100% - 4px), calc(100% - 4px) 100%, 4px 100%, 0 calc(100% - 4px), 0 4px);   
    }
    
    /* ___________ Tab 'hover' background-color */
    
    #vertical-pinned-tabs-container {
        & .tab-background {
            .tabbrowser-tab:is(:hover) > .tab-stack > &:not([selected], [multiselected]) {
                background-color: color-mix(in srgb, var(--general-color) 25%, transparent) !important;
            }
        }
    }
    
    .tabbrowser-tab:not([selected],[multiselected],[visuallyselected])> .tab-stack .tab-background,
    .tabbrowser-tab[multiselected]:not([selected]) .tab-background {
        clip-path: polygon(4px 0, calc(100% - 4px) 0, 100% 4px, 100% calc(100% - 4px), calc(100% - 4px) 100%, 4px 100%, 0 calc(100% - 4px), 0 4px);
    }
    
    /* Padding to the tab-stack to keep righ-click on tab border */
    .tabbrowser-tab[visuallyselected] > .tab-stack::before{
        margin-inline: var(--my-margin-inline-inner-tab) !important;
        border-radius: 0px !important;
    }
    
    /* Remove unwanted background-color of pinned tabs */
    
    #vertical-pinned-tabs-container .tab-background:not([selected], [multiselected]) {
        background-color: transparent !important;
    }
    
    /* Tabs container width */

    #tabbrowser-tabs[orient="vertical"] {
        /* Used for pinned tabs */
        --tab-collapsed-width: var(--vertical-elements-width) !important;
        /* used for normal tabs */
        min-width: var(--vertical-elements-width) !important;
    }

    /* Width of tabs when sidebar isn't expanded */
    
    #tabbrowser-tabs[orient="vertical"] {
        .tab-background {
            --tab-collapsed-background-width: calc(var(--vertical-elements-width) - var(--my-margin-inline-inner-tab)*2) !important;
            margin-inline: var(--my-margin-inline-inner-tab) !important;
            min-width: calc(var(--vertical-elements-width) - var(--my-margin-inline-inner-tab)*2) !important;
        }
    }
    
    /* Center .tab-content */

    #tabbrowser-tabs[orient="vertical"] {
        & .tab-content {
            --tab-inline-padding: calc(var(--vertical-elements-width)/2 - 8px) !important;
        }
    }
    
    /* Center tabs when Sidebar is expanded */
    
    sidebar-main[expanded] > #vertical-tabs > #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab {
        max-width: 100% !important;
    }
    
    /* Remove unwanted margin of pinned tabs when Sidebar is expanded */
    
    #tabbrowser-tabs[orient="vertical"] {
        & #vertical-pinned-tabs-container {
            padding-inline: 0px 0px !important;
        }
    }
    
    /* _____________ Various separators _____________ */

    /* Separator after pinned tabs */    
    #vertical-pinned-tabs-container-separator {
        display: none !important;
    }
    
    /* Margin top of the block of tabs */
    
    #vertical-tabs {
        padding-block-start: 8px !important;
    }
    
      /* Separator bottom when tabs scroll appears */
    #tabbrowser-tabs[orient="vertical"] {
        &[overflow]::after {
            content: "";
            border-bottom: var(--tabstrip-inner-border);
            margin-inline: 0px !important;
            border-image: var(--my-separator-border-style1) 1 !important;
        }
    }
    
    /* Tabs top separador when sidebar isn't expanded */
    :root:has(sidebar-main:not([expanded])) {
        & #sidebar-main::before{
            position: absolute; content: '';
            width: var(--my-vertical-toolbar-width);
            border-block-start: 1px solid red !important;
            border-image: var(--my-separator-border-style1) 1 !important;
        }
    }
    
    #vertical-pinned-tabs-container-separator {
        #tabbrowser-tabs:not([expanded]) #vertical-pinned-tabs-container:not(:empty) > &, #vertical-pinned-tabs-container:not(:empty) + & {
            margin-inline: 0px !important;
            display: flex !important;
            border-image: var(--my-separator-border-style1) 1 !important;
        }
    }
    
    /* _____________ New Tab button _____________ */

    /* Width when sidebar isn't expanded */    
    #tabbrowser-tabs:not([expanded]) {
        & #tabbrowser-arrowscrollbox[orient="vertical"] > #tabbrowser-arrowscrollbox-periphery > #tabs-newtab-button,
        & #vertical-tabs-newtab-button{
            &:not([expanded]) {
                width: var(--vertical-elements-width) !important;
            }
        }
    }

    /* style */    
    #tabs-newtab-button .toolbarbutton-icon,
    #vertical-tabs-newtab-button .toolbarbutton-icon{
        height: 20px !important;
        width: 20px !important;
        padding: 2px !important;
        border-radius: 2px !important;
    }

    /* Container */
    #tabbrowser-arrowscrollbox[orient="vertical"] > #tabbrowser-arrowscrollbox-periphery > #tabs-newtab-button,
    #vertical-tabs-newtab-button {
        fill: var(--general-color) !important;
        border-radius: 0px !important;
        margin-inline: 0px !important;
    }

    /* on 'hover' */
    #tabbrowser-arrowscrollbox[orient="vertical"] > #tabbrowser-arrowscrollbox-periphery > #tabs-newtab-button:hover,
    #vertical-tabs-newtab-button:hover {
        background-color: transparent !important;
    }

    #vertical-tabs-newtab-button:hover .toolbarbutton-icon{
        background: color-mix(in srgb, var(--general-color) 25%, transparent) !important;
        border-radius: 2px !important;
    }
    
    /* _____________ 'Newtab' button style when Sidebar is expanded _____________ */
    
    sidebar-main:is([expanded]) {
        & #tabs-newtab-button,
        & #vertical-tabs-newtab-button {
            padding-inline: calc(var(--vertical-elements-width) / 2 - 16px) !important;

            & .toolbarbutton-icon {
                width: 26px !important; 
                height: 24px !important;
                padding-inline-start: 8px !important;
                padding-block: 4px !important;
                border-radius: 3px 0px 0px 3px !important;
                transition: none !important;
            }

            & .toolbarbutton-text {
                align-content: center !important;
                height: 24px !important;
                padding-inline-start: 6px !important;
                border-radius: 0px 3px 3px 0px !important;
            }

            &:hover .toolbarbutton-text  {
                background: color-mix(in srgb, var(--general-color) 25%, transparent) !important;
            }
        }
    }
    
    /* ______________________________________ Tools and extensions ______________________________________ */
    
    /* Tools style */    
    .actions-list[orientation="vertical"] {
        padding-block: 2px 0px !important;
        margin-block: 0px 0px !important;
        overflow-y: hidden !important;
    }

    /* Tools on 'hover' */    
    .actions-list[orientation="vertical"]:hover{
        border-top: 1px solid var(--general-color) !important;
        border-image: var(--my-separator-border-style1) 1 !important;
        opacity: 1 !important;
        background-color: var(--lwt-frame) !important;
        transition: opacity 0.2s ease-in-out, background-color 0.4s ease;
    }
    
    /* Hide the tools except for the last one: 'configuration' . */
    .actions-list[orientation="vertical"]:not(:hover) moz-button[type="icon ghost"]:not(:last-child) {
        opacity: 0 !important;
        height: 0px !important;
    }
    
     /* Hide the 'configuration' button when there is an 'active' tool */
    .wrapper:has(.actions-list moz-button[type="icon"]) .actions-list:not(:hover) moz-button[type="icon ghost"]:is(:last-child) {
        opacity: 0 !important;
        height: 0px !important;
    }
    
    /* Smooth transition */
    moz-button[type="icon ghost"]{
        transition: opacity 0.3s ease-in-out !important;
    }
    
    /* 'Configuration' button in 1rst position when sidebar isn't hover */
    .actions-list[orientation="vertical"]:not(:hover) moz-button:last-child{
        background-color: transparent !important;
        transition: background-color 0ms ease !important;
        order: -1 !important;
    }
    
    /* shows the active tool */
    .wrapper:has(.actions-list[orientation="vertical"]:not(:hover)) moz-button[type="icon"] {
        order: -1 !important;
    }
    
    /* Keep active tool in latest position */
    .wrapper:has(.actions-list[orientation="vertical"]:is(:hover)) moz-button[type="icon"]{
        order: 1 !important;
    }
    
    /*__________________ 'Tools and extensions' when sidebar is expanded */
    
    .tools-and-extensions[orientation="horizontal"] {
        --first-last-button-width: 30px !important;
        grid-template-columns: var(--first-last-button-width) repeat(4, calc(var(--button-size-icon) + var(--space-xsmall))) calc(var(--first-last-button-width) + 11px) !important;
    }
    
    /* 'Configuration' button always in left bottom */
    
    .actions-list[orientation="horizontal"] moz-button:last-child:nth-child(-n+18){
        grid-row-start: 2 !important;
        grid-column-start:1 !important;
    }

    .actions-list[orientation="horizontal"] moz-button:last-child:nth-child(-n+12){
        grid-row-start: 2 !important;
        grid-column-start:1 !important;
    }

    .actions-list[orientation="horizontal"] moz-button:last-child:nth-child(-n+6){
        grid-row-start: 1 !important;
        grid-column-start: 1 !important;
    }
    
    /* _________________________________________________________________________________________________________ */
    
    /* Fix issue when 'tools and extension' and tab scrolling appears */
    
    spacer[part="overflow-start-indicator"]{
        display: none !important;
    }
    
    /* Overwrite: Buttons size the same as the Sidebar to click on border */
    
    .button-background {
      &[type~="icon"]:not(.labelled), &:not(.labelled):has(img) {
        padding-block: 0px !important;
        }
    }
      
    /* _____________ Tab Preview _____________ */

    #tab-preview-panel {
        margin-block-start: -6px !important;
        margin-inline-start: 0px !important;
    }
}

/* ____________________________ Added missing style when sidebar is on left and using 'left-sidebar' config ________________________
   _________________________________________________________________________________________________________________________________ */

@media (-moz-bool-pref:"sidebar.revamp")  and (-moz-bool-pref:"firefoxgx.left-sidebar") and (-moz-bool-pref:"sidebar.position_start") {
    
    /* Bug fix - unwanted toolbar bottom border */
    :root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]) #navigator-toolbox {
        border-image: linear-gradient(to right, 
            transparent var(--vertical-elements-width), 
            var(--general-color) var(--vertical-elements-width) , 
            var(--toolbar-bgcolor) var(--vertical-elements-width)) 1 !important;
    }

    #sidebar-main {
        background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)), 
            var(--lwt-additional-images,none), var(--lwt-header-image, none) !important;
        background-position: left top !important;
        background-repeat: repeat-x, var(--lwt-background-tiling), no-repeat !important;
        background-size: auto 100% !important;
        background-attachment: scroll, fixed, fixed !important;
    }
}

/* ______________________________ Borders around sidebars and web content - Sidebar on left - without left-sidebar ______________________________ 
   _______________________________________________________________________________________________________________________________________________ */

@media (-moz-bool-pref: "sidebar.revamp") {
    
    /* web content */
    #tabbrowser-tabbox {
        outline: none !important;
        box-shadow: none !important;
        border-radius: 0px !important;
    }

    /* sidebar content */
    #sidebar {
        border-top: 1px solid var(--my-content-border-color) !important;
        border-inline-end: 1px solid var(--my-content-border-color) !important;
        box-shadow: none !important;
    }
    
    /* Sidebar content + web content */
    #sidebar-box[checked="true"] ~ #tabbrowser-tabbox {
        border-top: 1px solid var(--my-content-border-color) !important;/**/
    }

    /* Web content border-top in full screen */
    :root:not([inDOMFullscreen])[sizemode="fullscreen"] #tabbrowser-tabbox {
        /*border-top: 1px solid var(--my-content-border-color) !important;/**/
    }

    /* Border color in themes with images*/

    :root:is([lwtheme-image],[style*="--lwt-additional-images"]) {
        /* Border color around web content */
        & #tabbrowser-tabbox,
        /* Border color around Sidebar & Sidebar content [open] */
        & #sidebar-box[checked="true"] {
            --my-content-border-color: color-mix(in srgb, var(--toolbar-bgcolor) 90%, var(--lwt-tab-text));
        }
    }
}

/* _____________ Sidebar on right side */

@media (-moz-bool-pref:"sidebar.revamp") and (not (-moz-bool-pref:"sidebar.position_start")) {
    
    :root {
        --my-content-border-color: var(--toolbarbutton-hover-personal);
    }
    
    /* Border around web content */
    #tabbrowser-tabbox {
        border-block-start: 1px solid var(--my-content-border-color) !important;
    }
    
    /* Sidebar */
    #sidebar-main {
        border-inline-start: 1px solid var(--my-content-border-color) !important;
    }
    
    /* Sidebar content */
    #sidebar {
        direction: rtl !important;
    }
}

@media ((-moz-bool-pref:"sidebar.revamp") or (-moz-bool-pref:"sidebar.verticalTabs")) and (not (-moz-bool-pref:"firefoxgx.left-sidebar")) and (-moz-bool-pref:"sidebar.position_start") {

    /* Sidebar border and color in fullscreen  */
    
    &:root:is([sizemode="fullscreen"]) {
        & #sidebar-main {
            border-inline-end: 1px solid var(--my-content-border-color) !important;
        }
        &:has(sidebar-main:is([expanded])) #sidebar-main {
            border-inline-end: 1px solid var(--my-content-border-color) !important;
            /*box-shadow: inset -1px 1px 0 0 var(--my-content-border-color) !important;/**/
        }
    }
}

@media (-moz-bool-pref:"sidebar.verticalTabs") {

    /* Web content */    
    :root:not([inDOMFullscreen]) #tabbrowser-tabbox {
        border-top: 1px solid var(--my-content-border-color) !important;
    }
}

/* _____________ Added missing border when sidebar is on left and with 'left-sidebar' config */


@media (-moz-bool-pref:"sidebar.revamp")  and (-moz-bool-pref:"firefoxgx.left-sidebar") and (-moz-bool-pref:"sidebar.position_start") {
       
    #sidebar-main {
        border-inline-end: 1px solid var(--my-content-border-color) !important;
    }
    
    :root:not([inDOMFullscreen]) #tabbrowser-tabbox {
        border-block-start: 1px solid var(--my-content-border-color) !important;
    }
}

/* _____________ Border top Sidebar expanded - 'left-sidebar' + Sidebar (left or right) */

@media (-moz-bool-pref:"sidebar.revamp")  and (-moz-bool-pref:"firefoxgx.left-sidebar") {
    
    :root:has(sidebar-main:is([expanded])) {
        & #sidebar-main{
            box-shadow: inset 0 1px 0 0 var(--my-content-border-color) !important;
        }
    }
}