/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/* Borde gradiente menús desplegables */
slot{
    margin: 0px !important;
    border-color: var(--lwt-frame) !important;
}
panelview {
    border: 1px solid #0c0a10 !important;
    border-image: var(--panel-separator-zap-gradient4) 1 !important;
    box-shadow: 0px 0px 0 1px #00000070, 1px 1px 6px 0px black !important;
}
/* Margen de varios menús [Open] */
#downloadsPanel, #widget-overflow, #customizationui-widget-panel, #identity-popup,
#permission-popup, #protections-popup, #editBookmarkPanel{
    margin-top: 0px !important; 
    margin-inline: -16px !important; 
}
panel[type="arrow"]{ 
    margin-top: 0px !important; 
}
/* Alinear lista de pestañas sincronizadas */
.PanelUI-remotetabs-clientcontainer label {
    padding-inline-start: 0px !important;
}
/*Color fondo gradiente :hover por los diferentes items de menús principales*/
.protections-popup-category:hover, .protections-popup-footer-button:hover, #protections-popup-show-report-stack:hover > .protections-popup-footer-button,
 panelview .toolbarbutton-1:not([disabled], [open]):is(:hover), toolbarbutton.subviewbutton:not([disabled], [open],.subviewbutton-back):is(:hover), 
.navigable.subviewbutton:not([disabled], [open]):is(:hover), menu.subviewbutton:not([disabled])[_moz-menuhover],
 menuitem.subviewbutton:not([disabled])[_moz-menuhover], .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):is(:hover),
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled], [open]):is(:hover) {
    background: linear-gradient(to right, var(--button-hover-bgcolor) 49%, transparent) !important;
    color: var(--lwt-tab-text) !important;
}
/*Color fondo clic por los diferentes items de menús principales*/
.protections-popup-category:active, .protections-popup-footer-button:active, #protections-popup-show-report-stack:active > .protections-popup-footer-button,
 panelview .toolbarbutton-1:not([disabled]):is(:active, [open]), toolbarbutton.subviewbutton:not([disabled],.subviewbutton-back):is(:active, [open]), 
.navigable.subviewbutton:not([disabled]):is(:active, [open]), menu.subviewbutton:not([disabled])[_moz-menuactive], .panel-banner-item:hover,
 menuitem.subviewbutton:not([disabled])[_moz-menuactive], .widget-overflow-list .toolbarbutton-1:not([disabled]):is(:active, [open]),
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled]):is(:active, [open]) {
 background: linear-gradient(to right, var(--button-active-bgcolor) 80%, transparent) !important;
}
/*Linea gradiente en los menús principales*/
.PanelUI-subView > toolbarseparator {border-image: var(--panel-separator-zap-gradient1) 1 !important;}
.PanelUI-subView menuseparator, #PlacesToolbar menupopup[placespopup="true"] toolbarseparator, #widget-overflow-mainView > toolbarseparator,
#widget-overflow-mainView > .panel-subview-body > toolbarseparator, .PanelUI-subView toolbarseparator, #permission-popup-mainView > toolbarseparator,
#protections-popup-multiView toolbarseparator, #identity-popup-mainView toolbarseparator, #identity-popup-securityView > toolbarseparator, 
#editBookmarkPanel toolbarseparator, #downloadsFooterButtons > toolbarseparator {    
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
    margin-left: 6px !important;
    margin-right: 6px !important;
}
/*Color label deshabilitado y elementos de: "protección contra rastreo"*/
.protections-popup-category.notFound {color: #777 !important;}
.panel-info-button{width: 10px !important;}
.panel-info-button:not([disabled]):is([checked],:hover, :active) {background-color: var(--button-hover-bgcolor) !important;}
.panel-info-button:not([disabled]):is(:hover) {background-color: var(--button-active-bgcolor) !important;
}
/*Margenes protección antirastreo*/
#protections-popup-blocking-section-header, #protections-popup-not-blocking-section-header, #protections-popup-not-found-section-header, #protections-popup-tp-switch-section, .protections-popup-category, .protections-popup-footer-button {
padding-left: 16px !important; padding-right: 16px !important;
}
/* Color Label "No funciona el sitio "*/
toolbar .text-link:-moz-lwtheme, panel .text-link:-moz-lwtheme{ color: var(--general-color) !important; }
toolbar .text-link:-moz-lwtheme:hover, panel .text-link:-moz-lwtheme:hover{ color: var(--blue) !important; 
}
/* Panel de descargas */
#downloadsListBox > richlistitem { 
    border-radius: 0px !important; 
    background: var(--arrowpanel-background) !important; 
    padding-inline: 4px 4px !important;
    color: var(--lwt-tab-text) !important;}
#downloadsListBox > richlistitem:is(:hover) {
    background: linear-gradient(to right, var(--button-hover-bgcolor) 70%, transparent) !important;
    color: white !important;}
#downloadsPanel-blockedSubview, #downloadsPanel-mainView {
  padding: 0.62em 0.0em 0.62em 0em !important;
}
/*Color Sidebar*/
#sidebar-header{
    background-color: var(--lwt-sidebar-background-color) !important;
}
#sidebar-switcher-target:is(:hover, [open]) {    
    color: var(--general-color) !important;
}
/* Linea Separadora */
treechildren::-moz-tree-separator {
  border-bottom: none !important;
  border-image: var(--panel-separator-zap-gradient4) 1 !important;
}
/*Separador de items menú desplegable marcadores*/
#BMB_bookmarksPopup .subviewbutton, #appMenu_historyMenu .subviewbutton, 
#appMenu-library-recentlyClosedTabs .subviewbutton, #PlacesToolbar menupopup[placespopup="true"] .bookmark-item{
    padding-inline-start: 8px !important;
}
#PlacesToolbar menupopup[placespopup="true"] menuseparator{
   margin-left: 6px !important;  margin-right: 8px !important;
}
#PlacesToolbar menupopup[placespopup="true"] menuseparator::before {
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
}
/*Botón flecha atrás*/
.panel-header > .subviewbutton-back{ padding-inline-start: 6px !important; border-radius: 3px !important; }
.panel-header > .subviewbutton-back:hover { background: var(--button-hover-bgcolor) !important; }
.panel-header > .subviewbutton-back:active { background: var(--button-active-bgcolor) !important; }

/* Fondo :hover botones de zoom */
.PanelUI-subView .toolbaritem-combined-buttons > .subviewbutton:is(:hover, :hover:active) { background: transparent !important }
