/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/*Menú contextual*/
menupopup>menuitem, menupopup>menu {
    padding-block: 0.3em !important;
    border-radius: 0px !important; 
}
/*borde izquierda y derecha del menú contextual*/
menugroup>menuitem:first-child {
    padding-left: 4px !important;
}
menugroup>menuitem:last-child {
    padding-right: 4px !important;
}
/* context menu top buttons radius */
menugroup>menuitem>hbox>image {
    border-radius: 2px !important;
}
/*separador de items*/
menuseparator {
    border-color: var(--panel-separator-color, #50505090) !important;
    margin-left: 0px !important;
    margin-right: 0px !important;  
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
}
/*Colores generales*/
.menupopup-arrowscrollbox {
    background: var(--arrowpanel-background, #50505090) !important;
    background-color: #251f33 !important;
    color: var(--arrowpanel-color, #50505090) !important;
    border: 1px solid color-mix(in srgb, var(--arrowpanel-border-color, #50505090) 35%, black) !important;
    border-radius: 4px !important;
    /*ColorFondoAlPasarElMouseSobreItems*/
    --menuitem-hover-background-color: color-mix(in srgb, var(--button-hover-bgcolor, #0060bf) 99%, var(--organizer-color, var(--arrowpanel-color))) !important;
}
/*ColoresMenú*/
.menupopup {
    --panel-color: var(--arrowpanel-color, FieldText) !important;
    /*ColorLetrasDelMenú*/
    --panel-border-color: var(--arrowpanel-border-color, Field)!important;
    /*bordeMenú*/
    --panel-background: var(--arrowpanel-background, Field) !important;
    /*FondoMenú*/
    --menu-color: var(--arrowpanel-color, FieldText) !important;
    /*ColorLetrasAlPasarElMouseSobreItems*/
    --menu-border-color: var(--panel-separator-color, Field) !important;
    /*LineaSeparadoraItems*/
}
/*íconos deshabilitados*/
menu[disabled="true"], menuitem[disabled="true"] {
    color: color-mix(in srgb, var(--arrowpanel-background)80%, var(--arrowpanel-color)) !important;
}
/*Aspecto cuadro deplegable mouse hover*/
#tabbrowser-tab-tooltip,#places-tooltip-insecure-icon,
#btTooltip,#un-toolbar-tooltip,
#tooltip,.tooltip,#aHTMLTooltip,
#urlTooltip,tooltip,.places-tooltip {
	appearance: none !important;
	color: var(--lwt-tab-text) !important;
	background: color-mix(in srgb, var(--arrowpanel-background) 96%, white) !important;    
	border-color: color-mix(in srgb, var(--arrowpanel-background)80%, white) !important;
	margin-inline-start: 4x !important;
    margin-inline-end: 4x !important;
	font-family: Fira Sans !important;
	font-size: 14px !important;
	opacity: 1 !important;
}
/*Colores y márgenes iconos superiores del menú contextual*/
#main-menubar>menupopup, #context-navigation {
    background-color: #251f33 !important;
    color: var(--arrowpanel-color) !important;
}
