/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media (-moz-bool-pref:"firefoxgx.tree-tabs") and ((not (-moz-bool-pref:"sidebar.verticalTabs")) and (not (-moz-bool-pref:"firefoxgx.oneline"))) {
    
/* __________________________________________________________ For Tree-tabs extensions __________________________________________________________
   _________________________ https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/hide_tabs_toolbar_v2.css _________________________ */

    /* This requires Firefox 133+ to work */

    @media (-moz-bool-pref: "sidebar.verticalTabs"){
        #sidebar-main{
            visibility: collapse;
        }
    }
    @media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"){
        #nav-bar > .titlebar-buttonbox-container{
            order: -1 !important;
            > .titlebar-buttonbox{
                flex-direction: row-reverse;
            }
        }
    }
    @media not (-moz-bool-pref: "sidebar.verticalTabs"){
        #TabsToolbar{
            visibility: collapse;
        }
        :root[sizemode="fullscreen"] #nav-bar > .titlebar-buttonbox-container{
            display: flex !important;
        }
        :root:is([tabsintitlebar],[customtitlebar]) #toolbar-menubar:not([autohide="false"]) ~ #nav-bar{
            > .titlebar-buttonbox-container{
                display: flex !important;
            }
            :root[sizemode="normal"] & {
                > .titlebar-spacer{
                    display: none !important;
                }
            }
            :root[sizemode="maximized"] & {
                @media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"),
                    (-moz-gtk-csd-reversed-placement),
                    (-moz-platform: macos){
                        > .titlebar-spacer[type="post-tabs"]{
                            display: none !important;
                        }
                        > .titlebar-spacer[type="pre-tabs"]{
                            display: flex !important;
                        }
                }
            }
        }
    }
}

/* ___________________________________________________________________________________________________________________________________________ 
   ___________________________________________________________________________________________________________________________________________ */

@media /*(not (-moz-bool-pref:"firefoxgx.tree-tabs")) and/**/ (-moz-bool-pref:"sidebar.verticalTabs") and (not ( -moz-bool-pref:"firefoxgx.oneline")) {   

    /* ¡Necessary for the hamburger button to be above the sidebar */
        
    .browser-titlebar {
        :root & {
            will-change: unset !important;
            transition: none !important;
        }
    }
}

/* ______________________________________________ Code for both 'tree-tabs' or 'Firefox vertical tabs' _______________________________________________ */

@media ((-moz-bool-pref:"firefoxgx.tree-tabs") or (-moz-bool-pref:"sidebar.verticalTabs")) and (not ( -moz-bool-pref:"firefoxgx.oneline")) {
    
    /* My Personal Variables */

    :root {
        /* Remove unnecessary padding for window controls in [sizemode="normal"] */
        --windowed-top-padding: 0px !important;
    }
    
    :root[lwtheme],
    :root:not([lwtheme]){
        /* New background for toolbarbuttons on 'hover' */
        --toolbarbutton-hover-background: var(--toolbarbutton-hover-personal) !important;
    }
    
    /* Overwrite code from 'left-sidebar.css' - align image when sidebar is 'expanded' */
    
    :root:has(sidebar-main:is([expanded])) {
        & #sidebar-main {
            background-position: left calc(1px - var(--padding-top-left-sidebar,0px) - var(--bookmarksbar-height-personal, 0px) - var(--menubar-height-personal, 0px)) !important;
            background-size: auto calc(100% - 1px + var(--padding-top-left-sidebar,0px) + var(--bookmarksbar-height-personal, 0px) + var(--menubar-height-personal, 0px)) !important;
        }
    }
    
    :root:not([customizing]):has(sidebar-main:is([expanded])) {
        & #navigator-toolbox::before {
            --space-before-gradient-line: var(--menubar-height-personal, 0px) !important;
            height: calc(2px + var(--menubar-height-personal, 0px) + var(--toolbar-height-personal) + var(--bookmarksbar-height-personal, 0px)) !important;
        }
    }
    
    /* Overwrite variable to fix height of buttons */
    
    .titlebar-buttonbox-container {
        --tab-height-personal: calc(var(--toolbar-height-personal) + 1px) !important;
        margin-inline-start: 42px !important;
    }

    /* Separator between <window controls> and other buttons */

    :root:not([chromehidden~="toolbar"]):has(#toolbar-menubar[autohide="true"]) .titlebar-buttonbox::before{
        content: ""; position: absolute !important; align-self: center !important;
        background: url("../icons/urlbar-separator.svg") no-repeat left !important; 
        background-size: 6px 16px !important;
        width: 6px !important;
        height: 16px !important;
        fill: var(--toolbarbutton-icon-fill) !important;
        -moz-context-properties: fill !important;
        opacity: 0.2 !important;
        fill-opacity: 1 !important;
        margin-inline-start: -24px !important;
    }
    
    /* Separator between <window controls> and other buttons - LinuxOS*/
    
    @media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"),
       (-moz-gtk-csd-reversed-placement),
       (-moz-platform: macos){
           :root:not([chromehidden~="toolbar"]):is([sizemode="fullscreen"],[sizemode="maximized"]):has(#toolbar-menubar[autohide="true"]) .titlebar-buttonbox::before{
               margin-inline-start: calc(106px) !important;
           }
    }

    /* _______ trick to be able to click on extensions from the top edge of the nav-bar */

    :root:not([chromehidden~="toolbar"]){    
        toolbar .toolbaritem-combined-buttons toolbarbutton {
            margin-top: -7px !important;
            padding-top: 7px !important;
        }
    }

    /* _______ Make border top of url dragable */

    #urlbar-container {
        margin-block: 1px !important;
    }

    #urlbar-container[breakout] {
        --urlbar-container-height: calc(var(--toolbar-height-personal) - 2px) !important;
    }

    /* _______ Urlbar text centered */

    #urlbar:not([open],[focused]) .urlbar-input{ 
        text-align: center !important; 
    }
    
    /* _______ New position of Zoom button */

    #urlbar-zoom-button{
        order: -1 !important;
    }
    
    /* Bug fix: Trick to hide urlbar when menu appears (Alt key) */

    :root:has(#toolbar-menubar[autohide="true"]) #urlbar {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    :root:has(#toolbar-menubar[autohide="true"][inactive="true"]) {
        & #urlbar {
            opacity: 1 !important;
            pointer-events: all !important;
        }
    }
    
/* ___________________________________________ Makes menubar appear as overlay in the top left corner ___________________________________________
   _________________________ https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/hide_tabs_toolbar_v2.css _________________________ */

    /* Makes menubar appear as overlay in the top left corner */

    :root {
        --my-content-border-color: var(--toolbarbutton-hover-personal);
    }

    #toolbar-menubar[autohide="false"] > .titlebar-buttonbox-container,
    #toolbar-menubar[autohide="false"] > spacer{ display: none; }

    /* Makes menubar appear as overlay in the top left corner */

    #toolbar-menubar{
        position: fixed;
        display: flex;
        top: 0;
        width: 100vw;/**/
        height: initial !important;
        z-index: 10;
    }

    #toolbar-menubar[autohide="true"][inactive="true"]{ height: 0px !important; }

    #toolbar-menubar > spacer{ flex-grow: 1 }
    #toolbar-menubar[inactive] > .titlebar-buttonbox-container{ display: none }

    /* Makes the menubar clic on top border */
    #main-menubar{
            height: var(--menubar-height-personal, var(--toolbar-height-personal)) !important;
    }
    
    #toolbar-menubar[autohide="true"] #main-menubar{
        background-image: linear-gradient(
            var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor),var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor)),
            var(--lwt-additional-images,none), var(--lwt-header-image, none);
        background-attachment: scroll, fixed, fixed;
        background-position: 0 0, var(--lwt-background-alignment), right top;
        background-repeat: repeat-x, var(--lwt-background-tiling), no-repeat;
        background-size: auto 100%, var(--lwt-background-size, auto auto), auto auto;
        color: var(--arrowpanel-color) !important;
    }

    #menubar-items{
        flex-direction: row !important;
    }

    @media (-moz-gtk-csd-reversed-placement){
        #toolbar-menubar[autohide="true"]:not([inactive]) > .titlebar-buttonbox-container{ display: none }  
    }

    /* ________________________________ My code - Style when menubar is always visible */

    :root:has(#toolbar-menubar[autohide="false"]) {
        & #toolbar-menubar{
            position: initial !important;
            height: initial !important;
            z-index: initial;
        }
    }

    /* Display window controls */
    #toolbar-menubar[autohide="false"] > .titlebar-buttonbox-container,
    #toolbar-menubar[autohide="false"] > spacer{ display: flex; }
}

/* Gradient line under Menubar when it is active */

@media ((-moz-bool-pref:"firefoxgx.tree-tabs") or (-moz-bool-pref:"sidebar.verticalTabs")) and (not ( -moz-bool-pref:"firefoxgx.oneline")) {
    /* Menubar bottom separator gradient line */
    
    :root:has(#toolbar-menubar[autohide="false"]) {
        & #toolbar-menubar::after{
            content: ""; position: absolute !important; 
            display: flex;
            top: calc(var(--menubar-height-personal) - 1px);
            width: 70vw;
            height: initial !important;
            z-index: 0;                                              /* My code v */
            border-bottom: 1px solid var(--general-color) !important;
            border-image: linear-gradient(to right,var(--general-color) 52% , transparent) 1 !important;
        }
        
        & #main-menubar{
            height: var(--menubar-height-personal);
        }
    }
}

@media (-moz-bool-pref:"sidebar.verticalTabs") and (not ( -moz-bool-pref:"firefoxgx.oneline")) {
    :root:has(#toolbar-menubar[autohide="false"]) {
        & #toolbar-menubar::after{
            left: var(--padding-left-tab) !important;/**/
        }
    }
}

/* ______________________________________________________________________________________________________________________________________________ */

/* __________________________ Bookmarks-bar same color of Nav-bar */

@media (-moz-bool-pref:"sidebar.verticalTabs") and (not (-moz-bool-pref:"firefoxgx.left-sidebar")) and (not (-moz-bool-pref:"firefoxgx.oneline")) {
    :root:not([chromehidden~="toolbar"]) :is(#PersonalToolbar, #nav-bar) {
        background-color: var(--toolbar-bgcolor) !important;
    }
}

/* __________________________ Nav-bar color when 'Firefox vertical tabs' + 'left-sidebar' */

@media (-moz-bool-pref:"sidebar.verticalTabs") and (-moz-bool-pref:"firefoxgx.left-sidebar") and (not (-moz-bool-pref:"firefoxgx.oneline")) {
    :root:not([chromehidden~="toolbar"]) :is(#nav-bar) {
        background-color: var(--toolbar-bgcolor) !important;
    }
}

/* __________________________ New padding top and bottom for 'Left-sidebar' config when using 'tree-tabs' styles */

@media (-moz-bool-pref:"firefoxgx.tree-tabs") or (-moz-bool-pref:"sidebar.verticalTabs") {
    :root:not([chromehidden~="toolbar"]) #PersonalToolbar {
        --padding-top-left-sidebar: calc(var(--toolbar-height-personal) + var(--tab-height-personal) + var(--menubar-height-personal, 0px) + 15px) !important;
        --padding-bottom-left-sidebar: calc(var(--menubar-height-personal, 0px) + 10px) !important;
    }
}

/* __________________________ toolbar_bottom_separator when not using 'Firefox vertical tabs' 

@media (-moz-bool-pref:"firefoxgx.tree-tabs") and (not (-moz-bool-pref:"sidebar.revamp")) {
    
    #navigator-toolbox {
        border-bottom-color: color-mix(in srgb, var(--toolbar-bgcolor) 90%, var(--lwt-tab-text)) !important;
    }

    :root:is([lwtheme-image],[style*="--lwt-additional-images"]) #navigator-toolbox {
        border-bottom-color: color-mix(in srgb, var(--lwt-tab-text) 14%, var(--contrast-color)) !important;
    }
}*/
