/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text.
   https://github.com/Godiesc/firefox-gx */

/* General Variables - needs to be outside */

:root {
    --toolbarbutton-icon-fill-attention: unset !important;                                              /* Remove unwanted accent color in 'about:preferences' */
    --color-accent-primary-selected: var(--general-color) !important;                                   /* Accent color bg into combobox */
    --text-color-accent-primary-selected: var(--color-white) !important;                                /* Accent color text */

    --background-color-box: light-dark(var(--color-white), #111115) !important;                         /* Card default solid bg - about:config bg */

    --background-color-canvas: var(--background-color-box) !important;                                  /* Background 'about:config' page */
    --table-row-background-color-alternate: color-mix(in srgb,                                          /* Table rows distinction */
        var(--background-color-box) 95%, FieldText) !important;
    --table-background-color: var(--button-background-color-menu) !important;                           /* Table background */
    --table-border-color: color-mix(in srgb, currentColor 21%, transparent) !important;                 /* Table border color */
    --table-header-background-color: var(--button-smaller-bgcolor) !important;                          /* Table th accent color */
    --table-header-text-color: FieldText !important;                                                    /* Table th color */

    --button-background-color-menu: light-dark(#dee2ed, #181d25) !important;                            /* Other Ghost button background */

    --border-color: light-dark(var(--color-gray-50), #70707070) !important;                             /* Border color */

    --link-color-hover: FieldText !important;                                                           /* Links color on 'hover' */
    --link-color-active: var(--purple) !important;                                                      /* Links color on 'active' */
    --link-color-visited: var(--general-color) !important;                                              /* Links color on 'visited' */

    --background-color-information: var(--button-smaller-bgcolor) !important;                           /* Information message */
    --icon-color-information: var(--general-color) !important;        /* Information message icon */

    --my-gradient-background: radial-gradient( 100% 91.38% at 50% 99.62%,                               /* Background gradient - personal */
        color-mix(in srgb, var(--button-bgcolor) 10%, transparent) 0%,
        transparent);
    --my-gradient-background-hover: radial-gradient( 100% 91.38% at 50% 99.62%,                         /* Background gradient when 'hover' - personal */
        color-mix(in srgb, var(--button-bgcolor) 20%, transparent) 0%,
        transparent);
}

/* Styles for all 'about' pages \
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@-moz-document url-prefix(about:) {
    
    /* Toggle button \
    ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    .toggle-button {
        --toggle-border-radius: 4px !important;
        --toggle-height: 21px !important;
        --toggle-width: 36px !important;
        --toggle-dot-height: calc(var(--toggle-height) - 4 * var(--toggle-dot-margin) - 2 * var(--toggle-border-width)) !important;
        --toggle-dot-width: calc(var(--toggle-height) - 4 * var(--toggle-dot-margin) - 2 * var(--toggle-border-width)) !important;

        /* Toggle hexagon */
        &::before {
            translate: 1px !important;
            border-radius: calc(var(--toggle-border-radius) - 2px) !important;
        }
    }

    /* Toggle Opacity when not 'hover' */
    .toggle-button:not(:hover) {
        opacity: 0.8 !important;
    }

    /* Toggle off when 'hover' */
    .toggle-button[aria-pressed="false"]:hover {
        background: transparent !important;
    }

    /* Toggle on */
    .toggle-button[aria-pressed="true"] {
        --toggle-dot-transform-x: calc(var(--toggle-width) - 3 * var(--toggle-dot-margin) - 2px - var(--toggle-dot-width));
        background-color: var(--button-bgcolor) !important;
        border-color: var(--general-color) !important;

        &:hover {
            background-color: var(--button-hover-bgcolor) !important;
            border-color: var(--general-color) !important;
        }

        &::before {
            background-color: FieldText !important;
            translate: var(--toggle-dot-transform-x) !important;
        }
    }
}

@-moz-document url-prefix(about:preferences), url-prefix(about:settings), url-prefix(about:addons), 
    url-prefix(about:support), url-prefix(about:profiles) , url-prefix(about:debugging), url-prefix(about:welcome) {
        
        html,   /* For addons-preferences... */
        body {  /* For other 'about:' pages */
            background: transparent !important;                 /* Main background color */
        }
        
        .sticky-container {
            --background-color-canvas: transparent !important;  /* Sticky background color */
        }
        
        /* Categories - left side */

        #categories {
            &> .category {
                --button-background-color-hover: transparent !important;
                --button-background-color-active: transparent !important;
                --button-border-color-primary: transparent !important;
                --button-border-color-hover: transparent !important;
                --button-border-color-active: transparent !important;
                color: color-mix(in srgb, var(--text-color) 76%, transparent) !important;
                font-weight: 600 !important;
                font-size: 0.9em !important;
                text-underline-offset: 4px !important;

                &:hover {
                    color: var(--text-color) !important;
                    text-decoration: 1px underline var(--text-color) !important;
                }
            }

            &> .category[selected] {
                color: color-mix(in srgb, var(--general-color) 90%, var(--text-color)) !important;

                &:hover {
                    color: var(--general-color) !important;
                    text-decoration: 1px underline var(--general-color)!important;
                }
            }
        }
        
        /* Remove unwanted border in footer items */
        .sidebar-footer-list {
            --button-border-color: transparent !important;
            --button-border: var(--border-width) solid var(--button-border-color);
        }
        
        /* _________ New layout of sticky and main content _________
        ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

        /* 'About:preferences' page \
        ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
        /* Remove unwanted margin from right section */
        .main-content {
            padding-inline: 0px !important;
        }

        .pane-container{
            width: max(100%, var(--page-main-content-width)) !important;
            display: grid !important;
            overflow-x: hidden !important;

            & #mainPrefPane {
                padding-top: 20px !important; 
                padding-inline-start: 60px !important;
                padding-inline-end: calc(100% - var(--page-main-content-width)) !important;
                overflow-x: hidden !important;
            }
        }
        
        /* 'About:addons' page \
        ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
        #content {
            max-height: 100vh;
            display: grid !important;
            grid-template-rows: auto auto 1fr;
            --in-content-page-background: transparent;
        }

        #main {
            overflow: auto;
            max-width: 100% !important;
            scrollbar-gutter: stable !important;
            margin-inline-start: 0px !important;
            padding-inline-start: var(--main-margin-start);

            & addon-card[expanded="true"],
            & addon-list,
            &>recommended-themes-section>recommended-addon-list,
            & recommended-extensions-section {
                --page-main-content-width: calc(100% + 28px + 4px) !important;
                display: block !important;
                max-width: calc(100% - var(--sidebar-width) - var(--main-margin-start, 0px)) !important;
                padding-inline-start: 4px !important;
            }

            & discovery-pane {
                --page-main-content-width: calc(100% + var(--main-margin-start) + 4px) !important;
                display: block !important;
                max-width: calc(100% - var(--sidebar-width) - var(--main-margin-start)) !important;
                padding-inline-start: 4px !important;
            }
        }
        
        /* Search box \
        ¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
        #input {        
            &[type="search"] {
                --input-text-background-color: color-mix(in srgb, var(--button-background-color) 70%, transparent) !important; /* background color */
                border-color: var(--border-color) !important;  /* border color for searchbox */
                border-radius: var(--my-border-radius) !important;

                &:hover {
                    --input-text-background-color: color-mix(in srgb, var(--button-smaller-bgcolor) 70%, transparent) !important; /* background color */
                    border-color: var(--button-bgcolor) !important;
                    outline: 0px solid var(--general-color) !important;
                }

                &:focus-visible {
                    --input-text-background-color: var(--my-color-scheme) !important; /* background color */
                    border-color: var(--general-color) !important;
                    outline: 1px solid var(--general-color) !important;
                }
            }
        }
        
        /* ____________________________ Cards ____________________________
        ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
        /* Little gradient background in cards */
        .card:not([active="false"]) {
            background: var(--my-gradient-background) !important;
            background-color: var(--button-background-color-menu) !important;
            transition: background 0.2s ease-in-out, border-color 0.1s ease-in-out !important;
            
            &:hover {
                background: var(--my-gradient-background-hover) !important;
                background-color: var(--button-background-color-menu) !important;
            }
        }
        
        /* underline style when 'hover' */
        addon-card:not([expanded]) > .addon.card {
            
            & .addon-name-link {
                text-decoration: underline transparent !important;
                text-underline-offset: 2px !important;
                transition: text-decoration 0.1s ease-in-out !important;
            }
            &:hover .addon-name-link {
                color: inherit !important;
                text-decoration: underline currentColor !important;
            }
        }

        .card[active="true"] {
            &:hover {
                border-color: var(--general-color) !important;
            }
        }
        
        /* Keep button style when context menu is open */
        button[aria-expanded="true"] {
            background-color: var(--button-background-color-hover) !important;
            border-color: var(--button-border-color-hover) !important;
        }
        
        /* 'Separator line' gradient in 'settings' */

        .subcategory:not([hidden]) ~ .subcategory {
            border-width: 2px !important;
            border-image: var(--panel-separator-zap-gradient3) 1 !important; 
        }
}

/* ________________________________________ only 'about:addons' page _________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@-moz-document url-prefix(about:addons) {

    /* Sticky elements in one line \
    ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    /* Header */
    .sticky-container {
        display: grid !important;
        grid-template-rows: 1 !important;
        grid-template-columns: auto  auto !important;

        /* Left side */
        & .main-heading {
            grid-column: 1;
            grid-row: 1;
            align-items: center !important;
            padding-block-end: unset !important;

            & .spacer {
                max-width: 20px !important;
            }
        }

        /* Right side */
        & .main-search {
            justify-content: center !important;
            display: grid !important;
            grid-column: 2;
            grid-row: 1;
            align-items: center !important;
            padding-block: 30px !important;

            & .search-label {
                display: none !important;
            }
        }
    }

    /* Stycky head Style in small width resolution */

    @media (max-width: 830px) {

        /* Remove header label */
        .main-heading>.header-name {
            display: none !important;
        }
    }
}

/* ________________________________________ only 'about:preferences' page _________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

/* Remove unwanted background from modal window */
@media (not (forced-colors)) {
    :root[dialogroot] {
        --background-color-canvas: transparent !important;
    }
}

@-moz-document url-prefix(about:preferences) {
    
    /* Background color for modal window */
    window, 
    dialog, 
    .dialogBox {
        --background-color-canvas: light-dark(#f9f9f9, #1a1a24) !important;
        border-color: var(--border-color) !important;
    }
    
    :root {
        --border-color-interactive: light-dark(var(--color-gray-50), var(--border-color)) !important;  /* border color for Picker items */
    }

    /* Combobox item roundness */
    menupopup {
        --menuitem-border-radius: 1px !important;
    }

    /* Tested in 'Privacy & Security' \
    ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
    /* Selected option */
    @media not (forced-colors) {
        .info-box-container.selected {
            background: radial-gradient( 70% 71.38% at 50% 99.62%,
                color-mix(in srgb, var(--button-smaller-bgcolor), transparent),
                transparent) !important;
            background-color: var(--background-color-box) !important;
        }
    }

    /* Box inside selected option */
    .highlighting-group {
        --section-highlight-background-color: var(--button-smaller-bgcolor) !important;
    }
    .privacy-detailedoption.selected .content-blocking-warning {
        border-color: var(--general-color) !important;
    }

    /* Not selected options */
    @media not (forced-colors) {
        .privacy-detailedoption {
            background-color: var(--button-background-color-menu) !important;
        }

        /* Not selected options when 'hover' */
        .info-box-container:not(.selected):hover {
            background: var(--my-gradient-background-hover) !important;
            background-color: var(--button-background-color-menu) !important;
        }
    }
}