/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media not (-moz-bool-pref:"firefoxgx.classic-sound-icon") {
    
    /* Favicon always visible */

    .tab-icon-image:not([sharing]),
    .tab-throbber {
        opacity: 1 !important; 
    }

    /* 'muted' & 'activemedia-blocked' icons hide in 'pinned' tabs */

    .tab-icon-overlay[pinned]:not(:hover) {
        opacity: 0 !important;
    }

    /* Remove audio label */

    .tab-secondary-label {
        display: none !important;
    }

    /* Favicon cropped in some situations */

    /* When a tab is using microfono... */
    .tab-icon-stack:not([crashed]):is([sharing][soundplaying]) {
        & :is(.tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay) {
            mask-image: url("../icons/tab_icon_masks.svg#SoundMask") !important;
        }
    }

    /* tab on hover, and when it is 'muted' or 'media blocked' */
    .tabbrowser-tab:hover {
        & .tab-icon-stack:not([crashed]):is([muted],[activemedia-blocked]) {
            & :is(.tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay) {
                mask-image: url("../icons/tab_icon_masks.svg#SoundMask") !important;
            }
        }
    }

    /* In 'pinned' tabs when sound playing */
    .tab-icon-stack[pinned]:not([crashed]):is([soundplaying]) {
        & :is(.tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay) {
            mask-image: url("../icons/tab_icon_masks.svg#SoundMask") !important;
        }
    }
    
    /* Move the tab label to make gap for the sound icon and give it a slight animation */

    .tab-throbber, .tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay, .tab-icon-overlay {
        #tabbrowser-tabs:is([orient="horizontal"], [orient="vertical"][expanded]) &:not([pinned]) {
            transition: margin-inline 200ms ease-in-out !important;
        }
    }
    
    /* Icons Styles */

    .tab-icon-overlay {
        &:not([crashed]) {
            /* Playing, Muted & blocked */
            &:is([soundplaying], [muted], [activemedia-blocked]) {
                background-size: 14px 14px !important;
                width: 14px !important;
                height: 14px !important;
                align-self: center !important;
                background-color: color-mix(in srgb, var(--contrast-color), transparent) !important;
            }
            /* Playing */
            &[soundplaying] {
                --tab-icon-end-margin: 22px !important; /* Rightmost tab label */
                background-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
                box-shadow: inset 0 0 0 1px var(--general-color), inset 0 0 0 0.1px var(--general-color) !important;
                inset-inline-end: -19px !important;
                justify-content: center !important;
                fill: var(--general-color)  !important;
                opacity: 1 !important;

                &:hover{
                    fill: var(--lwt-tab-text) !important;
                    box-shadow: inset 0 0 0 1px var(--lwt-tab-text), 0 0 0 0.1px var(--lwt-tab-text), 0 0 1px 1px var(--contrast-color) !important;
                    opacity: 0.9 !important;
                }
            }
            /* Muted & blocked */
            &:is([muted],[activemedia-blocked]) {
                /*--tab-icon-end-margin: 8px !important; /* Rightmost tab label */
                background-image: url("../icons/paused.svg") !important;
                fill: var(--lwt-tab-text) !important;
                top: -6px;  
                inset-inline-end: -7px !important;

                &:not([pinned]):hover{
                    background-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
                    box-shadow: inset 0 0 0 1px var(--lwt-tab-text), inset 0 0 0 0.1px var(--lwt-tab-text), 0 0 1px 1px var(--contrast-color) !important;
                }
            }
            /* Just Muted */
            &[muted] {
                background-image: url("../icons/paused.svg") !important;
            }
            /* Just blocked */
            &[activemedia-blocked]{
                background-image: url("../icons/blocked.svg") !important;
                box-shadow: none !important;
            }
            /* When sharing */
            &[sharing]{
                --tab-icon-end-margin: initial !important;
            }
        }
    }

    /* Opacity of mute icon */

    .tabbrowser-tab:hover {
        .tab-icon-overlay {
            &:not([crashed]) {
                &:is([muted],[activemedia-blocked]) {
                    opacity: 0.7 !important;

                    &:hover{
                        opacity: 1 !important;
                    }
                }
            }
        }
    }

    /* Unified styles for 'pinned' tabs */

    .tab-icon-overlay {
        &:not([indicator-replaces-favicon]) {
            &:is([soundplaying], [muted], [activemedia-blocked]) {
                height: 12px !important;
                width: 12px !important;
                top: -6px !important;
                inset-inline-end: -8px !important;
            }
        }
    }

    /* Hide [mute] icon when tab loads */

    .tabbrowser-tab[busy]:hover .tab-icon-overlay:not([pinned]), 
    .tabbrowser-tab[busy][pinned]:hover .tab-icon-overlay {
        opacity: 0 !important;
    }

    /* _____________ Some fixes for 'Sound icon' in 'vertical tabs'  */

    #tabbrowser-arrowscrollbox:is([orient="vertical"]) {

        /* Hide muted icon */
        & .tabbrowser-tab:not(:hover) .tab-icon-overlay:not([pinned]):is([muted]){
            opacity: 0 !important;
        }

        /* Hide favicon corner for 'playing' button */
        & .tabbrowser-tab .tab-icon-stack:not([crashed]):is([soundplaying]) :is(.tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay) {
            mask-image: url("../icons/tab_icon_masks.svg#SoundMask") !important;
        }

        /* Label margin reseted */
        & .tab-icon-overlay[soundplaying]:not([pinned]){
            --tab-icon-end-margin: 0px !important;
        }
    }
    
    /* Compatibilidad con compact mode */
    
    :root[uidensity="compact"] {        
        & .tab-icon-image{
            opacity: 1 !important;
        }
        
        & tab[muted]:hover .tab-icon-image{
            opacity: 1 !important;
        }
        
        & tab[muted]:not(:hover) .tab-icon-overlay{
            opacity: 0 !important;
        }
    }

    /* The 'rhythm animation' only works when you don't use 'tab-shapes' config 

    tab[soundplaying]:not([pinned]) .tab-background::before{
    content: "" !important; 
    display: block !important;
    position: absolute !important;
    }

    @media (prefers-color-scheme: dark){
    tab[soundplaying]:not([pinned]) .tab-background::before{
    background: url("../icons/Beats.webp") no-repeat left center !important;
    background-size: 22px 16px !important;
    width: 22px !important;
    height: 16px !important;
    margin-inline-start: 3px !important;
    margin-block-start: calc(var(--tab-height-personal)/2 - 1px)  !important;
    }}

    @media (prefers-color-scheme: light){
    tab[soundplaying]:not([pinned]) .tab-background::before{
    background: url("../icons/Beats.gif") repeat left center !important;
    background-size: 16px 16px !important;
    margin-inline-start: 3px !important;
    margin-block-start: calc(var(--tab-height-personal)/2 + 3px)  !important;
    width: 20px !important;
    height: 10px !important;
    }}*/
}

/* ________________________________________________ Classic Sound icon ________________________________________________*/

@media (-moz-bool-pref:"firefoxgx.classic-sound-icon") {

    /* 'muted' & 'activemedia-blocked' icons hide in 'pinned' tabs */
    
    .tab-icon-overlay[pinned]:not(:hover) {
        opacity: 0 !important;
    }
       
    /* Favicon hidden when hover in pinned tabs when playing-muted-blocked */
    
    .tabbrowser-tab[pinned]:is([soundplaying], [muted], [activemedia-blocked]):hover .tab-icon-image {
        opacity: 0 !important;
    }

    /* Remove audio label */

    .tab-secondary-label {
        display: none !important;
    }
    
    /* Compatibilidad con compact mode */
    
    :root[uidensity="compact"] {        
        & .tab-icon-image{
            opacity: 1 !important;
        }
        
        & tab[muted]:hover .tab-icon-image{
            opacity: 0 !important;
        }
        
        & tab[muted]:not(:hover) .tab-icon-overlay{
            opacity: 0 !important;
        }
    }

    .tab-icon-overlay {
        &:not([crashed]) {
            /* Playing, Muted & blocked */
            &:is([soundplaying], [muted], [activemedia-blocked]) {
                border-color: transparent !important;
                background-size: 16px 16px !important;
                background-color: transparent !important;
                padding: 0px !important;
                border-radius: 2px !important;
            }
        }
    }

    /* Icons Styles tab not 'hover' */

    .tabbrowser-tab:not(:hover) .tab-icon-overlay {
        &:not([crashed]) {
            /* Playing */
            &[soundplaying] {
                background-image: var(--my-beats-image) !important;
                width: 100% !important;
                background-size: 22px 16px !important;
                inset-block-start: calc(var(--tab-height-personal)/2 - 7px) !important; 
                inset-inline-start: -3px !important;
                opacity: 1 !important;
            }
            /* Playing in Pinned tab */
            &[soundplaying][pinned] {
                width: -moz-available !important;
                margin-inline: -3px !important;
                inset-inline-start: 0px !important;
            }
            &[sharing]{
                inset-inline-start: -2px !important;
            }
        }
    }

    /* Icons Styles tab is 'hover' */

    .tabbrowser-tab:is(:hover) .tab-icon-overlay {
        opacity: 1 !important;
        &:not([crashed]) {
            &:hover{
                outline: 1px solid var(--identity-icon-color, var(--general-color)) !important;
                border-radius: 1px !important;
            }
            /* Playing, Muted & blocked */
            &:is([soundplaying],[muted],[activemedia-blocked]) {
                background-color: var(--identity-icon-color, var(--general-color)) !important;
                fill: var(--contrast-color) !important;
            }
            /* Playing-Muted in Pinned tab */
            &:is([soundplaying],[muted],[activemedia-blocked])[pinned] {
                inset-block-start: initial !important;
                inset-inline: initial !important;
            }
            /* Muted */
            &[muted] {
                background-image: url("../icons/muted.svg") !important;
                fill: var(--lwt-tab-text) !important;
                background-color: transparent !important;
                &:hover{
                    background-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg") !important;
                    background-color: color-mix(in srgb, var(--button-bgcolor) 85%, white) !important;
                    outline-color: transparent !important;
                }
            }
            &[activemedia-blocked]{
                background-color: var(--lwt-tab-text) !important;
                &:hover{
                    background-color: var(--identity-icon-color, var(--general-color)) !important;
                }
            }
            /* When sharing */
            &[sharing]{
                border-radius: 2px !important;
                inset-block-start: initial !important;
                inset-inline: initial !important;
            }
        }
    }

    /* Playin 'beats' image for dark and light themes */

    @media (prefers-color-scheme: dark){
        .tabbrowser-tab:not(:hover):not([crashed]) .tab-icon-overlay:is([soundplaying]) {
            --my-beats-image: url("../icons/Beats.webp") !important;
        }
    }

    @media (prefers-color-scheme: light){
        .tabbrowser-tab:not(:hover):not([crashed]) .tab-icon-overlay:is([soundplaying]) {
            --my-beats-image: url("../icons/Beats.gif") !important;
            background-size: 16px 16px !important;
            inset-block-start: 13px !important; 
        }
    }

    /* Hide [mute] icon when tab loads */

    .tabbrowser-tab[busy]:hover .tab-icon-overlay:not([pinned]), 
    .tabbrowser-tab[busy][pinned]:hover .tab-icon-overlay {
        opacity: 0 !important;
    }

    /* ________________________________ Some fixes for 'Sound icon' in 'vertical tabs' ________________________________ */

    @media (-moz-bool-pref:"sidebar.verticalTabs") {

        /* Hide Muted & Blocked icon */
        & .tabbrowser-tab:not(:hover) .tab-icon-overlay:not([pinned]):is([muted],[activemedia-blocked]){
            opacity: 0 !important;
        }
        
        /* Hide favicon when 'hover' in a tab playing-muted-blocked */
        & .tabbrowser-tab:is([soundplaying], [muted], [activemedia-blocked]):hover .tab-icon-image {
            opacity: 0 !important;
        }
        
        /* PLaying 'beats' size fixed when sidebar is not expanded and when is expanded */

        .tabbrowser-tab:not(:hover) .tab-icon-overlay {
            &:not([crashed]) {
                /* Playing */
                &[soundplaying] {
                    width: 22px !important;
                    margin-inline: -3px !important;
                    inset-inline-start: 0px !important;
                }
            }
        }

        /* Correct sound icon position */

        .tab-icon-overlay {
            opacity: 1 !important;
            &:not([crashed]) {
                /* Playing, Muted & blocked */
                &:is([soundplaying],[muted],[activemedia-blocked]) {
                    inset-block-start: initial !important;
                    inset-inline: initial !important;
                }
            }
        }
    }
}