/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text.
   https://github.com/Godiesc/firefox-gx */

@media (prefers-color-scheme: dark){
 window, dialog {
     
    --color-accent-primary: var(--general-color) !important;
    --in-content-page-background: #1a1a24 !important;
    --in-content-primary-button-background: var(--general-color) !important;
    --in-content-primary-button-text-color: white !important;
    --in-content-primary-button-background-hover: var(--button-active-bgcolor) !important;      /* Radiobutton background color on 'hover' */
    --in-content-primary-button-background-active: var(--general-color) !important;             /* Radiobutton background color on 'clic' with 'check' */

    --in-content-box-background: #1f1f30  !important;
    --in-content-box-border-color: #4d4d68  !important;

    --in-content-button-background: var(--in-content-box-border-color) !important;              /* Button color */
    --in-content-button-background-hover: var(--general-color) !important;                      /* Button color on 'hover' */
    --in-content-button-background-active: var(--button-hover-bgcolor) !important;              /* Button color on 'click' */
            }}

@media (prefers-color-scheme: light){
 window, dialog {
    --color-accent-primary: var(--general-color) !important;
    --in-content-page-background: #f9f9f9 !important;
    --in-content-primary-button-background: var(--general-color) !important;
    --in-content-primary-button-text-color: white !important;
    --in-content-primary-button-background-hover: var(--button-active-bgcolor) !important;      /* Radiobutton background color on 'hover' */
    --in-content-primary-button-background-active: var(--general-color) !important;             /* Radiobutton background color on 'clic' with 'check' */

    --in-content-box-background: #bababa  !important;
    --in-content-box-border-color: #aeaeae  !important;

    --in-content-button-background: var(--in-content-box-border-color) !important;              /* Button color */
    --in-content-button-background-hover: var(--button-active-bgcolor) !important;              /* Button color on 'hover' */
    --in-content-button-background-active: var(--button-hover-bgcolor) !important;              /* Button color on 'click' */
    --in-content-button-text-color: black !important;
    }}

:root { 
    --color-accent-primary: var(--general-color) !important;                                    /* Main Accent color */
    --color-accent-primary-hover: var(--button-hover-personal) !important;
    --color-accent-primary-active: var(--button-active-bgcolor) !important;
    
    --in-content-text-color: var(--contrast-color) !important;                                  /* General 'text' color */
    --in-content-page-color: var(--contrast-color) !important;                                  /* Other general 'text' color */
    --in-content-primary-button-text-color: var(--contrast-color) !important;                   /* Another general 'text' color */
    
    --in-content-box-background-odd: color-mix(in srgb,                                         /* Color distinction between rows in a 'table' and 'search shortcuts' */
      var(--in-content-box-border-color), transparent) !important;     
    --in-content-box-info-background: var(--in-content-box-background-odd) !important;          /* Background color of the box of items that sync */
    --section-highlight-background-color: var(--in-content-box-info-background) !important;
    
    --in-content-border-color: var(--in-content-box-border-color) !important;                   /* Separator line in configuration */
    --in-content-table-border-color: var(--in-content-box-border-color) !important;             /* table border color */
    
    --in-content-table-background: var(--in-content-page-background) !important;                /* Background color of 'about:support' tables */
    
    --card-outline-color: var(--general-color) !important;                                      /* outline color in 'themes' and 'extensions' */
    --card-shadow-hover: var(--card-shadow), 0 0 0 5px var(--card-outline-color) !important;    /* outline color in 'themes' and 'extensions' on 'hover' */
    
    --in-content-item-hover: var(--button-active-bgcolor) !important;                           /* Combobox background color on 'hover' */
    --in-content-item-hover-text: var(--in-content-text-color) !important;                      /* Combobox text color on 'hover' */
    --in-content-item-selected: var(--general-color) !important;                                /* Combobox background color on 'hover' (arrow keys) */
    --in-content-item-selected-text:  var(--in-content-text-color) !important;                  /* Combobox text color on 'hover' (arrow keys) */
    
    --in-content-button-background: var(--in-content-border-color) !important;                  /* Button color */
    --in-content-button-background-hover: var(--button-active-bgcolor) !important;              /* Button color on 'hover' */
    --in-content-button-background-active: var(--general-color) !important;                     /* Button color on 'click' */
    
    --in-content-primary-button-background: var(--general-color) !important;                    /* Primary button color */
    --in-content-primary-button-background-hover: var(--button-hover-bgcolor) !important;       /* Primary button color on 'hover' */
    --in-content-primary-button-background-active: var(--button-active-bgcolor) !important;     /* Primary button color on 'active' */
    
    --link-color: var(--general-color) !important;                                              /* Links color */
    --link-color-hover: var(--blue) !important;                                                 /* Links color on 'hover' */
    --link-color-active: var(--purple) !important;                                              /* Links color on 'active' */
    --link-color-visited: var(--general-color) !important;                                      /* Links color on 'visited' */
    
    --background-color-information: light-dark(var(--button-bgcolor), var(--button-bgcolor)) !important;
    
    --gradiente-casual: linear-gradient(to right,                                               /* Personal gradient for 'about:preferences' */
      var(--in-content-box-border-color) 90%, transparent ) !important;
}

/* Various colors for about:addons and about:settings pages */

@media (prefers-color-scheme: dark){
    :root {
        --contrast-color: #ffffff !important;                                                   /* Contrast background color */
        --border-contrast-color: #000000 !important;                                            /* Contrast border color */
        --in-content-page-background: #121018 !important;                                       /* Bakground color */

        --in-content-box-background: #15151e !important;                                        /* Color of textboxes and background of drop-down menus */
        --in-content-box-border-color: #272b37 !important;                                      /* Textbox border color */
    }}

@media (prefers-color-scheme: light){
    :root{
        --contrast-color: #000000 !important;                                                   /* Contrast background color */
        --border-contrast-color: #ffffff !important;                                            /* Contrast border color */
        --in-content-page-background: #f9f9f9 !important;                                       /* Bakground color */

        --in-content-box-background: #f9f9fb !important;                                        /* Color of textboxes and background of drop-down menus */
        --in-content-box-border-color: #d4cfe7 !important;                                      /* Textbox border color */

        --in-content-button-text-color-hover: white !important;                                 /* Color of letters in buttons on 'hover' */
    }}

/* _____________________________________ Various colors of the 'Add-ons' and 'Preferences' interface _____________________________________ */

@-moz-document  
    url-prefix(about:preferences), url-prefix(about:addons), url-prefix(about:support), 
    url-prefix(about:profiles) , url-prefix(about:debugging), url-prefix(about:welcome){
        
:root{
    --opaque: color-mix(in srgb, var(--in-content-page-background) 50%, transparent) !important;
}
        
/* Informative messages */
        
.discopane-notice{
    --message-bar-background-color: var(--button-bgcolor) !important;
    --message-bar-border-color: var(--button-active-bgcolor) !important;
}
        
/* Toggle button */
        
.toggle-button[aria-pressed="true"]:enabled {
  background: var(--button-active-bgcolor) !important;
}
        
.toggle-button[aria-pressed="true"]:enabled:hover {
  background: var(--button-hover-bgcolor) !important;
}

/* 'More options' button */        
                    
.more-options-button {
    background-color: color-mix( in srgb, var(--in-content-border-color) 96%, var(--in-content-text-color))  !important;
    border-color: color-mix( in srgb, var(--in-content-border-color) 96%, var(--in-content-text-color))  !important;
}

button:hover:not(.toggle-button) {
    background-color: var(--button-active-bgcolor) !important;
    color: #fafafa !important;
    border-color: transparent !important;
}
        
/* Checkbox */
        
checkbox:not(:hover) .checkbox-check:not([checked="true"]) {
    appearance: none !important;
    border: 2px solid color-mix(in srgb, var(--gray) 20%, transparent) !important;
    background: var(--opaque) !important;
    border-radius: 2px !important;
}
        
checkbox:hover .checkbox-check:not([checked="true"]) {
    appearance: none !important; 
    border: 2px solid color-mix(in srgb, var(--gray) 60%, transparent) !important;
    background: var(--opaque) !important;
    border-radius: 2px !important;
}
        
/* Default Highlighted Buttons Color */
        
button.primary {
    background-color: var(--button-active-bgcolor) !important;
    color: white !important;
    border-color: transparent !important;
}
        
button.primary:hover {
    background-color: var(--general-color) !important;
    color: #eaeaea !important;
}

/* Main menu - left side */
        
#categories{
    margin: 70px 15px 0 -18px !important; 
    background-color: transparent !important;
}
        
#categories > .category{
    background-color: transparent !important;
    color: color-mix(in srgb, var(--in-content-text-color)76%, transparent) !important;
}
        
#categories > .category .category-name {
    text-decoration: 1px underline transparent !important;
    text-underline-offset: 4px !important; 
        }
        
#categories > .category:hover .category-name {
    background-color: transparent !important;
    color: var(--in-content-text-color) !important;
    text-decoration: 1px underline var(--in-content-text-color) !important;
    text-underline-offset: 4px !important; 
    border-color: transparent !important;
}
        
.category .category-name {
    font-weight: bold !important;
    font-size: 0.9em !important;
}
        
#categories > .category[selected] , #categories > .category[selected] > .category-name {
    background-color: transparent !important;
    color: color-mix(in srgb, var(--general-color) 90%, var(--in-content-text-color)) !important;
}
        
#categories > .category[selected]:hover{
    color: var(--general-color) !important; 
}
        
#categories > .category[selected]:hover > .category-name{
    background-color: transparent;
    color: var(--general-color) !important;
    text-decoration: 1px underline var(--general-color)!important;
    text-underline-offset: 4px !important; 
}

.sidebar-footer-list {
    margin-inline: 4px !important;
}

/* Rows and columns in 'about:support' */
        
th.column{
    background-color: var(--in-content-box-info-background)  !important;
    color: var(--in-content-text-color) !important; 
}
        
td { border-color: var(--in-content-table-border-color) !important; }
        
th { background-color: var(--button-active-bgcolor) !important; color: white !important; }
        
panel-list {
    background: var(--in-content-button-background) !important;}

@media (prefers-color-scheme: dark){
    /* Pop-up window color in 'settings' */
        .dialogBox {--in-content-page-background: #1a1a24 !important;}}
        
@media (prefers-color-scheme: light){
    /* Pop-up window color in 'settings' */
        .dialogBox {--in-content-page-background: #f9f9f9 !important;}}

/* 'Separator line' gradient in 'settings' */
        
.subcategory:not([hidden]) ~ .subcategory {
    border-image: var(--panel-separator-zap-gradient1) 1 !important; }

/* Background and border color of elements in about:addons */
        
.card[active="true"]{
    background-color: color-mix(in srgb, var(--in-content-box-background)96%, white) !important;
    outline-color: transparent !important;
}

.card[active="true"]:not(:hover){
    box-shadow: 0 0 0 1px var(--in-content-border-color) !important;
}        
        
.card, .card[active="false"]{
    outline: 1px solid color-mix(in srgb, var(--in-content-box-border-color) 60%, transparent) !important; 
}

.card[active="false"]:hover{
    outline-color: var(--in-content-border-hover) !important; 
    box-shadow:none !important; 
}
        
.addon.card:hover{
    border-color: transparent !important;
}
        
addon-card[expanded] .addon.card {
    margin-top: 6px !important;
    outline-color: var(--general-color) !important;
    outline-width: 2px !important;
    outline-offset: 1px !important;
}
        
#sidebar, .navigation, .sticky-container{
    background-color: var(--opaque) !important;
}
        
.navigation, #sidebar{ 
    border-right: 1px solid var(--in-content-box-border-color) !important;
}
        
.sticky-container{
    border-bottom: 1px solid var(--in-content-box-border-color) !important;
    box-shadow: 3px 3px 10px var(--in-content-page-background) !important;
}
        
#main{
    margin-inline: 7% !important;
}
        
.main-search .search-label {
    display: none !important;
}

.main-search {
    background: transparent !important;
    max-width: 100% !important;
    padding: 20px 20px !important;
}
        
.main-heading {
    background: transparent !important;
    margin-top: -52px !important;
    margin-bottom: 4px !important;
    min-width: 50% !important;
    background-color: transparent !important;
}
        
.main-heading .spacer {
    max-width: 20px !important;
}

/* Search-box in about:preferences */
        
#policies-container, #searchInput {
    min-height: 32px; 
    border-radius: 16px !important;
    margin: 20px 70px 20px !important; 
}
        
#policies-container:hover, #searchInput:hover {
    border-color: var(--general-color) !important;
}
        
.privacy-detailedoption.selected .content-blocking-warning {  background-color: color-mix(in srgb, var(--in-content-box-background), transparent) !important; }
        
.privacy-detailedoption.selected .content-blocking-warning {  border-color: var(--in-content-border-hover) !important; }
        
.privacy-detailedoption.selected {
    background-color: var(--in-content-border-color) !important;
    border-color: var(--in-content-border-color) !important;
}
        
.privacy-detailedoption {
  background-color: var(--in-content-box-background) !important;
}
        
search-addons > search-textbox { border-radius: 16px !important; }
        
search-addons > search-textbox:hover { border-color: var(--general-color) !important; }
        
search-addons > search-textbox[focused] {
    border-color: var(--general-color) !important;
    outline: 2px solid var(--general-color) !important; 
}

#searchInput[focused]{ 
    outline: 2px solid var(--general-color) !important; 
}

/* Various smooth transitions */
        
button, menulist, treecol, .sidebar-footer-link{
    transition: background-color 0.2s ease !important;
}
        
search-textbox{
    transition: border 0.2s ease !important;
}
        
#categories > .category .category-name{
    transition: all 0.1s ease !important;
}
        
/* Wallpaper */

body,.sticky-container{
    --bg: linear-gradient(var(--opaque), var(--opaque)),
                          var(--lwt-main-image);
    background-image: var(--bg) !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    }
        
body, .sticky-container{
    background-image: linear-gradient(var(--opaque), var(--opaque)),
                      var(--bg) !important;
    }
        
/* ________________ Wallpaper when using with 'Main-image' config ________________ */
        
@media (-moz-bool-pref:"firefoxgx.main-image") {
    
#sidebar, .navigation, .sticky-container{    
    background-color: transparent !important;
}
    
body,.sticky-container{
    --opaque: color-mix(in srgb, var(--border-contrast-color), transparent) !important;
    background-image: var(--bg) !important;
    background-repeat: repeat-x, var(--lwt-background-tiling), no-repeat !important;
    background-size: calc(100% + var(--my-vertical-toolbar-width, 0px) + var(--extension-width, 0px)) !important;
    background-attachment: fixed !important;
    background-position-x: right !important;
    background-position-y: var(--background-align-y, 0px) !important;
    }
    
body::before/*,.sticky-container::before/**/{
    
    --bg: linear-gradient(to bottom, transparent, var(--opaque));
        position: fixed;
        content: "";
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bg) !important;
        pointer-events: none;
    
    }
        }
/* ______________________________________________________________________________ */
}

@-moz-document url-prefix(about:preferences){
    
 #mainPrefPane{
     padding-top: 20px !important; 
     width: 100% !important; 
}
    
.pane-container {
    margin-inline-start: 50px !important; margin-inline-end: 50px !important;
}

.sticky-container {
    width: 125% !important;
    margin-left: -98px !important;
    border-bottom: 1px solid transparent !important;
    border-image: var(--gradiente-casual) 1 !important;
    box-shadow: -17px 3px 17px #0000006a !important;
    }
}
