/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/* Favicon siempre visible */

.tab-icon-image, .tab-throbber { opacity: 1 !important; }
    
/* Secondary audio label ain't much use with this style. */

.tab-secondary-label{ display: none !important; }

/* Reproduciendo */

.tab-icon-overlay[soundplaying]:not([pinned]){
    list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
    opacity: 1 !important;
    fill: var(--general-color)  !important;
    background: color-mix(in srgb, var(--contrast-color), transparent) !important;
    border-radius: 50% !important;
    padding: 0px !important;
    left: 20px !important;
    fill-opacity: 1 !important;
    z-index: 1 !important;
    }

/* Reproduciendo hover */

tab:not([pinned]) .tab-icon-overlay[soundplaying]:hover {
    /*list-style-image: url("../icons/paused.svg") !important;*/
    /*clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%) !important;*/
    fill: var(--lwt-tab-text) !important;
    background-color: color-mix(in srgb, var(--toolbar-bgcolor), transparent) !important;
    fill-opacity: 1 !important;
    opacity: 0.8 !important;
    }

/* Compartiendo microfono y cámara */

.tab-icon-overlay[soundplaying]:not([crashed]):is([sharing]) {
      top: 0px !important; stroke: transparent !important; background-color: transparent !important;  
    }

tab:hover .tab-icon-overlay:not([crashed],[muted]):is([sharing]) {
      top: 0px !important; 
      stroke: transparent !important; 
      width: 16px !important; 
      height: 16px !important;
    }
tab:hover .tab-icon-image:is([sharing]) {opacity: 1 !important; }
    
/* ------------------------------------ muteado -----------------------------------*/

tab:hover .tab-icon-overlay:not([pinned], :hover):is([muted]), tab:hover .tab-icon-overlay:not(:hover):is([muted][pinned]){
    opacity: 0.7 !important;
    }

.tab-icon-overlay:not([pinned]):is([muted]){
    list-style-image: url("../icons/paused.svg") !important;
    top: -5px;  left: 7px !important; border-radius: 50% !important;
    height: 14px !important;
    width: 14px !important;
    color: var(--lwt-tab-text) !important;
    background-color: transparent !important;
    stroke: transparent !important;
    padding: 0 !important;
    }

/* Muteado hover */

.tab-icon-overlay:not([pinned])[muted]:hover {
    border-radius: 50% !important;
    list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
    fill: var(--lwt-tab-text) !important;
    opacity: 1 !important;
    }

/* Favicon de pestañas recortado para mostrar mejor el ícono de silenciado */

tab:hover .tab-icon-stack:not([crashed]):is([muted], [activemedia-blocked]) :is(.tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay) {
    mask-image: url("../icons/tab_icon_masks.svg#SoundMask") !important;
    }

/* Audio bloqueado */

.tab-icon-overlay:not([pinned]):is([activemedia-blocked]), .tab-icon-overlay:is([pinned]):is([activemedia-blocked]){
    list-style-image: url("../icons/blocked.svg") !important;
    top: -6px;  left: 7px !important; border-radius: 2px !important;
    height: 14px !important;
    width: 14px !important;
    color: var(--toolbarbutton-icon-fill) !important;
    background-color: transparent !important;
    stroke: transparent !important;
    padding: 0 !important;
    }

.tab-icon-overlay:not([pinned]):is([activemedia-blocked]):hover, .tab-icon-overlay:is([pinned]):is([activemedia-blocked]):hover{
    fill: var(--lwt-tab-text) !important;
    }

/* --------------------- Pinned Tabs ----------------------*/

.tab-icon-overlay[pinned] { opacity: 0 !important; }
tab:hover .tab-icon-overlay { opacity: 1 !important; }

.tab-icon-stack:not([crashed]):is([soundplaying])[pinned] :is(.tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay) {
    mask-image: url("../icons/tab_icon_masks.svg#SoundMask") !important;
    }
    
/* Reproduciendo pinned */   

.tab-icon-overlay:is([pinned])[soundplaying]{
    list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
    fill: var(--general-color) !important;
    stroke: transparent !important;
    height: 14px !important;
    width: 14px !important;
    left: 7px !important;
    padding: 0px !important;
    fill-opacity: 1 !important;
    opacity: 1 !important;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%) !important;
    }

/* Reproduciendo :hover pinned */

tab:is([pinned]) .tab-icon-overlay[soundplaying]:hover {
    /*list-style-image: url("../icons/muted.svg") !important;*/
    /*clip-path: polygon(20% 0%, 100% 0%, 100% 14%, 100% 100%, 100% 100%, 14% 100%, 0% 100%, 0% 20%);*/
    background: transparent  !important;
    fill: var(--lwt-tab-text) !important;
    border-radius: 2px !important;
    }

/* Muteado pinned */

tab:hover .tab-icon-overlay:is([pinned])[muted] { 
    opacity: 1 !important;
    height: 14px !important;
    width: 14px !important;
    top: -5px !important;
    left: 7px !important;
    color: var(--lwt-tab-text) !important;
    background-color: transparent !important;
    stroke: transparent !important;
    padding: 0px !important;
    }

.tab-icon-overlay:is([pinned])[muted]{
    list-style-image: url("../icons/paused.svg") !important;
    height: 14px !important;
    width: 14px !important;
    top: -5px !important;
    left: 13px !important;
    color: var(--toolbarbutton-icon-fill) !important;
    stroke: transparent !important;
    fill-opacity: 0.8 !important;
    }

/* Muteado pinned :hover */

tab:hover .tab-icon-overlay:is([pinned])[muted]:hover {
    list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
    border-radius: 50% !important;
    color: var(--lwt-tab-text) !important;
    fill-opacity: 1 !important;
    }

/* Ocultar ícono [muted] en pestaba <cargando> */

tab[busy] .tab-icon-overlay:not([pinned]):is([muted]), tab[busy][pinned] .tab-icon-overlay:is([muted]){
    opacity: 0 !important;
    }

tab[soundplaying]:not([pinned]) .tab-background::before{
        content: "" !important; 
        display: block !important;
        position: absolute !important;
    }

/* Beats animation 
    
    @media (prefers-color-scheme: dark){
        tab[soundplaying]:not([pinned]) .tab-background::before{
            background: url("../icons/Beats.webp") no-repeat left center !important;
            background-size: 22px 16px !important;
            width: 22px !important;
            height: 16px !important;
            margin-inline-start: 3px !important;
            margin-block-start: calc(var(--tab-height-personal)/2 - 1px)  !important;
    }}

    @media (prefers-color-scheme: light){
        tab[soundplaying]:not([pinned]) .tab-background::before{
            background: url("../icons/Beats.gif") repeat left center !important;
            background-size: 16px 16px !important;
            margin-inline-start: 3px !important;
            margin-block-start: calc(var(--tab-height-personal)/2 + 3px)  !important;
            width: 20px !important;
            height: 10px !important;
    }}*/
