/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/*"tab_line": "#126e82"*/
#tabbrowser-tabs { --lwt-tab-line-color: transparent !important; 
}
/*Color bolita de cargando página*/
#tabbrowser-tabs{ 
    --tab-loading-fill: var(--identity-tab-color, var(--general-color)) !important;
}
/* Espacio top en ventana no maximizada */
:root[tabsintitlebar][sizemode="normal"]{
    --windowed-top-padding: 8px;
}
:root[tabsintitlebar][sizemode="normal"] #TabsToolbar{
  padding-block-start: var(--windowed-top-padding, 0px) !important;
}
/* Firefox view icon */
#firefox-view-button{ list-style-image: url("../images/firefoxview-close.svg") !important; }
#firefox-view-button[aria-pressed="true"] { list-style-image: url("../images/firefoxview-open.svg") !important; }

toolbar:is(#TabsToolbar) #firefox-view-button{ margin-left: 2px !important; }
toolbar:is(#TabsToolbar) #firefox-view-button:hover .toolbarbutton-icon{
    background-color: color-mix(in srgb, var(--general-color) 25%, transparent)  !important;
    fill: var(--general-color) !important;
}
:root:not([privatebrowsingmode="temporary"]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs, :root[privatebrowsingmode="temporary"] :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
  border-inline-start: 0px solid transparent !important;
}
toolbar:is(#TabsToolbar) #firefox-view-button .toolbarbutton-icon{
    border-radius: 4px !important;
    margin: -2px !important;
    height: calc(var(--tab-height-personal) - 6px) !important;
    width: calc(var(--tab-height-personal) - 6px) !important;
    padding: 4px !important;
}
toolbar:is(#TabsToolbar, #PersonalToolbar) #firefox-view-button[aria-pressed="true"] .toolbarbutton-icon{
    outline: none !important;
    border-radius: 3px !important;
    margin: -2px !important;
    background: var(--button-hover-bgcolor) !important;
    fill: var(--lwt-tab-text) !important;
}
 toolbar #firefox-view-button[aria-pressed="true"] .toolbarbutton-icon{
    background: var(--button-hover-bgcolor) !important;
    fill: var(--lwt-tab-text) !important;
}
/*--------------Pestaña activa---------------*/
.tab-stack, .tab-background { 
    clip-path: polygon(5px 0%, 200% 0%, 0% 200%, 0% 5px);
    border-radius: var(--tab-border-radius) !important;
}
.tab-stack { margin-top: var(--tab-block-margin) !important; }

.tabbrowser-tab[selected="true"] .tab-stack { 
    background: var(--gradient) !important; 
}
.tab-background{ 
    height: var(--tab-min-height) !important; 
    margin-left: 1px !important; 
    margin-right: 1px !important; 
    margin-top: 1px !important; 
}
/* Borde entre pestañas */
.tabbrowser-tab { 
    padding-left: 0px !important; 
    padding-right: 2px !important;
}
/* Indispensable para mantener alineado el contenido de las pestañas */
.tab-content { height: var(--tab-min-height) !important; margin-left: -1px !important;}
.tab-content:is([pinned]){margin-left: 0px !important; }
:root[tabsintitlebar][sizemode="normal"] .tab-content {padding-bottom:  var(--tab-block-margin) !important; }

/*Color :hover de las pestañas no seleccionadas*/
.tabbrowser-tab:not([selected="true"], [multiselected]):hover > .tab-stack > .tab-background:not([selected="true"], [multiselected]){
    background-color: transparent  !important; 
}
.tabbrowser-tab:not([selected="true"], [multiselected]):hover .tab-stack{
    background-color: color-mix(in srgb, var(--general-color) 25%, transparent)  !important;
    z-index: 2 !important;
}
:root[lwtheme-image] .tabbrowser-tab:not([selected="true"], [multiselected]):hover .tab-stack{
    background-color: color-mix(in srgb, var(--general-color) 25%, transparent)  !important;
}
:root[style*="--lwt-additional-images"] .tabbrowser-tab:not([selected="true"], [multiselected]):hover .tab-stack{
    background-color: color-mix(in srgb, var(--general-color) 25%, transparent)  !important;
}
/*Regla para visualizar mejor el seleccionar varias pestañas*/
.tab-background[multiselected]:not([selected="true"]), tab-background:is([multiselected]):not([selected="true"]) .tab-stack {
    margin-inline: 0px 0px !important; 
    background: var(--button-hover-bgcolor) !important; 
    outline: none !important;  
    margin-block: 0px !important;
}
.tab-background[multiselected][selected="true"] hbox{
    background: var(--general-color) !important;
}
/*"toolbar_top_separator": "#17161c"*/
#navigator-toolbox{
    --tabs-border-color: transparent !important; 
    --lwt-tabs-border-color: transparent !important;
}
#nav-bar{    
    border-image: var(--panel-separator-zap-gradient2) 1 !important; 
    margin-top: -1px !important;
    padding-top: 1px !important;
    border-top: 1px solid var(--toolbar-bgcolor) !important;    
    padding-bottom: 1px !important;
}
/*Centrar botón "Open Newtab"*/
#tabs-newtab-button, #TabsToolbar #new-tab-button {       
    fill: var(--general-color) !important;
    padding-left: 2px !important;
    max-height: var(--tab-min-height) !important;
    min-height: var(--tab-min-height) !important;    
}
#tabs-newtab-button image{
    padding: 3px !important; height: 22px !important; width: 22px !important; border-radius: 2px !important;
}
#tabs-newtab-button:hover .toolbarbutton-icon {
    background: color-mix(in srgb, var(--general-color) 25%, transparent)  !important;
}
/*favicon de pagina newtab*/
.tab-icon-image[src="chrome://branding/content/icon32.png"] {
  content: url("../images/foxlogofavicon.svg");
  fill: var(--identity-icon-color, var(--general-color)) !important;
}
/*"Medidas menores para scroll de pestañas"*/
#tabbrowser-tabs{ --uc-tabs-scrollbutton-border: 0px !important; }
#scrollbutton-up, #scrollbutton-down{ border-block-width: var(--uc-tabs-scrollbutton-border,0px) !important; 
}
/* botón >> ALL tabs */
#alltabs-button:is(:hover, [open]) {
    fill: var(--general-color) !important;}
.all-tabs-item { margin-inline: 0px !important; }
.all-tabs-item:hover { background-color: transparent !important;
}
/* Color hover the íconos en la tab-bar */
#TabsToolbar .toolbarbutton-1:hover {
    fill: var(--general-color) !important;
}
/* Tamaño horizontal pestañas*/
.tabbrowser-tab[fadein]:not([style^="max-width"]){ max-width: 200px !important; 
}
/* Reduce spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0px !important;
}
/* Eliminar espacio de arrastre - izquierda*/
.titlebar-spacer[type="pre-tabs"]{
    display: none !important
}
/* Sombra label de pestañas - sombra de pestaña*/
.tab-label{ text-shadow: none !important;
}
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon, #tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
  box-shadow: none !important;
}
/* Color y posición "dot" de pestaña que necesita atención */
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  background-image: radial-gradient(circle, var(--general-color), var(--general-color) 2px, transparent 2px) !important;
  background-position: center top calc(0px + var(--tabs-navbar-shadow-size)) !important;
}
/* Mantener una imagen al mover pestaña en temas con imagenes - still needs fix */
:root[lwtheme-image] #tabbrowser-tabs:is([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]:-moz-lwtheme{
   background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent), var(--lwt-selected-tab-background-color, transparent)),
   linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, none) !important;
   background-position: left bottom !important;
   background-repeat:  no-repeat !important;
   background-size:  inherit !important;  
}

/* --------------------- config to themes that have :root[style*="--lwt-additional-images"] ---------------------------
   ------------------------------------------ Compatibilidad parcial -------------------------------------------------- */
:root[style*="--lwt-additional-images"] #tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected="false"],
:root[style*="--lwt-additional-images"] #tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"],
:root[style*="--lwt-additional-images"] #tabbrowser-tabs:is([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]{
   background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
    linear-gradient(transparent, transparent), var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
   background-position: right top !important;
   background-repeat:  repeat !important;
   background-size:  auto auto !important;  
}
/* Mantener una imagen al mover pestaña en temas con imagenes - still needs fix */
:root[style*="--lwt-additional-images"] #tabbrowser-tabs:is([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]:-moz-lwtheme{
   background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent), var(--lwt-selected-tab-background-color, transparent)),
   linear-gradient(transparent, transparent), var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
   background-position: left center !important;
   background-repeat:  no-repeat !important;
   background-size:  inherit !important;  
}

/* ------------------------ config to MacOS ---------------------------
   ------------- partial compatibility to window Controls ----------*/

@media (-moz-platform: macos) { 
    
#TabsToolbar{
  padding-block-start: 6px !important;
   }
#tabbrowser-tabs{
  padding-inline-start: 10px !important;
   }
    
}
