/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/* Arrowpanel, popup menus & panels styles */

:is(menupopup, panel):where([type="arrow"]) {
    --my-background-image-popup: radial-gradient( 100% 91.38% at 50% 99.62%,
                           color-mix(in srgb, var(--general-color) 10%, transparent) 0%,
                           var(--arrowpanel-background));
    --panel-background: var(--my-background-image-popup), var(--noise-urlbar-personal),
                        var(--noise-urlbar-personal) , var(--arrowpanel-background) !important;
    --panel-border-color: var(--arrowpanel-border-color) !important;
}

panel {
    --panel-shadow: 0 0 0 1px var(--contrast-color) !important;
    
    @media (prefers-color-scheme: light) {
        --contrast-color: var(--border-contrast-color) !important;
    }
}

/* Remove unwanted style for radiobutton */

.toggle-button {
    --toggle-dot-background-color-on-pressed: var(--arrowpanel-background) !important;
}

/* Alignment of popups [Open] */

.panel-no-padding[type="arrow"] {
    margin-block: calc(-1 * var(--panel-shadow-margin) + 1px) !important;
    margin-inline: -4px !important;
}

/* Gradient border around popups -&- border color in popups like bookmark */

:is(menupopup, panel):where([type="arrow"]) {
    position: relative;  /* Needed for round gradient border ¯¯v */
}

:is(menupopup, panel):where([type="arrow"])::after {
    content: "";
    position: absolute;
    inset: calc(var(--panel-shadow-margin) + 0px);
    border-radius: var(--arrowpanel-border-radius);
    padding: 1px;
    background-position: center center !important;
    background: radial-gradient(ellipse at center, var(--button-hover-bgcolor), transparent);
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
    pointer-events: none !important;
}

/* Margin bottom last item of popups */

.panel-subview-footer-button {
    --arrowpanel-menuitem-margin-inline: 4px !important;
}

/* Gradient background color when :hover over different items in the main menus */

.protections-popup-category:not(#appMenu-popup toolbarbutton,[disabled]):hover, .protections-popup-footer-button:not(#appMenu-popup toolbarbutton):hover, 
#protections-popup-show-report-stack:not(#appMenu-popup toolbarbutton):hover > .protections-popup-footer-button:not(#appMenu-popup toolbarbutton), 
panelview .toolbarbutton-1:not([disabled], [open]:not(#appMenu-popup toolbarbutton)):is(:hover), toolbarbutton.subviewbutton:not([disabled], [open], 
.subviewbutton-back):is(:hover), .navigable.subviewbutton:not([disabled], [open]):is(:hover), menu.subviewbutton:not([disabled])[_moz-menuhover], 
menuitem.subviewbutton:not([disabled])[_moz-menuhover], .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):is(:hover), 
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled], [open]):is(:hover),
#downloadsListBox > richlistitem[state="1"][exists].hoveringMainArea:hover {
    background: var(--panel-separator-zap-gradient3) !important;
    color: var(--arrowpanel-color, var(--tab-selected-textcolor)) !important;
}

/* Background color when clicking on different items in the main menus */

.protections-popup-category:active:not([disabled]), .protections-popup-footer-button:active, #protections-popup-show-report-stack:active > .protections-popup-footer-button, 
panelview .toolbarbutton-1:not([disabled]):is(:active, [open]), toolbarbutton.subviewbutton:not([disabled], .subviewbutton-back):is(:active, [open]), 
.navigable.subviewbutton:not([disabled]):is(:active, [open]), menu.subviewbutton:not([disabled])[_moz-menuactive], .panel-banner-item:hover, 
menuitem.subviewbutton:not([disabled])[_moz-menuactive], .widget-overflow-list .toolbarbutton-1:not([disabled]):is(:active, [open]), 
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled]):is(:active, [open]),
#downloadsListBox > richlistitem[state="1"][exists].hoveringMainArea:active {
    background: var(--panel-separator-zap-gradient4) !important;
}

/* Colors on disabled items */

.subviewbutton:is([disabled]), .subviewbutton:where([disabled="true"]):hover {       
    -moz-context-properties: fill;
    color: color-mix(in srgb, var(--arrowpanel-color)70%, transparent) !important;
    fill:  color-mix(in srgb, var(--arrowpanel-color)70%, transparent) !important;
}

/* Gradient line - separators */

toolbarseparator {
    border-image: var(--panel-separator-zap-gradient2) 1 !important;
    margin-inline: 6px !important;
}

#PlacesToolbar menupopup[placespopup] menuseparator {
    margin-inline: 4px !important;
}

/* Label color  'learn more about' */

toolbar .text-link:hover, panel .text-link:hover {
    color: var(--general-color) !important;
}

/* Separator line into Firefox Sidebar items */

treechildren::-moz-tree-separator {
    border-bottom: none !important;
}

/* 'Monitor' and 'Relay' items from account dropdown menu */

#PanelUI-fxa-menu .fxa-cta-button {
    margin-inline: 0 !important;
    padding-inline-start: var(--margin-left-icons-personal, 0px) !important;
}

/* 'back' button */

.panel-header {
    --button-background-color-ghost-hover: var(--button-hover-bgcolor) !important;
    --button-background-color-ghost-active: var(--button-active-bgcolor) !important;
    --arrowpanel-menuitem-border-radius: 3px !important;
    --arrowpanel-header-back-icon-padding: 6px 6px 6px 4px !important; 
}

/* bug fix for Background-color when :hover on zoom buttons */

.PanelUI-subView .toolbaritem-combined-buttons > .subviewbutton:is(:hover, :hover:active):not([disabled]) {
    background: transparent !important;
}

/* _____________________ Sidebar-box ____________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

.sidebar-panel[lwt-sidebar] {
    --lwt-sidebar-background-color: transparent !important;
}

/*
@media not (-moz-pref("firefoxgx.verticalTabs-expandOnHover") and -moz-pref("firefoxgx.tree-tabs")) {
   #sidebar {
        background-color: var(--toolbar-bgcolor) !important;
    }
}/**/

/* Apply background but not in tree-tabs extension to solve bug 'gradient-line don't display' */

:root:has(#sidebar-box:not(
[sidebarcommand*="tabcenter"],
[sidebarcommand*="treestyletab"],
[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"])) #sidebar {
    background-color: var(--toolbar-bgcolor) !important;
}

#sidebar-header {
    background-color: var(--lwt-sidebar-background-color) !important;
    box-shadow: 0px -1px 0 0 var(--my-content-border-color) !important;
    padding: 4px 6px !important;

    & toolbarbutton:is(:hover, [open]) {
        background-color: var(--toolbarbutton-hover-personal) !important;
    }
}

/* Remove limit when resizing 'Firefox sidebar' */

#sidebar-box {
    max-width: none !important;
    min-width: 1px !important;

    /* Add border top to web content when sidebar is 'open' */
    &[checked="true"] ~ #tabbrowser-tabbox {
        box-shadow: 0 0 0 1px var(--my-content-border-color) !important;
    }
}

/* Splitter */

.sidebar-splitter {
    @media -moz-pref("sidebar.revamp") or (not (-moz-platform: linux)) {
        --sidebar-border-color: transparent !important;
    }
    
    /* Spliter style on Linux */
    @media (not -moz-pref("sidebar.revamp")) and (-moz-platform: linux) {
        background-color: var(--sidebar-border-color) !important;
        min-width: 1px !important;
        border-width: 0px !important;
    }
}

@media -moz-pref("sidebar.revamp") {
    @media (-moz-overlay-scrollbars) {
        .sidebar-splitter {
            --splitter-width: 4px !important;
        }
    }
    
    /* Remove unwanted margin when sidebar-box is on right */
    #sidebar-box[sidebar-positionend] {
        margin-inline-start: 0px !important;
    }
}