/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media -moz-pref("firefoxgx.main-image") {

   @media (prefers-color-scheme: dark){
      :root[brighttext],
      :root[lwt-toolbar-field-focus-brighttext],
      :root[lwtheme],
      :root:not([lwtheme]){
         --toolbar-bgcolor: color-mix(in srgb, var(--contrast-color), transparent var(--brightness-wallpaper)) !important;
         --toolbar-field-background-color: transparent !important;                                                    /* toolbar_field */
         --toolbar-field-border-color: transparent !important;                                                        /* toolbar_field_border */
         --lwt-selected-tab-background-color: #10101900 !important;                                                   /* tab_selected */
         --toolbarbutton-hover-background:  color-mix(in srgb, 
            transparent 90%, color-mix(in srgb, var(--my-font-color) 50%, var(--general-color))) !important;            /* button_background_hover */
         --toolbarbutton-hover-personal:  var(--toolbarbutton-hover-background) !important;                           /* Button :hover color personal */
         /*--lwt-sidebar-background-color: #101019 !important;                                                          /* Sidebar-background */
         /*--chrome-content-separator-color: var(--toolbar-bgcolor) !important                                          /* toolbar_bottom_separator */
      }}

   @media (prefers-color-scheme: light){
      :root:not([lwtheme-brighttext="true"]),
      :root:not([lwt-toolbar-field-focus-brighttext]),
      :root[lwtheme],
      :root:not([lwtheme]){
         --toolbar-bgcolor: color-mix(in srgb, var(--contrast-color), transparent var(--brightness-wallpaper)) !important;
         --toolbar-field-background-color: transparent !important;                                                    /* toolbar_field */
         --toolbar-field-border-color: transparent !important;                                                        /* toolbar_field_border */
         --lwt-selected-tab-background-color: #f9f9f900 !important;                                                   /* tab_selected */
         --toolbarbutton-hover-background:  color-mix(in srgb, 
            transparent 90%, color-mix(in srgb, var(--my-font-color) 50%, var(--general-color))) !important;  /* button_background_hover */
         --toolbarbutton-hover-personal:  var(--toolbarbutton-hover-background) !important;                           /* Button :hover color personal */
         /*--lwt-sidebar-background-color: #f9f9f9 !important;                                                          /* Sidebar-background */
         /*--chrome-content-separator-color: var(--toolbar-bgcolor) !important;                                         /* toolbar_bottom_separator */
      }}

   @media (prefers-color-scheme: dark){
      :root:is([lwtheme-image],[style*="--lwt-additional-images"]) {
         /*--toolbar-bgcolor: color-mix(in srgb, var(--contrast-color), transparent var(--brightness-wallpaper)) !important;
         --lwt-selected-tab-background-color: transparent !important;/**/
      }}

   @media (prefers-color-scheme: light){
      :root:is([lwtheme-image],[style*="--lwt-additional-images"]) {
         /*--toolbar-bgcolor: color-mix(in srgb, var(--contrast-color), transparent var(--brightness-wallpaper)) !important;
         --lwt-selected-tab-background-color: transparent !important;/**/
      }}

   /* Variables generales */

   :root,
   :root:is([lwtheme-image],[style*="--lwt-additional-images"]) {
      --lwt-header-image: var(--lwt-main-image) !important;
      --lwt-additional-images: var(--lwt-main-image) !important;
   }
   
   /* Set the main image to all body */
   
   #main-window {
      background-size: cover !important;
   }
   
   /* blur effect 
   body::after {
      content: '';
      display: flex;
      position: fixed;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(34px);
      z-index: -1;
      mask: radial-gradient(ellipse at center, #e66465, #00000020),
         radial-gradient(ellipse at bottom, #4d9f0c, transparent
         );
   }*/

   /* Remove main gradient background */

   #main-window>body:before {
      display: none !important;
   }

   /* Align tab-background image */

   .tabbrowser-tab:is([visuallyselected],[multiselected]) .tab-background {
      background-size: cover !important;
   }

   /* Improved background when moving tab */

   #tabbrowser-tabs:is([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack  > .tab-background{
      background-size: cover !important;
   }

   /* I override url-bar 'focus' from ogx_urlbar-searchbar.css */

   #urlbar:not([open]):is([focused]) #urlbar-background {
      background-color: var(--button-smaller-bgcolor) !important;
   }

   /* background-color when buttons are 'open' in solid themes - used to match colors in solid and image themes */

   #TabsToolbar, #nav-bar {   
      --toolbarbutton-active-background: color-mix(in srgb, transparent 90%, color-mix(in srgb, var(--my-font-color) 80%, var(--general-color))) !important;
   }

   /* fix for status panel - findbar */

   #statuspanel label, 
   findbar{
      background-image: var(--lwt-main-image) !important;
      background-size: cover !important;
      background-position: calc(0px - var(--my-vertical-toolbar-width)) bottom !important;
      background-attachment: fixed !important;
      border-color: var(--my-content-border-color) !important;
   }

   /* ______________________ Vertical tabs ______________________ */

   @media -moz-pref("sidebar.verticalTabs") {
      
      /* When using default 'expand-on-hover' */
      
      :root[sidebar-expand-on-hover]:not([chromehidden~="toolbar"]) {
         #sidebar-main {
            background-image: var(--lwt-additional-images), var(--lwt-header-image) !important;
            background-size: cover !important;
            background-position-y: bottom !important;
            
            &[sidebar-positionend] {
               background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                  var(--lwt-additional-images), var(--lwt-header-image) !important;
            }
            
            @media -moz-pref("firefoxgx.left-sidebar") {
               
               &:not([sidebar-positionend]) {
                  background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                     var(--lwt-additional-images), var(--lwt-header-image) !important;
                  background-position-x: var(--my-elements-left-margin) !important;
               }
            }
         }
         #navigator-toolbox::before {
            background: transparent !important;
         }
      }
      
      /* Put image in sidebar when expand-on-hover */
      
      @media -moz-pref("firefoxgx.verticalTabs-expandOnHover") {
         
         :root:not([chromehidden~="toolbar"]) {            
            #sidebar-main {
               background-image: linear-gradient(transparent, transparent),
                  var(--lwt-additional-images), var(--lwt-header-image) !important;
               
               
               &[positionend] {
                  background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                  var(--lwt-additional-images), var(--lwt-header-image) !important;
                  background-position-x: right !important;
               }
            }
         }
         
         /* 'Vertical tabs' + 'Expand-On-Hover' + 'Left-sidebar' */
         
         @media -moz-pref("firefoxgx.left-sidebar") {
            
            :root[sidebar-expand-on-hover]:not([chromehidden~="toolbar"]) {
               #sidebar-main {
                  background-image: var(--lwt-additional-images), var(--lwt-header-image) !important;
                  background-position-y: bottom !important;
                  background-size: cover !important;

                  &[positionend] {
                     background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                        var(--lwt-additional-images), var(--lwt-header-image) !important;
                     background-position-x: right !important;
                     background-position-y: bottom !important;
                  }
               }
               
               /* When left-sidebar is on but hidden */
               
               &:has(#PersonalToolbar:not([collapsed])) #sidebar-main {
                  background-position-x: calc(0px - var(--my-vertical-toolbar-width, 0px)) !important;
                  
                  &[positionend] {
                     background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                        var(--lwt-additional-images), var(--lwt-header-image) !important;
                     background-position-x: right !important;
                     background-position-y: bottom !important;
                  }
               }
            }
         }
      }
   }
   
   /* ______________________ Tab-shapes compatibility */

   @media -moz-pref("firefoxgx.tab-shapes") {
      
      @media -moz-pref("userChrome.tab.bottom_rounded_corner.wave") or 
             -moz-pref("userChrome.tab.bottom_rounded_corner.australis") or 
             -moz-pref("userChrome.tab.bottom_rounded_corner.chrome_legacy") or 
             -moz-pref("userChrome.tab.bottom_rounded_corner.chrome") or 
             -moz-pref("userChrome.tab.bottom_rounded_corner.edge") {
                
                .tabbrowser-tab:is([visuallyselected],[multiselected])  .tab-background::before,
                .tabbrowser-tab:is([visuallyselected],[multiselected])  .tab-background::after {
                   background-size: cover !important;
                }
      }
   }
   
   /* ______________________ Legacy image scaling ______________________ */

   @media -moz-pref("firefoxgx.use-legacy-main-image-scaling") {

      #main-window {
         background-size: 100% 100vh !important;
      }

      .tabbrowser-tab:is([visuallyselected],[multiselected]) .tab-background {
         background-size: 100% 100vh !important;
      }

      #tabbrowser-tabs:is([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack  > .tab-background {
         background-size: 100vw 100vh !important;
      }

      #statuspanel label, 
      findbar {
         background-size: 100vw 100vh !important;
      }

      @media -moz-pref("sidebar.verticalTabs") {

         :root[sidebar-expand-on-hover]:not([chromehidden~="toolbar"]) {
            #sidebar-main {
               background-size: 100vw 100vh !important;
            }
         }

         @media -moz-pref("firefoxgx.verticalTabs-expandOnHover") {

            @media -moz-pref("firefoxgx.left-sidebar") {

               :root[sidebar-expand-on-hover]:not([chromehidden~="toolbar"]) {
                  #sidebar-main {
                     background-size: 100vw 100vh !important;
                  }
               }
            }
         }
      }

      @media -moz-pref("firefoxgx.tab-shapes") {

         @media -moz-pref("userChrome.tab.bottom_rounded_corner.wave") or 
                -moz-pref("userChrome.tab.bottom_rounded_corner.australis") or 
                -moz-pref("userChrome.tab.bottom_rounded_corner.chrome_legacy") or 
                -moz-pref("userChrome.tab.bottom_rounded_corner.chrome") or 
                -moz-pref("userChrome.tab.bottom_rounded_corner.edge") {

                  .tabbrowser-tab:is([visuallyselected],[multiselected]) .tab-background::before,
                  .tabbrowser-tab:is([visuallyselected],[multiselected]) .tab-background::after {
                     background-size: 100% !important;
                  }
         }
      }
   }

   /* Oneline compatibility */

   @media -moz-pref("firefoxgx.oneline") {
      
      @media screen and (min-width: 1000px) {
      /*
         @media (prefers-color-scheme: dark) {
            :root, :root[lwtheme], :root:not([lwtheme]) {
               --lwt-selected-tab-background-color: #0000007f !important;
            }
         }

         @media (prefers-color-scheme: light) {
            :root, :root[lwtheme], :root:not([lwtheme]) {
               --lwt-selected-tab-background-color: #ffffff7f !important;
            }
         }/*

         #nav-bar {
            background-color: transparent !important;
         }
         
         /* Fix continuous line with 'Sidebar-revamp' 
         
         :root:not([customizing]) {
            & #navigator-toolbox::before {
               bottom: -1px !important;
               height: calc(2px + var(--windowed-top-padding, 0px) + var(--toolbar-height-personal) + var(--bookmarksbar-height-personal, 1px)) !important;
            }
         }*/
      }
   }
}
