/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/* Barra de busqueda */

findbar:-moz-lwtheme {
    background-color: var(--toolbar-bgcolor) !important;
    color: var(--lwt-tab-text) !important;
    border-color: var(--input-border-color) !important;
}

.findbar-find-status[status="notfound"] {
    color: var(--general-color) !important;
    font-weight: 600 !important;
}

/* Vizualización correcta del porcentaje de zoom mostrado en la urlbar */

#urlbar-zoom-button {
    padding: 0px 4px !important;
    border-radius: 2px !important;
}

/* "popup_highlight" ---> 1.- keyboard highlight ;  2.-mouse highlight */

.urlbarView-row[selected], .urlbarView-row[row-selectable]:not([selected]):hover {
    --urlbar-popup-url-color: var(--toolbar-field-focus-color) !important; 
    background-color: var(--autocomplete-popup-hover-background) !important;
    --link-color: var(--lwt-tab-text) !important;
    border-radius: 0px !important;
}

.urlbarView-row .urlbarView-row-inner {
    border-radius: 0px !important;
}

.urlbarView-row .urlbarView-url {
    font-weight: 501 !important
}

.urlbarView-title {
    font-size: 1.06em !important;
}

.urlbarView-tags, .urlbarView-url, .urlbarView-title:not(:empty)~.urlbarView-action {
    font-size: 1.0em !important;
}

/* Sugerencias de búsqueda */

.urlbarView {
    margin-inline: -11px !important;
    width: -moz-available !important;
}

.urlbarView-row {
    margin-top: -7px !important;
    margin-bottom: 5px !important;
}

.urlbarView-results {
    margin-bottom: -14px !important;
}

.urlbarView-row-inner {
    padding-left: 8px !important;
}

#urlbar .search-panel-header {
    padding-left: 14px !important;
}

#urlbar .search-one-offs {
    padding-right: 14px !important;
}

#urlbar .searchbar-engine-one-off-item {
    border-radius: 3px !important;
}

.urlbarView-row:hover .urlbarView-favicon {
    background: var(--toolbar-field-focus-background-color) !important;
}

.urlbarView-favicon {
    padding: 6px !important;
    border-radius: 8px !important;
    margin-top: -2px !important;
    margin-bottom: -2px !important;
    margin-inline-end: 6px !important;
    clip-path: circle(50%);
}

/* Sugerencias enriquecidas */

.urlbarView-row[rich-suggestion] > .urlbarView-row-inner > .urlbarView-favicon {
    max-height: 16px !important;
    max-width: 16px !important;
    margin-inline: 6px !important;
}

/* No hacer doble fila url results en cuadro pequeño */

@media screen and (min-height: 600px) {
  .urlbarView-results[wrap] > .urlbarView-row {
    &:where(:not([rich-suggestion])) > .urlbarView-row-inner {
      & > .urlbarView-no-wrap {
        flex-basis: 0% !important;
      }
    }
  }
}

/* Botones de acciones rápidas urlbar open */

.urlbarView-quickaction-button {
    box-shadow: 0px 0px 1px rgba(128, 128, 142, 0.9) !important;
}

.urlbarView-quickaction-button:hover {
    background-color: var(--button-hover-bgcolor) !important;
    box-shadow: 0px 0px 0px 1px var(--button-hover-bgcolor) !important;
}

/* Label "Sugerencias de firefox - Sugerencias de google" */

.urlbarView-row[label] {
    margin-top: 16px !important;
}

.urlbarView-row[label]::before {
    margin-inline-start: 12px !important;
    font-weight: bold !important;
    letter-spacing: 0.04em !important;
}

/* Tamaño Nav-bar */

#nav-bar { min-height: var(--toolbar-height-personal) !important; }

/* Urlbar */

#urlbar, #urlbar-background{
    border-radius: var(--border-radius-urlbar-personal) !important;
}

#urlbar {
    min-height: calc(var(--toolbar-height-personal) - 10px) !important;
    padding-inline: 10px !important;
}

#urlbar:not([open], [focused]) #urlbar-background {
    transition: ease-in 150ms !important;
    transition-delay: 80ms !important;
}

#urlbar:not([open], [focused]):hover #urlbar-background {
    background-color: color-mix(in srgb, var(--general-color) 25%, transparent) !important;
    border-color: transparent !important;
    transition: linear 150ms !important;
    transition-delay: 80ms !important;
}

:root:is([lwtheme-image],[style*="--lwt-additional-images"]) 
    #urlbar:not([open]):is([focused]) #urlbar-background {
        background-color: color-mix(in srgb, var(--general-color) 25%, transparent) !important;
}

#urlbar[focused] #urlbar-background {
    box-shadow: none !important;
}

#urlbar[open] #urlbar-background {
    background-image: var(--noise-urlbar-personal) !important;
    border-radius: calc(var(--border-radius-urlbar-personal) + 6px) !important;
    border-color: transparent !important;
    margin-top: 1px !important;
}

#urlbar-input, #urlbar-scheme {
    padding-left: 6px !important;
}

#urlbar[open] {
    z-index: 4 !important;
}

/* Brighness when urlbar [open]*/

#nav-bar[urlbar-exceeds-toolbar-bounds="true"]::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    pointer-events: none;
}

/* Search-bar */

#searchbar {
    min-height: 29px !important;
    max-height: 29px !important;
    border-radius: 4px !important;
}

#search-container {
    padding-block: 4px 3px !important;
}

#searchbar:hover {
    background-color: color-mix(in srgb, var(--general-color) 25%, transparent) !important;
}

#searchbar:focus-within {
    border-color: var(--toolbar-field-focus-background-color) !important;
    box-shadow: none !important;
    background-color: var(--toolbar-field-focus-background-color) !important;
}

#PopupSearchAutoComplete{
    appearance: none !important;
    margin-top: -3px !important;
    margin-left: -3px !important;
    --arrowpanel-border-color: none !important;   
}

.search-go-button, #urlbar-go-button {
    width: calc(var(--urlbar-min-height) - 7px - 2 * var(--urlbar-container-padding)) !important;
    height: calc(var(--urlbar-min-height) - 7px - 2 * var(--urlbar-container-padding)) !important;
    margin-inline-end: 4px !important;
}

/* Páginas de extensiones */

#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button {
    background: transparent !important;
}

#identity-box.extensionPage label {
    display: none !important;
}

/* Páginas seguras de firefox */

/* Label e ícono */

#identity-icon-label {
    display: none !important;
}

#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
    -moz-context-properties: fill !important;
    fill: var(--general-color) !important;
    width: 15px !important;
    height: 15px !important;
    margin-inline: 2px 2px !important;
}

#identity-box[pageproxystate="valid"].chromeUI .identity-box-button:is(:hover, [open]) #identity-icon {
    fill: var(--toolbarbutton-icon-fill) !important;
}

#identity-box[pageproxystate="valid"].notSecureText, #identity-box[pageproxystate="valid"].chromeUI, 
#identity-box[pageproxystate="valid"].extensionPage, #urlbar-label-box {
    margin-inline-end: 3px !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button, #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button, 
#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button, #urlbar-label-box {
    background-color: transparent !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button:hover:not([open]), 
#identity-box[pageproxystate="valid"].chromeUI>.identity-box-button:hover:not([open]) {
    background-color: color-mix(in srgb, var(--button-bgcolor) 86%, white) !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button[open="true"], 
#identity-box[pageproxystate="valid"].chromeUI>.identity-box-button[open="true"] {
    background-color: color-mix(in srgb, var(--button-bgcolor) 72%, white) !important;
}

/* alinear: "Conexión segura" en candado */

#identity-popup-security-button {
    margin-bottom: 0px !important;
}

/* -----------------> Íconos de la urlbar más pequeños <--------------------- */

/* Tamaño */

#tracking-protection-icon, #identity-icon, .sharing-icon, .desktop-notification-icon {
    height: 14px !important;
    width: 14px !important;
    margin-inline: 2px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}

.identity-box-button {
    padding-inline: 0px !important;
}

/* box, caja de íconos */

#identity-icon-box, #identity-permission-box, #notification-popup-box {
    margin-block: 3px 2px !important;
    margin-inline: 2px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}

#permissions-granted-icon, #identity-permission-box[hasPermissions], #blocked-permissions-container>.blocked-permission-icon {
    margin-inline: 2px !important;
    margin-right: 2px !important;
}

#blocked-permissions-container>.blocked-permission-icon {
    padding: 1px !important;
    margin-left: 0px !important;
}

/* ícono varios permisos */

#notification-popup-box .notification-anchor-icon,
#blocked-permissions-container .blocked-permission-icon{
    padding: 3px !important;
    height: 20px !important;
    width: 20px !important;
}

/* background-color - Íconos permisos :hover - :active */

#notification-popup-box:hover{ background-color: var(--urlbar-box-hover-bgcolor) !important; }

#notification-popup-box[open] { background-color: var(--urlbar-box-active-bgcolor) !important; }

/* ícono de Permitir Notificaciones */

.popup-notification-icon[popupid="web-notifications"], .desktop-notification-icon {
    margin-inline: 0px 3px !important;
}

#notification-popup-box {
    width: 20px !important;
    height: 20px !important;
}

/* ícono Portección contra rastreo */

#tracking-protection-icon-container {
    margin-block: 3px 2px !important;
    margin-inline: 3px 0px!important;
}

#tracking-protection-icon {
    margin-inline-start: 1px !important;
    margin-block-start: 1px !important;
}

#tracking-protection-icon-container {
    padding: 2px !important;
}

/* ícono bookmark, vista de lectura, etc */

.urlbar-page-action {
    width: 21px !important;
    height: 19px !important;
    margin-inline: 3px 3px !important;
    padding: 3px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}

.urlbar-page-action>.urlbar-icon {
    width: 15px !important;
    height: 15px !important;
}
    /* Container icon */
#userContext-icons{
    margin-top: 4px !important;
}

/* Translate button */

#translations-button[translationsactive="true"]{
    width: initial !important;
    border-radius: 52px !important;
}

#translations-button[translationsactive="true"] .urlbar-icon{
    display: none !important;
}

#translations-button-locale {
    background-color: var(--button-active-bgcolor) !important;
    color: var(--lwt-tab-text) !important;
    border-radius: 52px !important;
    height: 20px !important;
    padding-top: 1px !important;
    padding-inline-start: 0px !important;
    margin-inline: -3px -3px !important;
    margin-block: -3px !important;
}

#translations-button:is([open], :hover) #translations-button-locale{
    background-color: var(--toolbarbutton-icon-fill) !important;
    color: var(--contrast-color) !important;
}

/* Color verde de la descripción de web segura */

description#identity-popup-content-owner-label, description#identity-popup-content-owner, description#identity-popup-content-verifier, 
#identity-popup-securityView-body>button {
    color: #2cf62c !important
}

/* Eliminar ícono de -sitio anclado- en las sugerencias de busqueda */

.urlbarView-type-icon {
    display: none !important;
}
