/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/* Menu padding */

menupopup {
    --panel-padding: 4px 0px !important;
}

menupopup > menuitem, menupopup > menu {
    appearance: none !important;
    padding-block: 4px !important;
    border-radius: 0px !important;
}

/* Combo-box - Select Box more compact */

#ContentSelectDropdown > menupopup > menuitem {
    padding: 0 6px !important;
}

/* Separator */

#context-sep-navigation { padding-inline: 12px !important; }

menupopup:not(.in-menulist)  menuseparator::before {
    appearance: none !important;
    border-image: var(--panel-separator-zap-gradient2) 1 !important;
    margin-inline: -6px !important;

    @media (-moz-platform: linux) {
        margin-inline: 6px !important;
    }
}

/* Bug fix: Separator after 'AI menu' causes unwanted scrolling */

:root:not(:has(#context-ask-chat[hidden="true"])) #frame-sep {
    display: flex !important;
}

/* 'Menu inside menu' margin */

menupopup menupopup {
    appearance: none !important;
    margin-block-start: -6px !important;
    margin-inline-start: -8px !important;
}

/* General Styles */

menupopup:not(.in-menulist), 
panel:not(.in-menulist,.panel-no-padding) {
    --panel-shadow-margin: 1px !important;  /* 1px to draw the external border */
    --panel-border-radius: var(--arrowpanel-border-radius) !important;  /* Roundness */
    --panel-border-color: var(--arrowpanel-border-color) !important;
}

.menupopup-arrowscrollbox {
    border-image: var(--my-border-image, none) !important;
    background-image: var(--my-background-scroll, var(--my-background-image1, Field)) !important;
    background-repeat: var(--my-background-repeat) !important;
    background-size: var(--my-background-size) !important;
    background-position: var(--my-background-position) !important;
    background-color: var(--my-background-color, Field) !important;
}

menupopup:not(.in-menulist) {
    --panel-background: var(--arrowpanel-background) !important;
    --panel-shadow: 0 0 0 1px var(--border-contrast-color) !important;
    --my-background-image1:                                                         /* Soft gradient background - needs to be 1 */
        radial-gradient( 100% 91.38% at 50% 99.62%,
        color-mix(in srgb, var(--general-color) 10%, transparent) 0%,
        var(--arrowpanel-background)) !important;
    --my-background-repeat: no-repeat !important;
    --my-background-size: auto auto !important;
    --my-background-position: center center;
    --my-background-color: var(--arrowpanel-background) !important;

    /* Font color in Contextual menus */

    &> menuitem:not([disabled="true"]),
        &> menu {
            appearance: none !important;
            color: var(--arrowpanel-color, var(--tab-selected-textcolor)) !important;
    }

    /* Color to 'hover' items */

    &> menuitem:not([disabled="true"]):is(:hover,[_moz-menuactive]),
        &> menu:is(:hover,[_moz-menuactive]) {
            appearance: none !important;
            background: var(--panel-separator-zap-gradient3) !important;
            color: var(--arrowpanel-color, #ffffff) !important;
    }

    &> menuitem:is([disabled="true"]):hover {
        appearance: none !important;
        background: transparent !important;
    }

    /* Necesario para quitar glitch indeseado al mover el mouse sobre items inhabilitados */

    &> menuitem:is([disabled="true"]),
        &> menu:is([disabled="true"]) {
            appearance: none !important;
            background-color: transparent !important;
    }
    
    /* color the fondo para items seleccionados con las teclas de dirección */

    & menu:where([_moz-menuactive="true"]:not([disabled="true"])),
    & menuitem:where([_moz-menuactive="true"]:not([disabled="true"])) {
            appearance: none !important;
            background-color: var(--button-active-bgcolor) !important;
    }
    
    
    /* Mostrar background-color en el item seleccionado */

    &> menuitem:is([selected="true"]):not([disabled="false"]) {
        appearance: none !important;
        background-color: var(--button-hover-bgcolor) !important;
        color: #ffffff !important;
    }

    &> menuitem:is([selected="true"]):hover:not([disabled="false"]) {
        appearance: none !important;
        background-color: var(--button-active-bgcolor) !important;
    }
}

/* __________________________ Makes context navigation buttons appears as normal textual menuitems __________________________ */

#context-navigation { flex-direction: column !important; }

@media -moz-pref("firefoxgx.icon.disabled") {

    #context-navigation > .menuitem-iconic > .menu-icon { display: none !important; }

    #context-navigation > menuitem {
        appearance: none !important;
        padding-block: 0.4em !important;
        padding-inline-start: 1em !important;
        justify-content: flex-start !important;
        -moz-box-pack: start !important;
        width: auto !important;
        border-radius: 0px !important;
    }
}

#context-navigation > menuitem[_moz-menuactive="true"] {
    &:not([disabled]) {
        background: var(--panel-separator-zap-gradient3) !important;
        color: var(--arrowpanel-color, var(--tab-selected-textcolor)) !important;
    }
    &:is([disabled]) {
        background: transparent !important;
    }
}

#context-navigation > menuitem::after {
    content: attr(aria-label);
}

/* 'back-forward-reload-addBookmark' buttons size */

@media not -moz-pref("firefoxgx.icon.disabled") {

    #context-navigation > .menuitem-iconic {
        & .menu-icon {
        appearance: none !important;
        width: 30px !important;
        height: 26px !important;
        padding-block: 0px !important;
        margin-block: 0px !important;
        }
        
        &:not([disabled]) {
            color: var(--arrowpanel-color, var(--tab-selected-textcolor)) !important; /* used when font color isn't white/black */
        }
    }
    
    /* For RTL languages */    
    #context-back:-moz-locale-dir(rtl), 
    #context-forward:-moz-locale-dir(rtl), 
    #context-reload:-moz-locale-dir(rtl) {
        transform: none !important;
    }

    #context-navigation > menuitem {
        appearance: none !important;
        padding-block: 0.0em !important;
        padding-inline-start: 6px !important;
        justify-content: flex-start !important;
        -moz-box-pack: start !important;
        width: auto !important;
        border-radius: 0px !important;
    }
}

/* _______________________________________________________________ LINUX _______________________________________________________________ 
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

@media (-moz-platform: linux) {

    @media not -moz-pref("firefoxgx.icon.disabled") {
        
        /*:not(#context-navigation) menuitem:not([type="radio"],[type="checkbox"],.menuitem-with-favicon, .menuitem-iconic) > .menu-icon {
            display: none !important;
        }

        /* Remove unwanted margin that interferes with icon margin */

        .menu-text{ margin-inline-start: 0px !important; }

        /* Remove double icon on certain menu items 

        :is(
        #toggle_toolbar-menubar:not([checked="true"]),
        #toggle_PersonalToolbar,
        #show-other-bookmarks_PersonalToolbar:not([checked="true"]),
        #context-sendpagetodevice,
        #context-ask-chat,
        #spell-check-enabled:not([checked="true"]),
        #spell-dictionaries,
        #goOfflineMenuitem,
        #browserToolsMenu,
        #historyUndoMenu,
        #historyUndoWindowMenu,
        #toolbar-context-full-screen-autohide[checked="false"],
        #menu_newUserContext,
        #menu_viewPopup>menu,
        #menu_devToolbox,
        #menu_responsiveUI,
        #menu_eyedropper,
        #main-menubar #toggle_toolbar-menubar,
        #main-menubar :is(#toggle_PersonalToolbar, #pageStyleMenu) menuitem,
        #menu_bookmarksSidebar,
        #menu_historySidebar,
        #menu_tabsSidebar,
        #toggle_zoom,
        .unified-extensions-context-menu-pin-to-toolbar
        ) > .menu-icon {
            display: none !important;
        }*/

        /* Align extension icons */    

        .menuitem-iconic:not(#context-navigation>.menuitem-iconic), .menu-iconic:not(#PlacesToolbar){
            padding-inline-start: 12px !important;
        }

        /* 'bookmarks items' margin from menubar */

        ..menu-icon:not(#context-navigation>.menuitem-iconic>.menu-icon) {
            padding-inline-end: 5px !important;
        }
    }

    /* Align items when icons are disabled */

    @media -moz-pref("firefoxgx.icon.disabled") {
        #context-navigation > menuitem {
            /*padding-inline-start: 28px !important;/**/
            padding-inline: 8px !important;
            padding-block: 4px !important;
        }
    }

    /* Items */

    menupopup {
        --panel-padding: 4px 0px !important;
    }

    menu, menuitem, menucaption {
        border-radius: 0px !important;
    }
}