/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/*Menú contextual*/
menupopup>menuitem, menupopup>menu {
    padding-block: 0.3em !important;
    border-radius: 0px !important; 
}
/*borde izquierda y derecha del menú contextual*/
menugroup>menuitem:first-child {
    padding-left: 4px !important;
}
menugroup>menuitem:last-child {
    padding-right: 4px !important;
}
/* context menu top buttons radius */
menugroup>menuitem>hbox>image {
    border-radius: 3px !important;
}
/*separador de items*/
menuseparator {
    border-color: var(--panel-separator-color, #50505090) !important;
    margin-left: 6px !important;
    margin-right: 6px !important;  
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
}
@media (-moz-windows-non-native-menus) { menupopup:not(.menupopup-arrowscrollbox){
    border: 1px solid #231d30 !important;
    }}
/*Colores generales*/
menupopup{border-radius: 0px !important; border-radius: 0px !important;}
#PlacesToolbar menupopup { padding: 0px !important; }
#PlacesToolbar menupopup menupopup{ margin-inline-start: -7px !important; }
.menupopup-arrowscrollbox {
    box-shadow: 0px 0px 0 1px #00000070, 1px 1px 6px 0px black !important;
    background: var(--arrowpanel-background, #50505090) !important;
    color: var(--arrowpanel-color, #50505090) !important;
    border: 1px solid transparent !important;
    border-color:  color-mix(in srgb, var(--arrowpanel-border-color, #50505090) 35%, black) !important;
    border-image: var(--panel-separator-zap-gradient4) 1 !important;
    border-radius: 0px !important;
    margin: 0px !important;
    /*ColorFondoAlPasarElMouseSobreItems*/
    --menuitem-hover-background-color: transparent !important;
}
/*ColoresMenú*/
.menupopup {
    --panel-color: var(--arrowpanel-color, FieldText) !important;
    /*ColorLetrasDelMenú*/
    --panel-border-color: var(--arrowpanel-border-color, Field)!important;
    /*bordeMenú*/
    --panel-background: var(--arrowpanel-background, Field) !important;
    /*FondoMenú*/
    --menu-color: var(--arrowpanel-color, FieldText) !important;
    /*ColorLetrasAlPasarElMouseSobreItems*/
    --menu-border-color: var(--panel-separator-color, Field) !important;
    /*LineaSeparadoraItems*/
}
/*Gradient color to :hover items*/
menupopup>menuitem:not([disabled="true"]):hover, menupopup>menu:hover {
    background: linear-gradient(to right, var(--button-hover-bgcolor) 49%, transparent) !important;
}
/* Necesario para quitar glitch indeseado */
menupopup>menuitem:not([disabled="true"]) { background: transparent !important; }
menupopup>menu[open="true"]{ background: linear-gradient(to right, var(--button-hover-bgcolor) 49%, transparent) !important;}

/*íconos deshabilitados*/
menu[disabled="true"], menuitem[disabled="true"] {
    color: color-mix(in srgb, var(--arrowpanel-background)80%, var(--arrowpanel-color)) !important;
}
/*Aspecto cuadro deplegable mouse hover*/
#tabbrowser-tab-tooltip,#places-tooltip-insecure-icon,
#btTooltip,#un-toolbar-tooltip,
#tooltip,.tooltip,#aHTMLTooltip,
#urlTooltip,tooltip,.places-tooltip {
	appearance: none !important;
	color: var(--lwt-tab-text) !important;
	background: color-mix(in srgb, var(--arrowpanel-background) 96%, white) !important;    
	border-color: color-mix(in srgb, var(--arrowpanel-background)80%, white) !important;
	margin-inline-start: 4x !important;
    margin-inline-end: 4x !important;
	font-family: Fira Sans !important;
	font-size: 14px !important;
	opacity: 1 !important;
}
#context-navigation {
    background-color: var(--arrowpanel-background) !important;
    color: var(--arrowpanel-color) !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
}
#context-navigation:hover{
    --menuitem-hover-background-color: var(--button-hover-bgcolor) !important;
}
