/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/*Label de medios "Reproduciendo" modifiado*/
.tab-secondary-label{display: none !important; transition-duration: 0ms !important}

@keyframes slide1 {
    from { transform: scale(1.0, 1.0); }
      to { transform: scale(0.6, 1.0); }
}

/*--------ícono de sonido simpre visible en pestañas con sonido, sin dejar de mostrar el favicon-------*/

/*.tab-icon-image:not([pinned]) {
    opacity: 1 !important;
}*/
.tab-icon-overlay, .tab-icon-overlay:is([pinned]) {
    height:13px !important;
    width: 14px !important;
    z-index: 1;
    padding: 0px !important;  
    background-color: var(--toolbar-bgcolor) !important;
    stroke: var(--toolbar-bgcolor) !important;
    left: 8px !important;
}
tab[pinned]:not(:hover) .tab-icon-overlay:not([soundplaying]) {
    opacity: 0 !important;
}
.tab-icon-overlay[activemedia-blocked]:is([pinned]) {
    opacity: 0.8 !important;
    margin-right: 0px !important;
    left: 8px !important;       
}
.tab-icon-overlay[activemedia-blocked]:is([pinned]):hover {   
    background-color: transparent !important;
    opacity: 1 !important;    
}
.tab-icon-overlay[activemedia-blocked] {
    stroke: #d10000cc !important;
    fill: #ffffff !important;
    border-radius: 10px !important;    
    animation: none !important;
    height: 16px !important;
    width: 16px !important;   
    left: 0 !important;
}
.tab-icon-overlay[activemedia-blocked]:hover {
    stroke: #d10000cc !important;
    fill: #ffffff !important;
    border-radius: 10px !important;    
    animation: none !important;
    height: 16px !important;
    width: 16px !important;
}
.tab-icon-overlay:is([pinned][activemedia-blocked]) {
    list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important
}
/*------ícono  reproduciendose-------*/
@keyframes slide2{ from { transform: scale(1.0,1.0);}to {transform: scale(0.5,0.5);}}
.tab-icon-overlay:is([soundplaying]):not([pinned]) {border-radius: 10px !important; top: 17px !important; left: 8px !important; 
  width: 12px !important; height: 3px !important; opacity: 1 !important;
  color: transparent !important; background: linear-gradient(to right, #00aaff 0%, #a06bff 50%, #cd4AA2 100%) !important; stroke: transparent !important;
  animation: 500ms infinite ease-in-out; animation-name: slide1;} 
.tabbrowser-tab:hover .tab-icon-overlay:not([pinned])[soundplaying]{border-radius: 10px !important; top: 0px !important; left: 0px !important; 
  width: 16px !important; height: 16px !important;
    color: black !important; 
    background: color-mix(in srgb, var(--general-color) 65%, transparent)  !important; transition-duration: 0ms !important;
    stroke: color-mix(in srgb, var(--general-color) 65%, transparent)  !important; transition-duration: 0ms !important;
  fill-opacity: 1 !important; animation: none !important;}

 /*Compartiendo microfono y cámara*/
  .tab-icon-overlay:not([crashed]):is([sharing]) {top: 16px !important; stroke: transparent !important; background-color: transparent !important;} 
/*Añadido*/

/*----ícono "reproduciendo" hover----*/

tab:not([pinned])[selected] .tab-icon-overlay:not([pinned])[soundplaying]:hover, tab:is([pinned][selected]) .tab-icon-overlay:is([pinned][soundplaying]):hover {
    list-style-image: url("../images/muted.svg") !important;
    stroke: var(--toolbar-bgcolor) !important;
    color: var(--general-color) !important;
    background-color: var(--toolbar-bgcolor) !important;
}
tab:not([pinned], [selected]) .tab-icon-overlay:hover:is([sharing], [soundplaying]) {
    color: var(--lwt-tab-text) !important;
    list-style-image: url("../images/muted.svg") !important;
    background: color-mix(in srgb, var(--general-color) 11%, var(--toolbar-bgcolor)) !important;
    stroke: color-mix(in srgb, var(--general-color) 11%, var(--toolbar-bgcolor)) !important;
    opacity: 1 !important;
    color: var(--lwt-tab-text) !important;
}
/*------muteado-------*/

.tab-icon-overlay[muted]:not([pinned]) {
    border-radius: 10px !important;
    top: 0px;
    left: 0px !important;
    margin-right: 0px !important;
    animation: none !important;
    height: 16px !important;
    width: 16px !important;
    list-style-image: url("../images/muted.svg") !important;
    border-radius: 0px !important;
}
/*muteado no seleccionado y seleccionado*/


.tab-icon-overlay:is([selected="true"][muted]), .tab-icon-overlay:is([pinned][selected="true"][muted]), .tab-icon-overlay:is([pinned][selected="true"][soundplaying]) {
    !important;
        
}
/*muteado hover*/

.tab-icon-overlay:not([pinned])[selected="true"][muted]:hover {
    stroke: var(--lwt-selected-tab-background-color) !important;
    background-color: var(--lwt-selected-tab-background-color) !important;
    color: var(--lwt-tab-text) !important;
    list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg")!important;
}
.tab-icon-overlay:not([pinned], [selected="true"])[muted]:hover {
    list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg")!important;
    background-color: color-mix(in srgb, var(--lwt-tab-text) 11%, var(--lwt-accent-color)) !important;
    stroke: color-mix(in srgb, var(--lwt-tab-text) 11%, var(--lwt-accent-color)) !important;
}
/*-----------ícono "reproduciendo" Pinned-----------*/

.tab-icon-overlay:is([pinned][muted]) {
    list-style-image: url("../images/muted.svg") !important;
}
.tab-icon-overlay:is([pinned][soundplaying]) {
    stroke: var(--lwt-accent-color) !important;
    color: var(--lwt-tab-text) !important;
    background-color: var(--lwt-accent-color) !important;
}
/*ícono "reproduciendo" y "muteado" Pinned :hover*/

.tab-icon-overlay:is([pinned][muted]):hover {
    list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg") !important;
}
.tab-icon-overlay:is([pinned][soundplaying]):hover {
    list-style-image: url("../images/muted.svg") !important;
}
