/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/* Remove unwanted extra tab width */

.tabbrowser-tab {
    &:is([muted], [soundplaying], [activemedia-blocked]) {
        #tabbrowser-tabs[orient="horizontal"] &:not([pinned]) {
            --tab-min-width: unset !important;
        }
    }
}

/* 'muted' & 'activemedia-blocked' icons hidden */

.tabbrowser-tab:not(:hover) {
    .tab-icon-overlay:not([soundplaying]),      /* For pinned tabs */
    .tab-audio-button:not([soundplaying]) {     /* For Unpinned tabs */
        opacity: 0;
    }
}

@media not (-moz-bool-pref:"firefoxgx.classic-sound-icon") {
    
    /* Remove unwanted extra tab width */
    
    .tabbrowser-tab {
        &:is([muted], [soundplaying], [activemedia-blocked]) {
            #tabbrowser-tabs[orient="horizontal"] &:not([pinned]) {
                --tab-min-width: unset !important;
            }
        }
    }

    /* tab on hover, and when it is 'muted' or 'media blocked' */
    .tabbrowser-tab:hover {
        & .tab-icon-stack:not([crashed]):is([muted],[activemedia-blocked]) {
            & :is(.tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay) {
                mask-image: url("../icons/tab_icon_masks.svg#SoundMask") !important;
            }
        }
    }

    /* In 'pinned' tabs when sound playing */
    .tab-icon-stack[pinned]:not([crashed]):is([soundplaying]) {
        & :is(.tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay) {
            mask-image: url("../icons/tab_icon_masks.svg#SoundMask") !important;
        }
    }
    
    /* Icons Styles */

    .button-background {
        &[type~="icon"]:not(.labelled), &:not(.labelled):has(img) {
            &[size="small"] {
                --button-size-icon-small: 16px !important;
            }
        }
    }

    .button-background {
        min-height: var(--button-size-icon-small) !important;
        margin-block-end: 4px !important;
    }

    .tab-audio-button {
        --border-radius-small: 50% !important;
        --tab-icon-end-margin: 2px !important;
    }
    
    /* Normal tabs - playing icon */

    button[aria-label="Mute tab"] .button-background {
        background-color: color-mix(in srgb, var(--contrast-color), transparent) !important;
        background-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
        background-size: 10px !important;
        box-shadow: inset 0 0 0 1px var(--general-color), inset 0 0 0 1px var(--general-color) !important;
        border-radius: 50% !important;
        fill: var(--general-color)  !important;
        opacity: 1 !important;

        &:hover{
            fill: var(--lwt-tab-text) !important;
            box-shadow: inset 0 0 0 1px var(--lwt-tab-text), inset 0 0 0 0.1px var(--lwt-tab-text), 0 0 1px 1px var(--contrast-color) !important;
            opacity: 0.9 !important;
        }
    }
    
    /* Normal tabs - muted icon */
    
    button[aria-label="Unmute tab"] .button-background {
        position: absolute !important;
        background-image: url("../icons/paused.svg") !important;
        background-color: transparent !important;
        fill: var(--lwt-tab-text) !important;
        top: calc(var(--tab-height-personal)/2 - 14px) !important;
        inset-inline-start: 14px !important;
        border-radius: 50% !important;
        clip-path: xywh(1px 1px 86% 86% round 50%) !important;
        opacity: 0.8 !important;

        &:hover {
            background-size: 8px !important;
            background-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
            box-shadow:  inset 0 0 0 1px var(--contrast-color), inset 0 0 0 2px var(--lwt-tab-text) !important;
            fill: var(--lwt-tab-text) !important;
            opacity: 1 !important;
        }
    }
    
    /* Pinned tabs */
    
    .tab-icon-overlay {
        #tabbrowser-tabs[orient="vertical"]:not([expanded]) &:not([crashed]), &[pinned]:not([crashed]) {
            
            &:is([soundplaying], [muted], [activemedia-blocked]) {
                background-color: color-mix(in srgb, var(--contrast-color), transparent) !important;
                background-image: none !important;
            }
            
            &[soundplaying] {
                height: 13px !important;
                width: 13px !important;
                list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
                box-shadow: inset 0 0 0 1px var(--general-color), inset 0 0 0 0.1px var(--general-color) !important;
                fill: var(--general-color)  !important;
                inset-inline-end: -8px !important;
                top: -5px !important;
                
                &:hover {
                    fill: var(--lwt-tab-text) !important;
                    box-shadow: inset 0 0 0 1px var(--lwt-tab-text), inset 0 0 0 0.1px var(--lwt-tab-text) !important;
                }
            }
            
            &[muted] {
                list-style-image: url("../icons/paused.svg") !important;
                background-color: transparent !important;
                top: -6px !important;
                inset-inline-end: -6px !important;

                &:hover {
                    fill: var(--lwt-tab-text) !important;
                    height: 13px !important;
                    width: 13px !important;
                    list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
                    box-shadow: inset 0 0 0 1px var(--lwt-tab-text), inset 0 0 0 0.1px var(--lwt-tab-text) !important;
                    inset-inline-end: -8px !important;
                    top: -5px !important;
                }
            }
        }
    }
    
    /* _______________ Sound icon for Vertical tabs _______________ */

    @media (-moz-bool-pref:"sidebar.verticalTabs") {

        /* Fixed glich when clic play in a muted tab */
        .tabbrowser-tab {
            --tab-icon-end-margin: 8px !important;

            &:is([muted], [soundplaying], [activemedia-blocked]) {
                --tab-icon-end-margin: 6px !important;
            }
        }
        
        .button-background {
            &[type~="icon"]:not(.labelled), &:not(.labelled):has(img) {
                &[size="small"] {
                    --button-size-icon-small: 14px !important;
                }
            }
        }

        button:is([aria-label="Mute tab"],[aria-label="Unmute tab"]) .button-background {
            position: absolute !important;
            top: unset !important;
            margin-block-start: -18px !important;
            inset-inline-start: 19px !important;

            &:hover {
                width: 14px !important;
                height: 14px !important;
                border-radius: 50% !important;
                box-shadow: inset 0 0 0 1px var(--lwt-tab-text), inset 0 0 0 0.1px var(--lwt-tab-text) !important;
            }
        }
        
        /* Hide favicon corner for 'playing' button */
        
        & .tabbrowser-tab .tab-icon-stack:not([crashed]):is([soundplaying]) :is(.tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay) {
            mask-image: url("../icons/tab_icon_masks.svg#SoundMask") !important;/**/
        }
    }
}

/* ________________________________________________ Classic Sound icon ________________________________________________*/

@media (-moz-bool-pref:"firefoxgx.classic-sound-icon") {

    /* Fixed glich when clic play in a muted tab */
    .tabbrowser-tab {
        --tab-icon-end-margin: 6px !important;
        
        &:is([muted], [soundplaying], [activemedia-blocked]) {
            --tab-icon-end-margin: 3px !important;
        }
    }
    
    /* Hide favicon when mute button appears */
    
    :root:has(.tab-audio-button[soundplaying]:hover) .tabbrowser-tab:hover .tab-icon-image,             /* Mute */
    :root:has(.tabbrowser-tab:hover .tab-audio-button[muted]) .tabbrowser-tab:hover .tab-icon-image {   /* unMute */
        opacity: 0 !important;
    }
    
    /* Shared styles for mute and play button */
    
    button:is([aria-label="Mute tab"],[aria-label="Unmute tab"]) .button-background {
        position: absolute !important;
        width: 22px !important;
    }

    /* Normal tabs - playing icon */

    button[aria-label="Mute tab"] .button-background:not(:hover) {
        background-image: var(--my-beats-image) !important;
        width: 26px !important;
        background-position: 4px bottom !important;
        background-size: 22px 16px !important;
        inset-block-end: calc(var(--tab-height-personal)/2 - 18px) !important;
        inset-inline-start: 0px !important;
    }

    button[aria-label="Mute tab"] .button-background:hover {
        background-color: var(--button-active-bgcolor) !important;
        fill: var(--lwt-tab-text) !important;
        inset-block-start: calc(var(--tab-height-personal)/2 - 12px) !important;
        inset-inline-start: 4px !important;
        clip-path: xywh(2px 3px calc(100% - 4px) calc(100% - 6px) round 3px) !important;
    }
    
    /* Normal tabs - muted icon */
    
    button[aria-label="Unmute tab"] .button-background {
        background-color: var(--button-background-color-hover) !important;
        fill: var(--lwt-tab-text) !important;
        inset-block-start: calc(var(--tab-height-personal)/2 - 12px) !important;
        inset-inline-start: 4px !important;
        clip-path: xywh(2px 3px calc(100% - 4px) calc(100% - 6px) round 3px) !important;
        opacity: 0.8 !important;

        &:hover {           
            background-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg") !important;
            background-color: var(--button-hover-bgcolor) !important;
            fill: var(--lwt-tab-text) !important;
            opacity: 1 !important;
        }
    }
    
    /* Pinned tabs */
    
    /* Hide favicon when sound icon appears */
    
    :root:has(.tab-icon-overlay:is([soundplaying], [muted], [activemedia-blocked]):hover) .tabbrowser-tab[pinned]:hover .tab-icon-image {
        opacity: 0 !important;
    }
    
    .tab-icon-overlay {
        #tabbrowser-tabs[orient="vertical"]:not([expanded]) &:not([crashed]), &[pinned]:not([crashed]) {
            &:is([soundplaying], [muted], [activemedia-blocked]) {
                position: absolute !important;
                background-color: transparent !important;
                background-image: none !important;
                border-radius: 3px !important;
            }
            
            &[soundplaying]:not(:hover) {
                list-style-image: var(--my-beats-image) !important;
                width: 26px !important;
                height: 20px !important;
                background-size: 22px 20px !important;
                inset-block-start: calc(var(--tab-height-personal)/2 - 10px) !important;
                inset-inline-end: -5px !important;
            }

            &[soundplaying]:is(:hover),
            &[muted] {
                height: 18px !important;
                width: 18px !important;
                padding: 3px !important;
                top: -1px !important;
                inset-inline-end: -1px !important;
            }
            
            &[soundplaying]:is(:hover) {
                background-color: var(--button-active-bgcolor) !important;
            }
            
            &[muted] {
                background-color: var(--button-background-color-hover) !important;

                &:hover {
                    background-color: var(--button-hover-bgcolor) !important;
                    list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg") !important;
                    fill: var(--lwt-tab-text) !important;
                }
            }
        }
    }

    /* Playing 'beats' image style for light themes - needs to be in this place */

    @media (prefers-color-scheme: light) {

        button[aria-label="Mute tab"] .button-background:not(:hover) {
            background-size: 16px 10px !important;
            inset-block-start: calc(var(--tab-height-personal)/2 - 9px) !important;
            inset-inline-start: 3px !important;
        }

        /* Pinned */
        .tab-icon-overlay {
            #tabbrowser-tabs[orient="vertical"]:not([expanded]) &:not([crashed]), &[pinned]:not([crashed]) {            
                &[soundplaying]:not(:hover) {
                    width: 20px !important;
                    height: 14px !important;
                    background-size: 20px 14px !important;
                    inset-block-start: 10px !important; 
                    inset-inline-end: -2px !important;
                }
            }
        }
    }

    /* Hide [mute] icon when tab loads */

    .tabbrowser-tab[busy]:hover .tab-icon-overlay:not([pinned]), 
    .tabbrowser-tab[busy][pinned]:hover .tab-icon-overlay {
        opacity: 0 !important;
    }
}