/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/*"bookmark_text": "#b3d9ff"*/
.browser-toolbar:not(.titlebar-color) {
    color: var(--lwt-text-color) !important;
}              
/*"personalizar barra de busqueda"*/
findbar:-moz-lwtheme {
    background-color: var(--toolbar-bgcolor) !important;
    color: var(--lwt-tab-text) !important;  
    border-color: var(--input-border-color) !important; }     
.findbar-find-status[status="notfound"] { 
    color: var(--general-color) !important; 
    font-weight: 600 !important; 
}
/*Vizualización correcta del porcentaje de zoom mostrado en la urlbar*/
#urlbar-zoom-button { 
    padding: 0px 4px !important; 
    border-radius: 2px !important; 
}
/* "popup_highlight" -> 1.- keyboard highlight 2.-mouse highlight*/
.urlbarView-row:not([type="tip"], [type="dynamic"])[selected] > .urlbarView-row-inner, .urlbarView-row-inner[selected] {
    background-color: var(--button-bgcolor) !important; 
    color: var(--lwt-tab-text) !important; 
    border-radius: 0px !important; }
.urlbarView-row .urlbarView-row-inner {
    border-radius: 0px !important;}
.urlbarView-row .urlbarView-url {
    font-weight: 501 !important}
.urlbarView-title{
    font-size: 1.06em !important; }
.urlbarView-tags, .urlbarView-url, .urlbarView-title:not(:empty) ~ .urlbarView-action { 
    font-size: 1.0em !important; }
.urlbarView-row:hover .urlbarView-url { 
    color: var(--toolbar-field-focus-color) !important;
}
/* tamaño letras urlbar */
#urlbar-input { font-weight: 501 !important; opacity: 0.9 !important;
}
/* Sugerencias de búsqueda */
.urlbarView { 
    margin-inline: -11px !important; width: -moz-available !important; }
.urlbarView-row{ 
    margin-top:-7px !important;  margin-bottom: 5px !important; }
.urlbarView-results{ 
    margin-bottom: -14px !important; }
.urlbarView-row-inner{ 
    padding-left: 14px !important; }
#urlbar .search-panel-header{ 
    padding-left: 14px !important; }
#urlbar .search-one-offs{
    padding-right: 14px !important;  }
#urlbar .searchbar-engine-one-off-item{ 
    border-radius: 3px !important; }
.urlbarView-row:hover .urlbarView-favicon { 
    background: var(--toolbar-field-focus-background-color) !important; }
.urlbarView-favicon{
    padding: 6px !important; border-radius: 8px !important;
    margin-top: -2px !important; margin-bottom:  -2px !important;
    clip-path: circle(50%);
}
/* Botones de acciones rápidas urlbar open */
.urlbarView-row[dynamicType="quickactions"] .urlbarView-quickaction-row {
    box-shadow: 0px 0px 1px rgba(128, 128, 142, 0.9) !important;
}
.urlbarView-row[dynamicType="quickactions"] .urlbarView-quickaction-row:hover {
    box-shadow: 0px 0px 0px 1px var(--autocomplete-popup-hover-background) !important;
}
/* Label "Sugerencias de firefox - Sugerencias de google" */
.urlbarView-row[label] {
    margin-top: 16px !important; }
.urlbarView-row[label]::before {    
    margin-inline-start: 12px !important;
    font-weight: bold !important;
    letter-spacing: 0.04em !important;
}
#nav-bar{ min-height: var(--toolbar-height-personal) !important; }

/* Urlbar */
#urlbar{
    min-height: calc(var(--toolbar-height-personal) - 9px) !important; 
    padding-left: 10px !important;
    padding-right: 10px !important; 
    border-radius: 4px !important; }
#urlbar:not([open=true],[focused=true]) #urlbar-background{
    border-radius: 4px !important; 
    transition: ease-in 150ms !important; 
    transition-delay: 80ms !important; }
#urlbar:not([open=true],[focused=true]):hover #urlbar-background { 
    background-color: color-mix(in srgb, var(--general-color) 25%, transparent) !important;
    border-radius: 4px !important; 
    border-color: transparent !important; 
    transition: linear 150ms !important; 
    transition-delay: 80ms !important; }
#urlbar:not([open=true]):is([focused=true]) #urlbar-background{
    background-color: color-mix(in srgb, var(--general-color) 16%, transparent) !important; }
#urlbar:not([open=true]){
    margin-top: -1px !important; }
#urlbar[focused=true] #urlbar-background{
    border-radius: 4px !important;
    box-shadow: none !important;}
#urlbar[open=true] #urlbar-background {
    background-image: var(--noise-urlbar-personal) !important;
    border-radius: 10px !important;
    border-color: transparent !important; }
#urlbar[breakout][breakout-extend]>#urlbar-input-container {
    margin-top: -1px !important; }
#urlbar-input, #urlbar-scheme{
    padding-left: 6px !important; }
    #urlbar[open]{ z-index: 4 !important;}
@media (-moz-platform: windows-win7),(-moz-platform: windows-win10){ #urlbar-input, #urlbar-scheme{
    padding-bottom: 2px !important;
}}
/* Brighness when urlbar [open]*/
#nav-bar[urlbar-exceeds-toolbar-bounds="true"]::before{
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
  pointer-events: none;
}
/* Blur cuando se muestran dialogos del navegador */
browser[primary="true"][tabDialogShowing="true"],
#main-window[window-modal-open="true"] > body > #browser{
  filter: blur(10px)
}
#browser .browserStack:has(.dialogStack.tab-dialog-box:not([hidden="true"])) > browser {
    filter: blur(10px)
}
/* Search-bar */
#searchbar {
    min-height: 29px !important;
    max-height: 29px !important; }
#search-container {
  padding-block: 4px 3px !important; }
#searchbar:hover{
    background-color: color-mix(in srgb, var(--general-color) 25%, transparent) !important; }
#searchbar:focus-within { 
    border-color: var(--toolbar-field-focus-background-color) !important;
    box-shadow: none !important;
    background-color: var(--toolbar-field-focus-background-color) !important; }
#PopupSearchAutoComplete {
    appearance: none !important;
    margin-top: -1px !important;
    margin-left: -3px !important;
    --arrowpanel-border-color: none !important; 
}
/* Páginas de extensiones */
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button {
    background: transparent !important;}
#identity-box.extensionPage label{
    display: none !important;
}
/* Páginas seguras de firefox */
    /* Label e ícono */
#identity-icon-label { 
    display: none !important; }
#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
    list-style-image: url("../images/foxFill.svg") !important; 
    -moz-context-properties: fill !important;
    fill: var(--general-color) !important;
    width: 15px !important; 
    height: 15px !important;
    margin-inline: 2px 2px !important;
    }
#identity-box[pageproxystate="valid"].chromeUI .identity-box-button:is(:hover,[open]) #identity-icon{
    fill: var(--toolbarbutton-icon-fill) !important;
}
#identity-box[pageproxystate="valid"].notSecureText, #identity-box[pageproxystate="valid"].chromeUI, #identity-box[pageproxystate="valid"].extensionPage, #urlbar-label-box {
    margin-inline-end: 3px !important; }
#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button, #identity-box[pageproxystate="valid"].chromeUI > .identity-box-button, #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button, #urlbar-label-box {
    background-color: transparent !important; }
#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button:hover:not([open]), #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button:hover:not([open]) {
    background-color: color-mix(in srgb, var(--button-bgcolor) 86%, white) !important; }
#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button[open="true"], #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button[open="true"] {
    background-color: color-mix(in srgb, var(--button-bgcolor) 72%, white) !important;
}
/* alinear: "Conexión segura" en candado*/
#identity-popup-security-button {
    margin-bottom: 0px !important;
}
/* -----------------> Íconos de la urlbar más pequeños <--------------------- */
/* Tamaño */
#tracking-protection-icon, #identity-icon, .sharing-icon, .desktop-notification-icon{
    height: 14px !important;
    width: 14px !important;
    margin-inline: 2px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}
.identity-box-button {
  padding-inline: 0px !important;
}
/* box, caja de íconos*/
#identity-icon-box, #identity-permission-box, #notification-popup-box{   
    margin-block: 3px !important;
    margin-inline: 2px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}
#permissions-granted-icon, #identity-permission-box[hasPermissions], #blocked-permissions-container > .blocked-permission-icon{
    margin-inline: 2px !important;
    margin-right: 2px !important;
}
#blocked-permissions-container > .blocked-permission-icon {
    padding: 1px !important;
    margin-left: 0px !important;
}
/* ícono contenido DRM */
.drm-icon {
    padding: 3px !important;
    height: 20px !important;
    width: 20px !important;
}
/* ícono de Permitir Notificaciones*/
.popup-notification-icon[popupid="web-notifications"], .desktop-notification-icon {
    width: 16px !important;
    height: 16px !important;
    padding: 1px !important;
}
#notification-popup-box {
    width: 20px !important;
    height: 19px !important;
}
/* ícono Portección contra rastreo */
#tracking-protection-icon-container{
    margin-block: 3px 2px !important;
    margin-inline: 3px 0px!important;
}
#tracking-protection-icon {
    margin-inline-start: 1px !important;
    margin-block-start: 1px !important;}
#tracking-protection-icon-container {
    padding: 2px !important;
}
/* ícono bookmark, vista de lectura, etc */
.urlbar-page-action {
    width: 20px !important;
    height: 20px !important;
    margin-inline: 3px 3px!important;
    padding: 3px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}
.urlbar-page-action .urlbar-icon{
    width: 15px !important;
    height: 15px !important;
    margin-left: -1px !important;
    }
/*fondo :hover de íconos de la urlbar"*/
#notification-popup-box:hover:not([open="true"]), #identity-icon-box:hover:not([open="true"]),#identity-permission-box:hover:not([open="true"]), #tracking-protection-icon-container:hover:not([open="true"]), 
.urlbar-page-action:not([disabled],[open="true"]):hover, #urlbar-go-button:hover, .search-go-button:hover, #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button:hover  {
    background-color: color-mix(in srgb, var(--button-bgcolor) 90%, white) !important;
    border-radius: 2px !important;
}
/*"Color verde de la descripción de web segura"*/
description#identity-popup-content-owner-label, description#identity-popup-content-owner, 
description#identity-popup-content-verifier, #identity-popup-securityView-body>button {
    color: #2cf62c !important
}
/*fondo active de íconos de la urlbar"*/
#notification-popup-box[open="true"], #identity-icon-box[open="true"],#identity-permission-box[open="true"], #tracking-protection-icon-container[open="true"], .urlbar-page-action:not([disabled])[open="true"] , #urlbar-go-button[open="true"], .search-go-button[open="true"] ,
:not(.urlbar-icon-wrapper)>.urlbar-icon[open="true"], :not(.urlbar-icon-wrapper)>.urlbar-icon[open="true"], .urlbar-icon-wrapper[open="true"], .urlbar-icon-wrapper[open="true"], .identity-box-button[open="true"], #tracking-protection-icon-container[open="true"], 
.identity-box-button[open="true"] .urlbar-page-action:not([disabled]):hover, #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button[open="true"] {
    background-color: color-mix(in srgb, var(--button-bgcolor) 82%, white) !important; !important;
    border-radius: 2px !important;
}
/*Eliminar ícono de -sitio anclado- en las sugerencias de busqueda*/
.urlbarView-type-icon{
    display: none !important;
}
