/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text.
   https://github.com/Godiesc/firefox-gx */

/*"Botón de cerrar pestaña" en windows y linux */

:is(#TabsToolbar) .close-icon {
    width: 17px !important;
    height: 17px !important;
}

.tab-close-button {
    list-style-image: url('../icons/close.svg') !important;
    padding: 4px !important;
    border-radius: calc(var(--border-radius-urlbar-personal) - 4px) !important;
    margin-inline-end: -2px !important;
    opacity: 0.8 !important;
}

.tabbrowser-tab:not([pinned]) .tab-close-button{
    display: flex !important;
}

.tabbrowser-tab:is(:hover, [selected]) .tab-close-button{ opacity: 1 !important; }

.tab-close-button:hover {
    background-color: var(--contrast-color, var(--lwt-accent-color)) !important;
    fill: var(--general-color) !important;
}
