/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

/*Menú contextual*/
menupopup>menuitem, menupopup>menu {
    padding-block: 0.3em !important; 
}
/*borde izquierda y derecha del menú contextual*/
menugroup>menuitem:first-child { padding-left:  4px !important; }
menugroup>menuitem:last-child  { padding-right: 4px !important; }

/* context menu top buttons radius */
menugroup>menuitem>hbox>image { border-radius: 2px !important; }

/*separador de items*/
menuseparator {
    margin-left: 6px !important;
    margin-right: 6px !important;  
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
}
/* Borde Exterior  menús */
@media (-moz-windows-non-native-menus) { menupopup:not(.menupopup-arrowscrollbox){
    border: 1px solid #231d30 !important;
    }}
/*Colores generales*/
#PlacesToolbar menupopup { padding: 0px !important; margin-right: 0px !important;}
#PlacesToolbar menupopup menupopup{ margin-inline-start: -7px !important; }
.menupopup-arrowscrollbox {
    box-shadow: 0px 0px 0 1px #00000070, 1px 1px 6px 0px black !important;
    background: var(--arrowpanel-background, #50505090) !important;
    color: var(--arrowpanel-color, #50505090) !important;
    border: 1px solid transparent !important;
    border-color:  color-mix(in srgb, var(--arrowpanel-border-color, #50505090) 35%, black) !important;
    border-image: var(--panel-separator-zap-gradient4) 1 !important;
    border-radius: 0px !important;
    margin: 0px !important;
    /*ColorFondoAlPasarElMouseSobreItems*/
    --menuitem-hover-background-color: initial !important;
}
/*ColoresMenú*/
menupopup{ 
    margin-top: 0px !important; 
    margin-left: 0px !important; 
    border-radius: 0px !important; }
menupopup menupopup { 
    margin-top: -6px !important; 
    margin-left: -10px !important; }
.menupopup {
    --panel-color: var(--arrowpanel-color, FieldText) !important;
    /*ColorLetrasDelMenú*/
    --panel-border-color: var(--arrowpanel-border-color, Field)!important;
    /*bordeMenú*/
    --panel-background: var(--arrowpanel-background, Field) !important;
    /*FondoMenú*/
    --menu-color: var(--arrowpanel-color, FieldText) !important;
    /*ColorLetrasAlPasarElMouseSobreItems*/
    --menu-border-color: var(--panel-separator-color, Field) !important;
    /*LineaSeparadoraItems*/
}
/* Íconos superiores del menú contextual */
#context-navigation {
    background-color: var(--arrowpanel-background) !important;
    color: var(--arrowpanel-color) !important;
    margin-left: 2px !important;
    margin-right: 2px !important; }
#context-navigation:hover{
    --menuitem-hover-background-color: var(--button-hover-bgcolor) !important; }
    /* Color íconos deshabilitados */
menu[disabled="true"], menuitem[disabled="true"] {
    color: color-mix(in srgb, var(--arrowpanel-background)70%, var(--arrowpanel-color)) !important;
}
/*Gradient color to :hover items*/
menupopup>menuitem:not([disabled="true"]):hover, menupopup>menu:hover {
    background: linear-gradient(to right, var(--button-hover-bgcolor) 49%, transparent) !important; color: var(--arrowpanel-color, #50505090) !important;
}
/* Necesario para quitar glitch indeseado al mover el mouse rapidamente sobre items de menús */
menupopup>menuitem:not([disabled="true"], [selected="true"]), menupopup>menu:not([disabled="true"]) {
    background-color: transparent !important; }
menupopup>menu[open="true"]{ 
    background: linear-gradient(to right, var(--button-hover-bgcolor) 49%, transparent) !important; 
    color: var(--arrowpanel-color) !important;
}
/* Mostrar background-color en el item seleccionado */
menupopup>menuitem:is([disabled="false"], [selected="true"]){
    background-color: var(--button-active-bgcolor) !important; }
menupopup>menuitem:is([disabled="false"], [selected="true"]):hover{
    background-color: var(--general-color) !important;
}
/*Aspecto tooltip: mouse hover on elements*/
tooltip {
	appearance: none !important;
    background: color-mix(in srgb, var(--arrowpanel-background) 96%, white) !important;
	color: var(--lwt-tab-text) !important;
	border-color: color-mix(in srgb, var(--arrowpanel-background)80%, white) !important;
	padding-inline: 4px 4px !important;
	font-family: Fira Sans !important;
	font-size: 14px !important;
	opacity: 1 !important;
    border-radius: 0px !important;
}
