/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/opera-gx */

:root{
  --tab-height-personal: var(--toolbar-height-personal) !important;
  --windowed-top-padding: 0px !important;
}
:root:not([chromehidden~="toolbar"]) #PersonalToolbar{
  --padding-top-left-sidebar: 78px !important;
  --padding-bottom-left-sidebar: 90px !important;
  --tab-height-personal: calc(-30px - var(--windowed-top-padding, 0px)) !important;
}
:root:not([chromehidden~="toolbar"]):is([lwtheme-image]) #PersonalToolbar,
:root:not([chromehidden~="toolbar"]):is([style*="--lwt-additional-images"]) #PersonalToolbar  {
    --toolbar-bgcolor: var(--lwt-frame) !important;
}
:root[tabsintitlebar] .titlebar-buttonbox {
  background: var(--toolbar-bgcolor) !important;
}
@media (-moz-platform: linux){:root[tabsintitlebar] .titlebar-buttonbox {
  background: var(--lwt-frame) !important;
    }}
#sidebar-header {
  display: none;
}
#nav-bar{
  border-top: none !important;
}
@media (-moz-platform: linux) {
  #sidebar-splitter{
  width: 1px !important;
  background-color: var(--lwt-frame) !important;  
}}
/* Mover botón "atrás" más a la derecha */
:root:not([chromehidden~="toolbar"])[sizemode="fullscreen"] #back-button{
    display: block !important;
    padding-inline-start: 0px !important;
    margin-left: var(--uc-vertical-toolbar-width,0) !important;
}
/* Borde Bottom toolbar */
#navigator-toolbox { 
    border-bottom: 1px solid var(--lwt-frame) !important;
  /* with main-image config
  border-bottom: 1px solid color-mix(in srgb, var(--lwt-tab-text)10%, transparent) !important; */
}
/* WindowsControls */
@media (-moz-platform: windows-win7),(-moz-platform: windows-win10){ .titlebar-min{
    padding-top: 2px !important;
    }}
@media (-moz-platform: windows-win7),(-moz-platform: windows-win10) { 
:root:is([lwtheme-image],[style*="--lwt-additional-images"]) .titlebar-button:hover:not(.titlebar-close){
    background-color: var(--toolbarbutton-hover-background) !important; color: var(--toolbarbutton-icon-fill) !important;
    }
}
/* nuevo botón Menú */
:root:not([chromehidden~="toolbar"],[sizemode="fullscreen"])[tabsintitlebar] #PanelUI-menu-button{
    background-color: var(--lwt-frame) !important; 
    border-right: 1px solid var(--general-color) !important;  
  }
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button > stack{
    max-width: var(--padding-left-tab) !important;
    min-width: var(--padding-left-tab) !important;
    max-height: var(--toolbar-height-personal) !important;
    min-height: var(--toolbar-height-personal) !important;
}
/* Hides tabs toolbar */
/* For OSX use hide_tabs_toolbar_osx.css instead */

@media (-moz-platform: windows-win7),(-moz-platform: windows-win10){
    :root[tabsintitlebar]{ --uc-toolbar-height: var(--toolbar-height-personal) !important; }}

#TabsToolbar{ visibility: collapse !important }

:root[sizemode="fullscreen"] #TabsToolbar > :is(#window-controls,.titlebar-buttonbox-container){
  visibility: visible !important;
  z-index: 2;
}
:root:not([inFullscreen]) #nav-bar{
  margin-top: calc(0px - var(--uc-toolbar-height,0px)) !important;
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"]{
  min-height: unset !important;
  height: var(--uc-toolbar-height,0px) !important;
  position: relative;
}

#toolbar-menubar[autohide="false"]{
  margin-bottom: var(--uc-toolbar-height,0px)
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"] #main-menubar{
  -moz-box-flex: 1;
  -moz-box-align: stretch;
  margin-left: 1px !important;
  padding-left: 4px !important;
  background-color: var(--lwt-frame) !important;
  background-clip: padding-box;
  border-right: 30px solid transparent;
  border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor) 30px) 20 / 30px
}

#toolbar-menubar:not([inactive]){ z-index: 2 }
#toolbar-menubar[autohide="true"][inactive] > #menubar-items {
  opacity: 0;
  pointer-events: none;
  margin-left: var(--uc-window-drag-space-pre,0px)
}
/* Move the window controls to left sidebar - tested with sweet theme on manjaro-kde. */

@media (-moz-platform: linux ){:root:not([chromehidden~="toolbar"])[tabsintitlebar] #PersonalToolbar{   
     --padding-top-left-sidebar: 130px !important;
        }}
    
@media (-moz-platform: linux) { :root:not([sizemode=fullscreen]) .titlebar-buttonbox {
    appearance: none !important;
    position: fixed !important;
    display: flex !important;
    top: calc(var(--tab-height-personal) + 12px) !important;
    left: 0px !important;
    width: calc(var(--uc-vertical-toolbar-width) - 1px) !important;
    flex-direction: column-reverse !important;
    background: transparent !important;
    padding-left: 2px !important;
    z-index: 2 !important;
}
}
@media (-moz-platform: linux){ .titlebar-button image { height: 24px !important; }}
@media (-moz-platform: linux){ .titlebar-close { margin-left: -6px !important;}}
@media (-moz-platform: linux){ .titlebar-restore { margin-left: -3px !important;}}
@media (-moz-platform: linux){ .titlebar-max { margin-left: -3px !important;}}
@media (-moz-platform: linux){ .titlebar-min { margin-left: 0px !important;}}

/* #### The code below is From https://github.com/MrOtherGuy/firefox-csshacks/ to put windows controls on the right side ##### */

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/window_control_placeholder_support.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Creates placeholders for window controls */
/* This is a supporting file used by other stylesheets */

/* This stylesheet is pretty much unnecessary if window titlebar is enabled */

/* This file should preferably be imported before other stylesheets */

/* Defaults for window controls on RIGHT side of the window */
/* Modify these values to match your preferences */
:root:is([tabsintitlebar], [sizemode="fullscreen"]) {
  --uc-window-control-width: 119px; /* Space reserved for window controls (Win10) */
  /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
  --uc-window-drag-space-pre: 0px; /* left side*/
  --uc-window-drag-space-post: 0px; /* right side*/
}

:root:is([tabsintitlebar][sizemode="maximized"], [sizemode="fullscreen"]) {
  --uc-window-drag-space-pre: 0px; /* Remove pre space */
}

@media  (-moz-platform: windows-win7),
        (-moz-platform: windows-win8),
        (-moz-os-version: windows-win7),
        (-moz-os-version: windows-win8){
  :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
    --uc-window-control-width: 105px;
  }
}

@media (-moz-gtk-csd-available) {
  :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
    --uc-window-control-width: 0px;
  }
}

/* macOS settings are further below */
.titlebar-buttonbox, #window-controls{ color: var(--toolbar-color) }
:root[sizemode="fullscreen"] .titlebar-buttonbox-container{ display: none }
:root[sizemode="fullscreen"] #navigator-toolbox { position: relative; }

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[sizemode="fullscreen"] #window-controls{
  position: absolute;
  display: flex;
  top: 0;
  right:0;
  height: calc(var(--toolbar-height-personal) - 1px) !important;
}

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[uidensity="compact"][sizemode="fullscreen"] #window-controls{ height: 32px }

#nav-bar{
  border-inline: var(--uc-window-drag-space-pre,0px) solid var(--toolbar-bgcolor);
  border-inline-style: solid !important;
  border-right-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px));
}

/* Use this pref to check Mac OS where window controls are on left */
/* This pref defaults to true on Mac and doesn't actually do anything on other platforms. So if your system has window controls on LEFT side you can set the pref to true */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
  :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
    --uc-window-control-width: 72px;
  }
  :root[tabsintitlebar="true"]:not([inFullscreen]) #nav-bar{
    border-inline-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)) var(--uc-window-drag-space-pre,0px)
  }
  :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
  :root[sizemode="fullscreen"] #window-controls{ right: unset }
}
